{% if logstash_pre_tagging is defined %}
filter {
{%   for item in logstash_pre_tagging %}
  if [type] == "{{ item.type }}" {
    mutate {
      add_tag => [
{%     for tag in item.tags %}
        "{{ tag }}"
{%       if not loop.last %},
{%       endif %}
      ]
{%     endfor %}
    }
  }
{%   endfor %}
{% endif %}
}
