filter {
  metrics {
    meter => "documents"
    add_tag => "metric"
    flush_interval => 60
  }
}
filter {
  if "metric" in [tags] {
    mutate {
      replace => [ "host", "%{message}" ]
    }
  }
}
