<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0; url={{zabbix_server_url}}" />
</head>
<body>

<h1>Zabbix Server {{zabbix_server_name}}</h1>

<p>You should be redirect to <a href="{{zabbix_server_name}}">{{zabbix_server_name}}</a></p>

</body>
</html>
