# {{ ansible_managed }}

# MySQL Configuration
#
# Launch gmysql backend
launch=gmysql

# gmysql parameters
gmysql-host={{ db_host }}
gmysql-dbname={{ db_name }}
gmysql-user={{ db_user }}
gmysql-password={{ db_pass }}
