<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "{{ owncloud_db_name }}",
  "dbuser"        => "root",
  "dbpass"        => "{{ mysql_root_password }}",
  "dbhost"        => "{{ owncloud_db_host }}",
  "dbtableprefix" => "{{ owncloud_db_tableprefix }}",
  "adminlogin"    => "{{ owncloud_admin_user }}",
  "adminpass"     => "{{ owncloud_admin_pass }}",
  "directory"     => "{{ owncloud_webroot }}/data",
);
