{% if graylog_es_cluster_name is defined %}
cluster.name: {{ graylog_es_cluster_name }}
{% endif %}
{% if graylog_es_data_node is defined %}
node.data: {{ graylog_es_data_node|lower }}
{% endif %}
{% if graylog_es_master_node is defined %}
node.master: {{ graylog_es_master_node|lower }}
{% endif %}
node.name: {{ ansible_hostname }}
