{% if consul_cluster %}
{% set config_json = {} %}
{%   if consul_enable_acls %}
{%     set _config = config_json.update({"acl_datacenter": consul_datacenter}) %}
{%     set _config = config_json.update({"acl_default_policy": consul_acl_default_policy}) %}
{%     set _config = config_json.update({"acl_down_policy": consul_acl_down_policy}) %}
{%     set _config = config_json.update({"acl_master_token": consul_acl_master_token}) %}
{%   endif %}
{%     set _config = config_json.update({"bind_addr": consul_bind_address}) %}
{%     set _config = config_json.update({"client_addr": consul_client_address}) %}
{%     set _config = config_json.update({"data_dir": consul_data_dir}) %}
{%     set _config = config_json.update({"datacenter": consul_datacenter}) %}
{%     set _config = config_json.update({"enable_syslog": true}) %}
{%     set _config = config_json.update({"encrypt": consul_encryption_key}) %}
{%     set _config = config_json.update({"log_level": "INFO"}) %}
{%     set _config = config_json.update({"node_name": ansible_hostname}) %}
{%     set _config = config_json.update({"ui": consul_ui}) %}
{%   if inventory_hostname in groups[consul_servers_group] and inventory_hostname in play_hosts %}
{%     set _config = config_json.update({"bootstrap_expect": (groups[consul_servers_group]|count)|round(0, 'ceil')|int}) %}
{%     set _config = config_json.update({"server": true}) %}
{%   else %}
{%     set _config = config_json.update({"server": false}) %}
{%   endif %}
{%     set _temp_retry_join = [] %}
{%   for host in groups[consul_servers_group] %}
{%     if inventory_hostname != host %}
{%       set _temp_ip = hostvars[host]['consul_bind_address'] %}
{%       set _ = _temp_retry_join.append(_temp_ip) %}
{%     endif %}
{%   endfor %}
{%     set _config = config_json.update({"retry_join": _temp_retry_join}) %}
{{ config_json|to_nice_json }}
{% endif %}
