export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{ openstack_admin_pass }}
export OS_AUTH_URL={{ openstack_keystone_url }}:35357
export OS_VOLUME_API_VERSION=2
