<RIBCL VERSION="2.0">
  <LOGIN USER_LOGIN="adminname" PASSWORD="password">
    <USER_INFO MODE="write">
      <DELETE_USER USER_LOGIN="{{ item['item']['user_name'] }}"/>
    </USER_INFO>
  </LOGIN>
</RIBCL>
