{{ ansible_managed|comment }}
output {
  if "metric" in [tags] {
    stdout {
      codec => line {
        format => "1m rate: %{documents.rate_1m} ( %{documents.count} )"
      }
    }
  }
}
{% if logstash_outputs != [] %}
{%   for item in logstash_outputs %}
output {
  {{ item.output }} {
{%     if item.host is defined %}
    host => "{{ item.host }}"
{%     endif %}
{%     if item.output == "redis" %}
    data_type => "list"
    key => "logstash"
{%     endif %}
{%     if item.output == "rabbitmq" %}
    exchange => "{{ item.exchange }}"
    exchange_type => "{{ item.exchange_type }}"
{%       if item['user'] is defined %}
    user => "{{ item['user'] }}"
{%       endif %}
{%       if item['password'] is defined %}
    password => "{{ item['password'] }}"
{%       endif %}
{%     endif %}
  }
}
{%   endfor %}
{% endif %}
