<cacti>	
	<hash_040024951e3c86c2d1e2cb3e270c8ae30ba17a>
		<name>SNMP_Informant_Standard - CPU Statistics</name>
		<description>Query CPU Stats</description>
		<xml_path>&lt;path_cacti&gt;/resource/snmp_queries/snmp_informant_standard_cpu.xml</xml_path>
		<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
		<graphs>
			<hash_1100248b0c04281a29d73a7767a9fa6154c71c>
				<name>CPU Statistics</name>
				<graph_template_id>hash_000024aa0d55cdeebcf62b3f0a29005dd9d125</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>cpuDPCRate</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_0800245e65dbd99f322137e7dd0dd44a3eb675</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>cpuDPCsQueuedPerSec</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_08002481e0a55c7418036c1caf6c38c94d1763</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>cpuInterruptsPerSec</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>cpuPercentDPCTime</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_0800249ab500e6ed149e232093a4bb87b5fb4f</data_template_rrd_id>
					</item_003>
					<item_004>
						<snmp_field_name>cpuPercentInterruptTimeTOOLONG</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_080024c1efe69535db055384b82f2d6c28dc5f</data_template_rrd_id>
					</item_004>
					<item_005>
						<snmp_field_name>cpuPercentPrivilegedTimeTOOLONG</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_080024804572b8dfebe873c52533995619978d</data_template_rrd_id>
					</item_005>
					<item_006>
						<snmp_field_name>cpuPercentProcessorTimeTOOLONG</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_080024358513796a56382830e239bc3ac77d28</data_template_rrd_id>
					</item_006>
					<item_007>
						<snmp_field_name>cpuPercentUserTime</snmp_field_name>
						<data_template_id>hash_0100249b71aed8a6a0469352e9708899f06b98</data_template_id>
						<data_template_rrd_id>hash_080024151fc16ef81ee297a28f93e4efb70721</data_template_rrd_id>
					</item_007>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_1100248b0c04281a29d73a7767a9fa6154c71c>
		</graphs>
	</hash_040024951e3c86c2d1e2cb3e270c8ae30ba17a>
	<hash_030024bf566c869ac6443b0c75d1c32b5a350e>
		<name>Get SNMP Data (Indexed)</name>
		<type_id>3</type_id>
		<input_string></input_string>
		<fields>
			<hash_070024617cdc8a230615e59f06f361ef6e7728>
				<name>SNMP IP Address</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>management_ip</data_name>
			</hash_070024617cdc8a230615e59f06f361ef6e7728>
			<hash_070024acb449d1451e8a2a655c2c99d31142c7>
				<name>SNMP Community</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_community</type_code>
				<input_output>in</input_output>
				<data_name>snmp_community</data_name>
			</hash_070024acb449d1451e8a2a655c2c99d31142c7>
			<hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
				<name>SNMP Username (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_username</type_code>
				<input_output>in</input_output>
				<data_name>snmp_username</data_name>
			</hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
			<hash_0700241cc1493a6781af2c478fa4de971531cf>
				<name>SNMP Password (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_password</type_code>
				<input_output>in</input_output>
				<data_name>snmp_password</data_name>
			</hash_0700241cc1493a6781af2c478fa4de971531cf>
			<hash_070024b5c23f246559df38662c255f4aa21d6b>
				<name>SNMP Version (1, 2, or 3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_version</type_code>
				<input_output>in</input_output>
				<data_name>snmp_version</data_name>
			</hash_070024b5c23f246559df38662c255f4aa21d6b>
			<hash_0700246027a919c7c7731fbe095b6f53ab127b>
				<name>Index Type</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>index_type</type_code>
				<input_output>in</input_output>
				<data_name>index_type</data_name>
			</hash_0700246027a919c7c7731fbe095b6f53ab127b>
			<hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
				<name>Index Value</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>index_value</type_code>
				<input_output>in</input_output>
				<data_name>index_value</data_name>
			</hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
			<hash_070024e6deda7be0f391399c5130e7c4a48b28>
				<name>Output Type ID</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>output_type</type_code>
				<input_output>in</input_output>
				<data_name>output_type</data_name>
			</hash_070024e6deda7be0f391399c5130e7c4a48b28>
			<hash_070024c1f36ee60c3dc98945556d57f26e475b>
				<name>SNMP Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_070024c1f36ee60c3dc98945556d57f26e475b>
			<hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
				<name>SNMP Authenticaion Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_auth_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_auth_protocol</data_name>
			</hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
			<hash_0700246b13ac0a0194e171d241d4b06f913158>
				<name>SNMP Privacy Passphrase (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_passphrase</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_passphrase</data_name>
			</hash_0700246b13ac0a0194e171d241d4b06f913158>
			<hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
				<name>SNMP Privacy Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_protocol</data_name>
			</hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
			<hash_0700245240353b8f7f259acaf30e6229bc14e7>
				<name>Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_0700245240353b8f7f259acaf30e6229bc14e7>
		</fields>
	</hash_030024bf566c869ac6443b0c75d1c32b5a350e>
	<hash_000024aa0d55cdeebcf62b3f0a29005dd9d125>
		<name>SNMP_Informant_Standard - CPU Statistics</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| CPU |query_cpuInstance| Usage</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>CPU Usage</vertical_label>
		</graph>
		<items>
			<hash_1000248d5904bebbd101cb00f78d92c9f4ceba>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>C0C0C0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500248d444a42c956e50f7502e2d7789bcab0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>% CPU Idle</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000248d5904bebbd101cb00f78d92c9f4ceba>
			<hash_100024ef1a789e93e30e1b0ff24070dc91f1d2>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_0500248d444a42c956e50f7502e2d7789bcab0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100024ef1a789e93e30e1b0ff24070dc91f1d2>
			<hash_10002400adf8d4f685303facf95943682ca428>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500248d444a42c956e50f7502e2d7789bcab0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10002400adf8d4f685303facf95943682ca428>
			<hash_1000246a1970d25f3ef2962ac8321187461abd>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_0500248d444a42c956e50f7502e2d7789bcab0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000246a1970d25f3ef2962ac8321187461abd>
			<hash_100024783a57ea63bf8f247d3b6e423019713a>
				<task_item_id>hash_080024151fc16ef81ee297a28f93e4efb70721</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% User:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100024783a57ea63bf8f247d3b6e423019713a>
			<hash_1000244fdb83458a91179888d0b752fc66e3f9>
				<task_item_id>hash_080024151fc16ef81ee297a28f93e4efb70721</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000244fdb83458a91179888d0b752fc66e3f9>
			<hash_1000241f3fe0398296137a51373f46d4c314b3>
				<task_item_id>hash_080024151fc16ef81ee297a28f93e4efb70721</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000241f3fe0398296137a51373f46d4c314b3>
			<hash_100024a7837f7f299bf91f799dd452372ee8e9>
				<task_item_id>hash_080024151fc16ef81ee297a28f93e4efb70721</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100024a7837f7f299bf91f799dd452372ee8e9>
			<hash_1000241521435155eb30b7940a69cec2d72274>
				<task_item_id>hash_080024804572b8dfebe873c52533995619978d</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Privileged:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000241521435155eb30b7940a69cec2d72274>
			<hash_1000243834dd65e271de32ccc02ac78c31cfc1>
				<task_item_id>hash_080024804572b8dfebe873c52533995619978d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000243834dd65e271de32ccc02ac78c31cfc1>
			<hash_1000246bbb980c0886bae0c1c3c4014b3b6921>
				<task_item_id>hash_080024804572b8dfebe873c52533995619978d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000246bbb980c0886bae0c1c3c4014b3b6921>
			<hash_10002479f4759689c99ce15cc47091cc84915e>
				<task_item_id>hash_080024804572b8dfebe873c52533995619978d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_10002479f4759689c99ce15cc47091cc84915e>
			<hash_1000245ecae227935a25f5bcab731e34560f40>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>FF0000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Processor:</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_1000245ecae227935a25f5bcab731e34560f40>
			<hash_1000245767b9d5d8c08e536009f73319f2219d>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_1000245767b9d5d8c08e536009f73319f2219d>
			<hash_1000246e23b45f3526341c315c1c94c9ef0d94>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_1000246e23b45f3526341c315c1c94c9ef0d94>
			<hash_100024f8ee2420f6abbf1958d1d87b2427e581>
				<task_item_id>hash_080024358513796a56382830e239bc3ac77d28</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_100024f8ee2420f6abbf1958d1d87b2427e581>
			<hash_1000244e4cb582cb5c35ba1d6cc6b77a71de8b>
				<task_item_id>hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Interrupts/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_1000244e4cb582cb5c35ba1d6cc6b77a71de8b>
			<hash_100024bca018f11fa176061942a7e7f6dbc3cd>
				<task_item_id>hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_100024bca018f11fa176061942a7e7f6dbc3cd>
			<hash_100024a4aae94c92056bda27a4f8b75a04d342>
				<task_item_id>hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_100024a4aae94c92056bda27a4f8b75a04d342>
			<hash_100024f80d87da673c59fad88d008d4413cf20>
				<task_item_id>hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_100024f80d87da673c59fad88d008d4413cf20>
			<hash_1000240485bd7567a6b64c4e0baf09ecb74b81>
				<task_item_id>hash_080024c1efe69535db055384b82f2d6c28dc5f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Interrupt:</text_format>
				<hard_return></hard_return>
				<sequence>21</sequence>
			</hash_1000240485bd7567a6b64c4e0baf09ecb74b81>
			<hash_10002454d81c9f863a2286693826a1d40c136f>
				<task_item_id>hash_080024c1efe69535db055384b82f2d6c28dc5f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_10002454d81c9f863a2286693826a1d40c136f>
			<hash_1000245a4c74fdd441d8be62f43dba4dd7fdcd>
				<task_item_id>hash_080024c1efe69535db055384b82f2d6c28dc5f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>23</sequence>
			</hash_1000245a4c74fdd441d8be62f43dba4dd7fdcd>
			<hash_100024ed8d00f65d159e5475e028ead6a78722>
				<task_item_id>hash_080024c1efe69535db055384b82f2d6c28dc5f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>24</sequence>
			</hash_100024ed8d00f65d159e5475e028ead6a78722>
			<hash_100024fb68e75608dc1f82ae7596628d515756>
				<task_item_id>hash_0800249ab500e6ed149e232093a4bb87b5fb4f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% DPC Time:</text_format>
				<hard_return></hard_return>
				<sequence>25</sequence>
			</hash_100024fb68e75608dc1f82ae7596628d515756>
			<hash_1000249d682b24de9f6638deb9835dc06dbe01>
				<task_item_id>hash_0800249ab500e6ed149e232093a4bb87b5fb4f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>26</sequence>
			</hash_1000249d682b24de9f6638deb9835dc06dbe01>
			<hash_100024cf53388348d64776c047f9a095ac3c35>
				<task_item_id>hash_0800249ab500e6ed149e232093a4bb87b5fb4f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>27</sequence>
			</hash_100024cf53388348d64776c047f9a095ac3c35>
			<hash_1000242efd1b7ae8bb1846cca783fc6f8e1d6f>
				<task_item_id>hash_0800249ab500e6ed149e232093a4bb87b5fb4f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>28</sequence>
			</hash_1000242efd1b7ae8bb1846cca783fc6f8e1d6f>
			<hash_1000246ee1aab00e6aebcac4be8cbbdb8b2927>
				<task_item_id>hash_08002481e0a55c7418036c1caf6c38c94d1763</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>DPCs Queued/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>29</sequence>
			</hash_1000246ee1aab00e6aebcac4be8cbbdb8b2927>
			<hash_1000249b68c268761d704113770f4bd248b7cc>
				<task_item_id>hash_08002481e0a55c7418036c1caf6c38c94d1763</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>30</sequence>
			</hash_1000249b68c268761d704113770f4bd248b7cc>
			<hash_100024f79e43358ac234e95d8d84dcdbd357cc>
				<task_item_id>hash_08002481e0a55c7418036c1caf6c38c94d1763</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>31</sequence>
			</hash_100024f79e43358ac234e95d8d84dcdbd357cc>
			<hash_1000242bc44e9c24303e3cb233e41f1fa73520>
				<task_item_id>hash_08002481e0a55c7418036c1caf6c38c94d1763</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>32</sequence>
			</hash_1000242bc44e9c24303e3cb233e41f1fa73520>
			<hash_1000245938a3d221c8bd24075dbed8c2065d4c>
				<task_item_id>hash_0800245e65dbd99f322137e7dd0dd44a3eb675</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>DPC Rate:</text_format>
				<hard_return></hard_return>
				<sequence>33</sequence>
			</hash_1000245938a3d221c8bd24075dbed8c2065d4c>
			<hash_1000244f5fb007f849a348a2879e5a642e7c21>
				<task_item_id>hash_0800245e65dbd99f322137e7dd0dd44a3eb675</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>34</sequence>
			</hash_1000244f5fb007f849a348a2879e5a642e7c21>
			<hash_1000240acdd30f2cbaf38927f930dbab466193>
				<task_item_id>hash_0800245e65dbd99f322137e7dd0dd44a3eb675</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>35</sequence>
			</hash_1000240acdd30f2cbaf38927f930dbab466193>
			<hash_10002452699cf14595f28e2d94a52adb22dbd9>
				<task_item_id>hash_0800245e65dbd99f322137e7dd0dd44a3eb675</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>36</sequence>
			</hash_10002452699cf14595f28e2d94a52adb22dbd9>
		</items>
		<inputs>
			<hash_090024447db101da833c04ceb266956bd8ecb7>
				<name>Data Source [cpuDPCsQueuedPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000246ee1aab00e6aebcac4be8cbbdb8b2927|hash_0000249b68c268761d704113770f4bd248b7cc|hash_000024f79e43358ac234e95d8d84dcdbd357cc|hash_0000242bc44e9c24303e3cb233e41f1fa73520</items>
			</hash_090024447db101da833c04ceb266956bd8ecb7>
			<hash_090024afcfc1bf9df13566cbfe6a7a948941ee>
				<name>Data Source [cpuInterruptsPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000244e4cb582cb5c35ba1d6cc6b77a71de8b|hash_000024bca018f11fa176061942a7e7f6dbc3cd|hash_000024a4aae94c92056bda27a4f8b75a04d342|hash_000024f80d87da673c59fad88d008d4413cf20</items>
			</hash_090024afcfc1bf9df13566cbfe6a7a948941ee>
			<hash_090024095d80ff41bf1e70947f341d99020b8a>
				<name>Data Source [cpuDPCRate]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000245938a3d221c8bd24075dbed8c2065d4c|hash_0000244f5fb007f849a348a2879e5a642e7c21|hash_0000240acdd30f2cbaf38927f930dbab466193|hash_00002452699cf14595f28e2d94a52adb22dbd9</items>
			</hash_090024095d80ff41bf1e70947f341d99020b8a>
			<hash_09002489803ba92cafe3ece32b1358684faa56>
				<name>Data Source [cpuPercentPriv]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000241521435155eb30b7940a69cec2d72274|hash_0000243834dd65e271de32ccc02ac78c31cfc1|hash_0000246bbb980c0886bae0c1c3c4014b3b6921|hash_00002479f4759689c99ce15cc47091cc84915e</items>
			</hash_09002489803ba92cafe3ece32b1358684faa56>
			<hash_090024a1f793301e845e7925794a83835c7f5c>
				<name>Data Source [cpuPercentDPCTime]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024fb68e75608dc1f82ae7596628d515756|hash_0000249d682b24de9f6638deb9835dc06dbe01|hash_000024cf53388348d64776c047f9a095ac3c35|hash_0000242efd1b7ae8bb1846cca783fc6f8e1d6f</items>
			</hash_090024a1f793301e845e7925794a83835c7f5c>
			<hash_0900248255f333ee89b1315cc01b8eceefc562>
				<name>Data Source [cpuPercentInterrupt]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000240485bd7567a6b64c4e0baf09ecb74b81|hash_00002454d81c9f863a2286693826a1d40c136f|hash_0000245a4c74fdd441d8be62f43dba4dd7fdcd|hash_000024ed8d00f65d159e5475e028ead6a78722</items>
			</hash_0900248255f333ee89b1315cc01b8eceefc562>
			<hash_090024a30f26afe555d9261c0aa1586b914b08>
				<name>Data Source [cpuPercentProcessor]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000248d5904bebbd101cb00f78d92c9f4ceba|hash_000024ef1a789e93e30e1b0ff24070dc91f1d2|hash_00002400adf8d4f685303facf95943682ca428|hash_0000246a1970d25f3ef2962ac8321187461abd|hash_0000245ecae227935a25f5bcab731e34560f40|hash_0000245767b9d5d8c08e536009f73319f2219d|hash_0000246e23b45f3526341c315c1c94c9ef0d94|hash_000024f8ee2420f6abbf1958d1d87b2427e581</items>
			</hash_090024a30f26afe555d9261c0aa1586b914b08>
			<hash_0900248ec8555f57a32dc0997936047a477ea1>
				<name>Data Source [cpuPercentUserTime]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024783a57ea63bf8f247d3b6e423019713a|hash_0000244fdb83458a91179888d0b752fc66e3f9|hash_0000241f3fe0398296137a51373f46d4c314b3|hash_000024a7837f7f299bf91f799dd452372ee8e9</items>
			</hash_0900248ec8555f57a32dc0997936047a477ea1>
		</inputs>
	</hash_000024aa0d55cdeebcf62b3f0a29005dd9d125>
	<hash_0100249b71aed8a6a0469352e9708899f06b98>
		<name>SNMP_Informant_Standard - CPU Stats</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - CPU Stats - |query_cpuInstance|</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_0800245e65dbd99f322137e7dd0dd44a3eb675>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuDPCRate</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800245e65dbd99f322137e7dd0dd44a3eb675>
			<hash_08002481e0a55c7418036c1caf6c38c94d1763>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuDPCsQueuedPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002481e0a55c7418036c1caf6c38c94d1763>
			<hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuInterruptsPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002453424d20a1a5ef4dd64a11f9fb1bdcf1>
			<hash_0800249ab500e6ed149e232093a4bb87b5fb4f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuPercentDPCTime</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800249ab500e6ed149e232093a4bb87b5fb4f>
			<hash_080024c1efe69535db055384b82f2d6c28dc5f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuPercentInterrupt</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024c1efe69535db055384b82f2d6c28dc5f>
			<hash_080024804572b8dfebe873c52533995619978d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuPercentPriv</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024804572b8dfebe873c52533995619978d>
			<hash_080024358513796a56382830e239bc3ac77d28>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuPercentProcessor</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024358513796a56382830e239bc3ac77d28>
			<hash_080024151fc16ef81ee297a28f93e4efb70721>
				<t_data_source_name></t_data_source_name>
				<data_source_name>cpuPercentUserTime</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024151fc16ef81ee297a28f93e4efb70721>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_0100249b71aed8a6a0469352e9708899f06b98>
	<hash_150024c21df5178e5c955013591239eb0afd46>
		<name>Daily (5 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024c21df5178e5c955013591239eb0afd46>
	<hash_1500240d9c0af8b8acdc7807943937b3208e29>
		<name>Weekly (30 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500240d9c0af8b8acdc7807943937b3208e29>
	<hash_1500246fc2d038fb42950138b0ce3e9874cc60>
		<name>Monthly (2 Hour Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500246fc2d038fb42950138b0ce3e9874cc60>
	<hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
		<name>Yearly (1 Day Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
	<hash_0500248d444a42c956e50f7502e2d7789bcab0>
		<name>% Idle Time</name>
		<items>
			<hash_140024dbe3ca2d571c5c18ffc703bc1bf8800a>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140024dbe3ca2d571c5c18ffc703bc1bf8800a>
			<hash_140024d2b8303b4644ba526234576e4176f25c>
				<sequence>2</sequence>
				<type>6</type>
				<value>100</value>
			</hash_140024d2b8303b4644ba526234576e4176f25c>
			<hash_1400243b48fb3edf4724d95c68f480839f4c98>
				<sequence>3</sequence>
				<type>2</type>
				<value>2</value>
			</hash_1400243b48fb3edf4724d95c68f480839f4c98>
			<hash_140024990b3540dcd28d9ada9d485e78314cc4>
				<sequence>4</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140024990b3540dcd28d9ada9d485e78314cc4>
			<hash_140024faf9e9bb7c365243c0bd0e218e71a8ba>
				<sequence>5</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140024faf9e9bb7c365243c0bd0e218e71a8ba>
		</items>
	</hash_0500248d444a42c956e50f7502e2d7789bcab0>
	<hash_060024e9c43831e54eca8069317a2ce8c6f751>
		<name>Normal</name>
		<gprint_text>%8.2lf %s</gprint_text>
	</hash_060024e9c43831e54eca8069317a2ce8c6f751>
	<hash_06002419414480d6897c8731c7dc6c5310653e>
		<name>Exact Numbers</name>
		<gprint_text>%8.0lf</gprint_text>
	</hash_06002419414480d6897c8731c7dc6c5310653e>
	<hash_0600249317954f8b39f8ba30c3d8cc2c35fade>
		<name>Percentage</name>
		<gprint_text> (%1.1lf %%)</gprint_text>
	</hash_0600249317954f8b39f8ba30c3d8cc2c35fade>
	<hash_0600240fc59bce05cf15fda6352e4d6eb73599>
		<name>Decimals</name>
		<gprint_text>%8.3lf</gprint_text>
	</hash_0600240fc59bce05cf15fda6352e4d6eb73599>
</cacti>