<cacti>	
	<hash_040024db5fe4291ef46d2eeffceb5acf57a268>
		<name>SNMP_Informant_Standard - Network Statistics</name>
		<description>Query Network Stats</description>
		<xml_path>&lt;path_cacti&gt;/resource/snmp_queries/snmp_informant_standard_network.xml</xml_path>
		<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
		<graphs>
			<hash_110024af3d9f717b2a8eb094db3dbf1f06d840>
				<name>Network Statistics</name>
				<graph_template_id>hash_0000249a631e9b7edf3855469cfeef78d65fdb</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>netBytesRecPerSec</snmp_field_name>
						<data_template_id>hash_01002470fc9711b5ca218c3f4e4a2e459b4a79</data_template_id>
						<data_template_rrd_id>hash_08002499406b652d68ad5973d518038a1e1ebc</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>netBytSentPerSec</snmp_field_name>
						<data_template_id>hash_01002470fc9711b5ca218c3f4e4a2e459b4a79</data_template_id>
						<data_template_rrd_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>netBytTotPerSec</snmp_field_name>
						<data_template_id>hash_01002470fc9711b5ca218c3f4e4a2e459b4a79</data_template_id>
						<data_template_rrd_id>hash_08002451b34e35e08ee57d62d014c61b4bf21f</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>netCurBandwidth</snmp_field_name>
						<data_template_id>hash_01002470fc9711b5ca218c3f4e4a2e459b4a79</data_template_id>
						<data_template_rrd_id>hash_080024495f8580c5891b5c6112b2e5b830f569</data_template_rrd_id>
					</item_003>
					<item_004>
						<snmp_field_name>netOutQueueLength</snmp_field_name>
						<data_template_id>hash_01002470fc9711b5ca218c3f4e4a2e459b4a79</data_template_id>
						<data_template_rrd_id>hash_0800246f6bc9779b5282560ba0268b4f924abd</data_template_rrd_id>
					</item_004>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_110024af3d9f717b2a8eb094db3dbf1f06d840>
			<hash_11002402af037a73f2ddf8fcca09588c38ccf9>
				<name>Network Statistics (Packets)</name>
				<graph_template_id>hash_000024f061600d07f065408c1dc7b9a1975ecc</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>netPktsRecErr</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_080024384a2b93c296306f9cd51d016d1ef329</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>netPktsOutDiscarded</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_080024a8bbac9f3cc291036fe2542c730cc5c0</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>netPktsOutErrors</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_08002405620ccc08e9346c537a928bf8614e1c</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>netPktsRecDisc</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_080024146b11edd1479069595457f326f875f7</data_template_rrd_id>
					</item_003>
					<item_004>
						<snmp_field_name>netPktsRecUnk</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_08002491d3971229addefa7c1b1bbb2a57c4f9</data_template_rrd_id>
					</item_004>
					<item_005>
						<snmp_field_name>netPktsRecPerSec</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_080024fe25cb6b93d8813caa3f7bae561807c9</data_template_rrd_id>
					</item_005>
					<item_006>
						<snmp_field_name>netPktsSentPerSec</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_08002431ff196276301284700a79cb319d5957</data_template_rrd_id>
					</item_006>
					<item_007>
						<snmp_field_name>netPacketsPerSec</snmp_field_name>
						<data_template_id>hash_0100241d6ad5ea78c7479c757439cef34a05ba</data_template_id>
						<data_template_rrd_id>hash_0800246ee3bb9a1aeed389278160577e3f457c</data_template_rrd_id>
					</item_007>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_11002402af037a73f2ddf8fcca09588c38ccf9>
		</graphs>
	</hash_040024db5fe4291ef46d2eeffceb5acf57a268>
	<hash_030024bf566c869ac6443b0c75d1c32b5a350e>
		<name>Get SNMP Data (Indexed)</name>
		<type_id>3</type_id>
		<input_string></input_string>
		<fields>
			<hash_070024617cdc8a230615e59f06f361ef6e7728>
				<name>SNMP IP Address</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>management_ip</data_name>
			</hash_070024617cdc8a230615e59f06f361ef6e7728>
			<hash_070024acb449d1451e8a2a655c2c99d31142c7>
				<name>SNMP Community</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_community</type_code>
				<input_output>in</input_output>
				<data_name>snmp_community</data_name>
			</hash_070024acb449d1451e8a2a655c2c99d31142c7>
			<hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
				<name>SNMP Username (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_username</type_code>
				<input_output>in</input_output>
				<data_name>snmp_username</data_name>
			</hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
			<hash_0700241cc1493a6781af2c478fa4de971531cf>
				<name>SNMP Password (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_password</type_code>
				<input_output>in</input_output>
				<data_name>snmp_password</data_name>
			</hash_0700241cc1493a6781af2c478fa4de971531cf>
			<hash_070024b5c23f246559df38662c255f4aa21d6b>
				<name>SNMP Version (1, 2, or 3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_version</type_code>
				<input_output>in</input_output>
				<data_name>snmp_version</data_name>
			</hash_070024b5c23f246559df38662c255f4aa21d6b>
			<hash_0700246027a919c7c7731fbe095b6f53ab127b>
				<name>Index Type</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>index_type</type_code>
				<input_output>in</input_output>
				<data_name>index_type</data_name>
			</hash_0700246027a919c7c7731fbe095b6f53ab127b>
			<hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
				<name>Index Value</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>index_value</type_code>
				<input_output>in</input_output>
				<data_name>index_value</data_name>
			</hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
			<hash_070024e6deda7be0f391399c5130e7c4a48b28>
				<name>Output Type ID</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>output_type</type_code>
				<input_output>in</input_output>
				<data_name>output_type</data_name>
			</hash_070024e6deda7be0f391399c5130e7c4a48b28>
			<hash_070024c1f36ee60c3dc98945556d57f26e475b>
				<name>SNMP Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_070024c1f36ee60c3dc98945556d57f26e475b>
			<hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
				<name>SNMP Authenticaion Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_auth_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_auth_protocol</data_name>
			</hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
			<hash_0700246b13ac0a0194e171d241d4b06f913158>
				<name>SNMP Privacy Passphrase (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_passphrase</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_passphrase</data_name>
			</hash_0700246b13ac0a0194e171d241d4b06f913158>
			<hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
				<name>SNMP Privacy Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_protocol</data_name>
			</hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
			<hash_0700245240353b8f7f259acaf30e6229bc14e7>
				<name>Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_0700245240353b8f7f259acaf30e6229bc14e7>
		</fields>
	</hash_030024bf566c869ac6443b0c75d1c32b5a350e>
	<hash_0000249a631e9b7edf3855469cfeef78d65fdb>
		<name>SNMP_Informant_Standard - Network Statistics</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| Network (I/O) |query_netInstance|</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Network (I/O)</vertical_label>
		</graph>
		<items>
			<hash_100024dc87903ea7158f412cf1781166583648>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Bytes Sent/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100024dc87903ea7158f412cf1781166583648>
			<hash_100024f70c30c5ce81f4354ee2413741c96c59>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100024f70c30c5ce81f4354ee2413741c96c59>
			<hash_100024a13bf062d7d70ca8544f26334442e2fa>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100024a13bf062d7d70ca8544f26334442e2fa>
			<hash_100024ea1d66bf1dcc6106c4f7ccc97eb7a8ed>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100024ea1d66bf1dcc6106c4f7ccc97eb7a8ed>
			<hash_1000241d7e8dbef607e181eb2bf2748a511da4>
				<task_item_id>hash_08002499406b652d68ad5973d518038a1e1ebc</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Bytes Received/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000241d7e8dbef607e181eb2bf2748a511da4>
			<hash_100024407982a1b2fb5324f990bbfc678eac78>
				<task_item_id>hash_08002499406b652d68ad5973d518038a1e1ebc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100024407982a1b2fb5324f990bbfc678eac78>
			<hash_1000247232f674c2ec68759364d9dd530fc409>
				<task_item_id>hash_08002499406b652d68ad5973d518038a1e1ebc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000247232f674c2ec68759364d9dd530fc409>
			<hash_100024213aa820b1d224cc9f6fcbfdb855dec6>
				<task_item_id>hash_08002499406b652d68ad5973d518038a1e1ebc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100024213aa820b1d224cc9f6fcbfdb855dec6>
			<hash_100024541a334a177e4b5195d541885661361d>
				<task_item_id>hash_08002451b34e35e08ee57d62d014c61b4bf21f</task_item_id>
				<color_id>F24AC8</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Bytes Total/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_100024541a334a177e4b5195d541885661361d>
			<hash_10002442448ba523bce881a460a452426426d8>
				<task_item_id>hash_08002451b34e35e08ee57d62d014c61b4bf21f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_10002442448ba523bce881a460a452426426d8>
			<hash_100024b4403de89dad7a66465dc4259a0f21c1>
				<task_item_id>hash_08002451b34e35e08ee57d62d014c61b4bf21f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_100024b4403de89dad7a66465dc4259a0f21c1>
			<hash_100024308046c399f8d5abba7fa10bce360165>
				<task_item_id>hash_08002451b34e35e08ee57d62d014c61b4bf21f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100024308046c399f8d5abba7fa10bce360165>
			<hash_1000244a1a817d4924da6444d004025e370cef>
				<task_item_id>hash_0800246f6bc9779b5282560ba0268b4f924abd</task_item_id>
				<color_id>55D6D3</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Output Queue Length:</text_format>
				<hard_return></hard_return>
				<sequence>25</sequence>
			</hash_1000244a1a817d4924da6444d004025e370cef>
			<hash_100024f270bbf388989d240398fb09c808cf69>
				<task_item_id>hash_0800246f6bc9779b5282560ba0268b4f924abd</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>26</sequence>
			</hash_100024f270bbf388989d240398fb09c808cf69>
			<hash_100024e31d3bc6f871fbd1b894769718411e02>
				<task_item_id>hash_0800246f6bc9779b5282560ba0268b4f924abd</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>27</sequence>
			</hash_100024e31d3bc6f871fbd1b894769718411e02>
			<hash_10002470d2d36f8514889929d824509fc9957e>
				<task_item_id>hash_0800246f6bc9779b5282560ba0268b4f924abd</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>28</sequence>
			</hash_10002470d2d36f8514889929d824509fc9957e>
			<hash_100024d74ddbc5f09a2419e6e59c14ade6b2df>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current Bandwidth:</text_format>
				<hard_return></hard_return>
				<sequence>29</sequence>
			</hash_100024d74ddbc5f09a2419e6e59c14ade6b2df>
			<hash_1000247c32af7bf310e06e43dd099a07b5e024>
				<task_item_id>hash_080024495f8580c5891b5c6112b2e5b830f569</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>30</sequence>
			</hash_1000247c32af7bf310e06e43dd099a07b5e024>
			<hash_100024250a744744e5c78436a724f6a0221565>
				<task_item_id>hash_080024495f8580c5891b5c6112b2e5b830f569</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>31</sequence>
			</hash_100024250a744744e5c78436a724f6a0221565>
			<hash_100024dc10543d93abe27bb834fac7f9199c3c>
				<task_item_id>hash_080024495f8580c5891b5c6112b2e5b830f569</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>32</sequence>
			</hash_100024dc10543d93abe27bb834fac7f9199c3c>
			<hash_1000240fdb5028b84b6f190ca45c6e63060fc6>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Total Sent: (|sum:auto:current:2:auto|)</text_format>
				<hard_return></hard_return>
				<sequence>33</sequence>
			</hash_1000240fdb5028b84b6f190ca45c6e63060fc6>
			<hash_100024e4db2f1d7e9bbb6e80146e6976d1272f>
				<task_item_id>hash_08002499406b652d68ad5973d518038a1e1ebc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Total Received:  (|sum:auto:current:2:auto|)</text_format>
				<hard_return>on</hard_return>
				<sequence>34</sequence>
			</hash_100024e4db2f1d7e9bbb6e80146e6976d1272f>
			<hash_100024d731c78be938b5e4a74d1e6b21e97162>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>FF0000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>2</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value>|95:bits:0:max:2|</value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>95th Percentile Sent:</text_format>
				<hard_return>on</hard_return>
				<sequence>35</sequence>
			</hash_100024d731c78be938b5e4a74d1e6b21e97162>
			<hash_100024ad93b198c828aa3dcab3247690e92908>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>95th Percentile (|95:bits:6:max:2| mbit in+out)</text_format>
				<hard_return>on</hard_return>
				<sequence>36</sequence>
			</hash_100024ad93b198c828aa3dcab3247690e92908>
			<hash_100024bf851b72e2026ad2f4335a6318c78120>
				<task_item_id>hash_080024616ff9a80676e81aa79fcde63a6a8f88</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>|date_time|</text_format>
				<hard_return></hard_return>
				<sequence>37</sequence>
			</hash_100024bf851b72e2026ad2f4335a6318c78120>
		</items>
		<inputs>
			<hash_0900240e20235ef87bb5a5f2c8990181efe65a>
				<name>Data Source [netBytesSentPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024dc87903ea7158f412cf1781166583648|hash_000024f70c30c5ce81f4354ee2413741c96c59|hash_000024a13bf062d7d70ca8544f26334442e2fa|hash_000024ea1d66bf1dcc6106c4f7ccc97eb7a8ed|hash_0000240fdb5028b84b6f190ca45c6e63060fc6|hash_000024d731c78be938b5e4a74d1e6b21e97162|hash_000024ad93b198c828aa3dcab3247690e92908|hash_000024bf851b72e2026ad2f4335a6318c78120</items>
			</hash_0900240e20235ef87bb5a5f2c8990181efe65a>
			<hash_090024c63091b3d48288e3c8f9db92241f74c1>
				<name>Data Source [netBytesRecPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000241d7e8dbef607e181eb2bf2748a511da4|hash_000024407982a1b2fb5324f990bbfc678eac78|hash_0000247232f674c2ec68759364d9dd530fc409|hash_000024213aa820b1d224cc9f6fcbfdb855dec6|hash_000024e4db2f1d7e9bbb6e80146e6976d1272f</items>
			</hash_090024c63091b3d48288e3c8f9db92241f74c1>
			<hash_0900248ad76899b82277e93458d9bb57285dc5>
				<name>Data Source [netBytTotPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024541a334a177e4b5195d541885661361d|hash_00002442448ba523bce881a460a452426426d8|hash_000024b4403de89dad7a66465dc4259a0f21c1|hash_000024308046c399f8d5abba7fa10bce360165</items>
			</hash_0900248ad76899b82277e93458d9bb57285dc5>
			<hash_090024e28c3354b5f56fd1f5d90550764c24f5>
				<name>Data Source [netOutQueueLength]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000244a1a817d4924da6444d004025e370cef|hash_000024f270bbf388989d240398fb09c808cf69|hash_000024e31d3bc6f871fbd1b894769718411e02|hash_00002470d2d36f8514889929d824509fc9957e</items>
			</hash_090024e28c3354b5f56fd1f5d90550764c24f5>
			<hash_090024adee3c03fa2403676fcb7edc7b7405bc>
				<name>Data Source [netCurBandwidth]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000247c32af7bf310e06e43dd099a07b5e024|hash_000024250a744744e5c78436a724f6a0221565|hash_000024dc10543d93abe27bb834fac7f9199c3c</items>
			</hash_090024adee3c03fa2403676fcb7edc7b7405bc>
		</inputs>
	</hash_0000249a631e9b7edf3855469cfeef78d65fdb>
	<hash_000024f061600d07f065408c1dc7b9a1975ecc>
		<name>SNMP_Informant_Standard - Network Statistics (Packets)</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| Network (Packets) |query_netInstance|</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Network (Packets)</vertical_label>
		</graph>
		<items>
			<hash_100024af5b18046cd70e8ffa0618c7cc194bea>
				<task_item_id>hash_08002431ff196276301284700a79cb319d5957</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Packets Sent/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100024af5b18046cd70e8ffa0618c7cc194bea>
			<hash_1000248069ee452654f7327a78944b32e3d74a>
				<task_item_id>hash_08002431ff196276301284700a79cb319d5957</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000248069ee452654f7327a78944b32e3d74a>
			<hash_1000245d69a8a3cd733e85937d5c0da021263d>
				<task_item_id>hash_08002431ff196276301284700a79cb319d5957</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000245d69a8a3cd733e85937d5c0da021263d>
			<hash_100024b924184d368a4f094d3ce51d89fcc3ed>
				<task_item_id>hash_08002431ff196276301284700a79cb319d5957</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100024b924184d368a4f094d3ce51d89fcc3ed>
			<hash_100024729c8670858e677668fbafa2b40c5ef9>
				<task_item_id>hash_080024fe25cb6b93d8813caa3f7bae561807c9</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Packets Received/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100024729c8670858e677668fbafa2b40c5ef9>
			<hash_100024a756a04034c2a484e6fb9e4e8703d08f>
				<task_item_id>hash_080024fe25cb6b93d8813caa3f7bae561807c9</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100024a756a04034c2a484e6fb9e4e8703d08f>
			<hash_100024666a9960a9112c308461c09673e6ba29>
				<task_item_id>hash_080024fe25cb6b93d8813caa3f7bae561807c9</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100024666a9960a9112c308461c09673e6ba29>
			<hash_100024c0355f5c3cae2f992d0e67507e17c97d>
				<task_item_id>hash_080024fe25cb6b93d8813caa3f7bae561807c9</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100024c0355f5c3cae2f992d0e67507e17c97d>
			<hash_1000242b7615bded40c9d36be4208cab5a9c4d>
				<task_item_id>hash_0800246ee3bb9a1aeed389278160577e3f457c</task_item_id>
				<color_id>F24AC8</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Total Network Packets/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000242b7615bded40c9d36be4208cab5a9c4d>
			<hash_1000242a49ba833dd01550cd2d9be532e4baa0>
				<task_item_id>hash_0800246ee3bb9a1aeed389278160577e3f457c</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000242a49ba833dd01550cd2d9be532e4baa0>
			<hash_10002438d1011b8ad2ce9e074163f3e39fff50>
				<task_item_id>hash_0800246ee3bb9a1aeed389278160577e3f457c</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_10002438d1011b8ad2ce9e074163f3e39fff50>
			<hash_100024015edabee7ca620bce2adc431561c9ae>
				<task_item_id>hash_0800246ee3bb9a1aeed389278160577e3f457c</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100024015edabee7ca620bce2adc431561c9ae>
			<hash_1000245c4a330524ecaaa4d37a5ef42b226b37>
				<task_item_id>hash_08002405620ccc08e9346c537a928bf8614e1c</task_item_id>
				<color_id>55D6D3</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Packets Outbound Errors:</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_1000245c4a330524ecaaa4d37a5ef42b226b37>
			<hash_100024da750c2086f345b9034bed1d0b0a41d9>
				<task_item_id>hash_08002405620ccc08e9346c537a928bf8614e1c</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_100024da750c2086f345b9034bed1d0b0a41d9>
			<hash_100024804172530032acfd99ec8e5bb594c486>
				<task_item_id>hash_08002405620ccc08e9346c537a928bf8614e1c</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100024804172530032acfd99ec8e5bb594c486>
			<hash_1000245366379e4e6b564c66f475ff6495b2c8>
				<task_item_id>hash_08002405620ccc08e9346c537a928bf8614e1c</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_1000245366379e4e6b564c66f475ff6495b2c8>
			<hash_10002467c04f02c970e33eda836fb35f09b27f>
				<task_item_id>hash_080024384a2b93c296306f9cd51d016d1ef329</task_item_id>
				<color_id>942D0C</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Packets Received Errors:</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_10002467c04f02c970e33eda836fb35f09b27f>
			<hash_100024f0a034cef3f1aa6baaa97cebedbbe1af>
				<task_item_id>hash_080024384a2b93c296306f9cd51d016d1ef329</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_100024f0a034cef3f1aa6baaa97cebedbbe1af>
			<hash_10002459ef8677de2a69b8f09c73893677b862>
				<task_item_id>hash_080024384a2b93c296306f9cd51d016d1ef329</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_10002459ef8677de2a69b8f09c73893677b862>
			<hash_100024e0cfab23e85a9b50bf779fd0eea89e21>
				<task_item_id>hash_080024384a2b93c296306f9cd51d016d1ef329</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_100024e0cfab23e85a9b50bf779fd0eea89e21>
			<hash_1000240f4a4e9466a8efd3b34b921950052233>
				<task_item_id>hash_080024a8bbac9f3cc291036fe2542c730cc5c0</task_item_id>
				<color_id>000000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Packets Outbound Discarded:</text_format>
				<hard_return></hard_return>
				<sequence>21</sequence>
			</hash_1000240f4a4e9466a8efd3b34b921950052233>
			<hash_100024bb05aae4d5d2bf71a1cfa9c1e9d226e4>
				<task_item_id>hash_080024a8bbac9f3cc291036fe2542c730cc5c0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_100024bb05aae4d5d2bf71a1cfa9c1e9d226e4>
			<hash_1000242f89a2c67502c19ca5becc43815e6a84>
				<task_item_id>hash_080024a8bbac9f3cc291036fe2542c730cc5c0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>23</sequence>
			</hash_1000242f89a2c67502c19ca5becc43815e6a84>
			<hash_100024c0f7b2cda1c5022d357f571d9341c83b>
				<task_item_id>hash_080024a8bbac9f3cc291036fe2542c730cc5c0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>24</sequence>
			</hash_100024c0f7b2cda1c5022d357f571d9341c83b>
			<hash_100024047a76bb3ad47da4fed3ac89f44f4d5b>
				<task_item_id>hash_080024146b11edd1479069595457f326f875f7</task_item_id>
				<color_id>0D006A</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Packets Received Discarded:</text_format>
				<hard_return></hard_return>
				<sequence>25</sequence>
			</hash_100024047a76bb3ad47da4fed3ac89f44f4d5b>
			<hash_1000240cfb34fd9f35daeeeeeda6432524f574>
				<task_item_id>hash_080024146b11edd1479069595457f326f875f7</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>26</sequence>
			</hash_1000240cfb34fd9f35daeeeeeda6432524f574>
			<hash_1000240e02610cc0f9ea074c09d96ce290a04f>
				<task_item_id>hash_080024146b11edd1479069595457f326f875f7</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>27</sequence>
			</hash_1000240e02610cc0f9ea074c09d96ce290a04f>
			<hash_1000244b88fd8303fe9e841f30261e4d276ac3>
				<task_item_id>hash_080024146b11edd1479069595457f326f875f7</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>28</sequence>
			</hash_1000244b88fd8303fe9e841f30261e4d276ac3>
			<hash_10002497c595bf02954c859f4d85786aa2d0d5>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Packets Received Unknown:</text_format>
				<hard_return></hard_return>
				<sequence>29</sequence>
			</hash_10002497c595bf02954c859f4d85786aa2d0d5>
			<hash_100024815bdc883fc38e2ecc689b4a18ced75b>
				<task_item_id>hash_08002491d3971229addefa7c1b1bbb2a57c4f9</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>30</sequence>
			</hash_100024815bdc883fc38e2ecc689b4a18ced75b>
			<hash_1000247e71e048145a54fea99158787f9602e8>
				<task_item_id>hash_08002491d3971229addefa7c1b1bbb2a57c4f9</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>31</sequence>
			</hash_1000247e71e048145a54fea99158787f9602e8>
			<hash_1000241a14fa5da69da044fbe1842c29533c95>
				<task_item_id>hash_08002491d3971229addefa7c1b1bbb2a57c4f9</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>32</sequence>
			</hash_1000241a14fa5da69da044fbe1842c29533c95>
		</items>
		<inputs>
			<hash_0900244cdc68b0eeffd211257e76b6e9f00e1f>
				<name>Data Source [netPktsOutErrors]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000245c4a330524ecaaa4d37a5ef42b226b37|hash_000024da750c2086f345b9034bed1d0b0a41d9|hash_000024804172530032acfd99ec8e5bb594c486|hash_0000245366379e4e6b564c66f475ff6495b2c8</items>
			</hash_0900244cdc68b0eeffd211257e76b6e9f00e1f>
			<hash_090024dd0a8fc2363ed07a287c2eeca17cab92>
				<name>Data Source [netPktsRecErr]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002467c04f02c970e33eda836fb35f09b27f|hash_000024f0a034cef3f1aa6baaa97cebedbbe1af|hash_00002459ef8677de2a69b8f09c73893677b862|hash_000024e0cfab23e85a9b50bf779fd0eea89e21</items>
			</hash_090024dd0a8fc2363ed07a287c2eeca17cab92>
			<hash_0900244f5a34beefb55cbd0eba2f9ccbc04b8a>
				<name>Data Source [netPktsOutDiscarded]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000240f4a4e9466a8efd3b34b921950052233|hash_000024bb05aae4d5d2bf71a1cfa9c1e9d226e4|hash_0000242f89a2c67502c19ca5becc43815e6a84|hash_000024c0f7b2cda1c5022d357f571d9341c83b</items>
			</hash_0900244f5a34beefb55cbd0eba2f9ccbc04b8a>
			<hash_09002468633ae60e8db27b08795e3faea220a2>
				<name>Data Source [netPacketsPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000242b7615bded40c9d36be4208cab5a9c4d|hash_0000242a49ba833dd01550cd2d9be532e4baa0|hash_00002438d1011b8ad2ce9e074163f3e39fff50|hash_000024015edabee7ca620bce2adc431561c9ae</items>
			</hash_09002468633ae60e8db27b08795e3faea220a2>
			<hash_090024022b7c73ed25ba8263304ef7ee937a88>
				<name>Data Source [netPktsSentPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024af5b18046cd70e8ffa0618c7cc194bea|hash_0000248069ee452654f7327a78944b32e3d74a|hash_0000245d69a8a3cd733e85937d5c0da021263d|hash_000024b924184d368a4f094d3ce51d89fcc3ed</items>
			</hash_090024022b7c73ed25ba8263304ef7ee937a88>
			<hash_090024f038e92fe49695254536bd6707f24568>
				<name>Data Source [netPktsRecPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024729c8670858e677668fbafa2b40c5ef9|hash_000024a756a04034c2a484e6fb9e4e8703d08f|hash_000024666a9960a9112c308461c09673e6ba29|hash_000024c0355f5c3cae2f992d0e67507e17c97d</items>
			</hash_090024f038e92fe49695254536bd6707f24568>
			<hash_0900240e2a9cc4c50c18da8e8f138bdcd96315>
				<name>Data Source [netPktsOutDiscarded]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items></items>
			</hash_0900240e2a9cc4c50c18da8e8f138bdcd96315>
			<hash_090024982392882a471ff6f3453494b78751be>
				<name>Data Source [netPktsRecDisc]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024047a76bb3ad47da4fed3ac89f44f4d5b|hash_0000240cfb34fd9f35daeeeeeda6432524f574|hash_0000240e02610cc0f9ea074c09d96ce290a04f|hash_0000244b88fd8303fe9e841f30261e4d276ac3</items>
			</hash_090024982392882a471ff6f3453494b78751be>
			<hash_090024c7147290f2a024a48a05997a1d7dc4e4>
				<name>Data Source [netPktsRecUnk]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024815bdc883fc38e2ecc689b4a18ced75b|hash_0000247e71e048145a54fea99158787f9602e8|hash_0000241a14fa5da69da044fbe1842c29533c95</items>
			</hash_090024c7147290f2a024a48a05997a1d7dc4e4>
		</inputs>
	</hash_000024f061600d07f065408c1dc7b9a1975ecc>
	<hash_01002470fc9711b5ca218c3f4e4a2e459b4a79>
		<name>SNMP_Informant_Standard - Net Stats</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Net Stats - |query_netInstance|</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_08002499406b652d68ad5973d518038a1e1ebc>
				<t_data_source_name></t_data_source_name>
				<data_source_name>netBytesRecPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002499406b652d68ad5973d518038a1e1ebc>
			<hash_080024616ff9a80676e81aa79fcde63a6a8f88>
				<t_data_source_name></t_data_source_name>
				<data_source_name>netBytesSentPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024616ff9a80676e81aa79fcde63a6a8f88>
			<hash_08002451b34e35e08ee57d62d014c61b4bf21f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>netBytTotPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002451b34e35e08ee57d62d014c61b4bf21f>
			<hash_080024495f8580c5891b5c6112b2e5b830f569>
				<t_data_source_name></t_data_source_name>
				<data_source_name>netCurBandwidth</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024495f8580c5891b5c6112b2e5b830f569>
			<hash_0800246f6bc9779b5282560ba0268b4f924abd>
				<t_data_source_name></t_data_source_name>
				<data_source_name>netOutQueueLength</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800246f6bc9779b5282560ba0268b4f924abd>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_01002470fc9711b5ca218c3f4e4a2e459b4a79>
	<hash_0100241d6ad5ea78c7479c757439cef34a05ba>
		<name>SNMP_Informant_Standard - Net Stats (Packets)</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Net Stats (Packets) - |query_netInstance|</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_080024384a2b93c296306f9cd51d016d1ef329>
				<data_source_name>netPktsRecErr</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024384a2b93c296306f9cd51d016d1ef329>
			<hash_080024a8bbac9f3cc291036fe2542c730cc5c0>
				<data_source_name>netPktsOutDiscarded</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024a8bbac9f3cc291036fe2542c730cc5c0>
			<hash_08002405620ccc08e9346c537a928bf8614e1c>
				<data_source_name>netPktsOutErrors</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002405620ccc08e9346c537a928bf8614e1c>
			<hash_080024146b11edd1479069595457f326f875f7>
				<data_source_name>netPktsRecDisc</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024146b11edd1479069595457f326f875f7>
			<hash_08002491d3971229addefa7c1b1bbb2a57c4f9>
				<data_source_name>netPktsRecUnk</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002491d3971229addefa7c1b1bbb2a57c4f9>
			<hash_080024fe25cb6b93d8813caa3f7bae561807c9>
				<data_source_name>netPktsRecPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024fe25cb6b93d8813caa3f7bae561807c9>
			<hash_08002431ff196276301284700a79cb319d5957>
				<data_source_name>netPktsSentPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002431ff196276301284700a79cb319d5957>
			<hash_0800246ee3bb9a1aeed389278160577e3f457c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>netPacketsPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800246ee3bb9a1aeed389278160577e3f457c>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_0100241d6ad5ea78c7479c757439cef34a05ba>
	<hash_150024c21df5178e5c955013591239eb0afd46>
		<name>Daily (5 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024c21df5178e5c955013591239eb0afd46>
	<hash_1500240d9c0af8b8acdc7807943937b3208e29>
		<name>Weekly (30 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500240d9c0af8b8acdc7807943937b3208e29>
	<hash_1500246fc2d038fb42950138b0ce3e9874cc60>
		<name>Monthly (2 Hour Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500246fc2d038fb42950138b0ce3e9874cc60>
	<hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
		<name>Yearly (1 Day Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
	<hash_060024e9c43831e54eca8069317a2ce8c6f751>
		<name>Normal</name>
		<gprint_text>%8.2lf %s</gprint_text>
	</hash_060024e9c43831e54eca8069317a2ce8c6f751>
	<hash_06002419414480d6897c8731c7dc6c5310653e>
		<name>Exact Numbers</name>
		<gprint_text>%8.0lf</gprint_text>
	</hash_06002419414480d6897c8731c7dc6c5310653e>
	<hash_0600240fc59bce05cf15fda6352e4d6eb73599>
		<name>Decimals</name>
		<gprint_text>%8.3lf</gprint_text>
	</hash_0600240fc59bce05cf15fda6352e4d6eb73599>
</cacti>