<cacti>
	<hash_020013475e905ca7d161c6c626c47fa4fa0c59>
		<name>Percona Amazon RDS Server HT</name>
		<graph_templates>hash_0000133f3d6b30ff7805a46fe1ca454f9ccfbc|hash_00001398d7f90931873d43ca9bdae4c04459d5|hash_0000137ee1ed94d9d9255854089bab8a219470|hash_0000132ac8ae4c5c850ebc6ee1cbcbb2072f01|hash_0000134745fb573131d776e662b27566818303|hash_000013e181aee8c080e0a2c2b302ff194e3915|hash_00001399c980448a043429227d2747ef8ec600|hash_000013aee8656af0361c9cba37ca623b8455db|hash_000013839a4773c29fe6c5dbe03494083916fc|hash_00001378d9b5a5d3f6fecd6803bb47198eee88|hash_000013cb8a7f0a8b6a567fc88965da964f5268</graph_templates>
		<data_queries></data_queries>
	</hash_020013475e905ca7d161c6c626c47fa4fa0c59>
	<hash_0000133f3d6b30ff7805a46fe1ca454f9ccfbc>
		<name>Percona RDS Binlog Disk Usage GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Binlog Disk Usage</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001327de130d1c007e2f61ca78bb692e09ee>
				<task_item_id>hash_080013729129dea15d64a72219a5043d238092</task_item_id>
				<color_id>9E8655</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Binlog Disk Usage</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001327de130d1c007e2f61ca78bb692e09ee>
			<hash_100013d1ab5abe71dd0e8f9bed19f8330bfa04>
				<task_item_id>hash_080013729129dea15d64a72219a5043d238092</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013d1ab5abe71dd0e8f9bed19f8330bfa04>
			<hash_100013b506f7648e3c9da3d6ac27e4ffc51906>
				<task_item_id>hash_080013729129dea15d64a72219a5043d238092</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013b506f7648e3c9da3d6ac27e4ffc51906>
			<hash_100013f2bc1a509736a43c908520d2f023794d>
				<task_item_id>hash_080013729129dea15d64a72219a5043d238092</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013f2bc1a509736a43c908520d2f023794d>
		</items>
		<inputs>
			<hash_0900137531a3943ecb8894231d8c63a34663e2>
				<name>Data Source [binlog_disk_usage]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001327de130d1c007e2f61ca78bb692e09ee|hash_000013d1ab5abe71dd0e8f9bed19f8330bfa04|hash_000013b506f7648e3c9da3d6ac27e4ffc51906|hash_000013f2bc1a509736a43c908520d2f023794d</items>
			</hash_0900137531a3943ecb8894231d8c63a34663e2>
		</inputs>
	</hash_0000133f3d6b30ff7805a46fe1ca454f9ccfbc>
	<hash_00001398d7f90931873d43ca9bdae4c04459d5>
		<name>Percona RDS CPU Utilization GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS CPU Utilization</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013c559b0a4cabd524bf5b3f4a83e7b76ac>
				<task_item_id>hash_080013da3b70b5bbf31c436d6dda4a468bc31d</task_item_id>
				<color_id>EB6841</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Utilization</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013c559b0a4cabd524bf5b3f4a83e7b76ac>
			<hash_10001351910baef98d86d86642204c9fda8bae>
				<task_item_id>hash_080013da3b70b5bbf31c436d6dda4a468bc31d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001351910baef98d86d86642204c9fda8bae>
			<hash_100013fd80e539954a05e16c97a21f6a28f9d4>
				<task_item_id>hash_080013da3b70b5bbf31c436d6dda4a468bc31d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013fd80e539954a05e16c97a21f6a28f9d4>
			<hash_100013b98af70d54095f99439cb404165b0ca7>
				<task_item_id>hash_080013da3b70b5bbf31c436d6dda4a468bc31d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013b98af70d54095f99439cb404165b0ca7>
		</items>
		<inputs>
			<hash_09001346e055b7a9bced6e039f6eb629905776>
				<name>Data Source [utilization]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013c559b0a4cabd524bf5b3f4a83e7b76ac|hash_00001351910baef98d86d86642204c9fda8bae|hash_000013fd80e539954a05e16c97a21f6a28f9d4|hash_000013b98af70d54095f99439cb404165b0ca7</items>
			</hash_09001346e055b7a9bced6e039f6eb629905776>
		</inputs>
	</hash_00001398d7f90931873d43ca9bdae4c04459d5>
	<hash_0000137ee1ed94d9d9255854089bab8a219470>
		<name>Percona RDS Database Connections GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Database Connections</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000137da0218bf39e110d0815f496e0f57830>
				<task_item_id>hash_080013f9ad49bc2fb154d488ea9d8b10d91924</task_item_id>
				<color_id>002A97</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Connections</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000137da0218bf39e110d0815f496e0f57830>
			<hash_1000139b89e5254fb8b67e582f4ef1d927164d>
				<task_item_id>hash_080013f9ad49bc2fb154d488ea9d8b10d91924</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000139b89e5254fb8b67e582f4ef1d927164d>
			<hash_10001377475c2d9d85f379cf01f25a0cc7b07a>
				<task_item_id>hash_080013f9ad49bc2fb154d488ea9d8b10d91924</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001377475c2d9d85f379cf01f25a0cc7b07a>
			<hash_100013c383b39245ea4cbfb27a8bd7f2f5f2d0>
				<task_item_id>hash_080013f9ad49bc2fb154d488ea9d8b10d91924</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013c383b39245ea4cbfb27a8bd7f2f5f2d0>
		</items>
		<inputs>
			<hash_09001328278e1401bac8f432ea4433a0e86f01>
				<name>Data Source [connections]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000137da0218bf39e110d0815f496e0f57830|hash_0000139b89e5254fb8b67e582f4ef1d927164d|hash_00001377475c2d9d85f379cf01f25a0cc7b07a|hash_000013c383b39245ea4cbfb27a8bd7f2f5f2d0</items>
			</hash_09001328278e1401bac8f432ea4433a0e86f01>
		</inputs>
	</hash_0000137ee1ed94d9d9255854089bab8a219470>
	<hash_0000132ac8ae4c5c850ebc6ee1cbcbb2072f01>
		<name>Percona RDS Disk Queue Depth GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Disk Queue Depth</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013a8df2d741dbe1f53d34ee824dad0e8c4>
				<task_item_id>hash_080013aac78576e9df13fd9381bcd80ad836d3</task_item_id>
				<color_id>7020AF</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Disk Queue Depth</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013a8df2d741dbe1f53d34ee824dad0e8c4>
			<hash_10001331dcfa47df0582338a53823828fad8e8>
				<task_item_id>hash_080013aac78576e9df13fd9381bcd80ad836d3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001331dcfa47df0582338a53823828fad8e8>
			<hash_10001301d3860451aa5518da0298c0f4b152d9>
				<task_item_id>hash_080013aac78576e9df13fd9381bcd80ad836d3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001301d3860451aa5518da0298c0f4b152d9>
			<hash_100013283851ce8d07f5c0112fa241a51d2703>
				<task_item_id>hash_080013aac78576e9df13fd9381bcd80ad836d3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013283851ce8d07f5c0112fa241a51d2703>
		</items>
		<inputs>
			<hash_0900132b73df3b092b8f9967336a9f8911f1e9>
				<name>Data Source [disk_queue_depth]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013a8df2d741dbe1f53d34ee824dad0e8c4|hash_00001331dcfa47df0582338a53823828fad8e8|hash_00001301d3860451aa5518da0298c0f4b152d9|hash_000013283851ce8d07f5c0112fa241a51d2703</items>
			</hash_0900132b73df3b092b8f9967336a9f8911f1e9>
		</inputs>
	</hash_0000132ac8ae4c5c850ebc6ee1cbcbb2072f01>
	<hash_0000134745fb573131d776e662b27566818303>
		<name>Percona RDS Replica Lag GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Replica Lag</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000130dec04a1009a81bc8bd4a75935151e42>
				<task_item_id>hash_080013a0b82e53025e622d3e304c9d612553e1</task_item_id>
				<color_id>B3092B</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Replica Lag</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000130dec04a1009a81bc8bd4a75935151e42>
			<hash_1000130a0e7e544ab3bfb04b1564ceec0948e8>
				<task_item_id>hash_080013a0b82e53025e622d3e304c9d612553e1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000130a0e7e544ab3bfb04b1564ceec0948e8>
			<hash_10001374e6ef7a347cae4fac45f33584c616d9>
				<task_item_id>hash_080013a0b82e53025e622d3e304c9d612553e1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001374e6ef7a347cae4fac45f33584c616d9>
			<hash_100013307ef40a0728a93892d580378e2f9d0e>
				<task_item_id>hash_080013a0b82e53025e622d3e304c9d612553e1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013307ef40a0728a93892d580378e2f9d0e>
		</items>
		<inputs>
			<hash_090013dafadbf826a4113571acb1c0beb6f835>
				<name>Data Source [replica_lag]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000130dec04a1009a81bc8bd4a75935151e42|hash_0000130a0e7e544ab3bfb04b1564ceec0948e8|hash_00001374e6ef7a347cae4fac45f33584c616d9|hash_000013307ef40a0728a93892d580378e2f9d0e</items>
			</hash_090013dafadbf826a4113571acb1c0beb6f835>
		</inputs>
	</hash_0000134745fb573131d776e662b27566818303>
	<hash_000013e181aee8c080e0a2c2b302ff194e3915>
		<name>Percona RDS Memory GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Memory</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000139a4f86a39552212fb34823235c20e784>
				<task_item_id>hash_080013743d85c882436931a4d327502c444b85</task_item_id>
				<color_id>FFDB87</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Total Memory</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000139a4f86a39552212fb34823235c20e784>
			<hash_100013bb6efe7ab97b07333acbe6e6daabdd54>
				<task_item_id>hash_080013743d85c882436931a4d327502c444b85</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return>on</hard_return>
				<sequence>2</sequence>
			</hash_100013bb6efe7ab97b07333acbe6e6daabdd54>
			<hash_1000133c2ff89abb03382d54a5396717981dfc>
				<task_item_id>hash_080013a7243984a30a5e873549069e0efc4435</task_item_id>
				<color_id>850707</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Used Memory</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000133c2ff89abb03382d54a5396717981dfc>
			<hash_100013e5550c1c7dcee33f0554676f0f609bdb>
				<task_item_id>hash_080013a7243984a30a5e873549069e0efc4435</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>4</sequence>
			</hash_100013e5550c1c7dcee33f0554676f0f609bdb>
			<hash_100013c0b9f490d33678c42460e9df4eaa0b81>
				<task_item_id>hash_080013a7243984a30a5e873549069e0efc4435</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013c0b9f490d33678c42460e9df4eaa0b81>
			<hash_10001310b0e2c425812d50b787c70f15467323>
				<task_item_id>hash_080013a7243984a30a5e873549069e0efc4435</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>6</sequence>
			</hash_10001310b0e2c425812d50b787c70f15467323>
		</items>
		<inputs>
			<hash_09001323109343df6b17c3717b2689e19b9cd0>
				<name>Data Source [total_memory]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000139a4f86a39552212fb34823235c20e784|hash_000013bb6efe7ab97b07333acbe6e6daabdd54</items>
			</hash_09001323109343df6b17c3717b2689e19b9cd0>
			<hash_0900130aedabf257811e1127e5641b0b7dc93d>
				<name>Data Source [used_memory]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000133c2ff89abb03382d54a5396717981dfc|hash_000013e5550c1c7dcee33f0554676f0f609bdb|hash_000013c0b9f490d33678c42460e9df4eaa0b81|hash_00001310b0e2c425812d50b787c70f15467323</items>
			</hash_0900130aedabf257811e1127e5641b0b7dc93d>
		</inputs>
	</hash_000013e181aee8c080e0a2c2b302ff194e3915>
	<hash_00001399c980448a043429227d2747ef8ec600>
		<name>Percona RDS Storage Space GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Storage Space</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013053584dc66a7c1b030137867c68616b3>
				<task_item_id>hash_0800130e63935883d0e331354d23ca7f68b136</task_item_id>
				<color_id>0E4E5A</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Total Space</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013053584dc66a7c1b030137867c68616b3>
			<hash_1000139f0666a8761d0356f52c95c9f05fc573>
				<task_item_id>hash_0800130e63935883d0e331354d23ca7f68b136</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return>on</hard_return>
				<sequence>2</sequence>
			</hash_1000139f0666a8761d0356f52c95c9f05fc573>
			<hash_1000136af8e7b6247c7fb6a59e4b7c8444afc2>
				<task_item_id>hash_08001344d4db8d7e97af7f8d739600a50bce8c</task_item_id>
				<color_id>62BECB</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Used Space</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000136af8e7b6247c7fb6a59e4b7c8444afc2>
			<hash_1000138da06a701aba52706bde5632a28b8f36>
				<task_item_id>hash_08001344d4db8d7e97af7f8d739600a50bce8c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>4</sequence>
			</hash_1000138da06a701aba52706bde5632a28b8f36>
			<hash_1000132e155ef5673eb63544282f3993c9260c>
				<task_item_id>hash_08001344d4db8d7e97af7f8d739600a50bce8c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000132e155ef5673eb63544282f3993c9260c>
			<hash_100013075f02a0a7a0782e5d7eecdf30a05cdd>
				<task_item_id>hash_08001344d4db8d7e97af7f8d739600a50bce8c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>6</sequence>
			</hash_100013075f02a0a7a0782e5d7eecdf30a05cdd>
		</items>
		<inputs>
			<hash_0900139c6f656a82d29aab6ee91f6f53be9f2c>
				<name>Data Source [total_space]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013053584dc66a7c1b030137867c68616b3|hash_0000139f0666a8761d0356f52c95c9f05fc573</items>
			</hash_0900139c6f656a82d29aab6ee91f6f53be9f2c>
			<hash_09001396f9f50c27a0d4eb23684e2166ef4552>
				<name>Data Source [used_space]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000136af8e7b6247c7fb6a59e4b7c8444afc2|hash_0000138da06a701aba52706bde5632a28b8f36|hash_0000132e155ef5673eb63544282f3993c9260c|hash_000013075f02a0a7a0782e5d7eecdf30a05cdd</items>
			</hash_09001396f9f50c27a0d4eb23684e2166ef4552>
		</inputs>
	</hash_00001399c980448a043429227d2747ef8ec600>
	<hash_000013aee8656af0361c9cba37ca623b8455db>
		<name>Percona RDS Swap Usage GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Swap Usage</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001310229ffa848c9bb3834a83505f08e779>
				<task_item_id>hash_080013151289532c2212ecf388fa7fc0d615b8</task_item_id>
				<color_id>4F7774</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Swap Usage</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001310229ffa848c9bb3834a83505f08e779>
			<hash_100013c8a38a6ff27a46a313f9a1a3537db016>
				<task_item_id>hash_080013151289532c2212ecf388fa7fc0d615b8</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013c8a38a6ff27a46a313f9a1a3537db016>
			<hash_1000130582801fa0c3eb835d8bf5c22ccc2b3b>
				<task_item_id>hash_080013151289532c2212ecf388fa7fc0d615b8</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000130582801fa0c3eb835d8bf5c22ccc2b3b>
			<hash_1000135cbd14ba89712f1954f89b2f20264b6b>
				<task_item_id>hash_080013151289532c2212ecf388fa7fc0d615b8</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000135cbd14ba89712f1954f89b2f20264b6b>
		</items>
		<inputs>
			<hash_090013852259676e383002fb0c5540061b5ac5>
				<name>Data Source [swap_usage]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001310229ffa848c9bb3834a83505f08e779|hash_000013c8a38a6ff27a46a313f9a1a3537db016|hash_0000130582801fa0c3eb835d8bf5c22ccc2b3b|hash_0000135cbd14ba89712f1954f89b2f20264b6b</items>
			</hash_090013852259676e383002fb0c5540061b5ac5>
		</inputs>
	</hash_000013aee8656af0361c9cba37ca623b8455db>
	<hash_000013839a4773c29fe6c5dbe03494083916fc>
		<name>Percona RDS Disk IOPS GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Disk IOPS</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013b5d8eea4a300f966461035a99a08c00b>
				<task_item_id>hash_08001313e420788ddd69025c936a69c75133a1</task_item_id>
				<color_id>668284</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Read Iops</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013b5d8eea4a300f966461035a99a08c00b>
			<hash_10001354e6ea808d1b3f55a7d8529cb1c1d379>
				<task_item_id>hash_08001313e420788ddd69025c936a69c75133a1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001354e6ea808d1b3f55a7d8529cb1c1d379>
			<hash_1000130a60345408647ac6a8f14907ce30340e>
				<task_item_id>hash_08001313e420788ddd69025c936a69c75133a1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000130a60345408647ac6a8f14907ce30340e>
			<hash_10001333773ed1458899c28758abd547d09190>
				<task_item_id>hash_08001313e420788ddd69025c936a69c75133a1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10001333773ed1458899c28758abd547d09190>
			<hash_100013b4e9ad69b5e3a717fa555c69248bb5a0>
				<task_item_id>hash_080013c3b5075840881eb2568ce6c7b07cbf78</task_item_id>
				<color_id>7B3B3B</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500134281cf63dfde6f44b46a59f022cf82b2</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Write Iops</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013b4e9ad69b5e3a717fa555c69248bb5a0>
			<hash_1000132d87b039ec7f538be5b8f0581b4e0fed>
				<task_item_id>hash_080013c3b5075840881eb2568ce6c7b07cbf78</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000132d87b039ec7f538be5b8f0581b4e0fed>
			<hash_100013c16e535cf5b6d360ebbed0aa5e46580c>
				<task_item_id>hash_080013c3b5075840881eb2568ce6c7b07cbf78</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013c16e535cf5b6d360ebbed0aa5e46580c>
			<hash_100013a096fa76d0a159154590d270f810f6dc>
				<task_item_id>hash_080013c3b5075840881eb2568ce6c7b07cbf78</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013a096fa76d0a159154590d270f810f6dc>
		</items>
		<inputs>
			<hash_090013e18a0adaa90c0cd54430b8909be0e61b>
				<name>Data Source [read_iops]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013b5d8eea4a300f966461035a99a08c00b|hash_00001354e6ea808d1b3f55a7d8529cb1c1d379|hash_0000130a60345408647ac6a8f14907ce30340e|hash_00001333773ed1458899c28758abd547d09190</items>
			</hash_090013e18a0adaa90c0cd54430b8909be0e61b>
			<hash_0900135bf24e5bab9c41bc51f6ccfbf56b0589>
				<name>Data Source [write_iops]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013b4e9ad69b5e3a717fa555c69248bb5a0|hash_0000132d87b039ec7f538be5b8f0581b4e0fed|hash_000013c16e535cf5b6d360ebbed0aa5e46580c|hash_000013a096fa76d0a159154590d270f810f6dc</items>
			</hash_0900135bf24e5bab9c41bc51f6ccfbf56b0589>
		</inputs>
	</hash_000013839a4773c29fe6c5dbe03494083916fc>
	<hash_00001378d9b5a5d3f6fecd6803bb47198eee88>
		<name>Percona RDS Disk Latency (ms) GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Disk Latency (ms)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000139a2b2fb23c9e4f05826b44046cab93cf>
				<task_item_id>hash_080013387b5cf4ec7b8575e0e4d079cca6e866</task_item_id>
				<color_id>75637E</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Read Latency</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000139a2b2fb23c9e4f05826b44046cab93cf>
			<hash_1000139dee57ff3f8c1b55ec88e20157daf023>
				<task_item_id>hash_080013387b5cf4ec7b8575e0e4d079cca6e866</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000139dee57ff3f8c1b55ec88e20157daf023>
			<hash_10001353f62366b17ac41c64a999800ec20075>
				<task_item_id>hash_080013387b5cf4ec7b8575e0e4d079cca6e866</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001353f62366b17ac41c64a999800ec20075>
			<hash_1000131efc9c6f2d413414e66026d6d11a1b73>
				<task_item_id>hash_080013387b5cf4ec7b8575e0e4d079cca6e866</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000131efc9c6f2d413414e66026d6d11a1b73>
			<hash_100013e5fab775d5031fe4709fbbfc4a352f7d>
				<task_item_id>hash_080013cea2a269772ae717b7d51727ddbebd21</task_item_id>
				<color_id>81BFE0</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500134281cf63dfde6f44b46a59f022cf82b2</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Write Latency</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013e5fab775d5031fe4709fbbfc4a352f7d>
			<hash_1000133632a94db949aa200fe09b8087d4b564>
				<task_item_id>hash_080013cea2a269772ae717b7d51727ddbebd21</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000133632a94db949aa200fe09b8087d4b564>
			<hash_1000137524e17fa07a22e22978ab26664e9103>
				<task_item_id>hash_080013cea2a269772ae717b7d51727ddbebd21</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000137524e17fa07a22e22978ab26664e9103>
			<hash_1000130dcb235d11313ffcd49df79ce320b5bf>
				<task_item_id>hash_080013cea2a269772ae717b7d51727ddbebd21</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000130dcb235d11313ffcd49df79ce320b5bf>
		</items>
		<inputs>
			<hash_090013975722587e7a3f86b2c758d68a80545f>
				<name>Data Source [read_latency]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000139a2b2fb23c9e4f05826b44046cab93cf|hash_0000139dee57ff3f8c1b55ec88e20157daf023|hash_00001353f62366b17ac41c64a999800ec20075|hash_0000131efc9c6f2d413414e66026d6d11a1b73</items>
			</hash_090013975722587e7a3f86b2c758d68a80545f>
			<hash_0900135193bcb1d29fb2883489849b4d956438>
				<name>Data Source [write_latency]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013e5fab775d5031fe4709fbbfc4a352f7d|hash_0000133632a94db949aa200fe09b8087d4b564|hash_0000137524e17fa07a22e22978ab26664e9103|hash_0000130dcb235d11313ffcd49df79ce320b5bf</items>
			</hash_0900135193bcb1d29fb2883489849b4d956438>
		</inputs>
	</hash_00001378d9b5a5d3f6fecd6803bb47198eee88>
	<hash_000013cb8a7f0a8b6a567fc88965da964f5268>
		<name>Percona RDS Disk Throughput GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - RDS Disk Throughput</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013cd59560bda9e55e12a2d271b3ac1758f>
				<task_item_id>hash_0800137d09e383209f7289902dfae7f27b28bf</task_item_id>
				<color_id>755E5E</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Read Throughput</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013cd59560bda9e55e12a2d271b3ac1758f>
			<hash_1000135994c9957b83027bd8bcfb9771f3abf0>
				<task_item_id>hash_0800137d09e383209f7289902dfae7f27b28bf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000135994c9957b83027bd8bcfb9771f3abf0>
			<hash_100013453d120b78cceacc8175d57235864948>
				<task_item_id>hash_0800137d09e383209f7289902dfae7f27b28bf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013453d120b78cceacc8175d57235864948>
			<hash_1000135abff49dd729f9c7937cff5ef0c96025>
				<task_item_id>hash_0800137d09e383209f7289902dfae7f27b28bf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000135abff49dd729f9c7937cff5ef0c96025>
			<hash_100013a241040a0b773dbe9b21091430716724>
				<task_item_id>hash_0800132392b2054d88b4f96753b47bb3a010ed</task_item_id>
				<color_id>C02942</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500134281cf63dfde6f44b46a59f022cf82b2</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Write Throughput</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013a241040a0b773dbe9b21091430716724>
			<hash_100013b9947f7803439c0afbff130e943e9f1a>
				<task_item_id>hash_0800132392b2054d88b4f96753b47bb3a010ed</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013b9947f7803439c0afbff130e943e9f1a>
			<hash_1000139903b1a36ee4fb4ee084e6c2110fb263>
				<task_item_id>hash_0800132392b2054d88b4f96753b47bb3a010ed</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000139903b1a36ee4fb4ee084e6c2110fb263>
			<hash_1000134098c6f494de481a27c5d0a4f07a0bb5>
				<task_item_id>hash_0800132392b2054d88b4f96753b47bb3a010ed</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000134098c6f494de481a27c5d0a4f07a0bb5>
		</items>
		<inputs>
			<hash_090013eafe3dc1ecf5ebc651297a5405445a17>
				<name>Data Source [read_throughput]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013cd59560bda9e55e12a2d271b3ac1758f|hash_0000135994c9957b83027bd8bcfb9771f3abf0|hash_000013453d120b78cceacc8175d57235864948|hash_0000135abff49dd729f9c7937cff5ef0c96025</items>
			</hash_090013eafe3dc1ecf5ebc651297a5405445a17>
			<hash_090013e0c4ebc09d15223459ca87bf5870b798>
				<name>Data Source [write_throughput]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013a241040a0b773dbe9b21091430716724|hash_000013b9947f7803439c0afbff130e943e9f1a|hash_0000139903b1a36ee4fb4ee084e6c2110fb263|hash_0000134098c6f494de481a27c5d0a4f07a0bb5</items>
			</hash_090013e0c4ebc09d15223459ca87bf5870b798>
		</inputs>
	</hash_000013cb8a7f0a8b6a567fc88965da964f5268>
	<hash_010013e03c8e82b192dffbccb7258730114e82>
		<name>Percona RDS Binlog Disk Usage DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Binlog Disk Usage</name>
			<data_input_id>hash_030013d08c19eeaae30f95cef4cf5bdc4c3187</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013729129dea15d64a72219a5043d238092>
				<t_data_source_name></t_data_source_name>
				<data_source_name>binlog_disk_usage</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013f84001c7839bc479553698dc517882f9</data_input_field_id>
			</hash_080013729129dea15d64a72219a5043d238092>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001371f5a25c706db3040c26bf5bbb33486d</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013e03c8e82b192dffbccb7258730114e82>
	<hash_01001369feec4991549892c15693c049976e62>
		<name>Percona RDS CPU Utilization DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS CPU Utilization</name>
			<data_input_id>hash_030013799f2eca560c7c9c68d7953af63169e5</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013da3b70b5bbf31c436d6dda4a468bc31d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>utilization</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013f3dce023d340333c76108ac9b844553c</data_input_field_id>
			</hash_080013da3b70b5bbf31c436d6dda4a468bc31d>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700137cba11fc192d8ba1613e3bb605a3409b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_01001369feec4991549892c15693c049976e62>
	<hash_0100133cc221caaca52c53de9ccdbb33759736>
		<name>Percona RDS Database Connections DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Database Connections</name>
			<data_input_id>hash_030013db09d5d213936e35651a8f9ac8501bdc</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013f9ad49bc2fb154d488ea9d8b10d91924>
				<t_data_source_name></t_data_source_name>
				<data_source_name>connections</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013f96375b262c8b68778149b958e875ae6</data_input_field_id>
			</hash_080013f9ad49bc2fb154d488ea9d8b10d91924>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001375a9dc0b0b26ccd22969300bb68e50bf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100133cc221caaca52c53de9ccdbb33759736>
	<hash_010013b07b85cd06e20f34f632a6ab2fa78426>
		<name>Percona RDS Disk Queue Depth DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Disk Queue Depth</name>
			<data_input_id>hash_0300135d1fe126bcc1c09215d0f4b18c3179cb</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013aac78576e9df13fd9381bcd80ad836d3>
				<t_data_source_name></t_data_source_name>
				<data_source_name>disk_queue_depth</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013af70294a98940d95b4d563d0b452c994</data_input_field_id>
			</hash_080013aac78576e9df13fd9381bcd80ad836d3>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001318987b5ccb92e58ed1db6a0702f656fe</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013b07b85cd06e20f34f632a6ab2fa78426>
	<hash_0100135a6ec499d9626f67013ea5bbbd9b37bd>
		<name>Percona RDS Replica Lag DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Replica Lag</name>
			<data_input_id>hash_030013a683856eb490f8ae42e3c40d32ac453b</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013a0b82e53025e622d3e304c9d612553e1>
				<t_data_source_name></t_data_source_name>
				<data_source_name>replica_lag</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700134437ca5573f97abf9e802785474b9cce</data_input_field_id>
			</hash_080013a0b82e53025e622d3e304c9d612553e1>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013ded13dd056c77324cff65c8d4f940ced</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100135a6ec499d9626f67013ea5bbbd9b37bd>
	<hash_010013b5c871240ccbdf8f29c71276e3d2bd60>
		<name>Percona RDS Memory DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Memory</name>
			<data_input_id>hash_030013b840ed335ea9e3a37c70cd76513f2648</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013743d85c882436931a4d327502c444b85>
				<t_data_source_name></t_data_source_name>
				<data_source_name>total_memory</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013bacc064e229402d5b6ba515923d54e0b</data_input_field_id>
			</hash_080013743d85c882436931a4d327502c444b85>
			<hash_080013a7243984a30a5e873549069e0efc4435>
				<t_data_source_name></t_data_source_name>
				<data_source_name>used_memory</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013d1b91057a9df70006c3bbe488427e958</data_input_field_id>
			</hash_080013a7243984a30a5e873549069e0efc4435>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001333961fdcb61b20d1c0939eabb6bb43aa</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013b5c871240ccbdf8f29c71276e3d2bd60>
	<hash_0100134bc5aa00d4c9bf970d6224a7bed59b06>
		<name>Percona RDS Storage Space DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Storage Space</name>
			<data_input_id>hash_030013d3b1daeb8e4739eb0c059865a3476856</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800130e63935883d0e331354d23ca7f68b136>
				<t_data_source_name></t_data_source_name>
				<data_source_name>total_space</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013083e9569124218902b0cf59e4d932d18</data_input_field_id>
			</hash_0800130e63935883d0e331354d23ca7f68b136>
			<hash_08001344d4db8d7e97af7f8d739600a50bce8c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>used_space</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013dd9c4c4457d1ba587c4b44884c36b823</data_input_field_id>
			</hash_08001344d4db8d7e97af7f8d739600a50bce8c>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013e239266b58bc425d1f8cb74694ce435b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100134bc5aa00d4c9bf970d6224a7bed59b06>
	<hash_010013ef75d8c47a5b25837aac6b8fed61fdb4>
		<name>Percona RDS Swap Usage DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Swap Usage</name>
			<data_input_id>hash_030013d0d5c502b4e18bfffee751b5cd1eaeef</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013151289532c2212ecf388fa7fc0d615b8>
				<t_data_source_name></t_data_source_name>
				<data_source_name>swap_usage</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139b8cafdc82620c4aefd817bed8901c33</data_input_field_id>
			</hash_080013151289532c2212ecf388fa7fc0d615b8>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001323131566bf962ee37019b19611fbaf76</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013ef75d8c47a5b25837aac6b8fed61fdb4>
	<hash_010013690d1415c56ffeca296a2ca961b14b4a>
		<name>Percona RDS Disk IOPS DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Disk IOPS</name>
			<data_input_id>hash_0300134c50de956385583a7d2c31ef53579c3d</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013c3b5075840881eb2568ce6c7b07cbf78>
				<t_data_source_name></t_data_source_name>
				<data_source_name>write_iops</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700130778f413bfecd7e3d2b7e53e9b7d1d30</data_input_field_id>
			</hash_080013c3b5075840881eb2568ce6c7b07cbf78>
			<hash_08001313e420788ddd69025c936a69c75133a1>
				<t_data_source_name></t_data_source_name>
				<data_source_name>read_iops</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013da2b79b87db0418645905b3d8cd965b6</data_input_field_id>
			</hash_08001313e420788ddd69025c936a69c75133a1>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013c6167442c647261826cabbb1e28a5001</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013690d1415c56ffeca296a2ca961b14b4a>
	<hash_0100133e81c171c3e352237afd013d080ea2d0>
		<name>Percona RDS Disk Latency (ms) DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Disk Latency (ms)</name>
			<data_input_id>hash_03001382f672e952cdda3c19c3ad65d0a3429c</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013cea2a269772ae717b7d51727ddbebd21>
				<t_data_source_name></t_data_source_name>
				<data_source_name>write_latency</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013ee20f91078eb17953a91f9e74a71d9d1</data_input_field_id>
			</hash_080013cea2a269772ae717b7d51727ddbebd21>
			<hash_080013387b5cf4ec7b8575e0e4d079cca6e866>
				<t_data_source_name></t_data_source_name>
				<data_source_name>read_latency</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700138960cf3c4ea37743740d56b2ba6b6593</data_input_field_id>
			</hash_080013387b5cf4ec7b8575e0e4d079cca6e866>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013525d0d44c736e12a65e1e0fb72521262</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100133e81c171c3e352237afd013d080ea2d0>
	<hash_010013e476c26ed12f80cf930a83bbd98f12cf>
		<name>Percona RDS Disk Throughput DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - RDS Disk Throughput</name>
			<data_input_id>hash_0300139737edb597d0a8329ad76c3149adeebc</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800132392b2054d88b4f96753b47bb3a010ed>
				<t_data_source_name></t_data_source_name>
				<data_source_name>write_throughput</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001358bc74ba5ca40cbb211fe9423a86ebe6</data_input_field_id>
			</hash_0800132392b2054d88b4f96753b47bb3a010ed>
			<hash_0800137d09e383209f7289902dfae7f27b28bf>
				<t_data_source_name></t_data_source_name>
				<data_source_name>read_throughput</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700136a33e92ba50edcf1c4da6ddcdb029445</data_input_field_id>
			</hash_0800137d09e383209f7289902dfae7f27b28bf>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700131238e096d9de683ef775f96fe1e32018</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013e476c26ed12f80cf930a83bbd98f12cf>
	<hash_030013d08c19eeaae30f95cef4cf5bdc4c3187>
		<name>Percona Get RDS Stats/BinLogDiskUsage/RDS Binlog Disk Usage IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=BinLogDiskUsage</input_string>
		<fields>
			<hash_07001371f5a25c706db3040c26bf5bbb33486d>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001371f5a25c706db3040c26bf5bbb33486d>
			<hash_070013f84001c7839bc479553698dc517882f9>
				<name>Binlog Disk Usage</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gg</data_name>
			</hash_070013f84001c7839bc479553698dc517882f9>
		</fields>
	</hash_030013d08c19eeaae30f95cef4cf5bdc4c3187>
	<hash_030013799f2eca560c7c9c68d7953af63169e5>
		<name>Percona Get RDS Stats/CPUUtilization/RDS CPU Utilization IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=CPUUtilization</input_string>
		<fields>
			<hash_0700137cba11fc192d8ba1613e3bb605a3409b>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700137cba11fc192d8ba1613e3bb605a3409b>
			<hash_070013f3dce023d340333c76108ac9b844553c>
				<name>Utilization</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gh</data_name>
			</hash_070013f3dce023d340333c76108ac9b844553c>
		</fields>
	</hash_030013799f2eca560c7c9c68d7953af63169e5>
	<hash_030013db09d5d213936e35651a8f9ac8501bdc>
		<name>Percona Get RDS Stats/DatabaseConnections/RDS Database Connections IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=DatabaseConnections</input_string>
		<fields>
			<hash_07001375a9dc0b0b26ccd22969300bb68e50bf>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001375a9dc0b0b26ccd22969300bb68e50bf>
			<hash_070013f96375b262c8b68778149b958e875ae6>
				<name>Connections</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gi</data_name>
			</hash_070013f96375b262c8b68778149b958e875ae6>
		</fields>
	</hash_030013db09d5d213936e35651a8f9ac8501bdc>
	<hash_0300135d1fe126bcc1c09215d0f4b18c3179cb>
		<name>Percona Get RDS Stats/DiskQueueDepth/RDS Disk Queue Depth IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=DiskQueueDepth</input_string>
		<fields>
			<hash_07001318987b5ccb92e58ed1db6a0702f656fe>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001318987b5ccb92e58ed1db6a0702f656fe>
			<hash_070013af70294a98940d95b4d563d0b452c994>
				<name>Disk Queue Depth</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gj</data_name>
			</hash_070013af70294a98940d95b4d563d0b452c994>
		</fields>
	</hash_0300135d1fe126bcc1c09215d0f4b18c3179cb>
	<hash_030013a683856eb490f8ae42e3c40d32ac453b>
		<name>Percona Get RDS Stats/ReplicaLag/RDS Replica Lag IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=ReplicaLag</input_string>
		<fields>
			<hash_070013ded13dd056c77324cff65c8d4f940ced>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013ded13dd056c77324cff65c8d4f940ced>
			<hash_0700134437ca5573f97abf9e802785474b9cce>
				<name>Replica Lag</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gk</data_name>
			</hash_0700134437ca5573f97abf9e802785474b9cce>
		</fields>
	</hash_030013a683856eb490f8ae42e3c40d32ac453b>
	<hash_030013b840ed335ea9e3a37c70cd76513f2648>
		<name>Percona Get RDS Stats/FreeableMemory/RDS Memory IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=FreeableMemory</input_string>
		<fields>
			<hash_07001333961fdcb61b20d1c0939eabb6bb43aa>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001333961fdcb61b20d1c0939eabb6bb43aa>
			<hash_070013bacc064e229402d5b6ba515923d54e0b>
				<name>Total Memory</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gn</data_name>
			</hash_070013bacc064e229402d5b6ba515923d54e0b>
			<hash_070013d1b91057a9df70006c3bbe488427e958>
				<name>Used Memory</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gm</data_name>
			</hash_070013d1b91057a9df70006c3bbe488427e958>
		</fields>
	</hash_030013b840ed335ea9e3a37c70cd76513f2648>
	<hash_030013d3b1daeb8e4739eb0c059865a3476856>
		<name>Percona Get RDS Stats/FreeStorageSpace/RDS Storage Space IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=FreeStorageSpace</input_string>
		<fields>
			<hash_070013e239266b58bc425d1f8cb74694ce435b>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013e239266b58bc425d1f8cb74694ce435b>
			<hash_070013083e9569124218902b0cf59e4d932d18>
				<name>Total Space</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gp</data_name>
			</hash_070013083e9569124218902b0cf59e4d932d18>
			<hash_070013dd9c4c4457d1ba587c4b44884c36b823>
				<name>Used Space</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>go</data_name>
			</hash_070013dd9c4c4457d1ba587c4b44884c36b823>
		</fields>
	</hash_030013d3b1daeb8e4739eb0c059865a3476856>
	<hash_030013d0d5c502b4e18bfffee751b5cd1eaeef>
		<name>Percona Get RDS Stats/SwapUsage/RDS Swap Usage IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=SwapUsage</input_string>
		<fields>
			<hash_07001323131566bf962ee37019b19611fbaf76>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001323131566bf962ee37019b19611fbaf76>
			<hash_0700139b8cafdc82620c4aefd817bed8901c33>
				<name>Swap Usage</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gl</data_name>
			</hash_0700139b8cafdc82620c4aefd817bed8901c33>
		</fields>
	</hash_030013d0d5c502b4e18bfffee751b5cd1eaeef>
	<hash_0300134c50de956385583a7d2c31ef53579c3d>
		<name>Percona Get RDS Stats/DiskIOPS/RDS Disk IOPS IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=ReadIOPS,WriteIOPS</input_string>
		<fields>
			<hash_070013c6167442c647261826cabbb1e28a5001>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013c6167442c647261826cabbb1e28a5001>
			<hash_0700130778f413bfecd7e3d2b7e53e9b7d1d30>
				<name>Write Iops</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gr</data_name>
			</hash_0700130778f413bfecd7e3d2b7e53e9b7d1d30>
			<hash_070013da2b79b87db0418645905b3d8cd965b6>
				<name>Read Iops</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gq</data_name>
			</hash_070013da2b79b87db0418645905b3d8cd965b6>
		</fields>
	</hash_0300134c50de956385583a7d2c31ef53579c3d>
	<hash_03001382f672e952cdda3c19c3ad65d0a3429c>
		<name>Percona Get RDS Stats/DiskLatency/RDS Disk Latency (ms) IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=ReadLatency,WriteLatency</input_string>
		<fields>
			<hash_070013525d0d44c736e12a65e1e0fb72521262>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013525d0d44c736e12a65e1e0fb72521262>
			<hash_070013ee20f91078eb17953a91f9e74a71d9d1>
				<name>Write Latency</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gt</data_name>
			</hash_070013ee20f91078eb17953a91f9e74a71d9d1>
			<hash_0700138960cf3c4ea37743740d56b2ba6b6593>
				<name>Read Latency</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gs</data_name>
			</hash_0700138960cf3c4ea37743740d56b2ba6b6593>
		</fields>
	</hash_03001382f672e952cdda3c19c3ad65d0a3429c>
	<hash_0300139737edb597d0a8329ad76c3149adeebc>
		<name>Percona Get RDS Stats/DiskThroughput/RDS Disk Throughput IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_cacti&gt;/scripts/ss_get_rds_stats.py --ident=&lt;hostname&gt; --metric=ReadThroughput,WriteThroughput</input_string>
		<fields>
			<hash_0700131238e096d9de683ef775f96fe1e32018>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700131238e096d9de683ef775f96fe1e32018>
			<hash_07001358bc74ba5ca40cbb211fe9423a86ebe6>
				<name>Write Throughput</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gv</data_name>
			</hash_07001358bc74ba5ca40cbb211fe9423a86ebe6>
			<hash_0700136a33e92ba50edcf1c4da6ddcdb029445>
				<name>Read Throughput</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gu</data_name>
			</hash_0700136a33e92ba50edcf1c4da6ddcdb029445>
		</fields>
	</hash_0300139737edb597d0a8329ad76c3149adeebc>
	<hash_060013dd8bace85b2a47b7cdf8926b84954dc2>
		<name>Percona Amazon RDS Server Checksum 1cb1c9668da19c43c922e9890d498f7c</name>
		<gprint_text>1cb1c9668da19c43c922e9890d498f7c</gprint_text>
	</hash_060013dd8bace85b2a47b7cdf8926b84954dc2>
	<hash_060013419c461546f918cce3704fbbab666039>
		<name>Percona Amazon RDS Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_060013419c461546f918cce3704fbbab666039>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
