<cacti>	
	<hash_04002496962f601f431a22a513307bf76b70e1>
		<name>SNMP_Informant_Standard - Memory Statistics</name>
		<description>Query Memory Statistics</description>
		<xml_path>&lt;path_cacti&gt;/resource/snmp_queries/snmp_informant_standard_memory.xml</xml_path>
		<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
		<graphs>
			<hash_11002427216b45c81063ab9a0ed08048319f25>
				<name>Memory Stats (Usage)</name>
				<graph_template_id>hash_000024a685715cc39ded4bd336f8329f6970d5</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>sinfMemComBytes</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_0800248fdba7964ba977410e5c7d21ee89dc7b</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>sinfMemPNonpagedByt</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_08002462724f2664e60e1d005032f5f0935f03</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>sinfMemAvailBytes</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_080024c483352c1e20ef5a776706e1219d5e98</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>sinfMemPPagedBytes</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_0800247a79e078d7ada819ba31a38c7c5a9494</data_template_rrd_id>
					</item_003>
					<item_004>
						<snmp_field_name>sinfMemPPagedResByt</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_08002450bccc8795800bc150734c5d339ab5bc</data_template_rrd_id>
					</item_004>
					<item_005>
						<snmp_field_name>sinfMemSysCodeResB</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_080024339309d060537591976905907ac2174a</data_template_rrd_id>
					</item_005>
					<item_006>
						<snmp_field_name>sinfMemSysCodeTotB</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_0800248a296b2afe31136ebf1e9966e789518f</data_template_rrd_id>
					</item_006>
					<item_007>
						<snmp_field_name>sinfMemSysCacheResB</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_0800249c3c63e7690862f4e4a458f4142f22de</data_template_rrd_id>
					</item_007>
					<item_008>
						<snmp_field_name>sinfMemCacheBytesPk</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_0800247b25d41ffdd1f370c1c86d2592796332</data_template_rrd_id>
					</item_008>
					<item_009>
						<snmp_field_name>sinfMemSysDrvResB</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_0800246b46a107c47bc9e73b19f53f31cc839d</data_template_rrd_id>
					</item_009>
					<item_010>
						<snmp_field_name>sinfMemSysDrvTotB</snmp_field_name>
						<data_template_id>hash_010024c719e58e1f9eb4dde11f86ed92594a74</data_template_id>
						<data_template_rrd_id>hash_080024a4fa65d299d9dc6d6868940fb73df0fe</data_template_rrd_id>
					</item_010>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_11002427216b45c81063ab9a0ed08048319f25>
			<hash_11002496ed1bfce95a7215ad2fcf75d7ec51f8>
				<name>Memory Stats (Paging)</name>
				<graph_template_id>hash_000024b1e1c00a9e4ee316a5c684f13bb4551f</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>sinfMemPagesOutPS</snmp_field_name>
						<data_template_id>hash_0100240d36e2e5894f98e6b9bc227a052a6192</data_template_id>
						<data_template_rrd_id>hash_080024038c535782a88b446a63894728498740</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>sinfMemPagesInputPS</snmp_field_name>
						<data_template_id>hash_0100240d36e2e5894f98e6b9bc227a052a6192</data_template_id>
						<data_template_rrd_id>hash_080024d27d15d407d3373e24ecadf7f109f391</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>sinfMemPageFaultsPS</snmp_field_name>
						<data_template_id>hash_0100240d36e2e5894f98e6b9bc227a052a6192</data_template_id>
						<data_template_rrd_id>hash_080024b60d39078698ec34345089083da3ea5a</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>sinfMemPagesPerSec</snmp_field_name>
						<data_template_id>hash_0100240d36e2e5894f98e6b9bc227a052a6192</data_template_id>
						<data_template_rrd_id>hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091</data_template_rrd_id>
					</item_003>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_11002496ed1bfce95a7215ad2fcf75d7ec51f8>
		</graphs>
	</hash_04002496962f601f431a22a513307bf76b70e1>
	<hash_030024bf566c869ac6443b0c75d1c32b5a350e>
		<name>Get SNMP Data (Indexed)</name>
		<type_id>3</type_id>
		<input_string></input_string>
		<fields>
			<hash_070024617cdc8a230615e59f06f361ef6e7728>
				<name>SNMP IP Address</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>management_ip</data_name>
			</hash_070024617cdc8a230615e59f06f361ef6e7728>
			<hash_070024acb449d1451e8a2a655c2c99d31142c7>
				<name>SNMP Community</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_community</type_code>
				<input_output>in</input_output>
				<data_name>snmp_community</data_name>
			</hash_070024acb449d1451e8a2a655c2c99d31142c7>
			<hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
				<name>SNMP Username (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_username</type_code>
				<input_output>in</input_output>
				<data_name>snmp_username</data_name>
			</hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
			<hash_0700241cc1493a6781af2c478fa4de971531cf>
				<name>SNMP Password (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_password</type_code>
				<input_output>in</input_output>
				<data_name>snmp_password</data_name>
			</hash_0700241cc1493a6781af2c478fa4de971531cf>
			<hash_070024b5c23f246559df38662c255f4aa21d6b>
				<name>SNMP Version (1, 2, or 3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_version</type_code>
				<input_output>in</input_output>
				<data_name>snmp_version</data_name>
			</hash_070024b5c23f246559df38662c255f4aa21d6b>
			<hash_0700246027a919c7c7731fbe095b6f53ab127b>
				<name>Index Type</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>index_type</type_code>
				<input_output>in</input_output>
				<data_name>index_type</data_name>
			</hash_0700246027a919c7c7731fbe095b6f53ab127b>
			<hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
				<name>Index Value</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>index_value</type_code>
				<input_output>in</input_output>
				<data_name>index_value</data_name>
			</hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
			<hash_070024e6deda7be0f391399c5130e7c4a48b28>
				<name>Output Type ID</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>output_type</type_code>
				<input_output>in</input_output>
				<data_name>output_type</data_name>
			</hash_070024e6deda7be0f391399c5130e7c4a48b28>
			<hash_070024c1f36ee60c3dc98945556d57f26e475b>
				<name>SNMP Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_070024c1f36ee60c3dc98945556d57f26e475b>
			<hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
				<name>SNMP Authenticaion Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_auth_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_auth_protocol</data_name>
			</hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
			<hash_0700246b13ac0a0194e171d241d4b06f913158>
				<name>SNMP Privacy Passphrase (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_passphrase</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_passphrase</data_name>
			</hash_0700246b13ac0a0194e171d241d4b06f913158>
			<hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
				<name>SNMP Privacy Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_protocol</data_name>
			</hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
			<hash_0700245240353b8f7f259acaf30e6229bc14e7>
				<name>Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_0700245240353b8f7f259acaf30e6229bc14e7>
		</fields>
	</hash_030024bf566c869ac6443b0c75d1c32b5a350e>
	<hash_000024a685715cc39ded4bd336f8329f6970d5>
		<name>SNMP_Informant_Standard - Memory Statistics (Usage)</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| Memory (Usage)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Memory (Usage)</vertical_label>
		</graph>
		<items>
			<hash_100024917e9a390542abe48badb78add9d2788>
				<task_item_id>hash_080024c483352c1e20ef5a776706e1219d5e98</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500248abeb3e0b2896ff18355f924ad25619f</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Available Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100024917e9a390542abe48badb78add9d2788>
			<hash_100024f832dc23e6de2d6d005e70719e6ce6b5>
				<task_item_id>hash_080024c483352c1e20ef5a776706e1219d5e98</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_0500248abeb3e0b2896ff18355f924ad25619f</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100024f832dc23e6de2d6d005e70719e6ce6b5>
			<hash_100024099b9d644dde99d503a980c0aee0b8e6>
				<task_item_id>hash_080024c483352c1e20ef5a776706e1219d5e98</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500248abeb3e0b2896ff18355f924ad25619f</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100024099b9d644dde99d503a980c0aee0b8e6>
			<hash_10002492311768935c7ec7e5ff00a9dfeaf591>
				<task_item_id>hash_080024c483352c1e20ef5a776706e1219d5e98</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_0500248abeb3e0b2896ff18355f924ad25619f</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10002492311768935c7ec7e5ff00a9dfeaf591>
			<hash_10002478967bbbbe086b431eda5e8456ca9a2b>
				<task_item_id>hash_0800248fdba7964ba977410e5c7d21ee89dc7b</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Committed Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10002478967bbbbe086b431eda5e8456ca9a2b>
			<hash_1000241a280da024bd6dd255a4028a8a090bbe>
				<task_item_id>hash_0800248fdba7964ba977410e5c7d21ee89dc7b</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000241a280da024bd6dd255a4028a8a090bbe>
			<hash_1000240e1c6611419bf95c1e55a35913d48d0e>
				<task_item_id>hash_0800248fdba7964ba977410e5c7d21ee89dc7b</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000240e1c6611419bf95c1e55a35913d48d0e>
			<hash_1000245d9345dec89b994e2c14cbe4a0133ce0>
				<task_item_id>hash_0800248fdba7964ba977410e5c7d21ee89dc7b</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000245d9345dec89b994e2c14cbe4a0133ce0>
			<hash_1000240af598aeb7118eb926887d515c2e45a7>
				<task_item_id>hash_08002462724f2664e60e1d005032f5f0935f03</task_item_id>
				<color_id>FF0000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Pool Nonpaged Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000240af598aeb7118eb926887d515c2e45a7>
			<hash_10002498ee979c9d3a1e047463514fd7d72cb7>
				<task_item_id>hash_08002462724f2664e60e1d005032f5f0935f03</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_10002498ee979c9d3a1e047463514fd7d72cb7>
			<hash_1000246364c248eb995cb0a99351c5c1f9b7f7>
				<task_item_id>hash_08002462724f2664e60e1d005032f5f0935f03</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000246364c248eb995cb0a99351c5c1f9b7f7>
			<hash_100024270333f987122a6c2086b587f8157f38>
				<task_item_id>hash_08002462724f2664e60e1d005032f5f0935f03</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100024270333f987122a6c2086b587f8157f38>
			<hash_100024d5bd01fb94c156dde32df2261f11a727>
				<task_item_id>hash_08002450bccc8795800bc150734c5d339ab5bc</task_item_id>
				<color_id>FFFF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Pool Paged Resident Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_100024d5bd01fb94c156dde32df2261f11a727>
			<hash_100024d356f4ad39f5013ab850e34ed897d490>
				<task_item_id>hash_08002450bccc8795800bc150734c5d339ab5bc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_100024d356f4ad39f5013ab850e34ed897d490>
			<hash_10002412a96abb39cb3c2f9b7f1ee4b2d79e4e>
				<task_item_id>hash_08002450bccc8795800bc150734c5d339ab5bc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_10002412a96abb39cb3c2f9b7f1ee4b2d79e4e>
			<hash_1000241111cb65cb66ff5fdb5fa96808e543f4>
				<task_item_id>hash_08002450bccc8795800bc150734c5d339ab5bc</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_1000241111cb65cb66ff5fdb5fa96808e543f4>
			<hash_100024cbd7b7ebf47443b9a79989ae7cb9dfdc>
				<task_item_id>hash_0800249c3c63e7690862f4e4a458f4142f22de</task_item_id>
				<color_id>008A6D</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>System Cache Resident Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_100024cbd7b7ebf47443b9a79989ae7cb9dfdc>
			<hash_100024e540d01bf7fa33a1adfc63089118ad09>
				<task_item_id>hash_0800249c3c63e7690862f4e4a458f4142f22de</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_100024e540d01bf7fa33a1adfc63089118ad09>
			<hash_100024211b7e38b396bf7509da3d8c97a3ae6d>
				<task_item_id>hash_0800249c3c63e7690862f4e4a458f4142f22de</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_100024211b7e38b396bf7509da3d8c97a3ae6d>
			<hash_100024806c8f346e53f509e29cc3f30f7a1c00>
				<task_item_id>hash_0800249c3c63e7690862f4e4a458f4142f22de</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_100024806c8f346e53f509e29cc3f30f7a1c00>
			<hash_100024301d00faf95e9d74267789595093b912>
				<task_item_id>hash_080024339309d060537591976905907ac2174a</task_item_id>
				<color_id>AAAAAA</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>System Code Resident Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>21</sequence>
			</hash_100024301d00faf95e9d74267789595093b912>
			<hash_10002442f66a693c9f0ef9a042b36787644023>
				<task_item_id>hash_080024339309d060537591976905907ac2174a</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_10002442f66a693c9f0ef9a042b36787644023>
			<hash_10002462e8659550231eda6fe2d0c685381072>
				<task_item_id>hash_080024339309d060537591976905907ac2174a</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>23</sequence>
			</hash_10002462e8659550231eda6fe2d0c685381072>
			<hash_1000241aa53eba4ed0528919c33213cfb9c411>
				<task_item_id>hash_080024339309d060537591976905907ac2174a</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>24</sequence>
			</hash_1000241aa53eba4ed0528919c33213cfb9c411>
			<hash_10002439c8cec5976dfd6357acacfd1a90a58e>
				<task_item_id>hash_0800246b46a107c47bc9e73b19f53f31cc839d</task_item_id>
				<color_id>B90054</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>System Drivers Resident Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>25</sequence>
			</hash_10002439c8cec5976dfd6357acacfd1a90a58e>
			<hash_100024e7b31b8b7bb0a92c88a61a5a72af56aa>
				<task_item_id>hash_0800246b46a107c47bc9e73b19f53f31cc839d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>26</sequence>
			</hash_100024e7b31b8b7bb0a92c88a61a5a72af56aa>
			<hash_100024d0e64c8dea7797fb274946a34a4a6f29>
				<task_item_id>hash_0800246b46a107c47bc9e73b19f53f31cc839d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>27</sequence>
			</hash_100024d0e64c8dea7797fb274946a34a4a6f29>
			<hash_10002416b48f1ec0d39fa38c1989b1916a73f2>
				<task_item_id>hash_0800246b46a107c47bc9e73b19f53f31cc839d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>28</sequence>
			</hash_10002416b48f1ec0d39fa38c1989b1916a73f2>
			<hash_100024ef37f17aa44d9b68382ccb90f9d7117b>
				<task_item_id>hash_080024a4fa65d299d9dc6d6868940fb73df0fe</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>System Drivers Total Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>29</sequence>
			</hash_100024ef37f17aa44d9b68382ccb90f9d7117b>
			<hash_1000246636bdaf6543ad47fd674c6dd38d8819>
				<task_item_id>hash_080024a4fa65d299d9dc6d6868940fb73df0fe</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>30</sequence>
			</hash_1000246636bdaf6543ad47fd674c6dd38d8819>
			<hash_1000240db7267a7032ad0576eed95984a4483c>
				<task_item_id>hash_080024a4fa65d299d9dc6d6868940fb73df0fe</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>31</sequence>
			</hash_1000240db7267a7032ad0576eed95984a4483c>
			<hash_1000244096cb02034ab591eae0e6ac757a766d>
				<task_item_id>hash_080024a4fa65d299d9dc6d6868940fb73df0fe</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>32</sequence>
			</hash_1000244096cb02034ab591eae0e6ac757a766d>
			<hash_1000248b3fa60e648a370179dca88f385219b6>
				<task_item_id>hash_0800248a296b2afe31136ebf1e9966e789518f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>System Code Total Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>33</sequence>
			</hash_1000248b3fa60e648a370179dca88f385219b6>
			<hash_1000244a990731efad6faa9091721d67ecd16a>
				<task_item_id>hash_0800248a296b2afe31136ebf1e9966e789518f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>34</sequence>
			</hash_1000244a990731efad6faa9091721d67ecd16a>
			<hash_10002406dab3919d36e77fa7d8a6e1454d5a1d>
				<task_item_id>hash_0800248a296b2afe31136ebf1e9966e789518f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>35</sequence>
			</hash_10002406dab3919d36e77fa7d8a6e1454d5a1d>
			<hash_10002462c78a2baceba06d05b2415974f85905>
				<task_item_id>hash_0800248a296b2afe31136ebf1e9966e789518f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>36</sequence>
			</hash_10002462c78a2baceba06d05b2415974f85905>
			<hash_10002476cc846c039ca0f387813b4eab8abdb9>
				<task_item_id>hash_0800247b25d41ffdd1f370c1c86d2592796332</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Cache Bytes Peak:</text_format>
				<hard_return></hard_return>
				<sequence>37</sequence>
			</hash_10002476cc846c039ca0f387813b4eab8abdb9>
			<hash_10002426400dec32f6c1af690a17e896c08f9e>
				<task_item_id>hash_0800247b25d41ffdd1f370c1c86d2592796332</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>38</sequence>
			</hash_10002426400dec32f6c1af690a17e896c08f9e>
			<hash_1000249e1c16d6b9185ee62d61d6d1f9e2a73c>
				<task_item_id>hash_0800247b25d41ffdd1f370c1c86d2592796332</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>39</sequence>
			</hash_1000249e1c16d6b9185ee62d61d6d1f9e2a73c>
			<hash_100024084e260465472f02779e7466a38d1487>
				<task_item_id>hash_0800247b25d41ffdd1f370c1c86d2592796332</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>40</sequence>
			</hash_100024084e260465472f02779e7466a38d1487>
			<hash_1000244166cbded58312e50d7732d2152396e6>
				<task_item_id>hash_0800247a79e078d7ada819ba31a38c7c5a9494</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Pool Paged Bytes:</text_format>
				<hard_return></hard_return>
				<sequence>41</sequence>
			</hash_1000244166cbded58312e50d7732d2152396e6>
			<hash_1000241813a2c15e0349f24cff4bc751bc863c>
				<task_item_id>hash_0800247a79e078d7ada819ba31a38c7c5a9494</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>42</sequence>
			</hash_1000241813a2c15e0349f24cff4bc751bc863c>
			<hash_10002461e13a2a533c31a9f0de402cc9c7feb4>
				<task_item_id>hash_0800247a79e078d7ada819ba31a38c7c5a9494</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>43</sequence>
			</hash_10002461e13a2a533c31a9f0de402cc9c7feb4>
			<hash_1000244404dd92bfa5b0d87ffcad06783be8a6>
				<task_item_id>hash_0800247a79e078d7ada819ba31a38c7c5a9494</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>44</sequence>
			</hash_1000244404dd92bfa5b0d87ffcad06783be8a6>
		</items>
		<inputs>
			<hash_0900249d3828e30df8386fc3025dfbb9e2a351>
				<name>Data Source [sinfMemSysCodeResB]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024301d00faf95e9d74267789595093b912|hash_00002442f66a693c9f0ef9a042b36787644023|hash_00002462e8659550231eda6fe2d0c685381072|hash_0000241aa53eba4ed0528919c33213cfb9c411</items>
			</hash_0900249d3828e30df8386fc3025dfbb9e2a351>
			<hash_090024c818c0bbf38863b011ab2645fa3d2a1c>
				<name>Data Source [sinfMemSysCodeTotB]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000248b3fa60e648a370179dca88f385219b6|hash_0000244a990731efad6faa9091721d67ecd16a|hash_00002406dab3919d36e77fa7d8a6e1454d5a1d|hash_00002462c78a2baceba06d05b2415974f85905</items>
			</hash_090024c818c0bbf38863b011ab2645fa3d2a1c>
			<hash_090024c12450c0a055adadd6b0327c6947ab1e>
				<name>Data Source [sinfMemSysDrvResB]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002439c8cec5976dfd6357acacfd1a90a58e|hash_000024e7b31b8b7bb0a92c88a61a5a72af56aa|hash_000024d0e64c8dea7797fb274946a34a4a6f29|hash_00002416b48f1ec0d39fa38c1989b1916a73f2</items>
			</hash_090024c12450c0a055adadd6b0327c6947ab1e>
			<hash_09002424288a7cd27d45a3abcc66b90255668b>
				<name>Data Source [sinfMemSysDrvTotB]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024ef37f17aa44d9b68382ccb90f9d7117b|hash_0000246636bdaf6543ad47fd674c6dd38d8819|hash_0000240db7267a7032ad0576eed95984a4483c|hash_0000244096cb02034ab591eae0e6ac757a766d</items>
			</hash_09002424288a7cd27d45a3abcc66b90255668b>
			<hash_090024ee10a58483b0fd044ffcca8f57fb61fb>
				<name>Data Source [sinfMemSysCacheResB]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024cbd7b7ebf47443b9a79989ae7cb9dfdc|hash_000024e540d01bf7fa33a1adfc63089118ad09|hash_000024211b7e38b396bf7509da3d8c97a3ae6d|hash_000024806c8f346e53f509e29cc3f30f7a1c00</items>
			</hash_090024ee10a58483b0fd044ffcca8f57fb61fb>
			<hash_09002415cdd8289b0c5a53927aee296faea5ea>
				<name>Data Source [sinfMemPPagedResByt]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024d5bd01fb94c156dde32df2261f11a727|hash_000024d356f4ad39f5013ab850e34ed897d490|hash_00002412a96abb39cb3c2f9b7f1ee4b2d79e4e|hash_0000241111cb65cb66ff5fdb5fa96808e543f4</items>
			</hash_09002415cdd8289b0c5a53927aee296faea5ea>
			<hash_0900240d50ca806ac913b6090a186210d42101>
				<name>Data Source [sinfMemPPagedBytes]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000244166cbded58312e50d7732d2152396e6|hash_0000241813a2c15e0349f24cff4bc751bc863c|hash_00002461e13a2a533c31a9f0de402cc9c7feb4|hash_0000244404dd92bfa5b0d87ffcad06783be8a6</items>
			</hash_0900240d50ca806ac913b6090a186210d42101>
			<hash_090024090f16b28d8d98cc7989bf95230802b4>
				<name>Data Source [sinfMemCacheBytesPk]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002476cc846c039ca0f387813b4eab8abdb9|hash_00002426400dec32f6c1af690a17e896c08f9e|hash_0000249e1c16d6b9185ee62d61d6d1f9e2a73c|hash_000024084e260465472f02779e7466a38d1487</items>
			</hash_090024090f16b28d8d98cc7989bf95230802b4>
			<hash_0900240cb44f8993eb55a1b08f4f2cb46f79ba>
				<name>Data Source [sinfMemPNonpagedByt]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000240af598aeb7118eb926887d515c2e45a7|hash_00002498ee979c9d3a1e047463514fd7d72cb7|hash_0000246364c248eb995cb0a99351c5c1f9b7f7|hash_000024270333f987122a6c2086b587f8157f38</items>
			</hash_0900240cb44f8993eb55a1b08f4f2cb46f79ba>
			<hash_09002482aa11b0167ca2e2edd6c0e6725abc6c>
				<name>Data Source [sinfMemComBytes]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002478967bbbbe086b431eda5e8456ca9a2b|hash_0000241a280da024bd6dd255a4028a8a090bbe|hash_0000240e1c6611419bf95c1e55a35913d48d0e|hash_0000245d9345dec89b994e2c14cbe4a0133ce0</items>
			</hash_09002482aa11b0167ca2e2edd6c0e6725abc6c>
			<hash_090024ae8708b2c28ba95ad912730f2adf2c62>
				<name>Data Source [sinfMemAvailMB]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024917e9a390542abe48badb78add9d2788|hash_000024f832dc23e6de2d6d005e70719e6ce6b5|hash_000024099b9d644dde99d503a980c0aee0b8e6|hash_00002492311768935c7ec7e5ff00a9dfeaf591</items>
			</hash_090024ae8708b2c28ba95ad912730f2adf2c62>
		</inputs>
	</hash_000024a685715cc39ded4bd336f8329f6970d5>
	<hash_000024b1e1c00a9e4ee316a5c684f13bb4551f>
		<name>SNMP_Informant_Standard - Memory Statistics (Paging)</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| Memory (Paging)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Memory (Paging)</vertical_label>
		</graph>
		<items>
			<hash_100024357f3c83b7bfa67e92fbb807523faf36>
				<task_item_id>hash_080024d27d15d407d3373e24ecadf7f109f391</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Pages Input/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100024357f3c83b7bfa67e92fbb807523faf36>
			<hash_10002425ec96592612662571391079af063c28>
				<task_item_id>hash_080024d27d15d407d3373e24ecadf7f109f391</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10002425ec96592612662571391079af063c28>
			<hash_10002414416071889217ded989c5cc28078b03>
				<task_item_id>hash_080024d27d15d407d3373e24ecadf7f109f391</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10002414416071889217ded989c5cc28078b03>
			<hash_10002464a8a9ce3d6958f110f37c8eb4b208f5>
				<task_item_id>hash_080024d27d15d407d3373e24ecadf7f109f391</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10002464a8a9ce3d6958f110f37c8eb4b208f5>
			<hash_10002465095030a09e030334114fce60deadfa>
				<task_item_id>hash_080024038c535782a88b446a63894728498740</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Pages Output/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10002465095030a09e030334114fce60deadfa>
			<hash_100024b32f585dbdc513f71b58ee3393a774f6>
				<task_item_id>hash_080024038c535782a88b446a63894728498740</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100024b32f585dbdc513f71b58ee3393a774f6>
			<hash_1000245db74a5d5da154f4e6329a08805a2f9d>
				<task_item_id>hash_080024038c535782a88b446a63894728498740</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000245db74a5d5da154f4e6329a08805a2f9d>
			<hash_100024e40398c3d59f0ba93d1f97f0e57a15af>
				<task_item_id>hash_080024038c535782a88b446a63894728498740</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100024e40398c3d59f0ba93d1f97f0e57a15af>
			<hash_100024d2c3686e31219be3837ba85e838ae378>
				<task_item_id>hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091</task_item_id>
				<color_id>FFFF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Pages/Sec (Hard Page Faults):</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_100024d2c3686e31219be3837ba85e838ae378>
			<hash_100024034663e46244126930626c18feadcca9>
				<task_item_id>hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_100024034663e46244126930626c18feadcca9>
			<hash_100024e46929429e4ba4813a1d2a837485cde7>
				<task_item_id>hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_100024e46929429e4ba4813a1d2a837485cde7>
			<hash_100024e1335429da40b4cfceffa76d05b5df90>
				<task_item_id>hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100024e1335429da40b4cfceffa76d05b5df90>
			<hash_100024e40303b4d2265236daecb1a6a968b180>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Page Faults/Sec (Hard/Soft):</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_100024e40303b4d2265236daecb1a6a968b180>
			<hash_1000240c2a54ddad0ba0aa91decf321814e9ba>
				<task_item_id>hash_080024b60d39078698ec34345089083da3ea5a</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_1000240c2a54ddad0ba0aa91decf321814e9ba>
			<hash_100024d918720235cc450be791097306a178ab>
				<task_item_id>hash_080024b60d39078698ec34345089083da3ea5a</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100024d918720235cc450be791097306a178ab>
			<hash_1000248743bec276f8fa15272ad0eb23a3eacb>
				<task_item_id>hash_080024b60d39078698ec34345089083da3ea5a</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_1000248743bec276f8fa15272ad0eb23a3eacb>
			<hash_1000243a3c8e45d2e34cc5b0978c0b41cb589f>
				<task_item_id>0</task_item_id>
				<color_id>3D168B</color_id>
				<alpha>FF</alpha>
				<graph_type_id>2</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value>20</value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Pages/Sec Threshold:</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_1000243a3c8e45d2e34cc5b0978c0b41cb589f>
		</items>
		<inputs>
			<hash_090024908dbe2569bb4668cae63fd45253fbd1>
				<name>Data Source [sinfMemPagesOutPS]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002465095030a09e030334114fce60deadfa|hash_000024b32f585dbdc513f71b58ee3393a774f6|hash_0000245db74a5d5da154f4e6329a08805a2f9d|hash_000024e40398c3d59f0ba93d1f97f0e57a15af</items>
			</hash_090024908dbe2569bb4668cae63fd45253fbd1>
			<hash_090024e588b6645c7a77dc0d9b223046934d9f>
				<name>Data Source [sinfMemPageFaultsPS]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024e40303b4d2265236daecb1a6a968b180|hash_0000240c2a54ddad0ba0aa91decf321814e9ba|hash_000024d918720235cc450be791097306a178ab|hash_0000248743bec276f8fa15272ad0eb23a3eacb</items>
			</hash_090024e588b6645c7a77dc0d9b223046934d9f>
			<hash_09002470a09e0d3bebbd0665ae436f8fd4299f>
				<name>Data Source [sinfMemPagesInputPS]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024357f3c83b7bfa67e92fbb807523faf36|hash_00002425ec96592612662571391079af063c28|hash_00002414416071889217ded989c5cc28078b03|hash_00002464a8a9ce3d6958f110f37c8eb4b208f5</items>
			</hash_09002470a09e0d3bebbd0665ae436f8fd4299f>
			<hash_0900241c71145e25ddd3bb101fb13c87f863ec>
				<name>Data Source [sinfMemPagesPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024d2c3686e31219be3837ba85e838ae378|hash_000024034663e46244126930626c18feadcca9|hash_000024e46929429e4ba4813a1d2a837485cde7|hash_000024e1335429da40b4cfceffa76d05b5df90</items>
			</hash_0900241c71145e25ddd3bb101fb13c87f863ec>
		</inputs>
	</hash_000024b1e1c00a9e4ee316a5c684f13bb4551f>
	<hash_010024c719e58e1f9eb4dde11f86ed92594a74>
		<name>SNMP_Informant_Standard - Memory Stats (Usage)</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Memory Stats (Usage)</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_0800248fdba7964ba977410e5c7d21ee89dc7b>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemComBytes</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800248fdba7964ba977410e5c7d21ee89dc7b>
			<hash_08002462724f2664e60e1d005032f5f0935f03>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemPNonpagedByt</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002462724f2664e60e1d005032f5f0935f03>
			<hash_080024c483352c1e20ef5a776706e1219d5e98>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemAvailBytes</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024c483352c1e20ef5a776706e1219d5e98>
			<hash_0800247a79e078d7ada819ba31a38c7c5a9494>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemPPagedBytes</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800247a79e078d7ada819ba31a38c7c5a9494>
			<hash_08002450bccc8795800bc150734c5d339ab5bc>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemPPagedResByt</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002450bccc8795800bc150734c5d339ab5bc>
			<hash_080024339309d060537591976905907ac2174a>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemSysCodeResB</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024339309d060537591976905907ac2174a>
			<hash_0800248a296b2afe31136ebf1e9966e789518f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemSysCodeTotB</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800248a296b2afe31136ebf1e9966e789518f>
			<hash_0800249c3c63e7690862f4e4a458f4142f22de>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemSysCacheResB</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800249c3c63e7690862f4e4a458f4142f22de>
			<hash_0800247b25d41ffdd1f370c1c86d2592796332>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemCacheBytesPk</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800247b25d41ffdd1f370c1c86d2592796332>
			<hash_0800246b46a107c47bc9e73b19f53f31cc839d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemSysDrvResB</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800246b46a107c47bc9e73b19f53f31cc839d>
			<hash_080024a4fa65d299d9dc6d6868940fb73df0fe>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemSysDrvTotB</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024a4fa65d299d9dc6d6868940fb73df0fe>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_010024c719e58e1f9eb4dde11f86ed92594a74>
	<hash_0100240d36e2e5894f98e6b9bc227a052a6192>
		<name>SNMP_Informant_Standard - Memory Stats (Paging)</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Memory Stats (Paging)</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_080024038c535782a88b446a63894728498740>
				<data_source_name>sinfMemPagesOutPS</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024038c535782a88b446a63894728498740>
			<hash_080024d27d15d407d3373e24ecadf7f109f391>
				<data_source_name>sinfMemPagesInputPS</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024d27d15d407d3373e24ecadf7f109f391>
			<hash_080024b60d39078698ec34345089083da3ea5a>
				<t_data_source_name></t_data_source_name>
				<data_source_name>sinfMemPageFaultsPS</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024b60d39078698ec34345089083da3ea5a>
			<hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091>
				<data_source_name>sinfMemPagesPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024f1edb71d7cdf0c87eacb2e0fa2d2e091>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_0100240d36e2e5894f98e6b9bc227a052a6192>
	<hash_150024c21df5178e5c955013591239eb0afd46>
		<name>Daily (5 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024c21df5178e5c955013591239eb0afd46>
	<hash_1500240d9c0af8b8acdc7807943937b3208e29>
		<name>Weekly (30 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500240d9c0af8b8acdc7807943937b3208e29>
	<hash_1500246fc2d038fb42950138b0ce3e9874cc60>
		<name>Monthly (2 Hour Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500246fc2d038fb42950138b0ce3e9874cc60>
	<hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
		<name>Yearly (1 Day Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
	<hash_0500248abeb3e0b2896ff18355f924ad25619f>
		<name>multiply by 1024, multiply by 1024</name>
		<items>
			<hash_140024c47aff04bd9775edaeb293eedf7877bd>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140024c47aff04bd9775edaeb293eedf7877bd>
			<hash_1400247a65d068f15d779ba32728dba4d9e63b>
				<sequence>2</sequence>
				<type>6</type>
				<value>1024</value>
			</hash_1400247a65d068f15d779ba32728dba4d9e63b>
			<hash_140024752c66095a8397f86f5a22faf4fe03ca>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140024752c66095a8397f86f5a22faf4fe03ca>
			<hash_140024f1fd0a656c42174f0dc9c0d34226af83>
				<sequence>4</sequence>
				<type>6</type>
				<value>1024</value>
			</hash_140024f1fd0a656c42174f0dc9c0d34226af83>
			<hash_140024000b2f8e346ae1ca19dc743edfd88de2>
				<sequence>5</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140024000b2f8e346ae1ca19dc743edfd88de2>
		</items>
	</hash_0500248abeb3e0b2896ff18355f924ad25619f>
	<hash_060024e9c43831e54eca8069317a2ce8c6f751>
		<name>Normal</name>
		<gprint_text>%8.2lf %s</gprint_text>
	</hash_060024e9c43831e54eca8069317a2ce8c6f751>
	<hash_0600240fc59bce05cf15fda6352e4d6eb73599>
		<name>Decimals</name>
		<gprint_text>%8.3lf</gprint_text>
	</hash_0600240fc59bce05cf15fda6352e4d6eb73599>
</cacti>