<cacti>
	<hash_020013964285787036ca169bbc3e8d6b4bd9ca>
		<name>Percona MongoDB Server HT</name>
		<graph_templates>hash_000013601d44d082198ea8b27a67674bdb0c6a|hash_000013c558581ad6226c7c910c561dc6a0ab81|hash_0000138bc802a80c9321e8095e72c3171830a2|hash_0000131b1e03088fbd221860fef727c090113a|hash_00001366e9ab65f91018b77dd5ed335d9090f5|hash_00001393989b7f3472d222a7093db6468b0c23</graph_templates>
		<data_queries></data_queries>
	</hash_020013964285787036ca169bbc3e8d6b4bd9ca>
	<hash_000013601d44d082198ea8b27a67674bdb0c6a>
		<name>Percona MongoDB Connections GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - MongoDB Connections</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013ebced2b4f26ed1495c63fc2f7ab722c4>
				<task_item_id>hash_0800134ecb4eed3038865504c8fdd63ba5c5dc</task_item_id>
				<color_id>9B2B1B</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Connected Clients</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013ebced2b4f26ed1495c63fc2f7ab722c4>
			<hash_1000135ac85f5f172ad4648d65036bd2e10f36>
				<task_item_id>hash_0800134ecb4eed3038865504c8fdd63ba5c5dc</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000135ac85f5f172ad4648d65036bd2e10f36>
			<hash_1000132574cc7c7297d62a575944f1b66470d4>
				<task_item_id>hash_0800134ecb4eed3038865504c8fdd63ba5c5dc</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000132574cc7c7297d62a575944f1b66470d4>
			<hash_1000134b9c36371617d559727f797c166d527d>
				<task_item_id>hash_0800134ecb4eed3038865504c8fdd63ba5c5dc</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000134b9c36371617d559727f797c166d527d>
		</items>
		<inputs>
			<hash_090013ab2cbe79b01557c36352afd1eaf001ae>
				<name>Data Source [MONGODB_cnctd_clnts]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013ebced2b4f26ed1495c63fc2f7ab722c4|hash_0000135ac85f5f172ad4648d65036bd2e10f36|hash_0000132574cc7c7297d62a575944f1b66470d4|hash_0000134b9c36371617d559727f797c166d527d</items>
			</hash_090013ab2cbe79b01557c36352afd1eaf001ae>
		</inputs>
	</hash_000013601d44d082198ea8b27a67674bdb0c6a>
	<hash_000013c558581ad6226c7c910c561dc6a0ab81>
		<name>Percona MongoDB Memory GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - MongoDB Memory</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013d1144a397ca56ce5efd03a02e350aef3>
				<task_item_id>hash_0800131e9933298c3edec210c84c0beb7a34d5</task_item_id>
				<color_id>3B7AD9</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Used Virtual Memory</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013d1144a397ca56ce5efd03a02e350aef3>
			<hash_100013eb6f5f040392edb6a53dc395c5b1c539>
				<task_item_id>hash_0800131e9933298c3edec210c84c0beb7a34d5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013eb6f5f040392edb6a53dc395c5b1c539>
			<hash_100013ee619833f2aae85aa1e03296769deb6e>
				<task_item_id>hash_0800131e9933298c3edec210c84c0beb7a34d5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013ee619833f2aae85aa1e03296769deb6e>
			<hash_100013069fca9b9c76ac88cb1735e6761dfea4>
				<task_item_id>hash_0800131e9933298c3edec210c84c0beb7a34d5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013069fca9b9c76ac88cb1735e6761dfea4>
			<hash_10001353e1859be4b7ef43653d390b8d5bdeba>
				<task_item_id>hash_080013a6678ba6f5c8608fcd612c092027ac20</task_item_id>
				<color_id>6FD1BF</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Used Mapped Memory</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001353e1859be4b7ef43653d390b8d5bdeba>
			<hash_100013c5697bcf27a48858ed10ca44e1995a73>
				<task_item_id>hash_080013a6678ba6f5c8608fcd612c092027ac20</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013c5697bcf27a48858ed10ca44e1995a73>
			<hash_1000136c7284363a5f3aff550977f084bb8a0e>
				<task_item_id>hash_080013a6678ba6f5c8608fcd612c092027ac20</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000136c7284363a5f3aff550977f084bb8a0e>
			<hash_1000130a35342a25cb45b04eb0c0cac7b23484>
				<task_item_id>hash_080013a6678ba6f5c8608fcd612c092027ac20</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000130a35342a25cb45b04eb0c0cac7b23484>
			<hash_10001399e33e308aa02192637c3b8cefae4f44>
				<task_item_id>hash_0800133ee50312180aa16059e6f337246cc396</task_item_id>
				<color_id>0E6E5C</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Used Resident Memory</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_10001399e33e308aa02192637c3b8cefae4f44>
			<hash_100013ce786c919e8fe2ae32087485d91ccc5b>
				<task_item_id>hash_0800133ee50312180aa16059e6f337246cc396</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_100013ce786c919e8fe2ae32087485d91ccc5b>
			<hash_10001357a5ddcd05da3b71e2ca26326978604c>
				<task_item_id>hash_0800133ee50312180aa16059e6f337246cc396</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_10001357a5ddcd05da3b71e2ca26326978604c>
			<hash_1000133d307947b531f878d68473e907f7050d>
				<task_item_id>hash_0800133ee50312180aa16059e6f337246cc396</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_1000133d307947b531f878d68473e907f7050d>
		</items>
		<inputs>
			<hash_090013f2dee226b861bf39dc58b5fb3fa1dd73>
				<name>Data Source [MONGODB_sd_vrtl_mry]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013d1144a397ca56ce5efd03a02e350aef3|hash_000013eb6f5f040392edb6a53dc395c5b1c539|hash_000013ee619833f2aae85aa1e03296769deb6e|hash_000013069fca9b9c76ac88cb1735e6761dfea4</items>
			</hash_090013f2dee226b861bf39dc58b5fb3fa1dd73>
			<hash_090013a5259564a2276d3144040bd76c68eada>
				<name>Data Source [MONGODB_sd_mppd_mry]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001353e1859be4b7ef43653d390b8d5bdeba|hash_000013c5697bcf27a48858ed10ca44e1995a73|hash_0000136c7284363a5f3aff550977f084bb8a0e|hash_0000130a35342a25cb45b04eb0c0cac7b23484</items>
			</hash_090013a5259564a2276d3144040bd76c68eada>
			<hash_090013fe2aeffb8d18fa9391ccf630536e89c1>
				<name>Data Source [MONGODB_sd_rsdntmry]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001399e33e308aa02192637c3b8cefae4f44|hash_000013ce786c919e8fe2ae32087485d91ccc5b|hash_00001357a5ddcd05da3b71e2ca26326978604c|hash_0000133d307947b531f878d68473e907f7050d</items>
			</hash_090013fe2aeffb8d18fa9391ccf630536e89c1>
		</inputs>
	</hash_000013c558581ad6226c7c910c561dc6a0ab81>
	<hash_0000138bc802a80c9321e8095e72c3171830a2>
		<name>Percona MongoDB Commands GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - MongoDB Commands</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013a0878ac88f101b387bf5c60696619a89>
				<task_item_id>hash_080013a4ef49a56bcaf21c29e0c7e90f0d95df</task_item_id>
				<color_id>FF7200</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Op Inserts</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013a0878ac88f101b387bf5c60696619a89>
			<hash_100013f4146be08a4eaaefd1aaf855664fe2c4>
				<task_item_id>hash_080013a4ef49a56bcaf21c29e0c7e90f0d95df</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013f4146be08a4eaaefd1aaf855664fe2c4>
			<hash_10001376ec9dfea442c668a2e3e95c2b564982>
				<task_item_id>hash_080013a4ef49a56bcaf21c29e0c7e90f0d95df</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001376ec9dfea442c668a2e3e95c2b564982>
			<hash_100013bf912a787cdec3f998aa115b0b6cca44>
				<task_item_id>hash_080013a4ef49a56bcaf21c29e0c7e90f0d95df</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013bf912a787cdec3f998aa115b0b6cca44>
			<hash_1000135106b90a75080ff40ef64059fa2885be>
				<task_item_id>hash_0800136e807c678a4b6648b27245327961f640</task_item_id>
				<color_id>503001</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Op Queries</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000135106b90a75080ff40ef64059fa2885be>
			<hash_100013388712396779f3f4e3075c8354281f9e>
				<task_item_id>hash_0800136e807c678a4b6648b27245327961f640</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013388712396779f3f4e3075c8354281f9e>
			<hash_100013e8b4e81fcecbf4d6ca6c0a8c1bae3efb>
				<task_item_id>hash_0800136e807c678a4b6648b27245327961f640</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013e8b4e81fcecbf4d6ca6c0a8c1bae3efb>
			<hash_100013bcba7cfc7d0106bacc1529d2c5cf850d>
				<task_item_id>hash_0800136e807c678a4b6648b27245327961f640</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013bcba7cfc7d0106bacc1529d2c5cf850d>
			<hash_10001356672b57dd04f971ac1b962702cddfe2>
				<task_item_id>hash_080013f2a703101705dcdea6ed1a572d95660d</task_item_id>
				<color_id>EDAC00</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Op Updates</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_10001356672b57dd04f971ac1b962702cddfe2>
			<hash_1000130a83e62751aa3de737df54bb61bdaf2d>
				<task_item_id>hash_080013f2a703101705dcdea6ed1a572d95660d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000130a83e62751aa3de737df54bb61bdaf2d>
			<hash_10001331af37e06052ddc3ae2453762f5070c6>
				<task_item_id>hash_080013f2a703101705dcdea6ed1a572d95660d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_10001331af37e06052ddc3ae2453762f5070c6>
			<hash_100013ccef69c1c7e8de58cbb1b9439bd8a36d>
				<task_item_id>hash_080013f2a703101705dcdea6ed1a572d95660d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013ccef69c1c7e8de58cbb1b9439bd8a36d>
			<hash_100013def2bb376198cd5b37eeab9b7dd32010>
				<task_item_id>hash_08001373fae24ddf1c83a3b9d3723c5a868b61</task_item_id>
				<color_id>506101</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Op Deletes</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_100013def2bb376198cd5b37eeab9b7dd32010>
			<hash_100013dd4bc4ae154a26d9b57613adbf15cf5e>
				<task_item_id>hash_08001373fae24ddf1c83a3b9d3723c5a868b61</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_100013dd4bc4ae154a26d9b57613adbf15cf5e>
			<hash_100013b93223c54946a1ae4427808050a88d59>
				<task_item_id>hash_08001373fae24ddf1c83a3b9d3723c5a868b61</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100013b93223c54946a1ae4427808050a88d59>
			<hash_1000134dacdb1685abf81b6746e701f1e30563>
				<task_item_id>hash_08001373fae24ddf1c83a3b9d3723c5a868b61</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_1000134dacdb1685abf81b6746e701f1e30563>
			<hash_1000136c6e9f8aaaac56d8f594495abee9beed>
				<task_item_id>hash_080013d82deb6d93bd7f85941657d1cab61807</task_item_id>
				<color_id>0CCCCC</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Op Getmores</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_1000136c6e9f8aaaac56d8f594495abee9beed>
			<hash_100013fa251cf4de93185a2888434ef686ad69>
				<task_item_id>hash_080013d82deb6d93bd7f85941657d1cab61807</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_100013fa251cf4de93185a2888434ef686ad69>
			<hash_1000137ea793dce043626cb2d5776c0a516eff>
				<task_item_id>hash_080013d82deb6d93bd7f85941657d1cab61807</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_1000137ea793dce043626cb2d5776c0a516eff>
			<hash_100013624efb05355df8949ea5bbac2baf917c>
				<task_item_id>hash_080013d82deb6d93bd7f85941657d1cab61807</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_100013624efb05355df8949ea5bbac2baf917c>
			<hash_100013b83f7a79877fe807f526ad29b5345627>
				<task_item_id>hash_0800138277b10cd5940d6cec1a0ed9ba98935f</task_item_id>
				<color_id>53CA05</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Op Commands</text_format>
				<hard_return></hard_return>
				<sequence>21</sequence>
			</hash_100013b83f7a79877fe807f526ad29b5345627>
			<hash_1000137069b60e07d133e220586eaa37b6db2d>
				<task_item_id>hash_0800138277b10cd5940d6cec1a0ed9ba98935f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_1000137069b60e07d133e220586eaa37b6db2d>
			<hash_100013c8e0574e1d56440de98ff18e381d3d69>
				<task_item_id>hash_0800138277b10cd5940d6cec1a0ed9ba98935f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>23</sequence>
			</hash_100013c8e0574e1d56440de98ff18e381d3d69>
			<hash_100013075ad0144a5ca3f82842cefd0283e294>
				<task_item_id>hash_0800138277b10cd5940d6cec1a0ed9ba98935f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>24</sequence>
			</hash_100013075ad0144a5ca3f82842cefd0283e294>
		</items>
		<inputs>
			<hash_090013ffc07ecf670b764b62d6fbc4f00aafd5>
				<name>Data Source [MONGODB_op_inserts]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013a0878ac88f101b387bf5c60696619a89|hash_000013f4146be08a4eaaefd1aaf855664fe2c4|hash_00001376ec9dfea442c668a2e3e95c2b564982|hash_000013bf912a787cdec3f998aa115b0b6cca44</items>
			</hash_090013ffc07ecf670b764b62d6fbc4f00aafd5>
			<hash_0900130809464faec2716c4787a4fa1b965de3>
				<name>Data Source [MONGODB_op_queries]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000135106b90a75080ff40ef64059fa2885be|hash_000013388712396779f3f4e3075c8354281f9e|hash_000013e8b4e81fcecbf4d6ca6c0a8c1bae3efb|hash_000013bcba7cfc7d0106bacc1529d2c5cf850d</items>
			</hash_0900130809464faec2716c4787a4fa1b965de3>
			<hash_090013eeaf3ade030021fedbb7bc4d70d89c8a>
				<name>Data Source [MONGODB_op_updates]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001356672b57dd04f971ac1b962702cddfe2|hash_0000130a83e62751aa3de737df54bb61bdaf2d|hash_00001331af37e06052ddc3ae2453762f5070c6|hash_000013ccef69c1c7e8de58cbb1b9439bd8a36d</items>
			</hash_090013eeaf3ade030021fedbb7bc4d70d89c8a>
			<hash_0900137b43008e6542f24d6a80028ccde9f1f7>
				<name>Data Source [MONGODB_op_deletes]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013def2bb376198cd5b37eeab9b7dd32010|hash_000013dd4bc4ae154a26d9b57613adbf15cf5e|hash_000013b93223c54946a1ae4427808050a88d59|hash_0000134dacdb1685abf81b6746e701f1e30563</items>
			</hash_0900137b43008e6542f24d6a80028ccde9f1f7>
			<hash_09001390c5838af8ee40db97aaff231ab73aae>
				<name>Data Source [MONGODB_op_getmores]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000136c6e9f8aaaac56d8f594495abee9beed|hash_000013fa251cf4de93185a2888434ef686ad69|hash_0000137ea793dce043626cb2d5776c0a516eff|hash_000013624efb05355df8949ea5bbac2baf917c</items>
			</hash_09001390c5838af8ee40db97aaff231ab73aae>
			<hash_0900136d2dffd5d3fdf06261b5f9422c2c3ba8>
				<name>Data Source [MONGODB_op_commands]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013b83f7a79877fe807f526ad29b5345627|hash_0000137069b60e07d133e220586eaa37b6db2d|hash_000013c8e0574e1d56440de98ff18e381d3d69|hash_000013075ad0144a5ca3f82842cefd0283e294</items>
			</hash_0900136d2dffd5d3fdf06261b5f9422c2c3ba8>
		</inputs>
	</hash_0000138bc802a80c9321e8095e72c3171830a2>
	<hash_0000131b1e03088fbd221860fef727c090113a>
		<name>Percona MongoDB Index Ops GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - MongoDB Index Ops</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013262e847f11efdf66290a5ec869a3c248>
				<task_item_id>hash_080013d96bd9f48bcb56bdd6e9386e41f68fa3</task_item_id>
				<color_id>FF7200</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Index Accesses</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013262e847f11efdf66290a5ec869a3c248>
			<hash_1000130c5adb1398401a6d27423ebb89c05a27>
				<task_item_id>hash_080013d96bd9f48bcb56bdd6e9386e41f68fa3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000130c5adb1398401a6d27423ebb89c05a27>
			<hash_100013e39b93697b67c61cb1d0e7e063fc3eff>
				<task_item_id>hash_080013d96bd9f48bcb56bdd6e9386e41f68fa3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013e39b93697b67c61cb1d0e7e063fc3eff>
			<hash_100013198fbee284e005e8b9f3004b5a6a521a>
				<task_item_id>hash_080013d96bd9f48bcb56bdd6e9386e41f68fa3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013198fbee284e005e8b9f3004b5a6a521a>
			<hash_1000138dcfdd940141e71956c61c1d6385a25a>
				<task_item_id>hash_080013f0fb3a39da657fd9e70e0b48487bbf6a</task_item_id>
				<color_id>503001</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Index Hits</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000138dcfdd940141e71956c61c1d6385a25a>
			<hash_1000134af945224318ca106ac575665f1d8fdc>
				<task_item_id>hash_080013f0fb3a39da657fd9e70e0b48487bbf6a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000134af945224318ca106ac575665f1d8fdc>
			<hash_100013115f96ab6b8b92af1fb04be2a93e7adc>
				<task_item_id>hash_080013f0fb3a39da657fd9e70e0b48487bbf6a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013115f96ab6b8b92af1fb04be2a93e7adc>
			<hash_1000131ea5f5ea97c024ae27ce2169886d3d14>
				<task_item_id>hash_080013f0fb3a39da657fd9e70e0b48487bbf6a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000131ea5f5ea97c024ae27ce2169886d3d14>
			<hash_100013ca0f8fc02f9b7f3171b14fbcddc76c4c>
				<task_item_id>hash_0800132a1a583bc64854b70e059223846b2beb</task_item_id>
				<color_id>EDAC00</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Index Misses</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_100013ca0f8fc02f9b7f3171b14fbcddc76c4c>
			<hash_100013be21f43102070cfe4de22b4c94f5c346>
				<task_item_id>hash_0800132a1a583bc64854b70e059223846b2beb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_100013be21f43102070cfe4de22b4c94f5c346>
			<hash_1000134a4769e3f576ad2a5554fbcbd01cb417>
				<task_item_id>hash_0800132a1a583bc64854b70e059223846b2beb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000134a4769e3f576ad2a5554fbcbd01cb417>
			<hash_10001376210c7bef5fd38844213238eddcad1f>
				<task_item_id>hash_0800132a1a583bc64854b70e059223846b2beb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_10001376210c7bef5fd38844213238eddcad1f>
			<hash_100013b4e284f14d2abc5cc8334b38f4c0ccf2>
				<task_item_id>hash_08001303cd9de38249d48481d23f1d2f49675d</task_item_id>
				<color_id>506101</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Index Resets</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_100013b4e284f14d2abc5cc8334b38f4c0ccf2>
			<hash_10001364a5aabc5c6cf609eb2c113f9e20512f>
				<task_item_id>hash_08001303cd9de38249d48481d23f1d2f49675d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_10001364a5aabc5c6cf609eb2c113f9e20512f>
			<hash_100013955575c7baad31636b21ae17923bea2f>
				<task_item_id>hash_08001303cd9de38249d48481d23f1d2f49675d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100013955575c7baad31636b21ae17923bea2f>
			<hash_1000133c7a7bd0ccaab5056795e2c0925d4319>
				<task_item_id>hash_08001303cd9de38249d48481d23f1d2f49675d</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_1000133c7a7bd0ccaab5056795e2c0925d4319>
		</items>
		<inputs>
			<hash_09001317b21983485cefe0f7da73a4a09bb22d>
				<name>Data Source [MONGODB_index_ccsss]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013262e847f11efdf66290a5ec869a3c248|hash_0000130c5adb1398401a6d27423ebb89c05a27|hash_000013e39b93697b67c61cb1d0e7e063fc3eff|hash_000013198fbee284e005e8b9f3004b5a6a521a</items>
			</hash_09001317b21983485cefe0f7da73a4a09bb22d>
			<hash_0900135c9b89a37b5eaa531b52ef1d9226a530>
				<name>Data Source [MONGODB_index_hits]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000138dcfdd940141e71956c61c1d6385a25a|hash_0000134af945224318ca106ac575665f1d8fdc|hash_000013115f96ab6b8b92af1fb04be2a93e7adc|hash_0000131ea5f5ea97c024ae27ce2169886d3d14</items>
			</hash_0900135c9b89a37b5eaa531b52ef1d9226a530>
			<hash_090013deac71554b636ea5c35f2c9b86c0820b>
				<name>Data Source [MONGODB_index_misss]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013ca0f8fc02f9b7f3171b14fbcddc76c4c|hash_000013be21f43102070cfe4de22b4c94f5c346|hash_0000134a4769e3f576ad2a5554fbcbd01cb417|hash_00001376210c7bef5fd38844213238eddcad1f</items>
			</hash_090013deac71554b636ea5c35f2c9b86c0820b>
			<hash_090013220f45219b14bbbc12fd2b8989344d94>
				<name>Data Source [MONGODB_index_rests]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013b4e284f14d2abc5cc8334b38f4c0ccf2|hash_00001364a5aabc5c6cf609eb2c113f9e20512f|hash_000013955575c7baad31636b21ae17923bea2f|hash_0000133c7a7bd0ccaab5056795e2c0925d4319</items>
			</hash_090013220f45219b14bbbc12fd2b8989344d94>
		</inputs>
	</hash_0000131b1e03088fbd221860fef727c090113a>
	<hash_00001366e9ab65f91018b77dd5ed335d9090f5>
		<name>Percona MongoDB Background Flushes GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - MongoDB Background Flushes</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013d4ce557366dc60bc10a7bfc5ccb3599d>
				<task_item_id>hash_080013da9c6cc3af79bccd9b0b7f83be0d8dce</task_item_id>
				<color_id>71FF06</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Back Flushes</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013d4ce557366dc60bc10a7bfc5ccb3599d>
			<hash_100013533e198bcef4bd7b5f0069fd2f9346b4>
				<task_item_id>hash_080013da9c6cc3af79bccd9b0b7f83be0d8dce</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013533e198bcef4bd7b5f0069fd2f9346b4>
			<hash_100013511169ae485c1dd54ce71ee2e2314b38>
				<task_item_id>hash_080013da9c6cc3af79bccd9b0b7f83be0d8dce</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013511169ae485c1dd54ce71ee2e2314b38>
			<hash_100013ae2a1bef380435a09b77e619e4af0458>
				<task_item_id>hash_080013da9c6cc3af79bccd9b0b7f83be0d8dce</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013ae2a1bef380435a09b77e619e4af0458>
			<hash_10001306d24fa1e08ff80ea4011e465284cacb>
				<task_item_id>hash_080013c255950d0088fad37d813c3d2363eccc</task_item_id>
				<color_id>FF2400</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Back Total Ms</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001306d24fa1e08ff80ea4011e465284cacb>
			<hash_10001397c86cd38d24a5aeacc18499a6e8f7fb>
				<task_item_id>hash_080013c255950d0088fad37d813c3d2363eccc</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_10001397c86cd38d24a5aeacc18499a6e8f7fb>
			<hash_1000137f1a0aec6216a6ee6cb6d8f1f861b28e>
				<task_item_id>hash_080013c255950d0088fad37d813c3d2363eccc</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000137f1a0aec6216a6ee6cb6d8f1f861b28e>
			<hash_100013b7298db032da432bd2a9e8902f2007df>
				<task_item_id>hash_080013c255950d0088fad37d813c3d2363eccc</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013b7298db032da432bd2a9e8902f2007df>
			<hash_1000136c26b27c6086c0006122abe33ac9637c>
				<task_item_id>hash_080013acba4fa253a50c3340dca8f451b404bb</task_item_id>
				<color_id>E83089</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Back Average Ms</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000136c26b27c6086c0006122abe33ac9637c>
			<hash_1000132a121c8e20c66b35964799f8f3f609c3>
				<task_item_id>hash_080013acba4fa253a50c3340dca8f451b404bb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000132a121c8e20c66b35964799f8f3f609c3>
			<hash_1000137f81b9dcf27be27651520cdf0b33b771>
				<task_item_id>hash_080013acba4fa253a50c3340dca8f451b404bb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000137f81b9dcf27be27651520cdf0b33b771>
			<hash_100013acd2a59b577cbbaea7bc758438eb1cc4>
				<task_item_id>hash_080013acba4fa253a50c3340dca8f451b404bb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013acd2a59b577cbbaea7bc758438eb1cc4>
			<hash_1000137e73e6aaf220dfb7598bbf95d0151428>
				<task_item_id>hash_08001336900471f31caf8be7d9c6746f6be0eb</task_item_id>
				<color_id>17D2E1</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Back Last Ms</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_1000137e73e6aaf220dfb7598bbf95d0151428>
			<hash_1000136d755746e8b5e5ad8a17254fd0076610>
				<task_item_id>hash_08001336900471f31caf8be7d9c6746f6be0eb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_1000136d755746e8b5e5ad8a17254fd0076610>
			<hash_100013ffcc7bd545416c036bf3f42cda5b93d2>
				<task_item_id>hash_08001336900471f31caf8be7d9c6746f6be0eb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100013ffcc7bd545416c036bf3f42cda5b93d2>
			<hash_10001379b270b2f8b56f09f0fbca4b7a3f317c>
				<task_item_id>hash_08001336900471f31caf8be7d9c6746f6be0eb</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_10001379b270b2f8b56f09f0fbca4b7a3f317c>
		</items>
		<inputs>
			<hash_0900135d33123f415d387e5ab98ab57cc2b610>
				<name>Data Source [MONGODB_back_flushs]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013d4ce557366dc60bc10a7bfc5ccb3599d|hash_000013533e198bcef4bd7b5f0069fd2f9346b4|hash_000013511169ae485c1dd54ce71ee2e2314b38|hash_000013ae2a1bef380435a09b77e619e4af0458</items>
			</hash_0900135d33123f415d387e5ab98ab57cc2b610>
			<hash_09001329d91f2f9c237cc23226aa1a0c3c87f3>
				<name>Data Source [MONGODB_back_ttl_ms]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001306d24fa1e08ff80ea4011e465284cacb|hash_00001397c86cd38d24a5aeacc18499a6e8f7fb|hash_0000137f1a0aec6216a6ee6cb6d8f1f861b28e|hash_000013b7298db032da432bd2a9e8902f2007df</items>
			</hash_09001329d91f2f9c237cc23226aa1a0c3c87f3>
			<hash_090013e7338014c96a82013322354a0af0c05d>
				<name>Data Source [MONGODB_bck_vrge_ms]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000136c26b27c6086c0006122abe33ac9637c|hash_0000132a121c8e20c66b35964799f8f3f609c3|hash_0000137f81b9dcf27be27651520cdf0b33b771|hash_000013acd2a59b577cbbaea7bc758438eb1cc4</items>
			</hash_090013e7338014c96a82013322354a0af0c05d>
			<hash_09001381f896a1c462772b06f92260245ee932>
				<name>Data Source [MONGODB_back_lst_ms]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000137e73e6aaf220dfb7598bbf95d0151428|hash_0000136d755746e8b5e5ad8a17254fd0076610|hash_000013ffcc7bd545416c036bf3f42cda5b93d2|hash_00001379b270b2f8b56f09f0fbca4b7a3f317c</items>
			</hash_09001381f896a1c462772b06f92260245ee932>
		</inputs>
	</hash_00001366e9ab65f91018b77dd5ed335d9090f5>
	<hash_00001393989b7f3472d222a7093db6468b0c23>
		<name>Percona MongoDB Slave Lag GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - MongoDB Slave Lag</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001357dbb72026ad93c625ff09e58e6fcc27>
				<task_item_id>hash_080013f38fc1d8ca67e65597eb679adfc628e2</task_item_id>
				<color_id>3F00B8</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Slave Lag</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001357dbb72026ad93c625ff09e58e6fcc27>
			<hash_1000137966e12ad0bf579449ea664a02507aeb>
				<task_item_id>hash_080013f38fc1d8ca67e65597eb679adfc628e2</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000137966e12ad0bf579449ea664a02507aeb>
			<hash_10001339844808431759aeea3a00dd3555eb41>
				<task_item_id>hash_080013f38fc1d8ca67e65597eb679adfc628e2</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001339844808431759aeea3a00dd3555eb41>
			<hash_100013028fa2e61ada11ce0472b36c6f581c8c>
				<task_item_id>hash_080013f38fc1d8ca67e65597eb679adfc628e2</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013028fa2e61ada11ce0472b36c6f581c8c>
		</items>
		<inputs>
			<hash_09001311d87247f56ee928868697c303e8ec9c>
				<name>Data Source [MONGODB_slave_lag]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001357dbb72026ad93c625ff09e58e6fcc27|hash_0000137966e12ad0bf579449ea664a02507aeb|hash_00001339844808431759aeea3a00dd3555eb41|hash_000013028fa2e61ada11ce0472b36c6f581c8c</items>
			</hash_09001311d87247f56ee928868697c303e8ec9c>
		</inputs>
	</hash_00001393989b7f3472d222a7093db6468b0c23>
	<hash_0100135c57fe3483653fb6959563fdabf9bc64>
		<name>Percona MongoDB Connections DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - MongoDB Connections</name>
			<data_input_id>hash_03001329dc412bc342847364b5fabb771ef709</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800134ecb4eed3038865504c8fdd63ba5c5dc>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_cnctd_clnts</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013284b5a64b1e5e14c5d80a1d700bd7001</data_input_field_id>
			</hash_0800134ecb4eed3038865504c8fdd63ba5c5dc>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013246504fce3ded430047cce9ceaf55047</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013f0d450d16cf5947737aab16eeacb92da</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700137cafb1e1b3c26406ea0d0dd718b495fc</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_0100135c57fe3483653fb6959563fdabf9bc64>
	<hash_0100136cdcaafe2437d45fcf298f78a7d6aa4f>
		<name>Percona MongoDB Memory DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - MongoDB Memory</name>
			<data_input_id>hash_030013406d25b1163100c2ffbacc417031a1af</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800133ee50312180aa16059e6f337246cc396>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_sd_rsdntmry</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700131745adc9d44b5c06742df430ef72b259</data_input_field_id>
			</hash_0800133ee50312180aa16059e6f337246cc396>
			<hash_080013a6678ba6f5c8608fcd612c092027ac20>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_sd_mppd_mry</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700132afa03e450aa34079b421f7c58b8657b</data_input_field_id>
			</hash_080013a6678ba6f5c8608fcd612c092027ac20>
			<hash_0800131e9933298c3edec210c84c0beb7a34d5>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_sd_vrtl_mry</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013fe902ecbef31c1f3d88260ee57efff33</data_input_field_id>
			</hash_0800131e9933298c3edec210c84c0beb7a34d5>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013055656209d3c784c9065587e44231fe4</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700131595d21cd6b3dc945f76677f27f9af2b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_07001327f02b6d5c4b04df1e2f96d68e5fb8ee</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_0100136cdcaafe2437d45fcf298f78a7d6aa4f>
	<hash_010013acd6ec325ca8ca4e425ba034ee790daf>
		<name>Percona MongoDB Commands DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - MongoDB Commands</name>
			<data_input_id>hash_030013e1d703a3cbece3c4b3f4180593b34df5</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800136e807c678a4b6648b27245327961f640>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_op_queries</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001334c9db7bf2d4efbec260063fa3338e14</data_input_field_id>
			</hash_0800136e807c678a4b6648b27245327961f640>
			<hash_080013a4ef49a56bcaf21c29e0c7e90f0d95df>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_op_inserts</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001314c15103c7921c48c7b4831d721b4d42</data_input_field_id>
			</hash_080013a4ef49a56bcaf21c29e0c7e90f0d95df>
			<hash_08001373fae24ddf1c83a3b9d3723c5a868b61>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_op_deletes</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013f8ac47f20256dc45ac0465e76863c600</data_input_field_id>
			</hash_08001373fae24ddf1c83a3b9d3723c5a868b61>
			<hash_0800138277b10cd5940d6cec1a0ed9ba98935f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_op_commands</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013b933cfc444d57db2b4a9f423b93d13a8</data_input_field_id>
			</hash_0800138277b10cd5940d6cec1a0ed9ba98935f>
			<hash_080013d82deb6d93bd7f85941657d1cab61807>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_op_getmores</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013e5456bc422f5bf251b543a58000a3cb0</data_input_field_id>
			</hash_080013d82deb6d93bd7f85941657d1cab61807>
			<hash_080013f2a703101705dcdea6ed1a572d95660d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_op_updates</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139ed8d64157627bb3ef746fef7e535ad6</data_input_field_id>
			</hash_080013f2a703101705dcdea6ed1a572d95660d>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013a607eb09647aa9be2ea995c132437833</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_07001336a9775f938bec3b7e2aa4c5f112b05f</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_07001396fffbb4d2d17a7223a00fc255ecca40</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_010013acd6ec325ca8ca4e425ba034ee790daf>
	<hash_010013750885cf52501b81eebd67de196ed103>
		<name>Percona MongoDB Index Ops DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - MongoDB Index Ops</name>
			<data_input_id>hash_0300135a29b881d47c7d4e125dcddf96bc0260</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013f0fb3a39da657fd9e70e0b48487bbf6a>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_index_hits</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001321bb6986a0fb39f1c12094b726377c93</data_input_field_id>
			</hash_080013f0fb3a39da657fd9e70e0b48487bbf6a>
			<hash_080013d96bd9f48bcb56bdd6e9386e41f68fa3>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_index_ccsss</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013a82944b823ed21206be8b1072e11f9e7</data_input_field_id>
			</hash_080013d96bd9f48bcb56bdd6e9386e41f68fa3>
			<hash_08001303cd9de38249d48481d23f1d2f49675d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_index_rests</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013d809a7fc8cfb1138322915e05ee8e221</data_input_field_id>
			</hash_08001303cd9de38249d48481d23f1d2f49675d>
			<hash_0800132a1a583bc64854b70e059223846b2beb>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_index_misss</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013482cae2d0fd9b305d476e24a2b011dc2</data_input_field_id>
			</hash_0800132a1a583bc64854b70e059223846b2beb>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013dc35a003e30d6f382656ab5c6ec2e6cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013f3f434c4e516c305f64a91d1419e93e8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013645b68766f5c85f81ac0edf57e6ea4bc</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_010013750885cf52501b81eebd67de196ed103>
	<hash_0100134c0c36b111b23edc86803b0237c43358>
		<name>Percona MongoDB Background Flushes DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - MongoDB Background Flushes</name>
			<data_input_id>hash_0300137b5204d314bb043dfaac7fd3340bad3d</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013acba4fa253a50c3340dca8f451b404bb>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_bck_vrge_ms</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001341c390fe38814d7d9f38f6fe1ef4d7fa</data_input_field_id>
			</hash_080013acba4fa253a50c3340dca8f451b404bb>
			<hash_080013c255950d0088fad37d813c3d2363eccc>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_back_ttl_ms</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700133d794263eb6c96405fb470a421f7a53a</data_input_field_id>
			</hash_080013c255950d0088fad37d813c3d2363eccc>
			<hash_08001336900471f31caf8be7d9c6746f6be0eb>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_back_lst_ms</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001318a73661b425554281af5b693bc5c848</data_input_field_id>
			</hash_08001336900471f31caf8be7d9c6746f6be0eb>
			<hash_080013da9c6cc3af79bccd9b0b7f83be0d8dce>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_back_flushs</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139894b68da31096a907b02169d60086cb</data_input_field_id>
			</hash_080013da9c6cc3af79bccd9b0b7f83be0d8dce>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013fdcaca079e225049eca384bf6b259eac</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013266744db9756faee44a21ca0d9f808ff</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013cf71987d79a2ba3b61a505646b73b452</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_0100134c0c36b111b23edc86803b0237c43358>
	<hash_0100139037877a6c79127f92129311c03a2abb>
		<name>Percona MongoDB Slave Lag DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - MongoDB Slave Lag</name>
			<data_input_id>hash_030013643e4f789f42a84631b7b340874cec4d</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013f38fc1d8ca67e65597eb679adfc628e2>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MONGODB_slave_lag</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139e48f99539418329239a540c1d5736c0</data_input_field_id>
			</hash_080013f38fc1d8ca67e65597eb679adfc628e2>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013e75a144b8c5a98647aa5a360a9dabad5</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013964a722d92238aa5bb1258d6961b243b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700131de1f30720c6cf24cdc991e49cc8876b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_0100139037877a6c79127f92129311c03a2abb>
	<hash_03001329dc412bc342847364b5fabb771ef709>
		<name>Percona Get MongoDB Stats/MongoDB Connections IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type mongodb --items mk --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013246504fce3ded430047cce9ceaf55047>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013246504fce3ded430047cce9ceaf55047>
			<hash_070013f0d450d16cf5947737aab16eeacb92da>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013f0d450d16cf5947737aab16eeacb92da>
			<hash_0700137cafb1e1b3c26406ea0d0dd718b495fc>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700137cafb1e1b3c26406ea0d0dd718b495fc>
			<hash_070013284b5a64b1e5e14c5d80a1d700bd7001>
				<name>MONGODB Connected Clients</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mk</data_name>
			</hash_070013284b5a64b1e5e14c5d80a1d700bd7001>
		</fields>
	</hash_03001329dc412bc342847364b5fabb771ef709>
	<hash_030013406d25b1163100c2ffbacc417031a1af>
		<name>Percona Get MongoDB Stats/MongoDB Memory IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type mongodb --items ml,mm,mn --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013055656209d3c784c9065587e44231fe4>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013055656209d3c784c9065587e44231fe4>
			<hash_0700131595d21cd6b3dc945f76677f27f9af2b>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_0700131595d21cd6b3dc945f76677f27f9af2b>
			<hash_07001327f02b6d5c4b04df1e2f96d68e5fb8ee>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_07001327f02b6d5c4b04df1e2f96d68e5fb8ee>
			<hash_0700131745adc9d44b5c06742df430ef72b259>
				<name>MONGODB Used Resident Memory</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ml</data_name>
			</hash_0700131745adc9d44b5c06742df430ef72b259>
			<hash_0700132afa03e450aa34079b421f7c58b8657b>
				<name>MONGODB Used Mapped Memory</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mm</data_name>
			</hash_0700132afa03e450aa34079b421f7c58b8657b>
			<hash_070013fe902ecbef31c1f3d88260ee57efff33>
				<name>MONGODB Used Virtual Memory</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mn</data_name>
			</hash_070013fe902ecbef31c1f3d88260ee57efff33>
		</fields>
	</hash_030013406d25b1163100c2ffbacc417031a1af>
	<hash_030013e1d703a3cbece3c4b3f4180593b34df5>
		<name>Percona Get MongoDB Stats/MongoDB Commands IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type mongodb --items mw,mx,my,mz,ng,nh --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013a607eb09647aa9be2ea995c132437833>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013a607eb09647aa9be2ea995c132437833>
			<hash_07001336a9775f938bec3b7e2aa4c5f112b05f>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_07001336a9775f938bec3b7e2aa4c5f112b05f>
			<hash_07001396fffbb4d2d17a7223a00fc255ecca40>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_07001396fffbb4d2d17a7223a00fc255ecca40>
			<hash_07001334c9db7bf2d4efbec260063fa3338e14>
				<name>MONGODB Op Queries</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mx</data_name>
			</hash_07001334c9db7bf2d4efbec260063fa3338e14>
			<hash_07001314c15103c7921c48c7b4831d721b4d42>
				<name>MONGODB Op Inserts</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mw</data_name>
			</hash_07001314c15103c7921c48c7b4831d721b4d42>
			<hash_070013f8ac47f20256dc45ac0465e76863c600>
				<name>MONGODB Op Deletes</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mz</data_name>
			</hash_070013f8ac47f20256dc45ac0465e76863c600>
			<hash_070013b933cfc444d57db2b4a9f423b93d13a8>
				<name>MONGODB Op Commands</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>nh</data_name>
			</hash_070013b933cfc444d57db2b4a9f423b93d13a8>
			<hash_070013e5456bc422f5bf251b543a58000a3cb0>
				<name>MONGODB Op Getmores</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ng</data_name>
			</hash_070013e5456bc422f5bf251b543a58000a3cb0>
			<hash_0700139ed8d64157627bb3ef746fef7e535ad6>
				<name>MONGODB Op Updates</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>my</data_name>
			</hash_0700139ed8d64157627bb3ef746fef7e535ad6>
		</fields>
	</hash_030013e1d703a3cbece3c4b3f4180593b34df5>
	<hash_0300135a29b881d47c7d4e125dcddf96bc0260>
		<name>Percona Get MongoDB Stats/MongoDB Index Ops IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type mongodb --items mo,mp,mq,mr --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013dc35a003e30d6f382656ab5c6ec2e6cf>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013dc35a003e30d6f382656ab5c6ec2e6cf>
			<hash_070013f3f434c4e516c305f64a91d1419e93e8>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013f3f434c4e516c305f64a91d1419e93e8>
			<hash_070013645b68766f5c85f81ac0edf57e6ea4bc>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013645b68766f5c85f81ac0edf57e6ea4bc>
			<hash_07001321bb6986a0fb39f1c12094b726377c93>
				<name>MONGODB Index Hits</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mp</data_name>
			</hash_07001321bb6986a0fb39f1c12094b726377c93>
			<hash_070013a82944b823ed21206be8b1072e11f9e7>
				<name>MONGODB Index Accesses</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mo</data_name>
			</hash_070013a82944b823ed21206be8b1072e11f9e7>
			<hash_070013d809a7fc8cfb1138322915e05ee8e221>
				<name>MONGODB Index Resets</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mr</data_name>
			</hash_070013d809a7fc8cfb1138322915e05ee8e221>
			<hash_070013482cae2d0fd9b305d476e24a2b011dc2>
				<name>MONGODB Index Misses</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mq</data_name>
			</hash_070013482cae2d0fd9b305d476e24a2b011dc2>
		</fields>
	</hash_0300135a29b881d47c7d4e125dcddf96bc0260>
	<hash_0300137b5204d314bb043dfaac7fd3340bad3d>
		<name>Percona Get MongoDB Stats/MongoDB Background Flushes IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type mongodb --items ms,mt,mu,mv --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013fdcaca079e225049eca384bf6b259eac>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013fdcaca079e225049eca384bf6b259eac>
			<hash_070013266744db9756faee44a21ca0d9f808ff>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013266744db9756faee44a21ca0d9f808ff>
			<hash_070013cf71987d79a2ba3b61a505646b73b452>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013cf71987d79a2ba3b61a505646b73b452>
			<hash_07001341c390fe38814d7d9f38f6fe1ef4d7fa>
				<name>MONGODB Back Average Ms</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mu</data_name>
			</hash_07001341c390fe38814d7d9f38f6fe1ef4d7fa>
			<hash_0700133d794263eb6c96405fb470a421f7a53a>
				<name>MONGODB Back Total Ms</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mt</data_name>
			</hash_0700133d794263eb6c96405fb470a421f7a53a>
			<hash_07001318a73661b425554281af5b693bc5c848>
				<name>MONGODB Back Last Ms</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mv</data_name>
			</hash_07001318a73661b425554281af5b693bc5c848>
			<hash_0700139894b68da31096a907b02169d60086cb>
				<name>MONGODB Back Flushes</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ms</data_name>
			</hash_0700139894b68da31096a907b02169d60086cb>
		</fields>
	</hash_0300137b5204d314bb043dfaac7fd3340bad3d>
	<hash_030013643e4f789f42a84631b7b340874cec4d>
		<name>Percona Get MongoDB Stats/MongoDB Slave Lag IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type mongodb --items ni --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013e75a144b8c5a98647aa5a360a9dabad5>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013e75a144b8c5a98647aa5a360a9dabad5>
			<hash_070013964a722d92238aa5bb1258d6961b243b>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013964a722d92238aa5bb1258d6961b243b>
			<hash_0700131de1f30720c6cf24cdc991e49cc8876b>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700131de1f30720c6cf24cdc991e49cc8876b>
			<hash_0700139e48f99539418329239a540c1d5736c0>
				<name>MONGODB Slave Lag</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ni</data_name>
			</hash_0700139e48f99539418329239a540c1d5736c0>
		</fields>
	</hash_030013643e4f789f42a84631b7b340874cec4d>
	<hash_06001311fc9bd183398a0b4f8e1a065a6e3b18>
		<name>Percona MongoDB Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_06001311fc9bd183398a0b4f8e1a065a6e3b18>
	<hash_060013f8bd64840238c602c4523385db8aa599>
		<name>Percona MongoDB Server Checksum dd45c083fc840f174ea0aec2ff86e9c9</name>
		<gprint_text>dd45c083fc840f174ea0aec2ff86e9c9</gprint_text>
	</hash_060013f8bd64840238c602c4523385db8aa599>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
