<cacti>
	<hash_02001373892c19311e1fcf88bc41b0daed18c7>
		<name>Percona Apache Server HT</name>
		<graph_templates>hash_000013c919ea3bf4e1c5248aff68bda0225ff3|hash_0000137a2e264c5d52cc8fe938beff86081f0e|hash_000013a5c83dfc0b52a746a93e4ebdcda326ef|hash_0000135b1a9e8542dcf1e5fdb71ae2457c4141|hash_000013f60b74bf26f749769ba25fc470e360ec</graph_templates>
		<data_queries></data_queries>
	</hash_02001373892c19311e1fcf88bc41b0daed18c7>
	<hash_000013c919ea3bf4e1c5248aff68bda0225ff3>
		<name>Percona Apache Requests GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Apache Requests</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000134886ba8ff63f3b35ac8676e162508b39>
				<task_item_id>hash_0800134a03ef2973154a0e52ee0fc3f532983e</task_item_id>
				<color_id>803405</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Requests</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000134886ba8ff63f3b35ac8676e162508b39>
			<hash_1000137ba4f3bdf4f08239d69e512b40f9d1a1>
				<task_item_id>hash_0800134a03ef2973154a0e52ee0fc3f532983e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000137ba4f3bdf4f08239d69e512b40f9d1a1>
			<hash_100013942fe5f115709960781d6486c18f5db7>
				<task_item_id>hash_0800134a03ef2973154a0e52ee0fc3f532983e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013942fe5f115709960781d6486c18f5db7>
			<hash_100013e686f710621eb420c27f00b2e593bc97>
				<task_item_id>hash_0800134a03ef2973154a0e52ee0fc3f532983e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013e686f710621eb420c27f00b2e593bc97>
		</items>
		<inputs>
			<hash_090013f5f45137eea74d8a9d64a78769ef9471>
				<name>Data Source [APACHE_Requests]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000134886ba8ff63f3b35ac8676e162508b39|hash_0000137ba4f3bdf4f08239d69e512b40f9d1a1|hash_000013942fe5f115709960781d6486c18f5db7|hash_000013e686f710621eb420c27f00b2e593bc97</items>
			</hash_090013f5f45137eea74d8a9d64a78769ef9471>
		</inputs>
	</hash_000013c919ea3bf4e1c5248aff68bda0225ff3>
	<hash_0000137a2e264c5d52cc8fe938beff86081f0e>
		<name>Percona Apache Bytes GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Apache Bytes</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013c8bdabf9d6a22c115829f34593fa04b1>
				<task_item_id>hash_08001332435aaf4845cd6c251cbbc91f133851</task_item_id>
				<color_id>5D868C</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Bytes Sent</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013c8bdabf9d6a22c115829f34593fa04b1>
			<hash_100013329f0530c5e785da7624fcdcd2538a22>
				<task_item_id>hash_08001332435aaf4845cd6c251cbbc91f133851</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013329f0530c5e785da7624fcdcd2538a22>
			<hash_10001385bbe6b237894fd386a3565499b15e2d>
				<task_item_id>hash_08001332435aaf4845cd6c251cbbc91f133851</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001385bbe6b237894fd386a3565499b15e2d>
			<hash_100013ccef1b50cdd8eec456a0891c33f0270c>
				<task_item_id>hash_08001332435aaf4845cd6c251cbbc91f133851</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013ccef1b50cdd8eec456a0891c33f0270c>
		</items>
		<inputs>
			<hash_09001302587d6029c37748001f962bf4763f7e>
				<name>Data Source [APACHE_Bytes_sent]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013c8bdabf9d6a22c115829f34593fa04b1|hash_000013329f0530c5e785da7624fcdcd2538a22|hash_00001385bbe6b237894fd386a3565499b15e2d|hash_000013ccef1b50cdd8eec456a0891c33f0270c</items>
			</hash_09001302587d6029c37748001f962bf4763f7e>
		</inputs>
	</hash_0000137a2e264c5d52cc8fe938beff86081f0e>
	<hash_000013a5c83dfc0b52a746a93e4ebdcda326ef>
		<name>Percona Apache CPU Load GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Apache CPU Load</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000133d3b9d125d38be561fb2268bb9fcbfd4>
				<task_item_id>hash_0800132c0b5d3f5cd53363b94554b9e885e634</task_item_id>
				<color_id>700004</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>CPU Load</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000133d3b9d125d38be561fb2268bb9fcbfd4>
			<hash_100013e7e2240b1c2be0ef31811ba2b6c45527>
				<task_item_id>hash_0800132c0b5d3f5cd53363b94554b9e885e634</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013e7e2240b1c2be0ef31811ba2b6c45527>
			<hash_1000136209381b6d51190e9d57694d0b1479ec>
				<task_item_id>hash_0800132c0b5d3f5cd53363b94554b9e885e634</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000136209381b6d51190e9d57694d0b1479ec>
			<hash_1000133c1b7135e33109978896ba0d9ad811e4>
				<task_item_id>hash_0800132c0b5d3f5cd53363b94554b9e885e634</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000133c1b7135e33109978896ba0d9ad811e4>
			<hash_100013d00ac8145df4e1dfe30126e51be3dd61>
				<task_item_id>hash_0800132c0b5d3f5cd53363b94554b9e885e634</task_item_id>
				<color_id>000000</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>CPU Load</text_format>
				<hard_return>on</hard_return>
				<sequence>5</sequence>
			</hash_100013d00ac8145df4e1dfe30126e51be3dd61>
		</items>
		<inputs>
			<hash_090013dcbbbfeedba772ea1a4f22e84bd3ff6c>
				<name>Data Source [APACHE_CPU_Load]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000133d3b9d125d38be561fb2268bb9fcbfd4|hash_000013e7e2240b1c2be0ef31811ba2b6c45527|hash_0000136209381b6d51190e9d57694d0b1479ec|hash_0000133c1b7135e33109978896ba0d9ad811e4</items>
			</hash_090013dcbbbfeedba772ea1a4f22e84bd3ff6c>
			<hash_090013a0d3e200ca7ad97a5c1534cebaf346aa>
				<name>Data Source [APACHE_CPU_Load]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013d00ac8145df4e1dfe30126e51be3dd61</items>
			</hash_090013a0d3e200ca7ad97a5c1534cebaf346aa>
		</inputs>
	</hash_000013a5c83dfc0b52a746a93e4ebdcda326ef>
	<hash_0000135b1a9e8542dcf1e5fdb71ae2457c4141>
		<name>Percona Apache Workers GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Apache Workers</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013d77fcbc477938fa63a1c28b5f1c01348>
				<task_item_id>hash_080013fc7d9f93b5d5a7f892e05e7a77d3287f</task_item_id>
				<color_id>EEB78E</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Idle Workers</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013d77fcbc477938fa63a1c28b5f1c01348>
			<hash_10001381d32fd494417bd7b46d5f277b4e2365>
				<task_item_id>hash_080013fc7d9f93b5d5a7f892e05e7a77d3287f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001381d32fd494417bd7b46d5f277b4e2365>
			<hash_100013e2dd730f7a6c8dd3a87ef4891564da4b>
				<task_item_id>hash_080013fc7d9f93b5d5a7f892e05e7a77d3287f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013e2dd730f7a6c8dd3a87ef4891564da4b>
			<hash_100013d32bfe77e561aacf253aa02ea3516ef4>
				<task_item_id>hash_080013fc7d9f93b5d5a7f892e05e7a77d3287f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013d32bfe77e561aacf253aa02ea3516ef4>
			<hash_10001375c78940bd02a05c1309f7378e70fec3>
				<task_item_id>hash_0800130e2969a383c373218823cc6434cdfda4</task_item_id>
				<color_id>47748B</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Busy Workers</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001375c78940bd02a05c1309f7378e70fec3>
			<hash_1000130479a4b4122812fa5d2908170511ee2e>
				<task_item_id>hash_0800130e2969a383c373218823cc6434cdfda4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000130479a4b4122812fa5d2908170511ee2e>
			<hash_1000136da60cb7eea1c6bf40df9b8eb64a2522>
				<task_item_id>hash_0800130e2969a383c373218823cc6434cdfda4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000136da60cb7eea1c6bf40df9b8eb64a2522>
			<hash_10001320dbd04b3324fd7ca36515ce0a662321>
				<task_item_id>hash_0800130e2969a383c373218823cc6434cdfda4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_10001320dbd04b3324fd7ca36515ce0a662321>
		</items>
		<inputs>
			<hash_0900136448c8be4dc370ea714ebb68914336df>
				<name>Data Source [APACHE_Idle_workers]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013d77fcbc477938fa63a1c28b5f1c01348|hash_00001381d32fd494417bd7b46d5f277b4e2365|hash_000013e2dd730f7a6c8dd3a87ef4891564da4b|hash_000013d32bfe77e561aacf253aa02ea3516ef4</items>
			</hash_0900136448c8be4dc370ea714ebb68914336df>
			<hash_090013af51aadda6ad8afa465049af3197d86d>
				<name>Data Source [APACHE_Busy_workers]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001375c78940bd02a05c1309f7378e70fec3|hash_0000130479a4b4122812fa5d2908170511ee2e|hash_0000136da60cb7eea1c6bf40df9b8eb64a2522|hash_00001320dbd04b3324fd7ca36515ce0a662321</items>
			</hash_090013af51aadda6ad8afa465049af3197d86d>
		</inputs>
	</hash_0000135b1a9e8542dcf1e5fdb71ae2457c4141>
	<hash_000013f60b74bf26f749769ba25fc470e360ec>
		<name>Percona Apache Scoreboard GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Apache Scoreboard</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000138e38a88fbb19a2222b29c4dc0bd0fc8d>
				<task_item_id>hash_0800136b97bacebd3e8d530c397cd5bfa98aea</task_item_id>
				<color_id>DE0056</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Waiting For Connection</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000138e38a88fbb19a2222b29c4dc0bd0fc8d>
			<hash_10001314b75abfd17f3c5ac640d7723ac16cf4>
				<task_item_id>hash_0800136b97bacebd3e8d530c397cd5bfa98aea</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001314b75abfd17f3c5ac640d7723ac16cf4>
			<hash_100013210e2c423b65c98a0be1df5db95ddcab>
				<task_item_id>hash_0800136b97bacebd3e8d530c397cd5bfa98aea</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013210e2c423b65c98a0be1df5db95ddcab>
			<hash_10001351748a634f48468d636c96f953adecb2>
				<task_item_id>hash_0800136b97bacebd3e8d530c397cd5bfa98aea</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10001351748a634f48468d636c96f953adecb2>
			<hash_100013f0e0dc0ed69bb21a1cc08929968d9b05>
				<task_item_id>hash_08001345018a757444027d11c0ce0b641dc07c</task_item_id>
				<color_id>784890</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Starting Up</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013f0e0dc0ed69bb21a1cc08929968d9b05>
			<hash_10001352bc6b651e868ebc8834cd73df4230db>
				<task_item_id>hash_08001345018a757444027d11c0ce0b641dc07c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_10001352bc6b651e868ebc8834cd73df4230db>
			<hash_1000130dbb240bac7a2319fb51114f12c7e596>
				<task_item_id>hash_08001345018a757444027d11c0ce0b641dc07c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000130dbb240bac7a2319fb51114f12c7e596>
			<hash_1000132949a121cfb8b9253c7730ed62e542c6>
				<task_item_id>hash_08001345018a757444027d11c0ce0b641dc07c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000132949a121cfb8b9253c7730ed62e542c6>
			<hash_1000133324c9d0c2b32749511c083bbc8f6de6>
				<task_item_id>hash_080013e180ea674149dfb1434afa01e50613c2</task_item_id>
				<color_id>D1642E</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Reading Request</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000133324c9d0c2b32749511c083bbc8f6de6>
			<hash_10001312eca125791c0031173196817a656e3e>
				<task_item_id>hash_080013e180ea674149dfb1434afa01e50613c2</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_10001312eca125791c0031173196817a656e3e>
			<hash_100013c0d8877f8d539e0868293457394c44fe>
				<task_item_id>hash_080013e180ea674149dfb1434afa01e50613c2</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_100013c0d8877f8d539e0868293457394c44fe>
			<hash_100013e64318deb6813163a57761867b94e7d6>
				<task_item_id>hash_080013e180ea674149dfb1434afa01e50613c2</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013e64318deb6813163a57761867b94e7d6>
			<hash_10001343ef3f81769b5825318aab786f6597b4>
				<task_item_id>hash_08001330766a565dca68e7780f77bbac07d0a9</task_item_id>
				<color_id>487860</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Sending Reply</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_10001343ef3f81769b5825318aab786f6597b4>
			<hash_100013a848dcb6d2e6cb236d74feecd4665dc8>
				<task_item_id>hash_08001330766a565dca68e7780f77bbac07d0a9</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_100013a848dcb6d2e6cb236d74feecd4665dc8>
			<hash_100013ba81d789ec90dcac77fcba150a993c2b>
				<task_item_id>hash_08001330766a565dca68e7780f77bbac07d0a9</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100013ba81d789ec90dcac77fcba150a993c2b>
			<hash_100013384ffdd9154e378da2164fbdb5d2911d>
				<task_item_id>hash_08001330766a565dca68e7780f77bbac07d0a9</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_100013384ffdd9154e378da2164fbdb5d2911d>
			<hash_1000134126af1166975a1f29b5f897f2e02624>
				<task_item_id>hash_0800136b9a1ed422e5df89522039cf05bdd0b1</task_item_id>
				<color_id>907890</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Keepalive</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_1000134126af1166975a1f29b5f897f2e02624>
			<hash_10001329e037bba6ef0d4be45c3d459a7ea3d5>
				<task_item_id>hash_0800136b9a1ed422e5df89522039cf05bdd0b1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_10001329e037bba6ef0d4be45c3d459a7ea3d5>
			<hash_100013cb3585d91618ff8b09507922176437f0>
				<task_item_id>hash_0800136b9a1ed422e5df89522039cf05bdd0b1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_100013cb3585d91618ff8b09507922176437f0>
			<hash_10001375561b968a3ac85a83a919047a53fdb0>
				<task_item_id>hash_0800136b9a1ed422e5df89522039cf05bdd0b1</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_10001375561b968a3ac85a83a919047a53fdb0>
			<hash_100013aff3474f146a819358f3f6d9c2b621aa>
				<task_item_id>hash_080013bfeb1f5646138f8ea8b941ed79fdc003</task_item_id>
				<color_id>DE0056</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>DNS Lookup</text_format>
				<hard_return></hard_return>
				<sequence>21</sequence>
			</hash_100013aff3474f146a819358f3f6d9c2b621aa>
			<hash_100013c4d5b7b33264109f21f36501ca648770>
				<task_item_id>hash_080013bfeb1f5646138f8ea8b941ed79fdc003</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_100013c4d5b7b33264109f21f36501ca648770>
			<hash_1000131adfe31481e04218240afd91d1bee9b1>
				<task_item_id>hash_080013bfeb1f5646138f8ea8b941ed79fdc003</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>23</sequence>
			</hash_1000131adfe31481e04218240afd91d1bee9b1>
			<hash_100013bc25d3e35d0e439c63474183c0e8abdb>
				<task_item_id>hash_080013bfeb1f5646138f8ea8b941ed79fdc003</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>24</sequence>
			</hash_100013bc25d3e35d0e439c63474183c0e8abdb>
			<hash_10001377ad183429b299aedc29676e72c40d2e>
				<task_item_id>hash_0800138b856a8766315516ea187ecb2fbaa2ee</task_item_id>
				<color_id>1693A7</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Closing Connection</text_format>
				<hard_return></hard_return>
				<sequence>25</sequence>
			</hash_10001377ad183429b299aedc29676e72c40d2e>
			<hash_1000132e24a9eb579094caba9215e406dd2b23>
				<task_item_id>hash_0800138b856a8766315516ea187ecb2fbaa2ee</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>26</sequence>
			</hash_1000132e24a9eb579094caba9215e406dd2b23>
			<hash_100013910964396a523d50bb6f12014be0d5e9>
				<task_item_id>hash_0800138b856a8766315516ea187ecb2fbaa2ee</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>27</sequence>
			</hash_100013910964396a523d50bb6f12014be0d5e9>
			<hash_100013fba625d3eedb73abd4d3399cf36cabce>
				<task_item_id>hash_0800138b856a8766315516ea187ecb2fbaa2ee</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>28</sequence>
			</hash_100013fba625d3eedb73abd4d3399cf36cabce>
			<hash_1000138b09886507f8233875fe93ef0b24ca58>
				<task_item_id>hash_08001315361d610403f0e73f24b7e9e7766a10</task_item_id>
				<color_id>FF7D00</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Logging</text_format>
				<hard_return></hard_return>
				<sequence>29</sequence>
			</hash_1000138b09886507f8233875fe93ef0b24ca58>
			<hash_100013cd0ea9b511e4f2b3e4a2b6f270196b01>
				<task_item_id>hash_08001315361d610403f0e73f24b7e9e7766a10</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>30</sequence>
			</hash_100013cd0ea9b511e4f2b3e4a2b6f270196b01>
			<hash_10001323076f41cd1ccee831d00908d823815a>
				<task_item_id>hash_08001315361d610403f0e73f24b7e9e7766a10</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>31</sequence>
			</hash_10001323076f41cd1ccee831d00908d823815a>
			<hash_100013808230a30be8b51ab1dc6bc7f4115fed>
				<task_item_id>hash_08001315361d610403f0e73f24b7e9e7766a10</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>32</sequence>
			</hash_100013808230a30be8b51ab1dc6bc7f4115fed>
			<hash_100013b8ec43fbea7ac6d147f41e44cb68f6c8>
				<task_item_id>hash_080013b704aa7f1ef090776d65ea7938af4a85</task_item_id>
				<color_id>B83A04</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Gracefully Finishing</text_format>
				<hard_return></hard_return>
				<sequence>33</sequence>
			</hash_100013b8ec43fbea7ac6d147f41e44cb68f6c8>
			<hash_1000135654785da70d2161933204e834392b61>
				<task_item_id>hash_080013b704aa7f1ef090776d65ea7938af4a85</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>34</sequence>
			</hash_1000135654785da70d2161933204e834392b61>
			<hash_100013ec54958c8153e29cf0f869e364737e3c>
				<task_item_id>hash_080013b704aa7f1ef090776d65ea7938af4a85</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>35</sequence>
			</hash_100013ec54958c8153e29cf0f869e364737e3c>
			<hash_100013deba211070590241a2c58e3f2a12dc5d>
				<task_item_id>hash_080013b704aa7f1ef090776d65ea7938af4a85</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>36</sequence>
			</hash_100013deba211070590241a2c58e3f2a12dc5d>
			<hash_10001393e67aab28dc09bb7ab53cdfbab3dbe6>
				<task_item_id>hash_08001393e6fb4c447d6615e3cfcbf860540357</task_item_id>
				<color_id>540202</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Idle Cleanup</text_format>
				<hard_return></hard_return>
				<sequence>37</sequence>
			</hash_10001393e67aab28dc09bb7ab53cdfbab3dbe6>
			<hash_100013b2a57c635fddb84ee34e89a900462c70>
				<task_item_id>hash_08001393e6fb4c447d6615e3cfcbf860540357</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>38</sequence>
			</hash_100013b2a57c635fddb84ee34e89a900462c70>
			<hash_1000137178419370c89bb6ff82b2c1ed65073b>
				<task_item_id>hash_08001393e6fb4c447d6615e3cfcbf860540357</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>39</sequence>
			</hash_1000137178419370c89bb6ff82b2c1ed65073b>
			<hash_1000134d051614ada7203d727bc65d166b0636>
				<task_item_id>hash_08001393e6fb4c447d6615e3cfcbf860540357</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>40</sequence>
			</hash_1000134d051614ada7203d727bc65d166b0636>
			<hash_1000130609dfe3177b880beddcc0f1c68f47bc>
				<task_item_id>hash_080013e35d473f2419852bdce7576648c9821a</task_item_id>
				<color_id>6E645A</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Open Slot</text_format>
				<hard_return></hard_return>
				<sequence>41</sequence>
			</hash_1000130609dfe3177b880beddcc0f1c68f47bc>
			<hash_100013bdb6a987087674f282ff2af8d4fa7a9a>
				<task_item_id>hash_080013e35d473f2419852bdce7576648c9821a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>42</sequence>
			</hash_100013bdb6a987087674f282ff2af8d4fa7a9a>
			<hash_10001335a1a7d8495b07f431aacb1252899328>
				<task_item_id>hash_080013e35d473f2419852bdce7576648c9821a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>43</sequence>
			</hash_10001335a1a7d8495b07f431aacb1252899328>
			<hash_100013a029caad27fedd71986e3a8ac51443e2>
				<task_item_id>hash_080013e35d473f2419852bdce7576648c9821a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>44</sequence>
			</hash_100013a029caad27fedd71986e3a8ac51443e2>
		</items>
		<inputs>
			<hash_090013f5cb9a27bc339cb5cbfd264bcea16ead>
				<name>Data Source [APACHE_Wtng_frcnctn]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000138e38a88fbb19a2222b29c4dc0bd0fc8d|hash_00001314b75abfd17f3c5ac640d7723ac16cf4|hash_000013210e2c423b65c98a0be1df5db95ddcab|hash_00001351748a634f48468d636c96f953adecb2</items>
			</hash_090013f5cb9a27bc339cb5cbfd264bcea16ead>
			<hash_09001343b520c92bc1a2559787d10f9b721e6b>
				<name>Data Source [APACHE_Starting_up]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013f0e0dc0ed69bb21a1cc08929968d9b05|hash_00001352bc6b651e868ebc8834cd73df4230db|hash_0000130dbb240bac7a2319fb51114f12c7e596|hash_0000132949a121cfb8b9253c7730ed62e542c6</items>
			</hash_09001343b520c92bc1a2559787d10f9b721e6b>
			<hash_0900134f83ba37f71ab054d0195bfa1b98e5c6>
				<name>Data Source [APACHE_Reading_rqst]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000133324c9d0c2b32749511c083bbc8f6de6|hash_00001312eca125791c0031173196817a656e3e|hash_000013c0d8877f8d539e0868293457394c44fe|hash_000013e64318deb6813163a57761867b94e7d6</items>
			</hash_0900134f83ba37f71ab054d0195bfa1b98e5c6>
			<hash_09001323adcee9cab3ca4f14765fe3c7253242>
				<name>Data Source [APACHE_Sending_rply]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001343ef3f81769b5825318aab786f6597b4|hash_000013a848dcb6d2e6cb236d74feecd4665dc8|hash_000013ba81d789ec90dcac77fcba150a993c2b|hash_000013384ffdd9154e378da2164fbdb5d2911d</items>
			</hash_09001323adcee9cab3ca4f14765fe3c7253242>
			<hash_090013927222ed371558df199e36cb291e07c3>
				<name>Data Source [APACHE_Keepalive]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000134126af1166975a1f29b5f897f2e02624|hash_00001329e037bba6ef0d4be45c3d459a7ea3d5|hash_000013cb3585d91618ff8b09507922176437f0|hash_00001375561b968a3ac85a83a919047a53fdb0</items>
			</hash_090013927222ed371558df199e36cb291e07c3>
			<hash_0900137964389e04e201754bce92a1ab9b0f45>
				<name>Data Source [APACHE_DNS_lookup]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013aff3474f146a819358f3f6d9c2b621aa|hash_000013c4d5b7b33264109f21f36501ca648770|hash_0000131adfe31481e04218240afd91d1bee9b1|hash_000013bc25d3e35d0e439c63474183c0e8abdb</items>
			</hash_0900137964389e04e201754bce92a1ab9b0f45>
			<hash_09001383abaaf1c1869fd008892bbd263f9ba8>
				<name>Data Source [APACHE_Clsng_cnnctn]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001377ad183429b299aedc29676e72c40d2e|hash_0000132e24a9eb579094caba9215e406dd2b23|hash_000013910964396a523d50bb6f12014be0d5e9|hash_000013fba625d3eedb73abd4d3399cf36cabce</items>
			</hash_09001383abaaf1c1869fd008892bbd263f9ba8>
			<hash_090013f9b56cdac7d6bde2baed1354251463a1>
				<name>Data Source [APACHE_Logging]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000138b09886507f8233875fe93ef0b24ca58|hash_000013cd0ea9b511e4f2b3e4a2b6f270196b01|hash_00001323076f41cd1ccee831d00908d823815a|hash_000013808230a30be8b51ab1dc6bc7f4115fed</items>
			</hash_090013f9b56cdac7d6bde2baed1354251463a1>
			<hash_09001308428235371b20af7ef6c397d66c706f>
				<name>Data Source [APACHE_Grcflyfnshng]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013b8ec43fbea7ac6d147f41e44cb68f6c8|hash_0000135654785da70d2161933204e834392b61|hash_000013ec54958c8153e29cf0f869e364737e3c|hash_000013deba211070590241a2c58e3f2a12dc5d</items>
			</hash_09001308428235371b20af7ef6c397d66c706f>
			<hash_09001344cf9ae38e5273c0d55b30de0d32ead1>
				<name>Data Source [APACHE_Idle_cleanup]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001393e67aab28dc09bb7ab53cdfbab3dbe6|hash_000013b2a57c635fddb84ee34e89a900462c70|hash_0000137178419370c89bb6ff82b2c1ed65073b|hash_0000134d051614ada7203d727bc65d166b0636</items>
			</hash_09001344cf9ae38e5273c0d55b30de0d32ead1>
			<hash_090013d2fb4326379df5e08ca2e0ea269291ef>
				<name>Data Source [APACHE_Open_slot]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000130609dfe3177b880beddcc0f1c68f47bc|hash_000013bdb6a987087674f282ff2af8d4fa7a9a|hash_00001335a1a7d8495b07f431aacb1252899328|hash_000013a029caad27fedd71986e3a8ac51443e2</items>
			</hash_090013d2fb4326379df5e08ca2e0ea269291ef>
		</inputs>
	</hash_000013f60b74bf26f749769ba25fc470e360ec>
	<hash_010013f9c42195d10d5c43ae680625c29ecf5c>
		<name>Percona Apache Requests DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Apache Requests</name>
			<data_input_id>hash_0300133a1138260100a8ad7491f01cd320eafe</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800134a03ef2973154a0e52ee0fc3f532983e>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Requests</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700132dd3706fda20c335021e01ba89ad46ca</data_input_field_id>
			</hash_0800134a03ef2973154a0e52ee0fc3f532983e>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013bc9c3b4f85d8ad066859f9dfa6f3b5a5</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013f9c42195d10d5c43ae680625c29ecf5c>
	<hash_0100134aaee4ddc5048cf427e5a077783e0073>
		<name>Percona Apache Bytes DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Apache Bytes</name>
			<data_input_id>hash_030013e7c3bd09981bae0e500d91d4ed65b033</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001332435aaf4845cd6c251cbbc91f133851>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Bytes_sent</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013176792b65f67b89314c2d0fdfc990f14</data_input_field_id>
			</hash_08001332435aaf4845cd6c251cbbc91f133851>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700130fb33825e9879cb2e5f58b8d56c03574</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100134aaee4ddc5048cf427e5a077783e0073>
	<hash_0100139cdf1586ca4c148131787a4431545684>
		<name>Percona Apache CPU Load DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Apache CPU Load</name>
			<data_input_id>hash_030013841efa5ccfdb22733a2bfdf131f7a6af</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800132c0b5d3f5cd53363b94554b9e885e634>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_CPU_Load</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700138902bb51439e3d1e04e67deb8d3771bd</data_input_field_id>
			</hash_0800132c0b5d3f5cd53363b94554b9e885e634>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013d4c02b871ecd1a5f1e6ac1c678a65ab7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100139cdf1586ca4c148131787a4431545684>
	<hash_010013f55da464cbc351f2b006438816194720>
		<name>Percona Apache Workers DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Apache Workers</name>
			<data_input_id>hash_03001393916a025f8888af6ae3c9bab9e6be16</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013fc7d9f93b5d5a7f892e05e7a77d3287f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Idle_workers</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013e43724ec3b8d65747338f762279eb279</data_input_field_id>
			</hash_080013fc7d9f93b5d5a7f892e05e7a77d3287f>
			<hash_0800130e2969a383c373218823cc6434cdfda4>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Busy_workers</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139e96f24e26b87ef28d27166613cdcd8d</data_input_field_id>
			</hash_0800130e2969a383c373218823cc6434cdfda4>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001365d0c34c42f30e9830773c89994a06a2</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013f55da464cbc351f2b006438816194720>
	<hash_0100136e5719ef70d8a9a820103eb07f336756>
		<name>Percona Apache Scoreboard DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Apache Scoreboard</name>
			<data_input_id>hash_030013493e4674df99947c33e1a85d37551e51</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001345018a757444027d11c0ce0b641dc07c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Starting_up</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013fd0d8b2e6ab119d070bd370da9a25591</data_input_field_id>
			</hash_08001345018a757444027d11c0ce0b641dc07c>
			<hash_080013e35d473f2419852bdce7576648c9821a>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Open_slot</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700136b4c99c5731ce8a4e379f0ae748a130d</data_input_field_id>
			</hash_080013e35d473f2419852bdce7576648c9821a>
			<hash_080013b704aa7f1ef090776d65ea7938af4a85>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Grcflyfnshng</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013bd600fdd9df21e99c4b94f7f77d2917b</data_input_field_id>
			</hash_080013b704aa7f1ef090776d65ea7938af4a85>
			<hash_080013e180ea674149dfb1434afa01e50613c2>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Reading_rqst</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700133d3305fa52c23ebaa1961201f9af6ddb</data_input_field_id>
			</hash_080013e180ea674149dfb1434afa01e50613c2>
			<hash_0800138b856a8766315516ea187ecb2fbaa2ee>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Clsng_cnnctn</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001371558c1bf3f967a6383b0350808eb1bb</data_input_field_id>
			</hash_0800138b856a8766315516ea187ecb2fbaa2ee>
			<hash_0800136b9a1ed422e5df89522039cf05bdd0b1>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Keepalive</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001333763ca0a2d71ea0eda166f3889106d2</data_input_field_id>
			</hash_0800136b9a1ed422e5df89522039cf05bdd0b1>
			<hash_08001393e6fb4c447d6615e3cfcbf860540357>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Idle_cleanup</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700138d4698c6ffd74722796f765cbd83be87</data_input_field_id>
			</hash_08001393e6fb4c447d6615e3cfcbf860540357>
			<hash_08001315361d610403f0e73f24b7e9e7766a10>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Logging</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700131d3e4c6b5882f10e3ada52c9353a7997</data_input_field_id>
			</hash_08001315361d610403f0e73f24b7e9e7766a10>
			<hash_08001330766a565dca68e7780f77bbac07d0a9>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Sending_rply</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700130bdb150fa2458bfb6910ab5ab4782ec0</data_input_field_id>
			</hash_08001330766a565dca68e7780f77bbac07d0a9>
			<hash_0800136b97bacebd3e8d530c397cd5bfa98aea>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_Wtng_frcnctn</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700135380cc7f6d855b8b03df2b7529d56fcd</data_input_field_id>
			</hash_0800136b97bacebd3e8d530c397cd5bfa98aea>
			<hash_080013bfeb1f5646138f8ea8b941ed79fdc003>
				<t_data_source_name></t_data_source_name>
				<data_source_name>APACHE_DNS_lookup</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700131d5f6ca0a5d998ddd445cdecca4c70b0</data_input_field_id>
			</hash_080013bfeb1f5646138f8ea8b941ed79fdc003>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001330f1b39dc97d1eeaf408f6cd3ee35120</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100136e5719ef70d8a9a820103eb07f336756>
	<hash_0300133a1138260100a8ad7491f01cd320eafe>
		<name>Percona Get Apache Stats/Apache Requests IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type apache --items gg</input_string>
		<fields>
			<hash_070013bc9c3b4f85d8ad066859f9dfa6f3b5a5>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013bc9c3b4f85d8ad066859f9dfa6f3b5a5>
			<hash_0700132dd3706fda20c335021e01ba89ad46ca>
				<name>APACHE Requests</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gg</data_name>
			</hash_0700132dd3706fda20c335021e01ba89ad46ca>
		</fields>
	</hash_0300133a1138260100a8ad7491f01cd320eafe>
	<hash_030013e7c3bd09981bae0e500d91d4ed65b033>
		<name>Percona Get Apache Stats/Apache Bytes IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type apache --items gh</input_string>
		<fields>
			<hash_0700130fb33825e9879cb2e5f58b8d56c03574>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700130fb33825e9879cb2e5f58b8d56c03574>
			<hash_070013176792b65f67b89314c2d0fdfc990f14>
				<name>APACHE Bytes Sent</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gh</data_name>
			</hash_070013176792b65f67b89314c2d0fdfc990f14>
		</fields>
	</hash_030013e7c3bd09981bae0e500d91d4ed65b033>
	<hash_030013841efa5ccfdb22733a2bfdf131f7a6af>
		<name>Percona Get Apache Stats/Apache CPU Load IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type apache --items gk</input_string>
		<fields>
			<hash_070013d4c02b871ecd1a5f1e6ac1c678a65ab7>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013d4c02b871ecd1a5f1e6ac1c678a65ab7>
			<hash_0700138902bb51439e3d1e04e67deb8d3771bd>
				<name>APACHE CPU Load</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gk</data_name>
			</hash_0700138902bb51439e3d1e04e67deb8d3771bd>
		</fields>
	</hash_030013841efa5ccfdb22733a2bfdf131f7a6af>
	<hash_03001393916a025f8888af6ae3c9bab9e6be16>
		<name>Percona Get Apache Stats/Apache Workers IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type apache --items gi,gj</input_string>
		<fields>
			<hash_07001365d0c34c42f30e9830773c89994a06a2>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001365d0c34c42f30e9830773c89994a06a2>
			<hash_070013e43724ec3b8d65747338f762279eb279>
				<name>APACHE Idle Workers</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gi</data_name>
			</hash_070013e43724ec3b8d65747338f762279eb279>
			<hash_0700139e96f24e26b87ef28d27166613cdcd8d>
				<name>APACHE Busy Workers</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gj</data_name>
			</hash_0700139e96f24e26b87ef28d27166613cdcd8d>
		</fields>
	</hash_03001393916a025f8888af6ae3c9bab9e6be16>
	<hash_030013493e4674df99947c33e1a85d37551e51>
		<name>Percona Get Apache Stats/Apache Scoreboard IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type apache --items gl,gm,gn,go,gp,gq,gr,gs,gt,gu,gv</input_string>
		<fields>
			<hash_07001330f1b39dc97d1eeaf408f6cd3ee35120>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001330f1b39dc97d1eeaf408f6cd3ee35120>
			<hash_070013fd0d8b2e6ab119d070bd370da9a25591>
				<name>APACHE Starting Up</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gm</data_name>
			</hash_070013fd0d8b2e6ab119d070bd370da9a25591>
			<hash_0700136b4c99c5731ce8a4e379f0ae748a130d>
				<name>APACHE Open Slot</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gv</data_name>
			</hash_0700136b4c99c5731ce8a4e379f0ae748a130d>
			<hash_070013bd600fdd9df21e99c4b94f7f77d2917b>
				<name>APACHE Gracefully Finishing</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gt</data_name>
			</hash_070013bd600fdd9df21e99c4b94f7f77d2917b>
			<hash_0700133d3305fa52c23ebaa1961201f9af6ddb>
				<name>APACHE Reading Request</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gn</data_name>
			</hash_0700133d3305fa52c23ebaa1961201f9af6ddb>
			<hash_07001371558c1bf3f967a6383b0350808eb1bb>
				<name>APACHE Closing Connection</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gr</data_name>
			</hash_07001371558c1bf3f967a6383b0350808eb1bb>
			<hash_07001333763ca0a2d71ea0eda166f3889106d2>
				<name>APACHE Keepalive</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gp</data_name>
			</hash_07001333763ca0a2d71ea0eda166f3889106d2>
			<hash_0700138d4698c6ffd74722796f765cbd83be87>
				<name>APACHE Idle Cleanup</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gu</data_name>
			</hash_0700138d4698c6ffd74722796f765cbd83be87>
			<hash_0700131d3e4c6b5882f10e3ada52c9353a7997>
				<name>APACHE Logging</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gs</data_name>
			</hash_0700131d3e4c6b5882f10e3ada52c9353a7997>
			<hash_0700130bdb150fa2458bfb6910ab5ab4782ec0>
				<name>APACHE Sending Reply</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>go</data_name>
			</hash_0700130bdb150fa2458bfb6910ab5ab4782ec0>
			<hash_0700135380cc7f6d855b8b03df2b7529d56fcd>
				<name>APACHE Waiting For Connection</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gl</data_name>
			</hash_0700135380cc7f6d855b8b03df2b7529d56fcd>
			<hash_0700131d5f6ca0a5d998ddd445cdecca4c70b0>
				<name>APACHE DNS Lookup</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>gq</data_name>
			</hash_0700131d5f6ca0a5d998ddd445cdecca4c70b0>
		</fields>
	</hash_030013493e4674df99947c33e1a85d37551e51>
	<hash_06001377f3b553c351bf1e678c9b6c93a2266e>
		<name>Percona Apache Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_06001377f3b553c351bf1e678c9b6c93a2266e>
	<hash_060013259de583017cbc4be74c359930d0af12>
		<name>Percona Apache Server Checksum 140ae0ee4e83405b77f0520a67be4b21</name>
		<gprint_text>140ae0ee4e83405b77f0520a67be4b21</gprint_text>
	</hash_060013259de583017cbc4be74c359930d0af12>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
