<cacti>	
	<hash_040024402301c99ebc9f50793e1c7b93c50ec4>
		<name>SNMP_Informant_Standard - Objects Statistics</name>
		<description>Query Object Stats</description>
		<xml_path>&lt;path_cacti&gt;/resource/snmp_queries/snmp_informant_standard_objects.xml</xml_path>
		<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
		<graphs>
			<hash_110024690cd3c3c722dcd91d34d6271ff4b588>
				<name>Object Statistics</name>
				<graph_template_id>hash_000024665e867126af230a3bac8ae33dbecb04</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>objectsprocesses</snmp_field_name>
						<data_template_id>hash_01002453c359529643adc8cb0e613125ff2340</data_template_id>
						<data_template_rrd_id>hash_080024c7f2de5e861720acf0b100aae09c0fb1</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>objectsthreads</snmp_field_name>
						<data_template_id>hash_01002453c359529643adc8cb0e613125ff2340</data_template_id>
						<data_template_rrd_id>hash_080024c2ae597bc63011e5254c6b69f2cbc38d</data_template_rrd_id>
					</item_001>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_110024690cd3c3c722dcd91d34d6271ff4b588>
		</graphs>
	</hash_040024402301c99ebc9f50793e1c7b93c50ec4>
	<hash_030024bf566c869ac6443b0c75d1c32b5a350e>
		<name>Get SNMP Data (Indexed)</name>
		<type_id>3</type_id>
		<input_string></input_string>
		<fields>
			<hash_070024617cdc8a230615e59f06f361ef6e7728>
				<name>SNMP IP Address</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>management_ip</data_name>
			</hash_070024617cdc8a230615e59f06f361ef6e7728>
			<hash_070024acb449d1451e8a2a655c2c99d31142c7>
				<name>SNMP Community</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_community</type_code>
				<input_output>in</input_output>
				<data_name>snmp_community</data_name>
			</hash_070024acb449d1451e8a2a655c2c99d31142c7>
			<hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
				<name>SNMP Username (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_username</type_code>
				<input_output>in</input_output>
				<data_name>snmp_username</data_name>
			</hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
			<hash_0700241cc1493a6781af2c478fa4de971531cf>
				<name>SNMP Password (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_password</type_code>
				<input_output>in</input_output>
				<data_name>snmp_password</data_name>
			</hash_0700241cc1493a6781af2c478fa4de971531cf>
			<hash_070024b5c23f246559df38662c255f4aa21d6b>
				<name>SNMP Version (1, 2, or 3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_version</type_code>
				<input_output>in</input_output>
				<data_name>snmp_version</data_name>
			</hash_070024b5c23f246559df38662c255f4aa21d6b>
			<hash_0700246027a919c7c7731fbe095b6f53ab127b>
				<name>Index Type</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>index_type</type_code>
				<input_output>in</input_output>
				<data_name>index_type</data_name>
			</hash_0700246027a919c7c7731fbe095b6f53ab127b>
			<hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
				<name>Index Value</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>index_value</type_code>
				<input_output>in</input_output>
				<data_name>index_value</data_name>
			</hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
			<hash_070024e6deda7be0f391399c5130e7c4a48b28>
				<name>Output Type ID</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>output_type</type_code>
				<input_output>in</input_output>
				<data_name>output_type</data_name>
			</hash_070024e6deda7be0f391399c5130e7c4a48b28>
			<hash_070024c1f36ee60c3dc98945556d57f26e475b>
				<name>SNMP Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_070024c1f36ee60c3dc98945556d57f26e475b>
			<hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
				<name>SNMP Authenticaion Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_auth_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_auth_protocol</data_name>
			</hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
			<hash_0700246b13ac0a0194e171d241d4b06f913158>
				<name>SNMP Privacy Passphrase (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_passphrase</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_passphrase</data_name>
			</hash_0700246b13ac0a0194e171d241d4b06f913158>
			<hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
				<name>SNMP Privacy Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_protocol</data_name>
			</hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
			<hash_0700245240353b8f7f259acaf30e6229bc14e7>
				<name>Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_0700245240353b8f7f259acaf30e6229bc14e7>
		</fields>
	</hash_030024bf566c869ac6443b0c75d1c32b5a350e>
	<hash_000024665e867126af230a3bac8ae33dbecb04>
		<name>SNMP_Informant_Standard - Object Statistics</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| - Objects (Processes/Threads)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Objects (Processes/Threads)</vertical_label>
		</graph>
		<items>
			<hash_1000244e1836ab4f39721344f15d72b38f652a>
				<task_item_id>hash_080024c2ae597bc63011e5254c6b69f2cbc38d</task_item_id>
				<color_id>FF0000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Objects Threads:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000244e1836ab4f39721344f15d72b38f652a>
			<hash_1000243cf5162a05e663f55dc6ca506843dadc>
				<task_item_id>hash_080024c2ae597bc63011e5254c6b69f2cbc38d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000243cf5162a05e663f55dc6ca506843dadc>
			<hash_100024f3fafa40e389221b2a1ba1de926362cc>
				<task_item_id>hash_080024c2ae597bc63011e5254c6b69f2cbc38d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100024f3fafa40e389221b2a1ba1de926362cc>
			<hash_100024cbdfd4f1a92c5773061bf3c871d6e4fe>
				<task_item_id>hash_080024c2ae597bc63011e5254c6b69f2cbc38d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100024cbdfd4f1a92c5773061bf3c871d6e4fe>
			<hash_100024d6f9adcbed50ec31aa8e1853256fa632>
				<task_item_id>hash_080024c7f2de5e861720acf0b100aae09c0fb1</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Objects Processes:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100024d6f9adcbed50ec31aa8e1853256fa632>
			<hash_1000244ca6e84c4abe48e858208776cee5d877>
				<task_item_id>hash_080024c7f2de5e861720acf0b100aae09c0fb1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000244ca6e84c4abe48e858208776cee5d877>
			<hash_1000246c3b4742edede389f0e236d0f3a73a18>
				<task_item_id>hash_080024c7f2de5e861720acf0b100aae09c0fb1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000246c3b4742edede389f0e236d0f3a73a18>
			<hash_100024d16d86a57f414677410f22bf4bc0d583>
				<task_item_id>hash_080024c7f2de5e861720acf0b100aae09c0fb1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100024d16d86a57f414677410f22bf4bc0d583>
		</items>
		<inputs>
			<hash_090024fefc4d2888655bfe103c54f7bb8fa2aa>
				<name>Data Source [objectsprocesses]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024d6f9adcbed50ec31aa8e1853256fa632|hash_0000244ca6e84c4abe48e858208776cee5d877|hash_0000246c3b4742edede389f0e236d0f3a73a18|hash_000024d16d86a57f414677410f22bf4bc0d583</items>
			</hash_090024fefc4d2888655bfe103c54f7bb8fa2aa>
			<hash_090024fccba01e6d291c504c2042632e691f28>
				<name>Data Source [objectsthreads]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000244e1836ab4f39721344f15d72b38f652a|hash_0000243cf5162a05e663f55dc6ca506843dadc|hash_000024f3fafa40e389221b2a1ba1de926362cc|hash_000024cbdfd4f1a92c5773061bf3c871d6e4fe</items>
			</hash_090024fccba01e6d291c504c2042632e691f28>
		</inputs>
	</hash_000024665e867126af230a3bac8ae33dbecb04>
	<hash_01002453c359529643adc8cb0e613125ff2340>
		<name>SNMP_Informant_Standard - Object Statistics</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Object Statistics</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_080024c7f2de5e861720acf0b100aae09c0fb1>
				<t_data_source_name></t_data_source_name>
				<data_source_name>objectsprocesses</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024c7f2de5e861720acf0b100aae09c0fb1>
			<hash_080024c2ae597bc63011e5254c6b69f2cbc38d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>objectsthreads</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024c2ae597bc63011e5254c6b69f2cbc38d>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_01002453c359529643adc8cb0e613125ff2340>
	<hash_150024c21df5178e5c955013591239eb0afd46>
		<name>Daily (5 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024c21df5178e5c955013591239eb0afd46>
	<hash_1500240d9c0af8b8acdc7807943937b3208e29>
		<name>Weekly (30 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500240d9c0af8b8acdc7807943937b3208e29>
	<hash_1500246fc2d038fb42950138b0ce3e9874cc60>
		<name>Monthly (2 Hour Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500246fc2d038fb42950138b0ce3e9874cc60>
	<hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
		<name>Yearly (1 Day Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
	<hash_06002419414480d6897c8731c7dc6c5310653e>
		<name>Exact Numbers</name>
		<gprint_text>%8.0lf</gprint_text>
	</hash_06002419414480d6897c8731c7dc6c5310653e>
</cacti>