<cacti>
	<hash_02001388501be442eb224a429fecace9b0ca99>
		<name>Percona Redis Server HT</name>
		<graph_templates>hash_00001358605b758b8583058191633ce91ee7c9|hash_000013f4294ffa0addd18eac86307b49e792dd|hash_00001368547617d6aa55d2149ae496f60d16c3|hash_0000134eaf3512be033d1e19397dd33676be72</graph_templates>
		<data_queries></data_queries>
	</hash_02001388501be442eb224a429fecace9b0ca99>
	<hash_00001358605b758b8583058191633ce91ee7c9>
		<name>Percona Redis Connections GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Redis Connections</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000136071f069a5bd15e74ef598a9b4db7644>
				<task_item_id>hash_0800132ed1bfcdf90c57a054bb3326922f5ed0</task_item_id>
				<color_id>9B2B1B</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Connected Clients</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000136071f069a5bd15e74ef598a9b4db7644>
			<hash_1000136975aa8992c9c88fe7be8b3dd61a9c62>
				<task_item_id>hash_0800132ed1bfcdf90c57a054bb3326922f5ed0</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000136975aa8992c9c88fe7be8b3dd61a9c62>
			<hash_1000131378738d9922c5e213a87c1872aa97e8>
				<task_item_id>hash_0800132ed1bfcdf90c57a054bb3326922f5ed0</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000131378738d9922c5e213a87c1872aa97e8>
			<hash_100013f27bb1882e9a4f170c4800a025e5bf8d>
				<task_item_id>hash_0800132ed1bfcdf90c57a054bb3326922f5ed0</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013f27bb1882e9a4f170c4800a025e5bf8d>
			<hash_100013beb0c210ddedb5746745cf034d277f3f>
				<task_item_id>hash_0800132db5ce58f698e28e7ff3c94f0aef0193</task_item_id>
				<color_id>4A170F</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Connected Slaves</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013beb0c210ddedb5746745cf034d277f3f>
			<hash_100013fbb554b0fb6a1b285a764d241866d961>
				<task_item_id>hash_0800132db5ce58f698e28e7ff3c94f0aef0193</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013fbb554b0fb6a1b285a764d241866d961>
			<hash_100013a628a06f4a3af11989870dbf8c9be8c6>
				<task_item_id>hash_0800132db5ce58f698e28e7ff3c94f0aef0193</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013a628a06f4a3af11989870dbf8c9be8c6>
			<hash_100013c606a20bedd8e369003fc3176dbb5938>
				<task_item_id>hash_0800132db5ce58f698e28e7ff3c94f0aef0193</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013c606a20bedd8e369003fc3176dbb5938>
			<hash_1000136e92739c5eccd34d5f4ca7bbc7094690>
				<task_item_id>hash_08001372a3947c4553c5df2c325280f3733382</task_item_id>
				<color_id>38524B</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Total Connections Received</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000136e92739c5eccd34d5f4ca7bbc7094690>
			<hash_1000137db5f931889d0b5f8103e6b505af9416>
				<task_item_id>hash_08001372a3947c4553c5df2c325280f3733382</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000137db5f931889d0b5f8103e6b505af9416>
			<hash_1000133c3e7dfbf736070e11c8d3af7032c07a>
				<task_item_id>hash_08001372a3947c4553c5df2c325280f3733382</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000133c3e7dfbf736070e11c8d3af7032c07a>
			<hash_100013dcb448626fe1960d66c8e269966b8c68>
				<task_item_id>hash_08001372a3947c4553c5df2c325280f3733382</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013dcb448626fe1960d66c8e269966b8c68>
		</items>
		<inputs>
			<hash_0900131bf05bfd3efdbf41f4f91b174e38cc30>
				<name>Data Source [REDIS_connctd_clnts]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000136071f069a5bd15e74ef598a9b4db7644|hash_0000136975aa8992c9c88fe7be8b3dd61a9c62|hash_0000131378738d9922c5e213a87c1872aa97e8|hash_000013f27bb1882e9a4f170c4800a025e5bf8d</items>
			</hash_0900131bf05bfd3efdbf41f4f91b174e38cc30>
			<hash_0900130a3beb5b828545518dd79c85bdad50e2>
				<name>Data Source [REDIS_connectd_slvs]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013beb0c210ddedb5746745cf034d277f3f|hash_000013fbb554b0fb6a1b285a764d241866d961|hash_000013a628a06f4a3af11989870dbf8c9be8c6|hash_000013c606a20bedd8e369003fc3176dbb5938</items>
			</hash_0900130a3beb5b828545518dd79c85bdad50e2>
			<hash_09001386507352c88a1db5466434438f0ac7a6>
				<name>Data Source [REDIS_tl_cnctnsrcvd]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000136e92739c5eccd34d5f4ca7bbc7094690|hash_0000137db5f931889d0b5f8103e6b505af9416|hash_0000133c3e7dfbf736070e11c8d3af7032c07a|hash_000013dcb448626fe1960d66c8e269966b8c68</items>
			</hash_09001386507352c88a1db5466434438f0ac7a6>
		</inputs>
	</hash_00001358605b758b8583058191633ce91ee7c9>
	<hash_000013f4294ffa0addd18eac86307b49e792dd>
		<name>Percona Redis Memory GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Redis Memory</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001310e7047ede5a2f3415fb750d11bf1bf5>
				<task_item_id>hash_0800138b73f208626cc1aceb64897005bf057c</task_item_id>
				<color_id>3B7AD9</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Used Memory</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001310e7047ede5a2f3415fb750d11bf1bf5>
			<hash_10001350f0fa0b8b4fbd4b19cda83ab0f865db>
				<task_item_id>hash_0800138b73f208626cc1aceb64897005bf057c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001350f0fa0b8b4fbd4b19cda83ab0f865db>
			<hash_1000135f9a6238ed16c67511ebab8e1350a6da>
				<task_item_id>hash_0800138b73f208626cc1aceb64897005bf057c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000135f9a6238ed16c67511ebab8e1350a6da>
			<hash_100013b41cc19d76c8082207a4bd96da9c3008>
				<task_item_id>hash_0800138b73f208626cc1aceb64897005bf057c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013b41cc19d76c8082207a4bd96da9c3008>
		</items>
		<inputs>
			<hash_0900133bae2ef9a80cad6fd1386c9f5a14ee5d>
				<name>Data Source [REDIS_used_memory]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001310e7047ede5a2f3415fb750d11bf1bf5|hash_00001350f0fa0b8b4fbd4b19cda83ab0f865db|hash_0000135f9a6238ed16c67511ebab8e1350a6da|hash_000013b41cc19d76c8082207a4bd96da9c3008</items>
			</hash_0900133bae2ef9a80cad6fd1386c9f5a14ee5d>
		</inputs>
	</hash_000013f4294ffa0addd18eac86307b49e792dd>
	<hash_00001368547617d6aa55d2149ae496f60d16c3>
		<name>Percona Redis Commands GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Redis Commands</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001338569d43af987292a6800552e49e0f35>
				<task_item_id>hash_080013614ee9dd08ef55d82a411f341dfe65f6</task_item_id>
				<color_id>FF7200</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Total Commands Processed</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001338569d43af987292a6800552e49e0f35>
			<hash_10001332e9ced148c6c6ee70eaa0c969bf8356>
				<task_item_id>hash_080013614ee9dd08ef55d82a411f341dfe65f6</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001332e9ced148c6c6ee70eaa0c969bf8356>
			<hash_100013bd06b053d27efa28be85dde74cdb9d4b>
				<task_item_id>hash_080013614ee9dd08ef55d82a411f341dfe65f6</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013bd06b053d27efa28be85dde74cdb9d4b>
			<hash_100013bc969168bcb5e89435605a14a6ebb9d8>
				<task_item_id>hash_080013614ee9dd08ef55d82a411f341dfe65f6</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013bc969168bcb5e89435605a14a6ebb9d8>
		</items>
		<inputs>
			<hash_0900134f019a4ad72030fdbca608004aa36006>
				<name>Data Source [REDIS_tl_cmndsprcsd]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001338569d43af987292a6800552e49e0f35|hash_00001332e9ced148c6c6ee70eaa0c969bf8356|hash_000013bd06b053d27efa28be85dde74cdb9d4b|hash_000013bc969168bcb5e89435605a14a6ebb9d8</items>
			</hash_0900134f019a4ad72030fdbca608004aa36006>
		</inputs>
	</hash_00001368547617d6aa55d2149ae496f60d16c3>
	<hash_0000134eaf3512be033d1e19397dd33676be72>
		<name>Percona Redis Unsaved Changes GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Redis Unsaved Changes</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013d0878b183c6e961a893712717784b5a7>
				<task_item_id>hash_080013f8d281cfc380bd27e0aa57e18767bdba</task_item_id>
				<color_id>A88558</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Changes Since Last Save</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013d0878b183c6e961a893712717784b5a7>
			<hash_100013161c968d7ae7398c89cf25e61f4f8d02>
				<task_item_id>hash_080013f8d281cfc380bd27e0aa57e18767bdba</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013161c968d7ae7398c89cf25e61f4f8d02>
			<hash_1000134fa85c29c9810255945c4fa465bebd62>
				<task_item_id>hash_080013f8d281cfc380bd27e0aa57e18767bdba</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000134fa85c29c9810255945c4fa465bebd62>
			<hash_10001362cd0ed99224aa689a95cd475ef98491>
				<task_item_id>hash_080013f8d281cfc380bd27e0aa57e18767bdba</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10001362cd0ed99224aa689a95cd475ef98491>
		</items>
		<inputs>
			<hash_090013fcf2ca58aabc0878762ff7ef0e865537>
				<name>Data Source [REDIS_chngssnceltsv]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013d0878b183c6e961a893712717784b5a7|hash_000013161c968d7ae7398c89cf25e61f4f8d02|hash_0000134fa85c29c9810255945c4fa465bebd62|hash_00001362cd0ed99224aa689a95cd475ef98491</items>
			</hash_090013fcf2ca58aabc0878762ff7ef0e865537>
		</inputs>
	</hash_0000134eaf3512be033d1e19397dd33676be72>
	<hash_010013e16c97ecf8dde1a2cd113a0ced39b564>
		<name>Percona Redis Connections DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Redis Connections</name>
			<data_input_id>hash_030013f4296e267891090d229fe555a47a169f</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800132ed1bfcdf90c57a054bb3326922f5ed0>
				<t_data_source_name></t_data_source_name>
				<data_source_name>REDIS_connctd_clnts</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700138a7ac23d94b9c68aef61a2ff8c503100</data_input_field_id>
			</hash_0800132ed1bfcdf90c57a054bb3326922f5ed0>
			<hash_08001372a3947c4553c5df2c325280f3733382>
				<t_data_source_name></t_data_source_name>
				<data_source_name>REDIS_tl_cnctnsrcvd</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013ea020fcd69393ba0acf347fbc91a0151</data_input_field_id>
			</hash_08001372a3947c4553c5df2c325280f3733382>
			<hash_0800132db5ce58f698e28e7ff3c94f0aef0193>
				<t_data_source_name></t_data_source_name>
				<data_source_name>REDIS_connectd_slvs</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001357c234a4072e907a928341eb7d2003cf</data_input_field_id>
			</hash_0800132db5ce58f698e28e7ff3c94f0aef0193>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013d7da4fababd54cb4162d5a7f0cbb0d24</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700133d0148e09536134cc45029102a1c2c70</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
		</data>
	</hash_010013e16c97ecf8dde1a2cd113a0ced39b564>
	<hash_010013604d89e787b0cdfe275b556fa720118c>
		<name>Percona Redis Memory DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Redis Memory</name>
			<data_input_id>hash_030013c693fc0eb22ef5c61a75088fedf88348</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800138b73f208626cc1aceb64897005bf057c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>REDIS_used_memory</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001327df1ac398bc01914c7e42c616a5f6c7</data_input_field_id>
			</hash_0800138b73f208626cc1aceb64897005bf057c>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700136db56a33f41738bc8cc0f3733e2246a9</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013649bd379400d7b1db20b6dea10735c68</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
		</data>
	</hash_010013604d89e787b0cdfe275b556fa720118c>
	<hash_010013d923c88b5edb8e2d47f7171072ba6f91>
		<name>Percona Redis Commands DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Redis Commands</name>
			<data_input_id>hash_030013cacdbc8d713a2584776597b77bf096ba</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013614ee9dd08ef55d82a411f341dfe65f6>
				<t_data_source_name></t_data_source_name>
				<data_source_name>REDIS_tl_cmndsprcsd</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013972c7ace0dae7671b37ea76365331024</data_input_field_id>
			</hash_080013614ee9dd08ef55d82a411f341dfe65f6>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_07001366498867453569d4e0fc63a7c58ffda5</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013e7a6a1296babc080b620bba9181ce2f2</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
		</data>
	</hash_010013d923c88b5edb8e2d47f7171072ba6f91>
	<hash_01001380a035b69f36e83c0624d7865d732cb2>
		<name>Percona Redis Unsaved Changes DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Redis Unsaved Changes</name>
			<data_input_id>hash_0300136e6d619042772a6dc3f9374afa6685ab</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013f8d281cfc380bd27e0aa57e18767bdba>
				<t_data_source_name></t_data_source_name>
				<data_source_name>REDIS_chngssnceltsv</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001370fe6c2ec3ea0ad42d0a768170f3ebad</data_input_field_id>
			</hash_080013f8d281cfc380bd27e0aa57e18767bdba>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700133647d9b54f6d8cd9d8356a1ab8081da8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013696892e3376a2b9a10063cfd8b319d1b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
		</data>
	</hash_01001380a035b69f36e83c0624d7865d732cb2>
	<hash_030013f4296e267891090d229fe555a47a169f>
		<name>Percona Get Redis Stats/Redis Connections IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type redis --items ln,lo,lr </input_string>
		<fields>
			<hash_070013d7da4fababd54cb4162d5a7f0cbb0d24>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013d7da4fababd54cb4162d5a7f0cbb0d24>
			<hash_0700133d0148e09536134cc45029102a1c2c70>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_0700133d0148e09536134cc45029102a1c2c70>
			<hash_0700138a7ac23d94b9c68aef61a2ff8c503100>
				<name>REDIS Connected Clients</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ln</data_name>
			</hash_0700138a7ac23d94b9c68aef61a2ff8c503100>
			<hash_070013ea020fcd69393ba0acf347fbc91a0151>
				<name>REDIS Total Connections Received</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lr</data_name>
			</hash_070013ea020fcd69393ba0acf347fbc91a0151>
			<hash_07001357c234a4072e907a928341eb7d2003cf>
				<name>REDIS Connected Slaves</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lo</data_name>
			</hash_07001357c234a4072e907a928341eb7d2003cf>
		</fields>
	</hash_030013f4296e267891090d229fe555a47a169f>
	<hash_030013c693fc0eb22ef5c61a75088fedf88348>
		<name>Percona Get Redis Stats/Redis Memory IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type redis --items lp </input_string>
		<fields>
			<hash_0700136db56a33f41738bc8cc0f3733e2246a9>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700136db56a33f41738bc8cc0f3733e2246a9>
			<hash_070013649bd379400d7b1db20b6dea10735c68>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013649bd379400d7b1db20b6dea10735c68>
			<hash_07001327df1ac398bc01914c7e42c616a5f6c7>
				<name>REDIS Used Memory</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lp</data_name>
			</hash_07001327df1ac398bc01914c7e42c616a5f6c7>
		</fields>
	</hash_030013c693fc0eb22ef5c61a75088fedf88348>
	<hash_030013cacdbc8d713a2584776597b77bf096ba>
		<name>Percona Get Redis Stats/Redis Commands IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type redis --items ls </input_string>
		<fields>
			<hash_07001366498867453569d4e0fc63a7c58ffda5>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_07001366498867453569d4e0fc63a7c58ffda5>
			<hash_070013e7a6a1296babc080b620bba9181ce2f2>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013e7a6a1296babc080b620bba9181ce2f2>
			<hash_070013972c7ace0dae7671b37ea76365331024>
				<name>REDIS Total Commands Processed</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ls</data_name>
			</hash_070013972c7ace0dae7671b37ea76365331024>
		</fields>
	</hash_030013cacdbc8d713a2584776597b77bf096ba>
	<hash_0300136e6d619042772a6dc3f9374afa6685ab>
		<name>Percona Get Redis Stats/Redis Unsaved Changes IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type redis --items lq </input_string>
		<fields>
			<hash_0700133647d9b54f6d8cd9d8356a1ab8081da8>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700133647d9b54f6d8cd9d8356a1ab8081da8>
			<hash_070013696892e3376a2b9a10063cfd8b319d1b>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013696892e3376a2b9a10063cfd8b319d1b>
			<hash_07001370fe6c2ec3ea0ad42d0a768170f3ebad>
				<name>REDIS Changes Since Last Save</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lq</data_name>
			</hash_07001370fe6c2ec3ea0ad42d0a768170f3ebad>
		</fields>
	</hash_0300136e6d619042772a6dc3f9374afa6685ab>
	<hash_06001342808faea8f8f49388d2f885f74d7413>
		<name>Percona Redis Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_06001342808faea8f8f49388d2f885f74d7413>
	<hash_06001399eca26b3c0418b79e6984b56cd9f04f>
		<name>Percona Redis Server Checksum 37e00394053c01f2470262ccda4d721e</name>
		<gprint_text>37e00394053c01f2470262ccda4d721e</gprint_text>
	</hash_06001399eca26b3c0418b79e6984b56cd9f04f>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
