<cacti>
	<hash_020013e7de4d351f346629172af6742e82d228>
		<name>Percona Nginx Server HT</name>
		<graph_templates>hash_000013caf6193a479da08e50c37a9433781ef1|hash_000013b3910088454a149fc25a13499dbb5fc9|hash_0000131a183387199adabc51640b4236642444</graph_templates>
		<data_queries></data_queries>
	</hash_020013e7de4d351f346629172af6742e82d228>
	<hash_000013caf6193a479da08e50c37a9433781ef1>
		<name>Percona Nginx Requests GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Nginx Requests</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000138f1a408d208c6eb010c366f866c8249f>
				<task_item_id>hash_0800137bd232c3ec98239cab41723882830c23</task_item_id>
				<color_id>803405</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Server Requests</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000138f1a408d208c6eb010c366f866c8249f>
			<hash_1000130752bc700706aff79d3318f4500bd6ce>
				<task_item_id>hash_0800137bd232c3ec98239cab41723882830c23</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000130752bc700706aff79d3318f4500bd6ce>
			<hash_1000137e56ae1f6a3e052d4958e724d72282f8>
				<task_item_id>hash_0800137bd232c3ec98239cab41723882830c23</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000137e56ae1f6a3e052d4958e724d72282f8>
			<hash_1000137825e173dd0dfbc2ecb1646250c07de6>
				<task_item_id>hash_0800137bd232c3ec98239cab41723882830c23</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000137825e173dd0dfbc2ecb1646250c07de6>
		</items>
		<inputs>
			<hash_090013b5d2331fb7e6c8a39dd404003278b1f0>
				<name>Data Source [NGINX_server_reqsts]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000138f1a408d208c6eb010c366f866c8249f|hash_0000130752bc700706aff79d3318f4500bd6ce|hash_0000137e56ae1f6a3e052d4958e724d72282f8|hash_0000137825e173dd0dfbc2ecb1646250c07de6</items>
			</hash_090013b5d2331fb7e6c8a39dd404003278b1f0>
		</inputs>
	</hash_000013caf6193a479da08e50c37a9433781ef1>
	<hash_000013b3910088454a149fc25a13499dbb5fc9>
		<name>Percona Nginx Accepts/Handled GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Nginx Accepts/Handled</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013ca4b91ff62f252670bae30270f442501>
				<task_item_id>hash_0800135276759b797a71c1b630b10933b4e679</task_item_id>
				<color_id>5D868C</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Server Accepts</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013ca4b91ff62f252670bae30270f442501>
			<hash_100013b302b21fff645b08054aac3bf279344f>
				<task_item_id>hash_0800135276759b797a71c1b630b10933b4e679</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013b302b21fff645b08054aac3bf279344f>
			<hash_100013f13cee7f8aaf6f9d57997b842eecc2e8>
				<task_item_id>hash_0800135276759b797a71c1b630b10933b4e679</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013f13cee7f8aaf6f9d57997b842eecc2e8>
			<hash_10001360b2f40a0578cfa580c701b6e85f7ae2>
				<task_item_id>hash_0800135276759b797a71c1b630b10933b4e679</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10001360b2f40a0578cfa580c701b6e85f7ae2>
			<hash_100013c0e7d14fd1ce1471648bd539f645976e>
				<task_item_id>hash_08001308cd1189cfff32b2bebd1d09a9bf83cf</task_item_id>
				<color_id>700004</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Server Handled</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013c0e7d14fd1ce1471648bd539f645976e>
			<hash_1000131014f34b7cf221e971b868d4df043748>
				<task_item_id>hash_08001308cd1189cfff32b2bebd1d09a9bf83cf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000131014f34b7cf221e971b868d4df043748>
			<hash_100013a493b2e5588648e4413ac6a76de26348>
				<task_item_id>hash_08001308cd1189cfff32b2bebd1d09a9bf83cf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013a493b2e5588648e4413ac6a76de26348>
			<hash_10001333beaeb3c26f6093bcffa03cfbb21ef1>
				<task_item_id>hash_08001308cd1189cfff32b2bebd1d09a9bf83cf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_10001333beaeb3c26f6093bcffa03cfbb21ef1>
		</items>
		<inputs>
			<hash_090013c4d539e49ca6f0e100178d1882329f13>
				<name>Data Source [NGINX_server_accpts]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013ca4b91ff62f252670bae30270f442501|hash_000013b302b21fff645b08054aac3bf279344f|hash_000013f13cee7f8aaf6f9d57997b842eecc2e8|hash_00001360b2f40a0578cfa580c701b6e85f7ae2</items>
			</hash_090013c4d539e49ca6f0e100178d1882329f13>
			<hash_090013c8b632a4f6bdc6c354cba7e4109e8ce5>
				<name>Data Source [NGINX_server_handld]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013c0e7d14fd1ce1471648bd539f645976e|hash_0000131014f34b7cf221e971b868d4df043748|hash_000013a493b2e5588648e4413ac6a76de26348|hash_00001333beaeb3c26f6093bcffa03cfbb21ef1</items>
			</hash_090013c8b632a4f6bdc6c354cba7e4109e8ce5>
		</inputs>
	</hash_000013b3910088454a149fc25a13499dbb5fc9>
	<hash_0000131a183387199adabc51640b4236642444>
		<name>Percona Nginx Scoreboard GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Nginx Scoreboard</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001332a523b00ce83f764b4aade10c8d2f94>
				<task_item_id>hash_0800135db2a724b89de78c8b5802139cc4408e</task_item_id>
				<color_id>D1642E</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Reading</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001332a523b00ce83f764b4aade10c8d2f94>
			<hash_100013011d2b6f5796a48e26099bd89f7cf38a>
				<task_item_id>hash_0800135db2a724b89de78c8b5802139cc4408e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013011d2b6f5796a48e26099bd89f7cf38a>
			<hash_100013f170e75edda4d227571720584a5d3ab9>
				<task_item_id>hash_0800135db2a724b89de78c8b5802139cc4408e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013f170e75edda4d227571720584a5d3ab9>
			<hash_100013da114762a0db71075e732b8eb86dc7e4>
				<task_item_id>hash_0800135db2a724b89de78c8b5802139cc4408e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013da114762a0db71075e732b8eb86dc7e4>
			<hash_1000130eb7146137e715b542eb4fb6d844a983>
				<task_item_id>hash_08001304e72dae440c397145b1f1c9bed628bf</task_item_id>
				<color_id>850707</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Writing</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000130eb7146137e715b542eb4fb6d844a983>
			<hash_1000132c9263204877861f9103a2be226fab5a>
				<task_item_id>hash_08001304e72dae440c397145b1f1c9bed628bf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000132c9263204877861f9103a2be226fab5a>
			<hash_100013a629b3ec8570915d3a2429e0d0e1af79>
				<task_item_id>hash_08001304e72dae440c397145b1f1c9bed628bf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013a629b3ec8570915d3a2429e0d0e1af79>
			<hash_100013f0e5211ed4317e663304c36e3516af8a>
				<task_item_id>hash_08001304e72dae440c397145b1f1c9bed628bf</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013f0e5211ed4317e663304c36e3516af8a>
			<hash_100013daee0e7a3d4c8433d577783aba28e1ca>
				<task_item_id>hash_080013e69d8945953386e192b9245866e5a9f4</task_item_id>
				<color_id>487860</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Waiting</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_100013daee0e7a3d4c8433d577783aba28e1ca>
			<hash_1000135e116ad9e52624731df31a96882f3578>
				<task_item_id>hash_080013e69d8945953386e192b9245866e5a9f4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000135e116ad9e52624731df31a96882f3578>
			<hash_1000130c7374008cd24f835a7d5a686136ac0d>
				<task_item_id>hash_080013e69d8945953386e192b9245866e5a9f4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000130c7374008cd24f835a7d5a686136ac0d>
			<hash_100013fe1fd71d28096adac28c0b91c5b0a224>
				<task_item_id>hash_080013e69d8945953386e192b9245866e5a9f4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013fe1fd71d28096adac28c0b91c5b0a224>
			<hash_100013664b06edecb5fc929a12e399422372b6>
				<task_item_id>hash_080013cfebce7eb4e0f8d00daf98fae30d772c</task_item_id>
				<color_id>000000</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Active Connections</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_100013664b06edecb5fc929a12e399422372b6>
			<hash_1000136d97ceb690c8014850786cb89162435e>
				<task_item_id>hash_080013cfebce7eb4e0f8d00daf98fae30d772c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_1000136d97ceb690c8014850786cb89162435e>
			<hash_1000135cb8466200eefceab5bd51673bfd0127>
				<task_item_id>hash_080013cfebce7eb4e0f8d00daf98fae30d772c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_1000135cb8466200eefceab5bd51673bfd0127>
			<hash_100013f6cd85c87f663417c3bca18d259c064a>
				<task_item_id>hash_080013cfebce7eb4e0f8d00daf98fae30d772c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_100013f6cd85c87f663417c3bca18d259c064a>
		</items>
		<inputs>
			<hash_090013e020bd96b8f8783a5f1f2d1217141352>
				<name>Data Source [NGINX_reading]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001332a523b00ce83f764b4aade10c8d2f94|hash_000013011d2b6f5796a48e26099bd89f7cf38a|hash_000013f170e75edda4d227571720584a5d3ab9|hash_000013da114762a0db71075e732b8eb86dc7e4</items>
			</hash_090013e020bd96b8f8783a5f1f2d1217141352>
			<hash_0900139bbd0591b6f3630f9b2dacebf8a80f88>
				<name>Data Source [NGINX_writing]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000130eb7146137e715b542eb4fb6d844a983|hash_0000132c9263204877861f9103a2be226fab5a|hash_000013a629b3ec8570915d3a2429e0d0e1af79|hash_000013f0e5211ed4317e663304c36e3516af8a</items>
			</hash_0900139bbd0591b6f3630f9b2dacebf8a80f88>
			<hash_0900139d024c0fb2e60834ae1fd6c8dde8b034>
				<name>Data Source [NGINX_waiting]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013daee0e7a3d4c8433d577783aba28e1ca|hash_0000135e116ad9e52624731df31a96882f3578|hash_0000130c7374008cd24f835a7d5a686136ac0d|hash_000013fe1fd71d28096adac28c0b91c5b0a224</items>
			</hash_0900139d024c0fb2e60834ae1fd6c8dde8b034>
			<hash_090013575c4f0c4152fd2eed54dde7275db1ff>
				<name>Data Source [NGINX_actve_cnnctns]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013664b06edecb5fc929a12e399422372b6|hash_0000136d97ceb690c8014850786cb89162435e|hash_0000135cb8466200eefceab5bd51673bfd0127|hash_000013f6cd85c87f663417c3bca18d259c064a</items>
			</hash_090013575c4f0c4152fd2eed54dde7275db1ff>
		</inputs>
	</hash_0000131a183387199adabc51640b4236642444>
	<hash_010013654cf221afc19da2790c32c2115eb8d6>
		<name>Percona Nginx Requests DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Nginx Requests</name>
			<data_input_id>hash_030013875058abbea7a1adc8feac07e6710da2</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800137bd232c3ec98239cab41723882830c23>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_server_reqsts</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013f0718ebbef8e06e8aeea73f9b1e2149e</data_input_field_id>
			</hash_0800137bd232c3ec98239cab41723882830c23>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013479cc76f15f3ee64be9a50175ff5846a</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700138b7a96b662462cb4431d3e993fe561ad</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_07001332e68ce16cde63ec8e257c8d3b6948d9</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700136a07e05e6cc2f733c8e9f23d73b87b40</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_0700138b085439bea76b154c1b230a9d6fa562</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
		</data>
	</hash_010013654cf221afc19da2790c32c2115eb8d6>
	<hash_010013d89942d0a0f04061b7f98a7d8ce3c358>
		<name>Percona Nginx Accepts/Handled DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Nginx Accepts/Handled</name>
			<data_input_id>hash_03001381dcb725a9df5e1e819c67ed3e291421</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001308cd1189cfff32b2bebd1d09a9bf83cf>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_server_handld</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700135fe6f1c3bf461bb5ef82f5111db3e578</data_input_field_id>
			</hash_08001308cd1189cfff32b2bebd1d09a9bf83cf>
			<hash_0800135276759b797a71c1b630b10933b4e679>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_server_accpts</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700138e605e362b759857bd4df12fe783267b</data_input_field_id>
			</hash_0800135276759b797a71c1b630b10933b4e679>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700135f2032c20212ae11a4088cc5a7a20ea8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700136360eee5ec43342718fc775455c092fc</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_07001377023824c67139ae978e913264501ce2</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_070013e681dc4b8b4963fe0ce528fde840056b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_0700131a0dfe0026190328c93cd0fcc9f0ccc4</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
		</data>
	</hash_010013d89942d0a0f04061b7f98a7d8ce3c358>
	<hash_010013735142d4ebc05aa2db9e98e823830bf4>
		<name>Percona Nginx Scoreboard DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Nginx Scoreboard</name>
			<data_input_id>hash_03001361c1c837b2cbcab0ee7262f093b6e62f</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013e69d8945953386e192b9245866e5a9f4>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_waiting</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139db90209ef504a4664e803f54cd4929a</data_input_field_id>
			</hash_080013e69d8945953386e192b9245866e5a9f4>
			<hash_08001304e72dae440c397145b1f1c9bed628bf>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_writing</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013023a95b14a03fa98e6c880010c138310</data_input_field_id>
			</hash_08001304e72dae440c397145b1f1c9bed628bf>
			<hash_0800135db2a724b89de78c8b5802139cc4408e>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_reading</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001335db5329924e5a5bcfc117b3cd04ca97</data_input_field_id>
			</hash_0800135db2a724b89de78c8b5802139cc4408e>
			<hash_080013cfebce7eb4e0f8d00daf98fae30d772c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>NGINX_actve_cnnctns</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001353dbd3e75b8ae7c2c0d465dda7159eb7</data_input_field_id>
			</hash_080013cfebce7eb4e0f8d00daf98fae30d772c>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013721b9c86c7e121f9a86dcc6aaf1c9b86</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700132a2921d1c29053f3f4d9f001994d5412</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013dc60e95eefe2a2f48a483e879b33972c</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_070013fcdce19e892d4e6ab46b0ca1a686b7b3</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_0700138ab36550cbf5357934132051e333f0ba</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
		</data>
	</hash_010013735142d4ebc05aa2db9e98e823830bf4>
	<hash_030013875058abbea7a1adc8feac07e6710da2>
		<name>Percona Get Nginx Stats/Nginx Requests IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type nginx --items hz --server &lt;server&gt; --url &lt;url&gt; --http-user &lt;http-user&gt; --http-password &lt;password&gt;</input_string>
		<fields>
			<hash_070013479cc76f15f3ee64be9a50175ff5846a>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013479cc76f15f3ee64be9a50175ff5846a>
			<hash_0700138b7a96b662462cb4431d3e993fe561ad>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700138b7a96b662462cb4431d3e993fe561ad>
			<hash_07001332e68ce16cde63ec8e257c8d3b6948d9>
				<name>Url</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>url</data_name>
			</hash_07001332e68ce16cde63ec8e257c8d3b6948d9>
			<hash_0700136a07e05e6cc2f733c8e9f23d73b87b40>
				<name>Http-user</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>http-user</data_name>
			</hash_0700136a07e05e6cc2f733c8e9f23d73b87b40>
			<hash_0700138b085439bea76b154c1b230a9d6fa562>
				<name>Http-password</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>http-password</data_name>
			</hash_0700138b085439bea76b154c1b230a9d6fa562>
			<hash_070013f0718ebbef8e06e8aeea73f9b1e2149e>
				<name>NGINX Server Requests</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>hz</data_name>
			</hash_070013f0718ebbef8e06e8aeea73f9b1e2149e>
		</fields>
	</hash_030013875058abbea7a1adc8feac07e6710da2>
	<hash_03001381dcb725a9df5e1e819c67ed3e291421>
		<name>Percona Get Nginx Stats/Nginx Accepts/Handled IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type nginx --items hx,hy --server &lt;server&gt; --url &lt;url&gt; --http-user &lt;http-user&gt; --http-password &lt;password&gt;</input_string>
		<fields>
			<hash_0700135f2032c20212ae11a4088cc5a7a20ea8>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700135f2032c20212ae11a4088cc5a7a20ea8>
			<hash_0700136360eee5ec43342718fc775455c092fc>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700136360eee5ec43342718fc775455c092fc>
			<hash_07001377023824c67139ae978e913264501ce2>
				<name>Url</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>url</data_name>
			</hash_07001377023824c67139ae978e913264501ce2>
			<hash_070013e681dc4b8b4963fe0ce528fde840056b>
				<name>Http-user</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>http-user</data_name>
			</hash_070013e681dc4b8b4963fe0ce528fde840056b>
			<hash_0700131a0dfe0026190328c93cd0fcc9f0ccc4>
				<name>Http-password</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>http-password</data_name>
			</hash_0700131a0dfe0026190328c93cd0fcc9f0ccc4>
			<hash_0700135fe6f1c3bf461bb5ef82f5111db3e578>
				<name>NGINX Server Handled</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>hy</data_name>
			</hash_0700135fe6f1c3bf461bb5ef82f5111db3e578>
			<hash_0700138e605e362b759857bd4df12fe783267b>
				<name>NGINX Server Accepts</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>hx</data_name>
			</hash_0700138e605e362b759857bd4df12fe783267b>
		</fields>
	</hash_03001381dcb725a9df5e1e819c67ed3e291421>
	<hash_03001361c1c837b2cbcab0ee7262f093b6e62f>
		<name>Percona Get Nginx Stats/Nginx Scoreboard IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type nginx --items hw,ig,ih,ii --server &lt;server&gt; --url &lt;url&gt; --http-user &lt;http-user&gt; --http-password &lt;password&gt;</input_string>
		<fields>
			<hash_070013721b9c86c7e121f9a86dcc6aaf1c9b86>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013721b9c86c7e121f9a86dcc6aaf1c9b86>
			<hash_0700132a2921d1c29053f3f4d9f001994d5412>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700132a2921d1c29053f3f4d9f001994d5412>
			<hash_070013dc60e95eefe2a2f48a483e879b33972c>
				<name>Url</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>url</data_name>
			</hash_070013dc60e95eefe2a2f48a483e879b33972c>
			<hash_070013fcdce19e892d4e6ab46b0ca1a686b7b3>
				<name>Http-user</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>http-user</data_name>
			</hash_070013fcdce19e892d4e6ab46b0ca1a686b7b3>
			<hash_0700138ab36550cbf5357934132051e333f0ba>
				<name>Http-password</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>http-password</data_name>
			</hash_0700138ab36550cbf5357934132051e333f0ba>
			<hash_0700139db90209ef504a4664e803f54cd4929a>
				<name>NGINX Waiting</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ii</data_name>
			</hash_0700139db90209ef504a4664e803f54cd4929a>
			<hash_070013023a95b14a03fa98e6c880010c138310>
				<name>NGINX Writing</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ih</data_name>
			</hash_070013023a95b14a03fa98e6c880010c138310>
			<hash_07001335db5329924e5a5bcfc117b3cd04ca97>
				<name>NGINX Reading</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ig</data_name>
			</hash_07001335db5329924e5a5bcfc117b3cd04ca97>
			<hash_07001353dbd3e75b8ae7c2c0d465dda7159eb7>
				<name>NGINX Active Connections</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>hw</data_name>
			</hash_07001353dbd3e75b8ae7c2c0d465dda7159eb7>
		</fields>
	</hash_03001361c1c837b2cbcab0ee7262f093b6e62f>
	<hash_060013386ad8c3de68ba2654cd2143b05f3b53>
		<name>Percona Nginx Server Checksum 3e8273551e40135de2de301906c08642</name>
		<gprint_text>3e8273551e40135de2de301906c08642</gprint_text>
	</hash_060013386ad8c3de68ba2654cd2143b05f3b53>
	<hash_0600137dd672be5a3dae86d9cdf2d1151f5dad>
		<name>Percona Nginx Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_0600137dd672be5a3dae86d9cdf2d1151f5dad>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
