<cacti>
	<hash_020013236a6046a04b17b533e2fd308cebf851>
		<name>Percona JMX Server HT</name>
		<graph_templates>hash_0000137c8d8068fb3e4b948c234264943ebd91|hash_0000135309324496b62ae6cb18383bb34928b8|hash_0000139d6b1e0d3e3b6821b03484dac00207e1|hash_00001301c6f18c47728d9e4d8870d42c30b592</graph_templates>
		<data_queries></data_queries>
	</hash_020013236a6046a04b17b533e2fd308cebf851>
	<hash_0000137c8d8068fb3e4b948c234264943ebd91>
		<name>Percona JMX Heap Memory Usage GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - JMX Heap Memory Usage</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000137623bf5f8c69e3c5a9478629a89f5faf>
				<task_item_id>hash_080013418dc3d98764483fbe133903b7b7de5c</task_item_id>
				<color_id>4F7774</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Heap Memory Max</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000137623bf5f8c69e3c5a9478629a89f5faf>
			<hash_10001368cc90d191ef510d38613555ef5d7835>
				<task_item_id>hash_080013418dc3d98764483fbe133903b7b7de5c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001368cc90d191ef510d38613555ef5d7835>
			<hash_10001334917525882e931e52186c6c14aaffdf>
				<task_item_id>hash_080013418dc3d98764483fbe133903b7b7de5c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10001334917525882e931e52186c6c14aaffdf>
			<hash_1000137b58505cf088a637189a3e28abb0b5f4>
				<task_item_id>hash_080013418dc3d98764483fbe133903b7b7de5c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000137b58505cf088a637189a3e28abb0b5f4>
			<hash_10001388c57b5e8c726497ae11ae6417c8e6a5>
				<task_item_id>hash_08001310539297537316c54bc75a7a4dfc5b24</task_item_id>
				<color_id>FFDB87</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Heap Memory Committed</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001388c57b5e8c726497ae11ae6417c8e6a5>
			<hash_1000139fcefed8f1b98866017a62b48f949a9f>
				<task_item_id>hash_08001310539297537316c54bc75a7a4dfc5b24</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000139fcefed8f1b98866017a62b48f949a9f>
			<hash_1000135a3ed1c130c6c81021cd6a3ce732ef1f>
				<task_item_id>hash_08001310539297537316c54bc75a7a4dfc5b24</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000135a3ed1c130c6c81021cd6a3ce732ef1f>
			<hash_100013fbe94caa17afe76d2f297b52f283198f>
				<task_item_id>hash_08001310539297537316c54bc75a7a4dfc5b24</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013fbe94caa17afe76d2f297b52f283198f>
			<hash_1000138718c4f5e94cbaaa3e5a82e6d9477a14>
				<task_item_id>hash_0800133b157a71baab98d42b7a296c46aee29b</task_item_id>
				<color_id>850707</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Heap Memory Used</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000138718c4f5e94cbaaa3e5a82e6d9477a14>
			<hash_100013eb7413c7d9c14d1d8b1b8539203d9320>
				<task_item_id>hash_0800133b157a71baab98d42b7a296c46aee29b</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_100013eb7413c7d9c14d1d8b1b8539203d9320>
			<hash_10001354d9edc7324e3672d5c0923bac443555>
				<task_item_id>hash_0800133b157a71baab98d42b7a296c46aee29b</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_10001354d9edc7324e3672d5c0923bac443555>
			<hash_100013f549808095d09e96ca11cbd73dbb6172>
				<task_item_id>hash_0800133b157a71baab98d42b7a296c46aee29b</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013f549808095d09e96ca11cbd73dbb6172>
		</items>
		<inputs>
			<hash_020013b2463336953416bf825a2de2a1c83f18>
				<name>Data Source [JMX_heap_memory_max]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000137623bf5f8c69e3c5a9478629a89f5faf|hash_00001368cc90d191ef510d38613555ef5d7835|hash_00001334917525882e931e52186c6c14aaffdf|hash_0000137b58505cf088a637189a3e28abb0b5f4</items>
			</hash_020013b2463336953416bf825a2de2a1c83f18>
			<hash_020013ced0ef714ff846defaf772a62ca81b49>
				<name>Data Source [JMX_hep_mmry_cmmttd]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001388c57b5e8c726497ae11ae6417c8e6a5|hash_0000139fcefed8f1b98866017a62b48f949a9f|hash_0000135a3ed1c130c6c81021cd6a3ce732ef1f|hash_000013fbe94caa17afe76d2f297b52f283198f</items>
			</hash_020013ced0ef714ff846defaf772a62ca81b49>
			<hash_02001388164fddfa97747426d452babdb47ffb>
				<name>Data Source [JMX_heap_memory_usd]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000138718c4f5e94cbaaa3e5a82e6d9477a14|hash_000013eb7413c7d9c14d1d8b1b8539203d9320|hash_00001354d9edc7324e3672d5c0923bac443555|hash_000013f549808095d09e96ca11cbd73dbb6172</items>
			</hash_02001388164fddfa97747426d452babdb47ffb>
		</inputs>
	</hash_0000137c8d8068fb3e4b948c234264943ebd91>
	<hash_0000135309324496b62ae6cb18383bb34928b8>
		<name>Percona JMX Non-Heap Memory Usage GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - JMX Non-Heap Memory Usage</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001337308989af7c20277bfb48dc89aae34b>
				<task_item_id>hash_0800137a5d19f058d15cc90062ab91892510a3</task_item_id>
				<color_id>4F7774</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Non Heap Memory Max</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001337308989af7c20277bfb48dc89aae34b>
			<hash_10001336cfd554123fcfa97a61f9eb367303fe>
				<task_item_id>hash_0800137a5d19f058d15cc90062ab91892510a3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001336cfd554123fcfa97a61f9eb367303fe>
			<hash_100013162a1cf54fc3dd00ec61c5a165935c75>
				<task_item_id>hash_0800137a5d19f058d15cc90062ab91892510a3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013162a1cf54fc3dd00ec61c5a165935c75>
			<hash_10001378d294149c30181a603009e55a32e7b0>
				<task_item_id>hash_0800137a5d19f058d15cc90062ab91892510a3</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10001378d294149c30181a603009e55a32e7b0>
			<hash_1000138cb04009106b09d5e0aa5bc655d9a2f7>
				<task_item_id>hash_080013c9bda6ee668b69149de97fed6b76c04b</task_item_id>
				<color_id>FFDB87</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Non Heap Memory Committed</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000138cb04009106b09d5e0aa5bc655d9a2f7>
			<hash_100013b6ca90a74d5efd653cef1a31021a6469>
				<task_item_id>hash_080013c9bda6ee668b69149de97fed6b76c04b</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013b6ca90a74d5efd653cef1a31021a6469>
			<hash_1000136562ed2f66fdd3aa510e37e018b0cb60>
				<task_item_id>hash_080013c9bda6ee668b69149de97fed6b76c04b</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000136562ed2f66fdd3aa510e37e018b0cb60>
			<hash_100013b9c2bb3c84b9ddf2ed0360d94b1cf482>
				<task_item_id>hash_080013c9bda6ee668b69149de97fed6b76c04b</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013b9c2bb3c84b9ddf2ed0360d94b1cf482>
			<hash_100013205d54ee8033b6d02bef9940b476e27f>
				<task_item_id>hash_080013517707ffc969c048496aaf99a7e4757f</task_item_id>
				<color_id>850707</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Non Heap Memory Used</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_100013205d54ee8033b6d02bef9940b476e27f>
			<hash_100013ee3fcb1e416e5c2d890a6f47de91b772>
				<task_item_id>hash_080013517707ffc969c048496aaf99a7e4757f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_100013ee3fcb1e416e5c2d890a6f47de91b772>
			<hash_1000134c5b7885bbea1c72bfb5987564ade2b9>
				<task_item_id>hash_080013517707ffc969c048496aaf99a7e4757f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000134c5b7885bbea1c72bfb5987564ade2b9>
			<hash_100013349466b7774ef1213e0197beb54a11a8>
				<task_item_id>hash_080013517707ffc969c048496aaf99a7e4757f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013349466b7774ef1213e0197beb54a11a8>
		</items>
		<inputs>
			<hash_020013131b3d4511ec486b80e25cceeb4066cd>
				<name>Data Source [JMX_non_hep_mmry_mx]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001337308989af7c20277bfb48dc89aae34b|hash_00001336cfd554123fcfa97a61f9eb367303fe|hash_000013162a1cf54fc3dd00ec61c5a165935c75|hash_00001378d294149c30181a603009e55a32e7b0</items>
			</hash_020013131b3d4511ec486b80e25cceeb4066cd>
			<hash_020013da9e53bc831a4486b20073d5f5d01955>
				<name>Data Source [JMX_nn_hp_mmry_cmtd]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000138cb04009106b09d5e0aa5bc655d9a2f7|hash_000013b6ca90a74d5efd653cef1a31021a6469|hash_0000136562ed2f66fdd3aa510e37e018b0cb60|hash_000013b9c2bb3c84b9ddf2ed0360d94b1cf482</items>
			</hash_020013da9e53bc831a4486b20073d5f5d01955>
			<hash_02001397c8351b5e3c025cfe57415059c28e67>
				<name>Data Source [JMX_non_hep_mmry_sd]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013205d54ee8033b6d02bef9940b476e27f|hash_000013ee3fcb1e416e5c2d890a6f47de91b772|hash_0000134c5b7885bbea1c72bfb5987564ade2b9|hash_000013349466b7774ef1213e0197beb54a11a8</items>
			</hash_02001397c8351b5e3c025cfe57415059c28e67>
		</inputs>
	</hash_0000135309324496b62ae6cb18383bb34928b8>
	<hash_0000139d6b1e0d3e3b6821b03484dac00207e1>
		<name>Percona JMX File Descriptor GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - JMX File Descriptor</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_1000130c645a279239821220a354574623f841>
				<task_item_id>hash_0800132421c21d36754116d35ef0dc80f22bce</task_item_id>
				<color_id>4F7774</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Max File Descriptors</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000130c645a279239821220a354574623f841>
			<hash_100013cff209f48ce7354ac19916731b78b516>
				<task_item_id>hash_0800132421c21d36754116d35ef0dc80f22bce</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013cff209f48ce7354ac19916731b78b516>
			<hash_100013982340558dd4210bb0ff4f920070c592>
				<task_item_id>hash_0800132421c21d36754116d35ef0dc80f22bce</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013982340558dd4210bb0ff4f920070c592>
			<hash_100013350b4b5f270bfb3dcfccb8319ecdcb7b>
				<task_item_id>hash_0800132421c21d36754116d35ef0dc80f22bce</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013350b4b5f270bfb3dcfccb8319ecdcb7b>
			<hash_100013d08bd93e487f68ce30c6b8b8d5563e68>
				<task_item_id>hash_080013050ba33c5218128f0a4414cbc25fe220</task_item_id>
				<color_id>850707</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Open File Descriptors</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013d08bd93e487f68ce30c6b8b8d5563e68>
			<hash_10001362caa1d7de5a61000e4a135bcc214307>
				<task_item_id>hash_080013050ba33c5218128f0a4414cbc25fe220</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_10001362caa1d7de5a61000e4a135bcc214307>
			<hash_10001305c900f361e7f0c3df2665d24b9e235d>
				<task_item_id>hash_080013050ba33c5218128f0a4414cbc25fe220</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_10001305c900f361e7f0c3df2665d24b9e235d>
			<hash_1000137b239e63cd4ef13d7f62920a53f5799d>
				<task_item_id>hash_080013050ba33c5218128f0a4414cbc25fe220</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_1000137b239e63cd4ef13d7f62920a53f5799d>
		</items>
		<inputs>
			<hash_0200133856a45c9a0862a937368f7a7e91daa2>
				<name>Data Source [JMX_mx_fle_dscrptrs]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000130c645a279239821220a354574623f841|hash_000013cff209f48ce7354ac19916731b78b516|hash_000013982340558dd4210bb0ff4f920070c592|hash_000013350b4b5f270bfb3dcfccb8319ecdcb7b</items>
			</hash_0200133856a45c9a0862a937368f7a7e91daa2>
			<hash_020013712fd800c5875242a80a0485a22ee1dc>
				<name>Data Source [JMX_pn_fle_dscrptrs]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013d08bd93e487f68ce30c6b8b8d5563e68|hash_00001362caa1d7de5a61000e4a135bcc214307|hash_00001305c900f361e7f0c3df2665d24b9e235d|hash_0000137b239e63cd4ef13d7f62920a53f5799d</items>
			</hash_020013712fd800c5875242a80a0485a22ee1dc>
		</inputs>
	</hash_0000139d6b1e0d3e3b6821b03484dac00207e1>
	<hash_00001301c6f18c47728d9e4d8870d42c30b592>
		<name>Percona JMX ThreadPool GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - JMX ThreadPool</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013b16693c3af3c1b15125e1093f1f8a1c3>
				<task_item_id>hash_0800137f1a692e90060dc01ade08640dbae991</task_item_id>
				<color_id>4F7774</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Max Threads</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013b16693c3af3c1b15125e1093f1f8a1c3>
			<hash_100013153fbd4ea29641ae1e865dc8a013dfc6>
				<task_item_id>hash_0800137f1a692e90060dc01ade08640dbae991</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013153fbd4ea29641ae1e865dc8a013dfc6>
			<hash_1000137ad0ab1826d163b2a7efd181d85e73cd>
				<task_item_id>hash_0800137f1a692e90060dc01ade08640dbae991</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000137ad0ab1826d163b2a7efd181d85e73cd>
			<hash_100013f9a4a9e5a3d70a71c0b6452ab992d168>
				<task_item_id>hash_0800137f1a692e90060dc01ade08640dbae991</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013f9a4a9e5a3d70a71c0b6452ab992d168>
			<hash_100013898b8a42d2945399abd9b3abe1e29efc>
				<task_item_id>hash_080013f7891887ea70673db6f4ee716c3c6fde</task_item_id>
				<color_id>FFDB87</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Current Thread Count</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013898b8a42d2945399abd9b3abe1e29efc>
			<hash_10001326a49159208ebdedb3996795e2e74dd1>
				<task_item_id>hash_080013f7891887ea70673db6f4ee716c3c6fde</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_10001326a49159208ebdedb3996795e2e74dd1>
			<hash_10001399ac31f1a5fc872208f44fb9fd926308>
				<task_item_id>hash_080013f7891887ea70673db6f4ee716c3c6fde</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_10001399ac31f1a5fc872208f44fb9fd926308>
			<hash_100013e2344e192cebc4babac3b2f85779008e>
				<task_item_id>hash_080013f7891887ea70673db6f4ee716c3c6fde</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013e2344e192cebc4babac3b2f85779008e>
			<hash_10001340be67f06c19f07fd153ff958b79260f>
				<task_item_id>hash_08001374974c18135dc6b1fa46be16d46e9ef5</task_item_id>
				<color_id>850707</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>JMX Current Threads Busy</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_10001340be67f06c19f07fd153ff958b79260f>
			<hash_100013d645625be83d2edfeb3eef824e6bcc4e>
				<task_item_id>hash_08001374974c18135dc6b1fa46be16d46e9ef5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_100013d645625be83d2edfeb3eef824e6bcc4e>
			<hash_100013a37a69d31a8223147961c88ea7732304>
				<task_item_id>hash_08001374974c18135dc6b1fa46be16d46e9ef5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_100013a37a69d31a8223147961c88ea7732304>
			<hash_100013f29b7e8ecebc7d971308d64122af60fb>
				<task_item_id>hash_08001374974c18135dc6b1fa46be16d46e9ef5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013f29b7e8ecebc7d971308d64122af60fb>
		</items>
		<inputs>
			<hash_0200134a0385d366d663c4be766ea7befc09c6>
				<name>Data Source [JMX_max_threads]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013b16693c3af3c1b15125e1093f1f8a1c3|hash_000013153fbd4ea29641ae1e865dc8a013dfc6|hash_0000137ad0ab1826d163b2a7efd181d85e73cd|hash_000013f9a4a9e5a3d70a71c0b6452ab992d168</items>
			</hash_0200134a0385d366d663c4be766ea7befc09c6>
			<hash_0200134d89a4964aa212d310d919134d2e664e>
				<name>Data Source [JMX_currnt_thrd_cnt]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013898b8a42d2945399abd9b3abe1e29efc|hash_00001326a49159208ebdedb3996795e2e74dd1|hash_00001399ac31f1a5fc872208f44fb9fd926308|hash_000013e2344e192cebc4babac3b2f85779008e</items>
			</hash_0200134d89a4964aa212d310d919134d2e664e>
			<hash_0200137fccf386b4be419d9f7ad3eed204b6c5>
				<name>Data Source [JMX_crrnt_thrds_bsy]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001340be67f06c19f07fd153ff958b79260f|hash_000013d645625be83d2edfeb3eef824e6bcc4e|hash_000013a37a69d31a8223147961c88ea7732304|hash_000013f29b7e8ecebc7d971308d64122af60fb</items>
			</hash_0200137fccf386b4be419d9f7ad3eed204b6c5>
		</inputs>
	</hash_00001301c6f18c47728d9e4d8870d42c30b592>
	<hash_0100132dac94a3d9021cb54732af23591aef54>
		<name>Percona JMX Heap Memory Usage DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - JMX Heap Memory Usage</name>
			<data_input_id>hash_030013ea85cbfcbd620bb09cb5ca5523812b9b</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001310539297537316c54bc75a7a4dfc5b24>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_hep_mmry_cmmttd</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013c8bf1c72ba8aaa57f636425d4bcde7a9</data_input_field_id>
			</hash_08001310539297537316c54bc75a7a4dfc5b24>
			<hash_0800133b157a71baab98d42b7a296c46aee29b>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_heap_memory_usd</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700136a2371b766f36de6a9856a6ef7664fa0</data_input_field_id>
			</hash_0800133b157a71baab98d42b7a296c46aee29b>
			<hash_080013418dc3d98764483fbe133903b7b7de5c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_heap_memory_max</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001331c371d545800cb28ff0457dd4a5cf30</data_input_field_id>
			</hash_080013418dc3d98764483fbe133903b7b7de5c>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700138de4936d267ed1830e7e44b153378b56</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_0100132dac94a3d9021cb54732af23591aef54>
	<hash_010013d914834865d8e8b168363ed80e6c5407>
		<name>Percona JMX Non-Heap Memory Usage DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - JMX Non-Heap Memory Usage</name>
			<data_input_id>hash_0300139f8f9bb26d30cc16aad7c5e49bef062d</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013517707ffc969c048496aaf99a7e4757f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_non_hep_mmry_sd</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700134b6336c51d849c0489ae0d318f06881f</data_input_field_id>
			</hash_080013517707ffc969c048496aaf99a7e4757f>
			<hash_0800137a5d19f058d15cc90062ab91892510a3>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_non_hep_mmry_mx</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013ef160528b82487a6d5931ef897937d04</data_input_field_id>
			</hash_0800137a5d19f058d15cc90062ab91892510a3>
			<hash_080013c9bda6ee668b69149de97fed6b76c04b>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_nn_hp_mmry_cmtd</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700132f2aec3de951fcbd1f3b88a74ee5f781</data_input_field_id>
			</hash_080013c9bda6ee668b69149de97fed6b76c04b>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700136b117dd54e34a9822224f39531f18221</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013d914834865d8e8b168363ed80e6c5407>
	<hash_010013792c078dffd2d33d59caa6fba9e2663b>
		<name>Percona JMX File Descriptor DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - JMX File Descriptor</name>
			<data_input_id>hash_03001314d4fe525c69197afc58a0af2651afdc</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800132421c21d36754116d35ef0dc80f22bce>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_mx_fle_dscrptrs</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013e86c119c8e93a4947609dd7a799f82f6</data_input_field_id>
			</hash_0800132421c21d36754116d35ef0dc80f22bce>
			<hash_080013050ba33c5218128f0a4414cbc25fe220>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_pn_fle_dscrptrs</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700130c6166bbde9b8df3bd2c5a2cbbd09b16</data_input_field_id>
			</hash_080013050ba33c5218128f0a4414cbc25fe220>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013c8e1c260f28af030eae0e2b171c7710e</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
		</data>
	</hash_010013792c078dffd2d33d59caa6fba9e2663b>
	<hash_0100136be522e28e4912d00e2abba1e7ebc127>
		<name>Percona JMX ThreadPool DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - JMX ThreadPool</name>
			<data_input_id>hash_030013d63bd913158d6014973b67b9284be5f9</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800137f1a692e90060dc01ade08640dbae991>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_max_threads</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700132f1e316505c94b6468dde6c97795ed2f</data_input_field_id>
			</hash_0800137f1a692e90060dc01ade08640dbae991>
			<hash_080013f7891887ea70673db6f4ee716c3c6fde>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_currnt_thrd_cnt</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013c4ca951a4564fcf5d4667e15398362d1</data_input_field_id>
			</hash_080013f7891887ea70673db6f4ee716c3c6fde>
			<hash_08001374974c18135dc6b1fa46be16d46e9ef5>
				<t_data_source_name></t_data_source_name>
				<data_source_name>JMX_crrnt_thrds_bsy</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013b9aa53c78469e0ddcf0c68ff3270f21c</data_input_field_id>
			</hash_08001374974c18135dc6b1fa46be16d46e9ef5>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013e3757ce906a364cdda2beddf948dfb94</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013f74f062eec8c3a526510283ad5058213</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_001>
		</data>
	</hash_0100136be522e28e4912d00e2abba1e7ebc127>
	<hash_030013ea85cbfcbd620bb09cb5ca5523812b9b>
		<name>Percona Heap Memory Usage/JMX Heap Memory Usage IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type jmx --items lt,lu,lv</input_string>
		<fields>
			<hash_0700138de4936d267ed1830e7e44b153378b56>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700138de4936d267ed1830e7e44b153378b56>
			<hash_070013c8bf1c72ba8aaa57f636425d4bcde7a9>
				<name>JMX Heap Memory Committed</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lu</data_name>
			</hash_070013c8bf1c72ba8aaa57f636425d4bcde7a9>
			<hash_0700136a2371b766f36de6a9856a6ef7664fa0>
				<name>JMX Heap Memory Used</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lt</data_name>
			</hash_0700136a2371b766f36de6a9856a6ef7664fa0>
			<hash_07001331c371d545800cb28ff0457dd4a5cf30>
				<name>JMX Heap Memory Max</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lv</data_name>
			</hash_07001331c371d545800cb28ff0457dd4a5cf30>
		</fields>
	</hash_030013ea85cbfcbd620bb09cb5ca5523812b9b>
	<hash_0300139f8f9bb26d30cc16aad7c5e49bef062d>
		<name>Percona Non-Heap Memory Usage/JMX Non-Heap Memory Usage IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type jmx --items lw,lx,ly</input_string>
		<fields>
			<hash_0700136b117dd54e34a9822224f39531f18221>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700136b117dd54e34a9822224f39531f18221>
			<hash_0700134b6336c51d849c0489ae0d318f06881f>
				<name>JMX Non Heap Memory Used</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lw</data_name>
			</hash_0700134b6336c51d849c0489ae0d318f06881f>
			<hash_070013ef160528b82487a6d5931ef897937d04>
				<name>JMX Non Heap Memory Max</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ly</data_name>
			</hash_070013ef160528b82487a6d5931ef897937d04>
			<hash_0700132f2aec3de951fcbd1f3b88a74ee5f781>
				<name>JMX Non Heap Memory Committed</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lx</data_name>
			</hash_0700132f2aec3de951fcbd1f3b88a74ee5f781>
		</fields>
	</hash_0300139f8f9bb26d30cc16aad7c5e49bef062d>
	<hash_03001314d4fe525c69197afc58a0af2651afdc>
		<name>Percona File Descriptor/JMX File Descriptor IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type jmx --items lz,mg</input_string>
		<fields>
			<hash_070013c8e1c260f28af030eae0e2b171c7710e>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013c8e1c260f28af030eae0e2b171c7710e>
			<hash_070013e86c119c8e93a4947609dd7a799f82f6>
				<name>JMX Max File Descriptors</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mg</data_name>
			</hash_070013e86c119c8e93a4947609dd7a799f82f6>
			<hash_0700130c6166bbde9b8df3bd2c5a2cbbd09b16>
				<name>JMX Open File Descriptors</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>lz</data_name>
			</hash_0700130c6166bbde9b8df3bd2c5a2cbbd09b16>
		</fields>
	</hash_03001314d4fe525c69197afc58a0af2651afdc>
	<hash_030013d63bd913158d6014973b67b9284be5f9>
		<name>Percona ThreadPool/JMX ThreadPool IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type jmx --items mh,mi,mj</input_string>
		<fields>
			<hash_070013e3757ce906a364cdda2beddf948dfb94>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013e3757ce906a364cdda2beddf948dfb94>
			<hash_070013f74f062eec8c3a526510283ad5058213>
				<name>Threadpool</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>threadpool</data_name>
			</hash_070013f74f062eec8c3a526510283ad5058213>
			<hash_0700132f1e316505c94b6468dde6c97795ed2f>
				<name>JMX Max Threads</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mj</data_name>
			</hash_0700132f1e316505c94b6468dde6c97795ed2f>
			<hash_070013c4ca951a4564fcf5d4667e15398362d1>
				<name>JMX Current Thread Count</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mi</data_name>
			</hash_070013c4ca951a4564fcf5d4667e15398362d1>
			<hash_070013b9aa53c78469e0ddcf0c68ff3270f21c>
				<name>JMX Current Threads Busy</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>mh</data_name>
			</hash_070013b9aa53c78469e0ddcf0c68ff3270f21c>
		</fields>
	</hash_030013d63bd913158d6014973b67b9284be5f9>
	<hash_0600136d0f36ee98a42329139a7b96cef47d29>
		<name>Percona JMX Server Checksum 8c94c03cb843f84d29fd5012b50f4166</name>
		<gprint_text>8c94c03cb843f84d29fd5012b50f4166</gprint_text>
	</hash_0600136d0f36ee98a42329139a7b96cef47d29>
	<hash_0600134bae7c13f3fdde2845ed5aa5801f6ae2>
		<name>Percona JMX Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_0600134bae7c13f3fdde2845ed5aa5801f6ae2>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
