<cacti>	
	<hash_04002472ccd11613ba583f8414745ce9ecbaed>
		<name>SNMP_Informant_Standard - Disk Statistics</name>
		<description>Query Disk Stats</description>
		<xml_path>&lt;path_cacti&gt;/resource/snmp_queries/snmp_informant_standard_disk.xml</xml_path>
		<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
		<graphs>
			<hash_11002453334c4e33a57b215f92b532fc994ad6>
				<name>Disk Statistics (I/O)</name>
				<graph_template_id>hash_000024f759f6ace7d5cf7668bbbf7d4919a1e0</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>DiskWriteBytesPerSec</snmp_field_name>
						<data_template_id>hash_010024cdd5bc77a8c868d50b679aa806a1d72d</data_template_id>
						<data_template_rrd_id>hash_08002453c0c368d67c6d82fe17827653be952e</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>DiskReadBytesPerSec</snmp_field_name>
						<data_template_id>hash_010024cdd5bc77a8c868d50b679aa806a1d72d</data_template_id>
						<data_template_rrd_id>hash_080024637849597a0beb8b598b35b4b9032b45</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>DiskBytesPerSec</snmp_field_name>
						<data_template_id>hash_010024cdd5bc77a8c868d50b679aa806a1d72d</data_template_id>
						<data_template_rrd_id>hash_0800242651e3644fa731186c9af0977a8105af</data_template_rrd_id>
					</item_002>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_11002453334c4e33a57b215f92b532fc994ad6>
			<hash_110024abf0b2d599f96a60e234cfbee5b8e85d>
				<name>Disk Statistics (%&#039;s)</name>
				<graph_template_id>hash_0000244780ae963d145d456345f53416bc2420</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>PercentDiskTime</snmp_field_name>
						<data_template_id>hash_010024339ca02d83d140d23a27645bced22c66</data_template_id>
						<data_template_rrd_id>hash_080024c9c521cda35311a9f8d1f4808620250d</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>PercentDiskReadTime</snmp_field_name>
						<data_template_id>hash_010024339ca02d83d140d23a27645bced22c66</data_template_id>
						<data_template_rrd_id>hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>PercentDiskWriteTime</snmp_field_name>
						<data_template_id>hash_010024339ca02d83d140d23a27645bced22c66</data_template_id>
						<data_template_rrd_id>hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>PercentFreeSpace</snmp_field_name>
						<data_template_id>hash_010024339ca02d83d140d23a27645bced22c66</data_template_id>
						<data_template_rrd_id>hash_080024fb77315e06f36a65d42ab41add7ce7d6</data_template_rrd_id>
					</item_003>
					<item_004>
						<snmp_field_name>PercentIdleTime</snmp_field_name>
						<data_template_id>hash_010024339ca02d83d140d23a27645bced22c66</data_template_id>
						<data_template_rrd_id>hash_0800244bc3dba937a56a7ddc2c07edc12df898</data_template_rrd_id>
					</item_004>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_110024abf0b2d599f96a60e234cfbee5b8e85d>
			<hash_110024079c54e9a4530261c8543c34541e4123>
				<name>Disk Statistics (Metrics)</name>
				<graph_template_id>hash_00002472375beb4624f86e9d3181819fb76a95</graph_template_id>
				<rrd>
					<item_000>
						<snmp_field_name>DiskReadsPerSec</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_08002419d227fdea759532df221a8e7f149915</data_template_rrd_id>
					</item_000>
					<item_001>
						<snmp_field_name>DiskTransfersPerSec</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_0800243c82c46028a433ed6325f7f720829f38</data_template_rrd_id>
					</item_001>
					<item_002>
						<snmp_field_name>AvgDiskQueueLength</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024fe80499055d429902c7e512911875a82</data_template_rrd_id>
					</item_002>
					<item_003>
						<snmp_field_name>CurrentDiskQueueLength</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_08002420269e602e1eea4b90180450ecfbcab8</data_template_rrd_id>
					</item_003>
					<item_004>
						<snmp_field_name>AvgDiskReadQueueLength</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024f6d0c9b1785ac31d5c8c862a8b777f60</data_template_rrd_id>
					</item_004>
					<item_005>
						<snmp_field_name>AvgDiskSecPerRead</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_08002469bbf6e8d5e0695213884eb3598b1bcb</data_template_rrd_id>
					</item_005>
					<item_006>
						<snmp_field_name>AvgDiskWriteQueueLength</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_0800243cc1a336564300968727f6cfdbb86396</data_template_rrd_id>
					</item_006>
					<item_007>
						<snmp_field_name>DiskWritesPerSec</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024e7f415447f90546e5915ed4015d74d36</data_template_rrd_id>
					</item_007>
					<item_008>
						<snmp_field_name>FreeMegabytes</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024a5054162c0861633d833805afabe7681</data_template_rrd_id>
					</item_008>
					<item_009>
						<snmp_field_name>SplitIOPerSec</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024d1d0bae69b19acb81e83f083ddcc61a7</data_template_rrd_id>
					</item_009>
					<item_010>
						<snmp_field_name>AvgDiskSecPerTransfer</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024fa66b621d56d5dbb65810ca2a00f93e1</data_template_rrd_id>
					</item_010>
					<item_011>
						<snmp_field_name>AvgDiskSecPerWrite</snmp_field_name>
						<data_template_id>hash_010024c569dcba5a966cec8ac697d3b0f6ede3</data_template_id>
						<data_template_rrd_id>hash_080024a77a20b24fcf50ae67688e182140e14f</data_template_rrd_id>
					</item_011>
				</rrd>
				<sv_graph>
				</sv_graph>
				<sv_data_source>
				</sv_data_source>
			</hash_110024079c54e9a4530261c8543c34541e4123>
		</graphs>
	</hash_04002472ccd11613ba583f8414745ce9ecbaed>
	<hash_030024bf566c869ac6443b0c75d1c32b5a350e>
		<name>Get SNMP Data (Indexed)</name>
		<type_id>3</type_id>
		<input_string></input_string>
		<fields>
			<hash_070024617cdc8a230615e59f06f361ef6e7728>
				<name>SNMP IP Address</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>management_ip</data_name>
			</hash_070024617cdc8a230615e59f06f361ef6e7728>
			<hash_070024acb449d1451e8a2a655c2c99d31142c7>
				<name>SNMP Community</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_community</type_code>
				<input_output>in</input_output>
				<data_name>snmp_community</data_name>
			</hash_070024acb449d1451e8a2a655c2c99d31142c7>
			<hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
				<name>SNMP Username (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_username</type_code>
				<input_output>in</input_output>
				<data_name>snmp_username</data_name>
			</hash_070024f4facc5e2ca7ebee621f09bc6d9fc792>
			<hash_0700241cc1493a6781af2c478fa4de971531cf>
				<name>SNMP Password (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_password</type_code>
				<input_output>in</input_output>
				<data_name>snmp_password</data_name>
			</hash_0700241cc1493a6781af2c478fa4de971531cf>
			<hash_070024b5c23f246559df38662c255f4aa21d6b>
				<name>SNMP Version (1, 2, or 3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_version</type_code>
				<input_output>in</input_output>
				<data_name>snmp_version</data_name>
			</hash_070024b5c23f246559df38662c255f4aa21d6b>
			<hash_0700246027a919c7c7731fbe095b6f53ab127b>
				<name>Index Type</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>index_type</type_code>
				<input_output>in</input_output>
				<data_name>index_type</data_name>
			</hash_0700246027a919c7c7731fbe095b6f53ab127b>
			<hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
				<name>Index Value</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>index_value</type_code>
				<input_output>in</input_output>
				<data_name>index_value</data_name>
			</hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f>
			<hash_070024e6deda7be0f391399c5130e7c4a48b28>
				<name>Output Type ID</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>output_type</type_code>
				<input_output>in</input_output>
				<data_name>output_type</data_name>
			</hash_070024e6deda7be0f391399c5130e7c4a48b28>
			<hash_070024c1f36ee60c3dc98945556d57f26e475b>
				<name>SNMP Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_070024c1f36ee60c3dc98945556d57f26e475b>
			<hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
				<name>SNMP Authenticaion Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_auth_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_auth_protocol</data_name>
			</hash_0700242cf7129ad3ff819a7a7ac189bee48ce8>
			<hash_0700246b13ac0a0194e171d241d4b06f913158>
				<name>SNMP Privacy Passphrase (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_passphrase</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_passphrase</data_name>
			</hash_0700246b13ac0a0194e171d241d4b06f913158>
			<hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
				<name>SNMP Privacy Protocol (v3)</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>snmp_priv_protocol</type_code>
				<input_output>in</input_output>
				<data_name>snmp_priv_protocol</data_name>
			</hash_0700243a33d4fc65b8329ab2ac46a36da26b72>
			<hash_0700245240353b8f7f259acaf30e6229bc14e7>
				<name>Port</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code>snmp_port</type_code>
				<input_output>in</input_output>
				<data_name>snmp_port</data_name>
			</hash_0700245240353b8f7f259acaf30e6229bc14e7>
		</fields>
	</hash_030024bf566c869ac6443b0c75d1c32b5a350e>
	<hash_000024f759f6ace7d5cf7668bbbf7d4919a1e0>
		<name>SNMP_Informant_Standard - Disk Statistics (I/O)</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| - Disk |query_lDiskInstance| (I/O)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Disk (I/O)</vertical_label>
		</graph>
		<items>
			<hash_1000243c8beb5a5bb38fe4bbb967ef1c2877fe>
				<task_item_id>hash_080024637849597a0beb8b598b35b4b9032b45</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Disk Read Bytes/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_1000243c8beb5a5bb38fe4bbb967ef1c2877fe>
			<hash_10002407bdaac581e0aa44d87588adf5c79471>
				<task_item_id>hash_080024637849597a0beb8b598b35b4b9032b45</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10002407bdaac581e0aa44d87588adf5c79471>
			<hash_10002486adaadd3119aadefc074681507c3bd5>
				<task_item_id>hash_080024637849597a0beb8b598b35b4b9032b45</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10002486adaadd3119aadefc074681507c3bd5>
			<hash_100024a54f36d0ad267417b94a3cc92eca4df0>
				<task_item_id>hash_080024637849597a0beb8b598b35b4b9032b45</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100024a54f36d0ad267417b94a3cc92eca4df0>
			<hash_100024b072be00c7004935014c87c4379d4090>
				<task_item_id>hash_08002453c0c368d67c6d82fe17827653be952e</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Disk Write Bytes/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100024b072be00c7004935014c87c4379d4090>
			<hash_10002411da2413445e47cf3bb1ea6149557c17>
				<task_item_id>hash_08002453c0c368d67c6d82fe17827653be952e</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_10002411da2413445e47cf3bb1ea6149557c17>
			<hash_10002443d9e3adc5a81a39bc7d956a14d6049c>
				<task_item_id>hash_08002453c0c368d67c6d82fe17827653be952e</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_10002443d9e3adc5a81a39bc7d956a14d6049c>
			<hash_10002495c8c81b1b65242d2481b27e4cc94a24>
				<task_item_id>hash_08002453c0c368d67c6d82fe17827653be952e</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_10002495c8c81b1b65242d2481b27e4cc94a24>
			<hash_1000240b6ed950aa539fa450c2082f61ead8b1>
				<task_item_id>hash_0800242651e3644fa731186c9af0977a8105af</task_item_id>
				<color_id>FF0000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Total Disk Bytes/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_1000240b6ed950aa539fa450c2082f61ead8b1>
			<hash_1000240cb758ff0f12f4dea964c8bb0cbf033e>
				<task_item_id>hash_0800242651e3644fa731186c9af0977a8105af</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000240cb758ff0f12f4dea964c8bb0cbf033e>
			<hash_10002401c5e84fea41e90a4e34180bae7a382c>
				<task_item_id>hash_0800242651e3644fa731186c9af0977a8105af</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_10002401c5e84fea41e90a4e34180bae7a382c>
			<hash_100024df46460631552b16ae5385420578f28a>
				<task_item_id>hash_0800242651e3644fa731186c9af0977a8105af</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100024df46460631552b16ae5385420578f28a>
			<hash_1000243fc08f3c292e8d20d12d6af5882462cf>
				<task_item_id>hash_080024637849597a0beb8b598b35b4b9032b45</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Total Read:  |sum:auto:current:2:auto|</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_1000243fc08f3c292e8d20d12d6af5882462cf>
			<hash_100024d6b212b508e537ce5654f7a9d9b92a1c>
				<task_item_id>hash_08002453c0c368d67c6d82fe17827653be952e</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Total Writes:  |sum:auto:current:2:auto|</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_100024d6b212b508e537ce5654f7a9d9b92a1c>
		</items>
		<inputs>
			<hash_090024e7c87f4d3b2e4cbbeac3f2432788018b>
				<name>Data Source [DiskReadBytesPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000243c8beb5a5bb38fe4bbb967ef1c2877fe|hash_00002407bdaac581e0aa44d87588adf5c79471|hash_00002486adaadd3119aadefc074681507c3bd5|hash_000024a54f36d0ad267417b94a3cc92eca4df0|hash_0000243fc08f3c292e8d20d12d6af5882462cf</items>
			</hash_090024e7c87f4d3b2e4cbbeac3f2432788018b>
			<hash_090024bd070372988bc1454d03db44ce2314de>
				<name>Data Source [DiskBytesPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000240b6ed950aa539fa450c2082f61ead8b1|hash_0000240cb758ff0f12f4dea964c8bb0cbf033e|hash_00002401c5e84fea41e90a4e34180bae7a382c|hash_000024df46460631552b16ae5385420578f28a</items>
			</hash_090024bd070372988bc1454d03db44ce2314de>
			<hash_090024243ac8cd45f4c1b2f3bc5f50bbcae748>
				<name>Data Source [DiskWriteBytesPerSe]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024b072be00c7004935014c87c4379d4090|hash_00002411da2413445e47cf3bb1ea6149557c17|hash_00002443d9e3adc5a81a39bc7d956a14d6049c|hash_00002495c8c81b1b65242d2481b27e4cc94a24|hash_000024d6b212b508e537ce5654f7a9d9b92a1c</items>
			</hash_090024243ac8cd45f4c1b2f3bc5f50bbcae748>
		</inputs>
	</hash_000024f759f6ace7d5cf7668bbbf7d4919a1e0>
	<hash_0000244780ae963d145d456345f53416bc2420>
		<name>SNMP_Informant_Standard - Disk Statistics (%&#039;s)</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| - Disk |query_lDiskInstance| (Percent Usage)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Percent Usage %</vertical_label>
		</graph>
		<items>
			<hash_100024728a3f0330f87cabfe044fb2f86010af>
				<task_item_id>hash_0800244bc3dba937a56a7ddc2c07edc12df898</task_item_id>
				<color_id>AAAAAA</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Idle Time:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100024728a3f0330f87cabfe044fb2f86010af>
			<hash_1000245e9dcbdb8b3ccb2e14cfe11f8f832e1d>
				<task_item_id>hash_0800244bc3dba937a56a7ddc2c07edc12df898</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000245e9dcbdb8b3ccb2e14cfe11f8f832e1d>
			<hash_1000245a717e7ea6c9c3767733dea873d1e83b>
				<task_item_id>hash_0800244bc3dba937a56a7ddc2c07edc12df898</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000245a717e7ea6c9c3767733dea873d1e83b>
			<hash_10002436e40c72567ba2de362a7dc3d994be97>
				<task_item_id>hash_0800244bc3dba937a56a7ddc2c07edc12df898</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10002436e40c72567ba2de362a7dc3d994be97>
			<hash_100024611f073a3116ca98f1fbd59140edbcd7>
				<task_item_id>hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Read Time:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100024611f073a3116ca98f1fbd59140edbcd7>
			<hash_1000248b7be585cad9de6977c8fee6b6ecf94e>
				<task_item_id>hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000248b7be585cad9de6977c8fee6b6ecf94e>
			<hash_100024240f3919932ac76985c9fa0dc14510fc>
				<task_item_id>hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100024240f3919932ac76985c9fa0dc14510fc>
			<hash_10002400499ddc3feb1adaac5b3fc91ac818da>
				<task_item_id>hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_10002400499ddc3feb1adaac5b3fc91ac818da>
			<hash_10002496d726daac84655cf5ef1c0623832e37>
				<task_item_id>hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b</task_item_id>
				<color_id>00FF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Write Time:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_10002496d726daac84655cf5ef1c0623832e37>
			<hash_1000240b4506eec82b7ef2cd7c44a368cb3852>
				<task_item_id>hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000240b4506eec82b7ef2cd7c44a368cb3852>
			<hash_1000248bb17163c66e2872ffb26efdb2c5f84b>
				<task_item_id>hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000248bb17163c66e2872ffb26efdb2c5f84b>
			<hash_100024a9d3f623d4d5b6f14ad2a8a3c124b4ec>
				<task_item_id>hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100024a9d3f623d4d5b6f14ad2a8a3c124b4ec>
			<hash_10002497871e7af4bf1e3d97fde7c4b1e2b561>
				<task_item_id>hash_080024c9c521cda35311a9f8d1f4808620250d</task_item_id>
				<color_id>FF0000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>% Disk Time:</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_10002497871e7af4bf1e3d97fde7c4b1e2b561>
			<hash_1000243132949118fd288918b40b9653ccae68>
				<task_item_id>hash_080024c9c521cda35311a9f8d1f4808620250d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_1000243132949118fd288918b40b9653ccae68>
			<hash_100024d05b72e09d234805342bf52ffc88dba2>
				<task_item_id>hash_080024c9c521cda35311a9f8d1f4808620250d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100024d05b72e09d234805342bf52ffc88dba2>
			<hash_100024d6595a32f1b2678d4abe8eb22eb65c18>
				<task_item_id>hash_080024c9c521cda35311a9f8d1f4808620250d</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_100024d6595a32f1b2678d4abe8eb22eb65c18>
			<hash_10002496b90771ec3fda7183cc414be72c48ed>
				<task_item_id>hash_080024fb77315e06f36a65d42ab41add7ce7d6</task_item_id>
				<color_id>FFFF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Free Space:</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_10002496b90771ec3fda7183cc414be72c48ed>
			<hash_100024569590768d72061c08650a4b5bec4b7f>
				<task_item_id>hash_080024fb77315e06f36a65d42ab41add7ce7d6</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_100024569590768d72061c08650a4b5bec4b7f>
			<hash_100024ea35d2e47379565effd38340d73aaf06>
				<task_item_id>hash_080024fb77315e06f36a65d42ab41add7ce7d6</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_100024ea35d2e47379565effd38340d73aaf06>
			<hash_1000241f9f9bea39bb5b71063d8405ab1a6ff2>
				<task_item_id>hash_080024fb77315e06f36a65d42ab41add7ce7d6</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600249317954f8b39f8ba30c3d8cc2c35fade</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_1000241f9f9bea39bb5b71063d8405ab1a6ff2>
			<hash_1000248d16a47b7211e371f5bf566fd65e1eaa>
				<task_item_id>0</task_item_id>
				<color_id>3D168B</color_id>
				<alpha>FF</alpha>
				<graph_type_id>2</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value>90</value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>% Disk Time Threshold:</text_format>
				<hard_return>on</hard_return>
				<sequence>21</sequence>
			</hash_1000248d16a47b7211e371f5bf566fd65e1eaa>
			<hash_1000249e54df5839abdfc11f35eeec6b96446f>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>|date_time|</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_1000249e54df5839abdfc11f35eeec6b96446f>
		</items>
		<inputs>
			<hash_09002444b94deb8b09265212dba66a4583de80>
				<name>Data Source [PercentFreeSpace]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002496b90771ec3fda7183cc414be72c48ed|hash_000024569590768d72061c08650a4b5bec4b7f|hash_000024ea35d2e47379565effd38340d73aaf06|hash_0000241f9f9bea39bb5b71063d8405ab1a6ff2</items>
			</hash_09002444b94deb8b09265212dba66a4583de80>
			<hash_090024ac45225458e6d4f34bc07c35069b8fa7>
				<name>Data Source [PercentDiskTime]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002497871e7af4bf1e3d97fde7c4b1e2b561|hash_0000243132949118fd288918b40b9653ccae68|hash_000024d05b72e09d234805342bf52ffc88dba2|hash_000024d6595a32f1b2678d4abe8eb22eb65c18</items>
			</hash_090024ac45225458e6d4f34bc07c35069b8fa7>
			<hash_090024facdd9b5a510457949419c789773b862>
				<name>Data Source [PercentDiskReadTime]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024611f073a3116ca98f1fbd59140edbcd7|hash_0000248b7be585cad9de6977c8fee6b6ecf94e|hash_000024240f3919932ac76985c9fa0dc14510fc|hash_00002400499ddc3feb1adaac5b3fc91ac818da</items>
			</hash_090024facdd9b5a510457949419c789773b862>
			<hash_090024ae42396cb4fa9887374265ac62d03550>
				<name>Data Source [PerDiskWriteTime]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002496d726daac84655cf5ef1c0623832e37|hash_0000240b4506eec82b7ef2cd7c44a368cb3852|hash_0000248bb17163c66e2872ffb26efdb2c5f84b|hash_000024a9d3f623d4d5b6f14ad2a8a3c124b4ec</items>
			</hash_090024ae42396cb4fa9887374265ac62d03550>
			<hash_0900249096a3f79f7bca41bf059dc6444dadac>
				<name>Data Source [PercentIdleTime]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024728a3f0330f87cabfe044fb2f86010af|hash_0000245e9dcbdb8b3ccb2e14cfe11f8f832e1d|hash_0000245a717e7ea6c9c3767733dea873d1e83b|hash_00002436e40c72567ba2de362a7dc3d994be97</items>
			</hash_0900249096a3f79f7bca41bf059dc6444dadac>
		</inputs>
	</hash_0000244780ae963d145d456345f53416bc2420>
	<hash_00002472375beb4624f86e9d3181819fb76a95>
		<name>SNMP_Informant_Standard - Disk Statistics (Metrics)</name>
		<graph>
			<t_title>on</t_title>
			<title>|host_description| - Disk |query_lDiskInstance| (Queues/Transfers)</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>200</height>
			<t_width></t_width>
			<width>700</width>
			<t_slope_mode></t_slope_mode>
			<slope_mode>on</slope_mode>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_scale_log_units></t_scale_log_units>
			<scale_log_units></scale_log_units>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>100</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label>Disk (Queues/Transfers)</vertical_label>
		</graph>
		<items>
			<hash_100024ecc14372d77018500e8ca0aa2f3019e7>
				<task_item_id>hash_08002419d227fdea759532df221a8e7f149915</task_item_id>
				<color_id>0000FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Disk Reads/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100024ecc14372d77018500e8ca0aa2f3019e7>
			<hash_10002405057782f07de7df5cff8b39d7f6e346>
				<task_item_id>hash_08002419d227fdea759532df221a8e7f149915</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10002405057782f07de7df5cff8b39d7f6e346>
			<hash_10002416d2b05d0ec2d1e26773889b412f67e9>
				<task_item_id>hash_08002419d227fdea759532df221a8e7f149915</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_10002416d2b05d0ec2d1e26773889b412f67e9>
			<hash_100024511eec161fc9bc161067880ae556d6f5>
				<task_item_id>hash_08002419d227fdea759532df221a8e7f149915</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100024511eec161fc9bc161067880ae556d6f5>
			<hash_100024d68dcd9c6bad0e58f28d5ea72c0703f3>
				<task_item_id>hash_080024e7f415447f90546e5915ed4015d74d36</task_item_id>
				<color_id>FF00FF</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Disk Writes/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100024d68dcd9c6bad0e58f28d5ea72c0703f3>
			<hash_100024a78592118b90abc2f7696a6915f0e2ab>
				<task_item_id>hash_080024e7f415447f90546e5915ed4015d74d36</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100024a78592118b90abc2f7696a6915f0e2ab>
			<hash_100024c79e3c8c5b3717ec2a3519898e2d504f>
				<task_item_id>hash_080024e7f415447f90546e5915ed4015d74d36</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100024c79e3c8c5b3717ec2a3519898e2d504f>
			<hash_100024fe5b34413c83797b502b250bf074380d>
				<task_item_id>hash_080024e7f415447f90546e5915ed4015d74d36</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100024fe5b34413c83797b502b250bf074380d>
			<hash_10002429b83529180992f04330c2440733ae4a>
				<task_item_id>hash_0800243c82c46028a433ed6325f7f720829f38</task_item_id>
				<color_id>FFFF00</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Total Disk Transfers/Sec:</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_10002429b83529180992f04330c2440733ae4a>
			<hash_1000242d7c815962c61e25e59e9c00d8411313>
				<task_item_id>hash_0800243c82c46028a433ed6325f7f720829f38</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000242d7c815962c61e25e59e9c00d8411313>
			<hash_1000240bab2f0ce1fc646860dd2dbbd7982d9a>
				<task_item_id>hash_0800243c82c46028a433ed6325f7f720829f38</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_1000240bab2f0ce1fc646860dd2dbbd7982d9a>
			<hash_10002483121c9a6e10bceb96c6abee6cfc2edc>
				<task_item_id>hash_0800243c82c46028a433ed6325f7f720829f38</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_10002483121c9a6e10bceb96c6abee6cfc2edc>
			<hash_100024c01fa9212c2e27dfa64ab945b6e4a4c8>
				<task_item_id>hash_080024f6d0c9b1785ac31d5c8c862a8b777f60</task_item_id>
				<color_id>AFECED</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Avg. Disk Read Queue Length:</text_format>
				<hard_return></hard_return>
				<sequence>13</sequence>
			</hash_100024c01fa9212c2e27dfa64ab945b6e4a4c8>
			<hash_100024b7b8f5f359c2b76d8283198734ed2875>
				<task_item_id>hash_080024f6d0c9b1785ac31d5c8c862a8b777f60</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>14</sequence>
			</hash_100024b7b8f5f359c2b76d8283198734ed2875>
			<hash_100024b594b33e74890d881ca7a469ce35621d>
				<task_item_id>hash_080024f6d0c9b1785ac31d5c8c862a8b777f60</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>15</sequence>
			</hash_100024b594b33e74890d881ca7a469ce35621d>
			<hash_1000246d6b2e8eea81f31f9997c4518f0ce46d>
				<task_item_id>hash_080024f6d0c9b1785ac31d5c8c862a8b777f60</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>16</sequence>
			</hash_1000246d6b2e8eea81f31f9997c4518f0ce46d>
			<hash_10002457e4b661698ecc9725b6399d2d8ed765>
				<task_item_id>hash_0800243cc1a336564300968727f6cfdbb86396</task_item_id>
				<color_id>000000</color_id>
				<alpha>FF</alpha>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Avg. Disk Write Queue Length:</text_format>
				<hard_return></hard_return>
				<sequence>17</sequence>
			</hash_10002457e4b661698ecc9725b6399d2d8ed765>
			<hash_1000241f2d3d8cc625a45e9f108edcd4217524>
				<task_item_id>hash_0800243cc1a336564300968727f6cfdbb86396</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>18</sequence>
			</hash_1000241f2d3d8cc625a45e9f108edcd4217524>
			<hash_10002471748f98170570e959f657a2fa6b6110>
				<task_item_id>hash_0800243cc1a336564300968727f6cfdbb86396</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>19</sequence>
			</hash_10002471748f98170570e959f657a2fa6b6110>
			<hash_100024b06d1c08ca31cfbc7ac5be6a004dfe8a>
				<task_item_id>hash_0800243cc1a336564300968727f6cfdbb86396</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>20</sequence>
			</hash_100024b06d1c08ca31cfbc7ac5be6a004dfe8a>
			<hash_100024d11b345c5a37a398161dd58f61ca70ad>
				<task_item_id>hash_080024fe80499055d429902c7e512911875a82</task_item_id>
				<color_id>942D0C</color_id>
				<alpha>FF</alpha>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Avg. Disk Queue Length:</text_format>
				<hard_return></hard_return>
				<sequence>21</sequence>
			</hash_100024d11b345c5a37a398161dd58f61ca70ad>
			<hash_1000243210f38038972367c5cafc48fd84199b>
				<task_item_id>hash_080024fe80499055d429902c7e512911875a82</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>22</sequence>
			</hash_1000243210f38038972367c5cafc48fd84199b>
			<hash_10002476135bf867455bf6a24d95307e81f350>
				<task_item_id>hash_080024fe80499055d429902c7e512911875a82</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>23</sequence>
			</hash_10002476135bf867455bf6a24d95307e81f350>
			<hash_1000243837d8bc30214241edb598180edde1b8>
				<task_item_id>hash_080024fe80499055d429902c7e512911875a82</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>24</sequence>
			</hash_1000243837d8bc30214241edb598180edde1b8>
			<hash_100024cd5e387c568d4ba52fd803e0f31c859b>
				<task_item_id>hash_08002420269e602e1eea4b90180450ecfbcab8</task_item_id>
				<color_id>0D006A</color_id>
				<alpha>FF</alpha>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current Disk Queue Length:</text_format>
				<hard_return></hard_return>
				<sequence>25</sequence>
			</hash_100024cd5e387c568d4ba52fd803e0f31c859b>
			<hash_100024a5fad1fec35ca418e7eaff880c639868>
				<task_item_id>hash_08002420269e602e1eea4b90180450ecfbcab8</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>26</sequence>
			</hash_100024a5fad1fec35ca418e7eaff880c639868>
			<hash_1000241075fe491cdcc288d389b8f4365e2921>
				<task_item_id>hash_08002420269e602e1eea4b90180450ecfbcab8</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>27</sequence>
			</hash_1000241075fe491cdcc288d389b8f4365e2921>
			<hash_10002497225cf4b598059bf738c4b84ca6ea61>
				<task_item_id>hash_08002420269e602e1eea4b90180450ecfbcab8</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>28</sequence>
			</hash_10002497225cf4b598059bf738c4b84ca6ea61>
			<hash_100024cd3109eeaf9f72cd24f9ed291caac309>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Avg. Seconds/Read:</text_format>
				<hard_return></hard_return>
				<sequence>29</sequence>
			</hash_100024cd3109eeaf9f72cd24f9ed291caac309>
			<hash_100024d1113dace16c0a74ace3690e9fbb884c>
				<task_item_id>hash_08002469bbf6e8d5e0695213884eb3598b1bcb</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>30</sequence>
			</hash_100024d1113dace16c0a74ace3690e9fbb884c>
			<hash_1000247bf261fdb48ecd15917284c25afc0de1>
				<task_item_id>hash_08002469bbf6e8d5e0695213884eb3598b1bcb</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>31</sequence>
			</hash_1000247bf261fdb48ecd15917284c25afc0de1>
			<hash_1000245f312a1d2137944bef826eb8d82a62fb>
				<task_item_id>hash_08002469bbf6e8d5e0695213884eb3598b1bcb</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>32</sequence>
			</hash_1000245f312a1d2137944bef826eb8d82a62fb>
			<hash_1000246ddaa9e6028c93b48b6006802f26fd7c>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Avg. Seconds/Write:</text_format>
				<hard_return></hard_return>
				<sequence>33</sequence>
			</hash_1000246ddaa9e6028c93b48b6006802f26fd7c>
			<hash_100024009e17dfdf1156ec45e2a8ccd95767a2>
				<task_item_id>hash_080024a77a20b24fcf50ae67688e182140e14f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>34</sequence>
			</hash_100024009e17dfdf1156ec45e2a8ccd95767a2>
			<hash_1000241062ddaf2d498b1096d1534ab21924a5>
				<task_item_id>hash_080024a77a20b24fcf50ae67688e182140e14f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>35</sequence>
			</hash_1000241062ddaf2d498b1096d1534ab21924a5>
			<hash_1000244e553fc5129f917b046f75a9eb5f66ed>
				<task_item_id>hash_080024a77a20b24fcf50ae67688e182140e14f</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>36</sequence>
			</hash_1000244e553fc5129f917b046f75a9eb5f66ed>
			<hash_100024848c081e1c3d92b0052ddb9835c2a8e5>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Avg. Seconds/Transfer:</text_format>
				<hard_return></hard_return>
				<sequence>37</sequence>
			</hash_100024848c081e1c3d92b0052ddb9835c2a8e5>
			<hash_100024073c73c81c7a0d7e6c5c090e76254905>
				<task_item_id>hash_080024fa66b621d56d5dbb65810ca2a00f93e1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>38</sequence>
			</hash_100024073c73c81c7a0d7e6c5c090e76254905>
			<hash_1000241769b0d69d44bd4d22cc534310b28b38>
				<task_item_id>hash_080024fa66b621d56d5dbb65810ca2a00f93e1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>39</sequence>
			</hash_1000241769b0d69d44bd4d22cc534310b28b38>
			<hash_1000243b72dfbc6359a426eb5414ed937477e1>
				<task_item_id>hash_080024fa66b621d56d5dbb65810ca2a00f93e1</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_050024a0a68ac5d46fc6faa2a64517b232603f</cdef_id>
				<value></value>
				<gprint_id>hash_0600240fc59bce05cf15fda6352e4d6eb73599</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>40</sequence>
			</hash_1000243b72dfbc6359a426eb5414ed937477e1>
			<hash_100024d8c9b7b556b47ab2089b1ff9f0846b6d>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Free Space:</text_format>
				<hard_return></hard_return>
				<sequence>41</sequence>
			</hash_100024d8c9b7b556b47ab2089b1ff9f0846b6d>
			<hash_100024bfdc3fcbdaa5076c407b94e5aec5a8d4>
				<task_item_id>hash_080024a5054162c0861633d833805afabe7681</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_06002456d72ce71fca1c6b027471154d2eee39</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>42</sequence>
			</hash_100024bfdc3fcbdaa5076c407b94e5aec5a8d4>
			<hash_100024bb22d8a174180535e9486576a10cee50>
				<task_item_id>hash_080024a5054162c0861633d833805afabe7681</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_06002456d72ce71fca1c6b027471154d2eee39</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>43</sequence>
			</hash_100024bb22d8a174180535e9486576a10cee50>
			<hash_100024cca3bea8c394ac63e4f8b8d039718879>
				<task_item_id>hash_080024a5054162c0861633d833805afabe7681</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>hash_05002412632b26b4b8e66a6bff5d8684bcaab5</cdef_id>
				<value></value>
				<gprint_id>hash_06002456d72ce71fca1c6b027471154d2eee39</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>44</sequence>
			</hash_100024cca3bea8c394ac63e4f8b8d039718879>
			<hash_100024f69732d185a7a730f7343a51cd508cd1>
				<task_item_id>0</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>1</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060024e9c43831e54eca8069317a2ce8c6f751</gprint_id>
				<text_format>Split IO&#039;s/Sec</text_format>
				<hard_return></hard_return>
				<sequence>45</sequence>
			</hash_100024f69732d185a7a730f7343a51cd508cd1>
			<hash_1000246d256a10e960c41709d1b5da1189f578>
				<task_item_id>hash_080024d1d0bae69b19acb81e83f083ddcc61a7</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Current:</text_format>
				<hard_return></hard_return>
				<sequence>46</sequence>
			</hash_1000246d256a10e960c41709d1b5da1189f578>
			<hash_100024dde108c80aa1b0df96b538dff1216cb6>
				<task_item_id>hash_080024d1d0bae69b19acb81e83f083ddcc61a7</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Average:</text_format>
				<hard_return></hard_return>
				<sequence>47</sequence>
			</hash_100024dde108c80aa1b0df96b538dff1216cb6>
			<hash_1000245584c0e9fa104a402c74fbb08a0e51a4>
				<task_item_id>hash_080024d1d0bae69b19acb81e83f083ddcc61a7</task_item_id>
				<color_id>0</color_id>
				<alpha>FF</alpha>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_06002419414480d6897c8731c7dc6c5310653e</gprint_id>
				<text_format>Maximum:</text_format>
				<hard_return>on</hard_return>
				<sequence>48</sequence>
			</hash_1000245584c0e9fa104a402c74fbb08a0e51a4>
		</items>
		<inputs>
			<hash_0900241b83270c60806367510fbc35b1c99094>
				<name>Data Source [AvgDiskSecPerWrite]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024009e17dfdf1156ec45e2a8ccd95767a2|hash_0000241062ddaf2d498b1096d1534ab21924a5|hash_0000244e553fc5129f917b046f75a9eb5f66ed</items>
			</hash_0900241b83270c60806367510fbc35b1c99094>
			<hash_0900245896f77f6aa39f94b664b5f28e7a2849>
				<name>Data Source [DiskReadsPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024ecc14372d77018500e8ca0aa2f3019e7|hash_00002405057782f07de7df5cff8b39d7f6e346|hash_00002416d2b05d0ec2d1e26773889b412f67e9|hash_000024511eec161fc9bc161067880ae556d6f5</items>
			</hash_0900245896f77f6aa39f94b664b5f28e7a2849>
			<hash_0900242e7cd766866ee2336354afa959839170>
				<name>Data Source [DiskWritesPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024d68dcd9c6bad0e58f28d5ea72c0703f3|hash_000024a78592118b90abc2f7696a6915f0e2ab|hash_000024c79e3c8c5b3717ec2a3519898e2d504f|hash_000024fe5b34413c83797b502b250bf074380d</items>
			</hash_0900242e7cd766866ee2336354afa959839170>
			<hash_09002469288a9488dea1dee323d3cddb3d0113>
				<name>Data Source [DiskTransfersPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002429b83529180992f04330c2440733ae4a|hash_0000242d7c815962c61e25e59e9c00d8411313|hash_0000240bab2f0ce1fc646860dd2dbbd7982d9a|hash_00002483121c9a6e10bceb96c6abee6cfc2edc</items>
			</hash_09002469288a9488dea1dee323d3cddb3d0113>
			<hash_090024a6eba617faa85fe28a102bcbe2de5c87>
				<name>Data Source [AvgDiskSecPerRead]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items></items>
			</hash_090024a6eba617faa85fe28a102bcbe2de5c87>
			<hash_090024a66e18f2695351baee276e4f9321d6c2>
				<name>Data Source [AvgDiskReadQueueLen]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024c01fa9212c2e27dfa64ab945b6e4a4c8|hash_000024b7b8f5f359c2b76d8283198734ed2875|hash_000024b594b33e74890d881ca7a469ce35621d|hash_0000246d6b2e8eea81f31f9997c4518f0ce46d</items>
			</hash_090024a66e18f2695351baee276e4f9321d6c2>
			<hash_09002449c2efd4e79dccd2ef6578783046eb69>
				<name>Data Source [AvgDiskWriteQueueLe]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00002457e4b661698ecc9725b6399d2d8ed765|hash_0000241f2d3d8cc625a45e9f108edcd4217524|hash_00002471748f98170570e959f657a2fa6b6110|hash_000024b06d1c08ca31cfbc7ac5be6a004dfe8a</items>
			</hash_09002449c2efd4e79dccd2ef6578783046eb69>
			<hash_090024bd1d170c803d9b896b9e3a08cef09537>
				<name>Data Source [AvgDiskQueueLength]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024d11b345c5a37a398161dd58f61ca70ad|hash_0000243210f38038972367c5cafc48fd84199b|hash_00002476135bf867455bf6a24d95307e81f350|hash_0000243837d8bc30214241edb598180edde1b8</items>
			</hash_090024bd1d170c803d9b896b9e3a08cef09537>
			<hash_090024750f61bdb04a868474434a300528b50c>
				<name>Data Source [CurrentDiskQueueLen]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024cd5e387c568d4ba52fd803e0f31c859b|hash_000024a5fad1fec35ca418e7eaff880c639868|hash_0000241075fe491cdcc288d389b8f4365e2921|hash_00002497225cf4b598059bf738c4b84ca6ea61</items>
			</hash_090024750f61bdb04a868474434a300528b50c>
			<hash_090024019e74f69d3659d6e1a56c06ed5fa627>
				<name>Data Source [AvgDiskSecPerTransf]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024073c73c81c7a0d7e6c5c090e76254905|hash_0000241769b0d69d44bd4d22cc534310b28b38|hash_0000243b72dfbc6359a426eb5414ed937477e1</items>
			</hash_090024019e74f69d3659d6e1a56c06ed5fa627>
			<hash_0900244fd7842a34aae480c7ea2a729f8315cf>
				<name>Data Source [FreeMegabytes]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000024bfdc3fcbdaa5076c407b94e5aec5a8d4|hash_000024bb22d8a174180535e9486576a10cee50|hash_000024cca3bea8c394ac63e4f8b8d039718879</items>
			</hash_0900244fd7842a34aae480c7ea2a729f8315cf>
			<hash_0900249c678fa0b2dc5fbb5f3c5cf12abe936b>
				<name>Data Source [SplitIOPerSec]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000246d256a10e960c41709d1b5da1189f578|hash_000024dde108c80aa1b0df96b538dff1216cb6|hash_0000245584c0e9fa104a402c74fbb08a0e51a4</items>
			</hash_0900249c678fa0b2dc5fbb5f3c5cf12abe936b>
		</inputs>
	</hash_00002472375beb4624f86e9d3181819fb76a95>
	<hash_010024cdd5bc77a8c868d50b679aa806a1d72d>
		<name>SNMP_Informant_Standard - Disk Stats</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Disk Stats - |query_lDiskInstance|</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_08002453c0c368d67c6d82fe17827653be952e>
				<t_data_source_name></t_data_source_name>
				<data_source_name>DiskWriteBytesPerSe</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002453c0c368d67c6d82fe17827653be952e>
			<hash_080024637849597a0beb8b598b35b4b9032b45>
				<t_data_source_name></t_data_source_name>
				<data_source_name>DiskReadBytesPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024637849597a0beb8b598b35b4b9032b45>
			<hash_0800242651e3644fa731186c9af0977a8105af>
				<t_data_source_name></t_data_source_name>
				<data_source_name>DiskBytesPerSec</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800242651e3644fa731186c9af0977a8105af>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_010024cdd5bc77a8c868d50b679aa806a1d72d>
	<hash_010024339ca02d83d140d23a27645bced22c66>
		<name>SNMP_Informant_Standard - Disk Stats (%&#039;s)</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Disk Stats (%&#039;s) |query_lDiskInstance|</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_080024c9c521cda35311a9f8d1f4808620250d>
				<t_data_source_name></t_data_source_name>
				<data_source_name>PercentDiskTime</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024c9c521cda35311a9f8d1f4808620250d>
			<hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0>
				<t_data_source_name></t_data_source_name>
				<data_source_name>PercentDiskReadTime</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002495c5e40fbdbfd2a9a11094ba0b4175d0>
			<hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b>
				<t_data_source_name></t_data_source_name>
				<data_source_name>PerDiskWriteTime</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>100</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002492a384e4a6ca3ebfa8aaef6f4690d84b>
			<hash_080024fb77315e06f36a65d42ab41add7ce7d6>
				<data_source_name>PercentFreeSpace</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>100</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024fb77315e06f36a65d42ab41add7ce7d6>
			<hash_0800244bc3dba937a56a7ddc2c07edc12df898>
				<data_source_name>PercentIdleTime</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>100</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800244bc3dba937a56a7ddc2c07edc12df898>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_010024339ca02d83d140d23a27645bced22c66>
	<hash_010024c569dcba5a966cec8ac697d3b0f6ede3>
		<name>SNMP_Informant_Standard - Disk Stats (Metrics)</name>
		<ds>
			<t_name>on</t_name>
			<name>|host_description| - Disk Stats (Metrics) - |query_lDiskInstance|</name>
			<data_input_id>hash_030024bf566c869ac6443b0c75d1c32b5a350e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150024c21df5178e5c955013591239eb0afd46|hash_1500240d9c0af8b8acdc7807943937b3208e29|hash_1500246fc2d038fb42950138b0ce3e9874cc60|hash_150024e36f3adb9f152adfa5dc50fd2b23337e</rra_items>
		</ds>
		<items>
			<hash_08002419d227fdea759532df221a8e7f149915>
				<data_source_name>DiskReadsPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002419d227fdea759532df221a8e7f149915>
			<hash_0800243c82c46028a433ed6325f7f720829f38>
				<data_source_name>DiskTransfersPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800243c82c46028a433ed6325f7f720829f38>
			<hash_080024fe80499055d429902c7e512911875a82>
				<t_data_source_name></t_data_source_name>
				<data_source_name>AvgDiskQueueLength</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>0</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024fe80499055d429902c7e512911875a82>
			<hash_08002420269e602e1eea4b90180450ecfbcab8>
				<data_source_name>CurrentDiskQueueLen</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002420269e602e1eea4b90180450ecfbcab8>
			<hash_080024f6d0c9b1785ac31d5c8c862a8b777f60>
				<data_source_name>AvgDiskReadQueueLen</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024f6d0c9b1785ac31d5c8c862a8b777f60>
			<hash_08002469bbf6e8d5e0695213884eb3598b1bcb>
				<data_source_name>AvgDiskSecPerRead</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_08002469bbf6e8d5e0695213884eb3598b1bcb>
			<hash_0800243cc1a336564300968727f6cfdbb86396>
				<data_source_name>AvgDiskWriteQueueLe</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_0800243cc1a336564300968727f6cfdbb86396>
			<hash_080024e7f415447f90546e5915ed4015d74d36>
				<data_source_name>DiskWritesPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024e7f415447f90546e5915ed4015d74d36>
			<hash_080024a5054162c0861633d833805afabe7681>
				<data_source_name>FreeMegabytes</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024a5054162c0861633d833805afabe7681>
			<hash_080024d1d0bae69b19acb81e83f083ddcc61a7>
				<data_source_name>SplitIOPerSec</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024d1d0bae69b19acb81e83f083ddcc61a7>
			<hash_080024fa66b621d56d5dbb65810ca2a00f93e1>
				<data_source_name>AvgDiskSecPerTransf</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024fa66b621d56d5dbb65810ca2a00f93e1>
			<hash_080024a77a20b24fcf50ae67688e182140e14f>
				<data_source_name>AvgDiskSecPerWrite</data_source_name>
				<rrd_minimum>0</rrd_minimum>
				<rrd_maximum>0</rrd_maximum>
				<data_source_type_id>1</data_source_type_id>
				<rrd_heartbeat>600</rrd_heartbeat>
				<data_input_field_id>0</data_input_field_id>
			</hash_080024a77a20b24fcf50ae67688e182140e14f>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700245240353b8f7f259acaf30e6229bc14e7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700243a33d4fc65b8329ab2ac46a36da26b72</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700246b13ac0a0194e171d241d4b06f913158</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
			<item_003>
				<data_input_field_id>hash_0700242cf7129ad3ff819a7a7ac189bee48ce8</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_003>
			<item_004>
				<data_input_field_id>hash_070024c1f36ee60c3dc98945556d57f26e475b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_004>
			<item_005>
				<data_input_field_id>hash_070024e6deda7be0f391399c5130e7c4a48b28</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_005>
			<item_006>
				<data_input_field_id>hash_070024cbbe5c1ddfb264a6e5d509ce1c78c95f</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_006>
			<item_007>
				<data_input_field_id>hash_0700246027a919c7c7731fbe095b6f53ab127b</data_input_field_id>
				<t_value>on</t_value>
				<value></value>
			</item_007>
			<item_008>
				<data_input_field_id>hash_070024b5c23f246559df38662c255f4aa21d6b</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_008>
			<item_009>
				<data_input_field_id>hash_0700241cc1493a6781af2c478fa4de971531cf</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_009>
			<item_010>
				<data_input_field_id>hash_070024f4facc5e2ca7ebee621f09bc6d9fc792</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_010>
			<item_011>
				<data_input_field_id>hash_070024acb449d1451e8a2a655c2c99d31142c7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_011>
			<item_012>
				<data_input_field_id>hash_070024617cdc8a230615e59f06f361ef6e7728</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_012>
		</data>
	</hash_010024c569dcba5a966cec8ac697d3b0f6ede3>
	<hash_150024c21df5178e5c955013591239eb0afd46>
		<name>Daily (5 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024c21df5178e5c955013591239eb0afd46>
	<hash_1500240d9c0af8b8acdc7807943937b3208e29>
		<name>Weekly (30 Minute Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500240d9c0af8b8acdc7807943937b3208e29>
	<hash_1500246fc2d038fb42950138b0ce3e9874cc60>
		<name>Monthly (2 Hour Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500246fc2d038fb42950138b0ce3e9874cc60>
	<hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
		<name>Yearly (1 Day Average)</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150024e36f3adb9f152adfa5dc50fd2b23337e>
	<hash_060024e9c43831e54eca8069317a2ce8c6f751>
		<name>Normal</name>
		<gprint_text>%8.2lf %s</gprint_text>
	</hash_060024e9c43831e54eca8069317a2ce8c6f751>
	<hash_0600249317954f8b39f8ba30c3d8cc2c35fade>
		<name>Percentage</name>
		<gprint_text> (%1.1lf %%)</gprint_text>
	</hash_0600249317954f8b39f8ba30c3d8cc2c35fade>
	<hash_06002419414480d6897c8731c7dc6c5310653e>
		<name>Exact Numbers</name>
		<gprint_text>%8.0lf</gprint_text>
	</hash_06002419414480d6897c8731c7dc6c5310653e>
	<hash_0600240fc59bce05cf15fda6352e4d6eb73599>
		<name>Decimals</name>
		<gprint_text>%8.3lf</gprint_text>
	</hash_0600240fc59bce05cf15fda6352e4d6eb73599>
	<hash_06002456d72ce71fca1c6b027471154d2eee39>
		<name>Gigabytes</name>
		<gprint_text> %5.2lf Gb</gprint_text>
	</hash_06002456d72ce71fca1c6b027471154d2eee39>
	<hash_05002412632b26b4b8e66a6bff5d8684bcaab5>
		<name>Divide by 1024</name>
		<items>
			<hash_140024b0f4343a93cb156f2e87192d08fff881>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140024b0f4343a93cb156f2e87192d08fff881>
			<hash_140024cd72a0e3db80579b2b01715a55985c6e>
				<sequence>2</sequence>
				<type>6</type>
				<value>1024</value>
			</hash_140024cd72a0e3db80579b2b01715a55985c6e>
			<hash_140024562a2363b91dad51286fb6e24e0a65b8>
				<sequence>3</sequence>
				<type>2</type>
				<value>4</value>
			</hash_140024562a2363b91dad51286fb6e24e0a65b8>
		</items>
	</hash_05002412632b26b4b8e66a6bff5d8684bcaab5>
	<hash_050024a0a68ac5d46fc6faa2a64517b232603f>
		<name>Divide by 1024, Divide by 1024</name>
		<items>
			<hash_140024335990ead4e67c01d95e450cc1f0f87e>
				<sequence>2</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140024335990ead4e67c01d95e450cc1f0f87e>
			<hash_140024d921a289eac5edc9612f0ae1db309ac5>
				<sequence>5</sequence>
				<type>6</type>
				<value>1024</value>
			</hash_140024d921a289eac5edc9612f0ae1db309ac5>
			<hash_14002434a05179a15b6355f5fb5763105d4106>
				<sequence>6</sequence>
				<type>2</type>
				<value>4</value>
			</hash_14002434a05179a15b6355f5fb5763105d4106>
			<hash_140024244f1442ccda0519b808a61d50f5322c>
				<sequence>7</sequence>
				<type>6</type>
				<value>1024</value>
			</hash_140024244f1442ccda0519b808a61d50f5322c>
			<hash_1400246483b1307f98c98fd4199c42b4a0b3ed>
				<sequence>8</sequence>
				<type>2</type>
				<value>4</value>
			</hash_1400246483b1307f98c98fd4199c42b4a0b3ed>
		</items>
	</hash_050024a0a68ac5d46fc6faa2a64517b232603f>
</cacti>