<cacti>
	<hash_0200137f7efd1ec6e7a010d305e52a55eaaf3c>
		<name>Percona Memcached Server HT</name>
		<graph_templates>hash_000013e784abb2d43636a946444dfce47aa45c|hash_00001340966e5b6452f212558ceecd0db6e24c|hash_0000133a1e7c5299c374c29b3389c1853df0fc|hash_00001359b67cc5a5814cc321fd5a9a53a6bb19|hash_000013a03d49b958b74ab1248163eaf43aed1f|hash_000013741c6d14d6d407277e1f3cc30408594a|hash_00001308bf12271056b783239647380d3f1d14</graph_templates>
		<data_queries></data_queries>
	</hash_0200137f7efd1ec6e7a010d305e52a55eaaf3c>
	<hash_000013e784abb2d43636a946444dfce47aa45c>
		<name>Percona Memcached Rusage GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Rusage</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013815d08ec6b65093237192a1f53c0e8d2>
				<task_item_id>hash_0800134f63f354dd4ce4c82e46fca190adc80e</task_item_id>
				<color_id>91204D</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Rusage User</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013815d08ec6b65093237192a1f53c0e8d2>
			<hash_10001376ef8617ca8b69e24066c0acd45f4d7a>
				<task_item_id>hash_0800134f63f354dd4ce4c82e46fca190adc80e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_10001376ef8617ca8b69e24066c0acd45f4d7a>
			<hash_1000130a505d914c460134db5ea2acec80d8e6>
				<task_item_id>hash_0800134f63f354dd4ce4c82e46fca190adc80e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_1000130a505d914c460134db5ea2acec80d8e6>
			<hash_100013c9098fc04a259c04f925d8bf9786f53d>
				<task_item_id>hash_0800134f63f354dd4ce4c82e46fca190adc80e</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013c9098fc04a259c04f925d8bf9786f53d>
			<hash_10001369880d6592e4f0e603716c64044b0b06>
				<task_item_id>hash_080013da430a0fa8d1976480dce0708985ebc9</task_item_id>
				<color_id>E4844A</color_id>
				<graph_type_id>8</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Rusage System</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001369880d6592e4f0e603716c64044b0b06>
			<hash_10001357c68ef78f38cfd193e68e9e3dd1d7db>
				<task_item_id>hash_080013da430a0fa8d1976480dce0708985ebc9</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_10001357c68ef78f38cfd193e68e9e3dd1d7db>
			<hash_10001338af7509139b717e02aa5094d4e170fa>
				<task_item_id>hash_080013da430a0fa8d1976480dce0708985ebc9</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_10001338af7509139b717e02aa5094d4e170fa>
			<hash_100013a324f93ec4c484bf4b7745c9ef421698>
				<task_item_id>hash_080013da430a0fa8d1976480dce0708985ebc9</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013a324f93ec4c484bf4b7745c9ef421698>
		</items>
		<inputs>
			<hash_090013050108b41d1c6a4c418501554d3beb8b>
				<name>Data Source [MEMC_rusage_user]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013815d08ec6b65093237192a1f53c0e8d2|hash_00001376ef8617ca8b69e24066c0acd45f4d7a|hash_0000130a505d914c460134db5ea2acec80d8e6|hash_000013c9098fc04a259c04f925d8bf9786f53d</items>
			</hash_090013050108b41d1c6a4c418501554d3beb8b>
			<hash_090013deb69762da68030dfd25bf259f7fea37>
				<name>Data Source [MEMC_rusage_system]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001369880d6592e4f0e603716c64044b0b06|hash_00001357c68ef78f38cfd193e68e9e3dd1d7db|hash_00001338af7509139b717e02aa5094d4e170fa|hash_000013a324f93ec4c484bf4b7745c9ef421698</items>
			</hash_090013deb69762da68030dfd25bf259f7fea37>
		</inputs>
	</hash_000013e784abb2d43636a946444dfce47aa45c>
	<hash_00001340966e5b6452f212558ceecd0db6e24c>
		<name>Percona Memcached Current Items GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Current Items</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013a965fa78c816b2a89d061d4d1889ab3c>
				<task_item_id>hash_08001333d00d87a7490e2ffcf75588ae40ac54</task_item_id>
				<color_id>3D2610</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Curr Items</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013a965fa78c816b2a89d061d4d1889ab3c>
			<hash_100013af46fc28dc5312c582baf221350f1a2b>
				<task_item_id>hash_08001333d00d87a7490e2ffcf75588ae40ac54</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013af46fc28dc5312c582baf221350f1a2b>
			<hash_100013e715febf84b74abdb70b38fa5c36c4f3>
				<task_item_id>hash_08001333d00d87a7490e2ffcf75588ae40ac54</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013e715febf84b74abdb70b38fa5c36c4f3>
			<hash_100013aa660017aaa5d7265ce0d9f0058ca547>
				<task_item_id>hash_08001333d00d87a7490e2ffcf75588ae40ac54</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013aa660017aaa5d7265ce0d9f0058ca547>
		</items>
		<inputs>
			<hash_090013cbac1d19cfd138a874b8285e67f32818>
				<name>Data Source [MEMC_curr_items]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013a965fa78c816b2a89d061d4d1889ab3c|hash_000013af46fc28dc5312c582baf221350f1a2b|hash_000013e715febf84b74abdb70b38fa5c36c4f3|hash_000013aa660017aaa5d7265ce0d9f0058ca547</items>
			</hash_090013cbac1d19cfd138a874b8285e67f32818>
		</inputs>
	</hash_00001340966e5b6452f212558ceecd0db6e24c>
	<hash_0000133a1e7c5299c374c29b3389c1853df0fc>
		<name>Percona Memcached Additions and Evictions GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Additions and Evictions</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001348ad4ba59c595a0948aea27c09c89462>
				<task_item_id>hash_08001315413d02553829fa87ee11d94647b264</task_item_id>
				<color_id>324D88</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Total Items</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001348ad4ba59c595a0948aea27c09c89462>
			<hash_1000138a2883cd4698ce92bfda14e827d3739a>
				<task_item_id>hash_08001315413d02553829fa87ee11d94647b264</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000138a2883cd4698ce92bfda14e827d3739a>
			<hash_100013b7cd4b0586bb55a19b88d15cbe6364a8>
				<task_item_id>hash_08001315413d02553829fa87ee11d94647b264</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013b7cd4b0586bb55a19b88d15cbe6364a8>
			<hash_100013addbd8d8e882b7c367cc4f04720a3644>
				<task_item_id>hash_08001315413d02553829fa87ee11d94647b264</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013addbd8d8e882b7c367cc4f04720a3644>
			<hash_100013af2ef7ef304cfd02a90fbdeffbed686f>
				<task_item_id>hash_08001305894f4675c529a695c68425803037ff</task_item_id>
				<color_id>A03333</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500134281cf63dfde6f44b46a59f022cf82b2</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Evictions</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_100013af2ef7ef304cfd02a90fbdeffbed686f>
			<hash_100013731ebf2fabddd0cc5c516688987085f9>
				<task_item_id>hash_08001305894f4675c529a695c68425803037ff</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013731ebf2fabddd0cc5c516688987085f9>
			<hash_100013c666da7c51fd1bfd95b8dfdbb6b4bb8a>
				<task_item_id>hash_08001305894f4675c529a695c68425803037ff</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013c666da7c51fd1bfd95b8dfdbb6b4bb8a>
			<hash_100013a9158467449c455de71e37f1bfb10305>
				<task_item_id>hash_08001305894f4675c529a695c68425803037ff</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013a9158467449c455de71e37f1bfb10305>
		</items>
		<inputs>
			<hash_090013b7e238dc11fdcbde061117adc9a6fb7d>
				<name>Data Source [MEMC_total_items]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001348ad4ba59c595a0948aea27c09c89462|hash_0000138a2883cd4698ce92bfda14e827d3739a|hash_000013b7cd4b0586bb55a19b88d15cbe6364a8|hash_000013addbd8d8e882b7c367cc4f04720a3644</items>
			</hash_090013b7e238dc11fdcbde061117adc9a6fb7d>
			<hash_090013a1ea78e9c5f755a95a5a1d605f2dd4d9>
				<name>Data Source [MEMC_evictions]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013af2ef7ef304cfd02a90fbdeffbed686f|hash_000013731ebf2fabddd0cc5c516688987085f9|hash_000013c666da7c51fd1bfd95b8dfdbb6b4bb8a|hash_000013a9158467449c455de71e37f1bfb10305</items>
			</hash_090013a1ea78e9c5f755a95a5a1d605f2dd4d9>
		</inputs>
	</hash_0000133a1e7c5299c374c29b3389c1853df0fc>
	<hash_00001359b67cc5a5814cc321fd5a9a53a6bb19>
		<name>Percona Memcached Memory GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Memory</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013f751e9e395fff210df10a5380a133f6d>
				<task_item_id>hash_080013a3cc9ccd087e30c548e8eba2f6a96c1c</task_item_id>
				<color_id>3C5E53</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Bytes</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013f751e9e395fff210df10a5380a133f6d>
			<hash_100013a30667b9978e4e5ff5f98cfa114c539c>
				<task_item_id>hash_080013a3cc9ccd087e30c548e8eba2f6a96c1c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013a30667b9978e4e5ff5f98cfa114c539c>
			<hash_100013a6c637b2f1d0ae58e426ae0ae26fe581>
				<task_item_id>hash_080013a3cc9ccd087e30c548e8eba2f6a96c1c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013a6c637b2f1d0ae58e426ae0ae26fe581>
			<hash_10001397422a226323ed7526db2e7ca371ec74>
				<task_item_id>hash_080013a3cc9ccd087e30c548e8eba2f6a96c1c</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_10001397422a226323ed7526db2e7ca371ec74>
		</items>
		<inputs>
			<hash_090013dfcfd672574c819ed156465127a4fb4b>
				<name>Data Source [MEMC_bytes]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013f751e9e395fff210df10a5380a133f6d|hash_000013a30667b9978e4e5ff5f98cfa114c539c|hash_000013a6c637b2f1d0ae58e426ae0ae26fe581|hash_00001397422a226323ed7526db2e7ca371ec74</items>
			</hash_090013dfcfd672574c819ed156465127a4fb4b>
		</inputs>
	</hash_00001359b67cc5a5814cc321fd5a9a53a6bb19>
	<hash_000013a03d49b958b74ab1248163eaf43aed1f>
		<name>Percona Memcached Connections GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Connections</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013450d89e89e0cb361ff0bce55713b780a>
				<task_item_id>hash_0800138f989f1289e66b9366a92d63d5a823ec</task_item_id>
				<color_id>06998F</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Curr Connections</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013450d89e89e0cb361ff0bce55713b780a>
			<hash_100013f3bb9eef3139e9b48c0c132b38bd8718>
				<task_item_id>hash_0800138f989f1289e66b9366a92d63d5a823ec</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013f3bb9eef3139e9b48c0c132b38bd8718>
			<hash_100013e26b57215acfa43222ba50326ad7df01>
				<task_item_id>hash_0800138f989f1289e66b9366a92d63d5a823ec</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013e26b57215acfa43222ba50326ad7df01>
			<hash_1000133e03b399913fd0c886395fdcec7ad7bf>
				<task_item_id>hash_0800138f989f1289e66b9366a92d63d5a823ec</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000133e03b399913fd0c886395fdcec7ad7bf>
			<hash_10001325df489910ba041730e40c85549747f9>
				<task_item_id>hash_0800136c2e3658c11f6aed4dd106cc9916d5de</task_item_id>
				<color_id>105B3D</color_id>
				<graph_type_id>4</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Total Connections</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001325df489910ba041730e40c85549747f9>
			<hash_100013032423939dbf12ba0d74b596fb3f663a>
				<task_item_id>hash_0800136c2e3658c11f6aed4dd106cc9916d5de</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_100013032423939dbf12ba0d74b596fb3f663a>
			<hash_1000132372082b5f1d0dab9d575bcc9ffed836>
				<task_item_id>hash_0800136c2e3658c11f6aed4dd106cc9916d5de</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_1000132372082b5f1d0dab9d575bcc9ffed836>
			<hash_10001343683b7065456038a3c7e44409af0362>
				<task_item_id>hash_0800136c2e3658c11f6aed4dd106cc9916d5de</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_10001343683b7065456038a3c7e44409af0362>
		</items>
		<inputs>
			<hash_090013944baea38b0ba7cc3b144e510bd9017a>
				<name>Data Source [MEMC_curr_connectns]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013450d89e89e0cb361ff0bce55713b780a|hash_000013f3bb9eef3139e9b48c0c132b38bd8718|hash_000013e26b57215acfa43222ba50326ad7df01|hash_0000133e03b399913fd0c886395fdcec7ad7bf</items>
			</hash_090013944baea38b0ba7cc3b144e510bd9017a>
			<hash_0900137e44af2237885b645c5d5c2deb231420>
				<name>Data Source [MEMC_total_connctns]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001325df489910ba041730e40c85549747f9|hash_000013032423939dbf12ba0d74b596fb3f663a|hash_0000132372082b5f1d0dab9d575bcc9ffed836|hash_00001343683b7065456038a3c7e44409af0362</items>
			</hash_0900137e44af2237885b645c5d5c2deb231420>
		</inputs>
	</hash_000013a03d49b958b74ab1248163eaf43aed1f>
	<hash_000013741c6d14d6d407277e1f3cc30408594a>
		<name>Percona Memcached Requests GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Requests</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1000</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_10001307ae9cc204281b08aef5eb8d35fcf9fa>
				<task_item_id>hash_080013e0708c89ad1d7c98424140c3bce377f5</task_item_id>
				<color_id>F8BE7D</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cmd Get</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_10001307ae9cc204281b08aef5eb8d35fcf9fa>
			<hash_100013b8fb17c0f3c52ddd24e4d6589ba3a0c8>
				<task_item_id>hash_080013e0708c89ad1d7c98424140c3bce377f5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_100013b8fb17c0f3c52ddd24e4d6589ba3a0c8>
			<hash_100013f0cb70e493461b809813dc7ce75de7a2>
				<task_item_id>hash_080013e0708c89ad1d7c98424140c3bce377f5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013f0cb70e493461b809813dc7ce75de7a2>
			<hash_1000139bad4d40b5a45c745ab7e767989a6cc5>
				<task_item_id>hash_080013e0708c89ad1d7c98424140c3bce377f5</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_1000139bad4d40b5a45c745ab7e767989a6cc5>
			<hash_10001341bea756aa1e0d2f3ea89841e7dea520>
				<task_item_id>hash_08001308a90a539c1b6646e96f6015d522142a</task_item_id>
				<color_id>CC1306</color_id>
				<graph_type_id>5</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Get Misses</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_10001341bea756aa1e0d2f3ea89841e7dea520>
			<hash_1000135e97ae4d0e545f01146c12be57a09e71>
				<task_item_id>hash_08001308a90a539c1b6646e96f6015d522142a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000135e97ae4d0e545f01146c12be57a09e71>
			<hash_100013146d4b71e434ca3d951c978bb3fa6139>
				<task_item_id>hash_08001308a90a539c1b6646e96f6015d522142a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013146d4b71e434ca3d951c978bb3fa6139>
			<hash_100013198569ade9a27097fe26aaf187c61bcf>
				<task_item_id>hash_08001308a90a539c1b6646e96f6015d522142a</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013198569ade9a27097fe26aaf187c61bcf>
			<hash_100013850212f1e3977536383c3ccbc92c94e5>
				<task_item_id>hash_080013ea4af55a930dc9a76fcd5bf840e1ef72</task_item_id>
				<color_id>3C5E53</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500134281cf63dfde6f44b46a59f022cf82b2</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cmd Set</text_format>
				<hard_return></hard_return>
				<sequence>9</sequence>
			</hash_100013850212f1e3977536383c3ccbc92c94e5>
			<hash_1000136ab59b910a9c90db580991d3e87a5700>
				<task_item_id>hash_080013ea4af55a930dc9a76fcd5bf840e1ef72</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>10</sequence>
			</hash_1000136ab59b910a9c90db580991d3e87a5700>
			<hash_100013683d1f389df140701a664b9a501dfb04>
				<task_item_id>hash_080013ea4af55a930dc9a76fcd5bf840e1ef72</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>11</sequence>
			</hash_100013683d1f389df140701a664b9a501dfb04>
			<hash_100013a0614cf07351f017fe6ade4b406e81d2>
				<task_item_id>hash_080013ea4af55a930dc9a76fcd5bf840e1ef72</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>12</sequence>
			</hash_100013a0614cf07351f017fe6ade4b406e81d2>
		</items>
		<inputs>
			<hash_090013177708b37f503a2f332ce61482354097>
				<name>Data Source [MEMC_cmd_get]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001307ae9cc204281b08aef5eb8d35fcf9fa|hash_000013b8fb17c0f3c52ddd24e4d6589ba3a0c8|hash_000013f0cb70e493461b809813dc7ce75de7a2|hash_0000139bad4d40b5a45c745ab7e767989a6cc5</items>
			</hash_090013177708b37f503a2f332ce61482354097>
			<hash_0900133bec18ed7be10c496d3f8f1cc79703e2>
				<name>Data Source [MEMC_get_misses]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_00001341bea756aa1e0d2f3ea89841e7dea520|hash_0000135e97ae4d0e545f01146c12be57a09e71|hash_000013146d4b71e434ca3d951c978bb3fa6139|hash_000013198569ade9a27097fe26aaf187c61bcf</items>
			</hash_0900133bec18ed7be10c496d3f8f1cc79703e2>
			<hash_090013013a1b32612bbed7cf7229ef71d9d534>
				<name>Data Source [MEMC_cmd_set]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013850212f1e3977536383c3ccbc92c94e5|hash_0000136ab59b910a9c90db580991d3e87a5700|hash_000013683d1f389df140701a664b9a501dfb04|hash_000013a0614cf07351f017fe6ade4b406e81d2</items>
			</hash_090013013a1b32612bbed7cf7229ef71d9d534>
		</inputs>
	</hash_000013741c6d14d6d407277e1f3cc30408594a>
	<hash_00001308bf12271056b783239647380d3f1d14>
		<name>Percona Memcached Traffic GT</name>
		<graph>
			<t_title></t_title>
			<title>|host_description| - Memcached Traffic</title>
			<t_image_format_id></t_image_format_id>
			<image_format_id>1</image_format_id>
			<t_height></t_height>
			<height>120</height>
			<t_width></t_width>
			<width>500</width>
			<t_auto_scale></t_auto_scale>
			<auto_scale>on</auto_scale>
			<t_auto_scale_opts></t_auto_scale_opts>
			<auto_scale_opts>2</auto_scale_opts>
			<t_auto_scale_log></t_auto_scale_log>
			<auto_scale_log></auto_scale_log>
			<t_auto_scale_rigid></t_auto_scale_rigid>
			<auto_scale_rigid></auto_scale_rigid>
			<t_auto_padding></t_auto_padding>
			<auto_padding>on</auto_padding>
			<t_export></t_export>
			<export>on</export>
			<t_upper_limit></t_upper_limit>
			<upper_limit>0</upper_limit>
			<t_lower_limit></t_lower_limit>
			<lower_limit>0</lower_limit>
			<t_base_value></t_base_value>
			<base_value>1024</base_value>
			<t_unit_value></t_unit_value>
			<unit_value></unit_value>
			<t_unit_exponent_value></t_unit_exponent_value>
			<unit_exponent_value></unit_exponent_value>
			<t_vertical_label></t_vertical_label>
			<vertical_label></vertical_label>
		</graph>
		<items>
			<hash_100013485efaaf3d24d2d5916f60a0117f821f>
				<task_item_id>hash_08001335e6a659c98bb6385340043141e05c3f</task_item_id>
				<color_id>A38A64</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Bytes Read</text_format>
				<hard_return></hard_return>
				<sequence>1</sequence>
			</hash_100013485efaaf3d24d2d5916f60a0117f821f>
			<hash_1000132d368583e842ff6ccf2f34da6ee76643>
				<task_item_id>hash_08001335e6a659c98bb6385340043141e05c3f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>2</sequence>
			</hash_1000132d368583e842ff6ccf2f34da6ee76643>
			<hash_100013ecc88b43211053850bb754ce83f77dca>
				<task_item_id>hash_08001335e6a659c98bb6385340043141e05c3f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>3</sequence>
			</hash_100013ecc88b43211053850bb754ce83f77dca>
			<hash_100013116ddfa141cf301196f57ff2732df4c5>
				<task_item_id>hash_08001335e6a659c98bb6385340043141e05c3f</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>4</sequence>
			</hash_100013116ddfa141cf301196f57ff2732df4c5>
			<hash_1000137017a398138cdae915f954cc594f3f42>
				<task_item_id>hash_0800132d9df3794de0c4f04b87b9fc62a03fd4</task_item_id>
				<color_id>183030</color_id>
				<graph_type_id>7</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>hash_0500134281cf63dfde6f44b46a59f022cf82b2</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Bytes Written</text_format>
				<hard_return></hard_return>
				<sequence>5</sequence>
			</hash_1000137017a398138cdae915f954cc594f3f42>
			<hash_1000136cc3f3a156019d12fe917ff545ca9996>
				<task_item_id>hash_0800132d9df3794de0c4f04b87b9fc62a03fd4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>4</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Cur:</text_format>
				<hard_return></hard_return>
				<sequence>6</sequence>
			</hash_1000136cc3f3a156019d12fe917ff545ca9996>
			<hash_100013d3eaa8656052069a1bf4ad321a641bb5>
				<task_item_id>hash_0800132d9df3794de0c4f04b87b9fc62a03fd4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>1</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Avg:</text_format>
				<hard_return></hard_return>
				<sequence>7</sequence>
			</hash_100013d3eaa8656052069a1bf4ad321a641bb5>
			<hash_100013ad3e0f7aa081d8891d491ecf660ee83d>
				<task_item_id>hash_0800132d9df3794de0c4f04b87b9fc62a03fd4</task_item_id>
				<color_id>0</color_id>
				<graph_type_id>9</graph_type_id>
				<consolidation_function_id>3</consolidation_function_id>
				<cdef_id>0</cdef_id>
				<value></value>
				<gprint_id>hash_060013e9c43831e54eca8069317a2ce8c6f752</gprint_id>
				<text_format>Max:</text_format>
				<hard_return>on</hard_return>
				<sequence>8</sequence>
			</hash_100013ad3e0f7aa081d8891d491ecf660ee83d>
		</items>
		<inputs>
			<hash_090013f81d4c3581f12eff7868a6db99b3c9bb>
				<name>Data Source [MEMC_bytes_read]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_000013485efaaf3d24d2d5916f60a0117f821f|hash_0000132d368583e842ff6ccf2f34da6ee76643|hash_000013ecc88b43211053850bb754ce83f77dca|hash_000013116ddfa141cf301196f57ff2732df4c5</items>
			</hash_090013f81d4c3581f12eff7868a6db99b3c9bb>
			<hash_09001325c6873e7d172455af7e63df4af4cda4>
				<name>Data Source [MEMC_bytes_written]</name>
				<description></description>
				<column_name>task_item_id</column_name>
				<items>hash_0000137017a398138cdae915f954cc594f3f42|hash_0000136cc3f3a156019d12fe917ff545ca9996|hash_000013d3eaa8656052069a1bf4ad321a641bb5|hash_000013ad3e0f7aa081d8891d491ecf660ee83d</items>
			</hash_09001325c6873e7d172455af7e63df4af4cda4>
		</inputs>
	</hash_00001308bf12271056b783239647380d3f1d14>
	<hash_0100139a39fe10d0fa5399f7b0bc9a47f8417a>
		<name>Percona Memcached Rusage DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Rusage</name>
			<data_input_id>hash_030013d28c51c1dd664347a9108cd249db4a3e</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800134f63f354dd4ce4c82e46fca190adc80e>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_rusage_user</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700133776f6cca10b6e95091a79d288a77ea8</data_input_field_id>
			</hash_0800134f63f354dd4ce4c82e46fca190adc80e>
			<hash_080013da430a0fa8d1976480dce0708985ebc9>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_rusage_system</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013a3ad215491e7827ba534cb3eba6506e0</data_input_field_id>
			</hash_080013da430a0fa8d1976480dce0708985ebc9>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013bf1e1bd649590b2ea2d04af459499fd7</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700136ffc5b05277fb885deb4042635692d3f</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013fe80609863e8ad450d54b841ace29836</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_0100139a39fe10d0fa5399f7b0bc9a47f8417a>
	<hash_0100132017f8dabb4bd21792e2fcd18ea77741>
		<name>Percona Memcached Current Items DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Current Items</name>
			<data_input_id>hash_030013d989e1cf619bb3601bfac80bcac4f098</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001333d00d87a7490e2ffcf75588ae40ac54>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_curr_items</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013e86506a0d8cd2f0c8fb0a6f4dbf6457e</data_input_field_id>
			</hash_08001333d00d87a7490e2ffcf75588ae40ac54>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700135df99e49f8e0ac0cf607288d93c8159e</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013c77a8730206a89e1c2bff6b5af38dc8a</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_07001308cbcca38641a7cbe196f44da9cc8909</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_0100132017f8dabb4bd21792e2fcd18ea77741>
	<hash_010013bdf39ff8d914b87c5cadd4351c24ade1>
		<name>Percona Memcached Additions and Evictions DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Additions and Evictions</name>
			<data_input_id>hash_030013a0b7070c1adc3d82531f32becb6d0c17</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001305894f4675c529a695c68425803037ff>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_evictions</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013f8f0b856b687a5a82b965cfbb68b8009</data_input_field_id>
			</hash_08001305894f4675c529a695c68425803037ff>
			<hash_08001315413d02553829fa87ee11d94647b264>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_total_items</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700130f15539394ef9bd64349421d81549750</data_input_field_id>
			</hash_08001315413d02553829fa87ee11d94647b264>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700134f1ce9c43d7886adb9c2d8a51dbf5b50</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013184b5712a78df625c2496e6e64578d20</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013a6f63dabc11a37f0b01037858af026e2</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_010013bdf39ff8d914b87c5cadd4351c24ade1>
	<hash_01001392c91d843d5726edd154cde90fb362dd>
		<name>Percona Memcached Memory DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Memory</name>
			<data_input_id>hash_03001394b9a847d7ae444c24955914af8f26b0</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_080013a3cc9ccd087e30c548e8eba2f6a96c1c>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_bytes</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013babe31dc6c33ce123a9d8b69eac02736</data_input_field_id>
			</hash_080013a3cc9ccd087e30c548e8eba2f6a96c1c>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700136fffee7e3e90ef56d7b53f6b4a43b060</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013fcdaa08649c4b098ca2a8d52768b0c8e</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013e9712b06907749eecad698e768dae023</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_01001392c91d843d5726edd154cde90fb362dd>
	<hash_01001396d2a87a20e2c37e5f1368d397573c15>
		<name>Percona Memcached Connections DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Connections</name>
			<data_input_id>hash_0300133499b6ed0a7130ac2999aba2569b6f27</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800138f989f1289e66b9366a92d63d5a823ec>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_curr_connectns</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>1</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013813e00dee62ad2ead22c28e5d7ad939e</data_input_field_id>
			</hash_0800138f989f1289e66b9366a92d63d5a823ec>
			<hash_0800136c2e3658c11f6aed4dd106cc9916d5de>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_total_connctns</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013822e1ac2177e97137f46d778b51c22ff</data_input_field_id>
			</hash_0800136c2e3658c11f6aed4dd106cc9916d5de>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013fb3fb6e5cc9d2b587a62f38b1471fe30</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013946209c1d777f2d2cb7832c7b5ab239e</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_0700131d8146b9f5fa76f92c7a949a1a34bf8a</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_01001396d2a87a20e2c37e5f1368d397573c15>
	<hash_01001359fc7a38f87b02b5b29fba51ba85931d>
		<name>Percona Memcached Requests DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Requests</name>
			<data_input_id>hash_0300133b40bc7a8e98627ddd49cfcdba9745eb</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_08001308a90a539c1b6646e96f6015d522142a>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_get_misses</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_07001379984a2265ce644906f9dd0830e52651</data_input_field_id>
			</hash_08001308a90a539c1b6646e96f6015d522142a>
			<hash_080013ea4af55a930dc9a76fcd5bf840e1ef72>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_cmd_set</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700139acd8818bb1007b37148744bd3f5867e</data_input_field_id>
			</hash_080013ea4af55a930dc9a76fcd5bf840e1ef72>
			<hash_080013e0708c89ad1d7c98424140c3bce377f5>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_cmd_get</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700137afcedfaaf58d5bbfa9f04450a677ebe</data_input_field_id>
			</hash_080013e0708c89ad1d7c98424140c3bce377f5>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_0700135d26183a57e82e4faaf28d2354d968db</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_0700132f2223ca29b58f8a7c65ce59db263891</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_07001357afb1e3c0548049ea07f96098c1d3d1</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_01001359fc7a38f87b02b5b29fba51ba85931d>
	<hash_010013785f3bd9422b4113500476aa96a049c6>
		<name>Percona Memcached Traffic DT</name>
		<ds>
			<t_name></t_name>
			<name>|host_description| - Memcached Traffic</name>
			<data_input_id>hash_03001330dfecdd791249222fbaf9c908e6e83d</data_input_id>
			<t_rra_id></t_rra_id>
			<t_rrd_step></t_rrd_step>
			<rrd_step>300</rrd_step>
			<t_active></t_active>
			<active>on</active>
			<rra_items>hash_150013c21df5178e5c955013591239eb0afd47|hash_1500130d9c0af8b8acdc7807943937b3208e30|hash_1500136fc2d038fb42950138b0ce3e9874cc61|hash_150013e36f3adb9f152adfa5dc50fd2b23337f</rra_items>
		</ds>
		<items>
			<hash_0800132d9df3794de0c4f04b87b9fc62a03fd4>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_bytes_written</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_0700131185029d94abc82927eb68e390e00753</data_input_field_id>
			</hash_0800132d9df3794de0c4f04b87b9fc62a03fd4>
			<hash_08001335e6a659c98bb6385340043141e05c3f>
				<t_data_source_name></t_data_source_name>
				<data_source_name>MEMC_bytes_read</data_source_name>
				<t_rrd_minimum></t_rrd_minimum>
				<rrd_minimum>0</rrd_minimum>
				<t_rrd_maximum></t_rrd_maximum>
				<rrd_maximum>18446744073709551615</rrd_maximum>
				<t_data_source_type_id></t_data_source_type_id>
				<data_source_type_id>3</data_source_type_id>
				<t_rrd_heartbeat></t_rrd_heartbeat>
				<rrd_heartbeat>600</rrd_heartbeat>
				<t_data_input_field_id></t_data_input_field_id>
				<data_input_field_id>hash_070013302653ee84c3cc0741edf222c0161186</data_input_field_id>
			</hash_08001335e6a659c98bb6385340043141e05c3f>
		</items>
		<data>
			<item_000>
				<data_input_field_id>hash_070013911ecfc637ee13621b1bb9063ed399ce</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_000>
			<item_001>
				<data_input_field_id>hash_070013cb4850f2501cbe9970bae55c5e615e7e</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_001>
			<item_002>
				<data_input_field_id>hash_070013c4b7a3024d749e99bbdfe4fb30e1c6d3</data_input_field_id>
				<t_value></t_value>
				<value></value>
			</item_002>
		</data>
	</hash_010013785f3bd9422b4113500476aa96a049c6>
	<hash_030013d28c51c1dd664347a9108cd249db4a3e>
		<name>Percona Get Memcached Stats/Memcached Rusage IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items ij,ik --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013bf1e1bd649590b2ea2d04af459499fd7>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013bf1e1bd649590b2ea2d04af459499fd7>
			<hash_0700136ffc5b05277fb885deb4042635692d3f>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700136ffc5b05277fb885deb4042635692d3f>
			<hash_070013fe80609863e8ad450d54b841ace29836>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013fe80609863e8ad450d54b841ace29836>
			<hash_0700133776f6cca10b6e95091a79d288a77ea8>
				<name>MEMC Rusage User</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ij</data_name>
			</hash_0700133776f6cca10b6e95091a79d288a77ea8>
			<hash_070013a3ad215491e7827ba534cb3eba6506e0>
				<name>MEMC Rusage System</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ik</data_name>
			</hash_070013a3ad215491e7827ba534cb3eba6506e0>
		</fields>
	</hash_030013d28c51c1dd664347a9108cd249db4a3e>
	<hash_030013d989e1cf619bb3601bfac80bcac4f098>
		<name>Percona Get Memcached Stats/Memcached Current Items IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items il --server &lt;server&gt;</input_string>
		<fields>
			<hash_0700135df99e49f8e0ac0cf607288d93c8159e>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700135df99e49f8e0ac0cf607288d93c8159e>
			<hash_070013c77a8730206a89e1c2bff6b5af38dc8a>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013c77a8730206a89e1c2bff6b5af38dc8a>
			<hash_07001308cbcca38641a7cbe196f44da9cc8909>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_07001308cbcca38641a7cbe196f44da9cc8909>
			<hash_070013e86506a0d8cd2f0c8fb0a6f4dbf6457e>
				<name>MEMC Curr Items</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>il</data_name>
			</hash_070013e86506a0d8cd2f0c8fb0a6f4dbf6457e>
		</fields>
	</hash_030013d989e1cf619bb3601bfac80bcac4f098>
	<hash_030013a0b7070c1adc3d82531f32becb6d0c17>
		<name>Percona Get Memcached Stats/Memcached Additions and Evictions IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items im,it --server &lt;server&gt;</input_string>
		<fields>
			<hash_0700134f1ce9c43d7886adb9c2d8a51dbf5b50>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700134f1ce9c43d7886adb9c2d8a51dbf5b50>
			<hash_070013184b5712a78df625c2496e6e64578d20>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013184b5712a78df625c2496e6e64578d20>
			<hash_070013a6f63dabc11a37f0b01037858af026e2>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013a6f63dabc11a37f0b01037858af026e2>
			<hash_070013f8f0b856b687a5a82b965cfbb68b8009>
				<name>MEMC Evictions</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>it</data_name>
			</hash_070013f8f0b856b687a5a82b965cfbb68b8009>
			<hash_0700130f15539394ef9bd64349421d81549750>
				<name>MEMC Total Items</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>im</data_name>
			</hash_0700130f15539394ef9bd64349421d81549750>
		</fields>
	</hash_030013a0b7070c1adc3d82531f32becb6d0c17>
	<hash_03001394b9a847d7ae444c24955914af8f26b0>
		<name>Percona Get Memcached Stats/Memcached Memory IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items in --server &lt;server&gt;</input_string>
		<fields>
			<hash_0700136fffee7e3e90ef56d7b53f6b4a43b060>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700136fffee7e3e90ef56d7b53f6b4a43b060>
			<hash_070013fcdaa08649c4b098ca2a8d52768b0c8e>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013fcdaa08649c4b098ca2a8d52768b0c8e>
			<hash_070013e9712b06907749eecad698e768dae023>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013e9712b06907749eecad698e768dae023>
			<hash_070013babe31dc6c33ce123a9d8b69eac02736>
				<name>MEMC Bytes</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>in</data_name>
			</hash_070013babe31dc6c33ce123a9d8b69eac02736>
		</fields>
	</hash_03001394b9a847d7ae444c24955914af8f26b0>
	<hash_0300133499b6ed0a7130ac2999aba2569b6f27>
		<name>Percona Get Memcached Stats/Memcached Connections IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items io,ip --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013fb3fb6e5cc9d2b587a62f38b1471fe30>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013fb3fb6e5cc9d2b587a62f38b1471fe30>
			<hash_070013946209c1d777f2d2cb7832c7b5ab239e>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013946209c1d777f2d2cb7832c7b5ab239e>
			<hash_0700131d8146b9f5fa76f92c7a949a1a34bf8a>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_0700131d8146b9f5fa76f92c7a949a1a34bf8a>
			<hash_070013813e00dee62ad2ead22c28e5d7ad939e>
				<name>MEMC Curr Connections</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>io</data_name>
			</hash_070013813e00dee62ad2ead22c28e5d7ad939e>
			<hash_070013822e1ac2177e97137f46d778b51c22ff>
				<name>MEMC Total Connections</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ip</data_name>
			</hash_070013822e1ac2177e97137f46d778b51c22ff>
		</fields>
	</hash_0300133499b6ed0a7130ac2999aba2569b6f27>
	<hash_0300133b40bc7a8e98627ddd49cfcdba9745eb>
		<name>Percona Get Memcached Stats/Memcached Requests IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items iq,ir,is --server &lt;server&gt;</input_string>
		<fields>
			<hash_0700135d26183a57e82e4faaf28d2354d968db>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_0700135d26183a57e82e4faaf28d2354d968db>
			<hash_0700132f2223ca29b58f8a7c65ce59db263891>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_0700132f2223ca29b58f8a7c65ce59db263891>
			<hash_07001357afb1e3c0548049ea07f96098c1d3d1>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_07001357afb1e3c0548049ea07f96098c1d3d1>
			<hash_07001379984a2265ce644906f9dd0830e52651>
				<name>MEMC Get Misses</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>is</data_name>
			</hash_07001379984a2265ce644906f9dd0830e52651>
			<hash_0700139acd8818bb1007b37148744bd3f5867e>
				<name>MEMC Cmd Set</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>ir</data_name>
			</hash_0700139acd8818bb1007b37148744bd3f5867e>
			<hash_0700137afcedfaaf58d5bbfa9f04450a677ebe>
				<name>MEMC Cmd Get</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>iq</data_name>
			</hash_0700137afcedfaaf58d5bbfa9f04450a677ebe>
		</fields>
	</hash_0300133b40bc7a8e98627ddd49cfcdba9745eb>
	<hash_03001330dfecdd791249222fbaf9c908e6e83d>
		<name>Percona Get Memcached Stats/Memcached Traffic IM</name>
		<type_id>1</type_id>
		<input_string>&lt;path_php_binary&gt; -q &lt;path_cacti&gt;/scripts/ss_get_by_ssh.php --host &lt;hostname&gt; --type memcached --items iu,iv --server &lt;server&gt;</input_string>
		<fields>
			<hash_070013911ecfc637ee13621b1bb9063ed399ce>
				<name>Hostname</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code>hostname</type_code>
				<input_output>in</input_output>
				<data_name>hostname</data_name>
			</hash_070013911ecfc637ee13621b1bb9063ed399ce>
			<hash_070013cb4850f2501cbe9970bae55c5e615e7e>
				<name>Server</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>server</data_name>
			</hash_070013cb4850f2501cbe9970bae55c5e615e7e>
			<hash_070013c4b7a3024d749e99bbdfe4fb30e1c6d3>
				<name>Port2</name>
				<update_rra></update_rra>
				<regexp_match></regexp_match>
				<allow_nulls>on</allow_nulls>
				<type_code></type_code>
				<input_output>in</input_output>
				<data_name>port2</data_name>
			</hash_070013c4b7a3024d749e99bbdfe4fb30e1c6d3>
			<hash_0700131185029d94abc82927eb68e390e00753>
				<name>MEMC Bytes Written</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>iv</data_name>
			</hash_0700131185029d94abc82927eb68e390e00753>
			<hash_070013302653ee84c3cc0741edf222c0161186>
				<name>MEMC Bytes Read</name>
				<update_rra>on</update_rra>
				<regexp_match></regexp_match>
				<allow_nulls></allow_nulls>
				<type_code></type_code>
				<input_output>out</input_output>
				<data_name>iu</data_name>
			</hash_070013302653ee84c3cc0741edf222c0161186>
		</fields>
	</hash_03001330dfecdd791249222fbaf9c908e6e83d>
	<hash_06001308370db8a4d24c413d4c34da16b3f33b>
		<name>Percona Memcached Server Checksum d5d5e8deca9e2a13af18d2b53b3f497b</name>
		<gprint_text>d5d5e8deca9e2a13af18d2b53b3f497b</gprint_text>
	</hash_06001308370db8a4d24c413d4c34da16b3f33b>
	<hash_060013d878d34cebbf66beefcc7ca6434df8c2>
		<name>Percona Memcached Server Version t1.1.4:s1.1.4</name>
		<gprint_text>t1.1.4:s1.1.4</gprint_text>
	</hash_060013d878d34cebbf66beefcc7ca6434df8c2>
	<hash_060013e9c43831e54eca8069317a2ce8c6f752>
		<name>Percona Normal</name>
		<gprint_text>%6.1lf%s</gprint_text>
	</hash_060013e9c43831e54eca8069317a2ce8c6f752>
	<hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
		<name>Percona Turn Into Bits CDEF</name>
		<items>
			<hash_140013568aa74185b3c1653c397f54e81b9126>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_140013568aa74185b3c1653c397f54e81b9126>
			<hash_14001343a4ea400b2069920aa957b0289cd48f>
				<sequence>2</sequence>
				<type>6</type>
				<value>8</value>
			</hash_14001343a4ea400b2069920aa957b0289cd48f>
			<hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_14001348008a1db45bbb1f11f2deccd31a2bdf>
		</items>
	</hash_05001341d094c95b3ae8f0d3a67f9c3ddb6a75>
	<hash_0500134281cf63dfde6f44b46a59f022cf82b2>
		<name>Percona Negate CDEF</name>
		<items>
			<hash_14001339d460ccabbb1f19bfebf71e84b15070>
				<sequence>1</sequence>
				<type>4</type>
				<value>CURRENT_DATA_SOURCE</value>
			</hash_14001339d460ccabbb1f19bfebf71e84b15070>
			<hash_140013390f3e01ab124c1e22ed522de3221183>
				<sequence>2</sequence>
				<type>6</type>
				<value>-1</value>
			</hash_140013390f3e01ab124c1e22ed522de3221183>
			<hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
				<sequence>3</sequence>
				<type>2</type>
				<value>3</value>
			</hash_140013fe6ddc8f638831cd799b3b19f964a3f8>
		</items>
	</hash_0500134281cf63dfde6f44b46a59f022cf82b2>
	<hash_150013c21df5178e5c955013591239eb0afd47>
		<name>Percona Daily (5 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>1</steps>
		<rows>600</rows>
		<timespan>86400</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013c21df5178e5c955013591239eb0afd47>
	<hash_1500130d9c0af8b8acdc7807943937b3208e30>
		<name>Percona Weekly (30 Minute Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>6</steps>
		<rows>700</rows>
		<timespan>604800</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500130d9c0af8b8acdc7807943937b3208e30>
	<hash_1500136fc2d038fb42950138b0ce3e9874cc61>
		<name>Percona Monthly (2 Hour Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>24</steps>
		<rows>775</rows>
		<timespan>2678400</timespan>
		<cf_items>1|3</cf_items>
	</hash_1500136fc2d038fb42950138b0ce3e9874cc61>
	<hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
		<name>Percona Yearly (1 Day Average) RRA</name>
		<x_files_factor>0.5</x_files_factor>
		<steps>288</steps>
		<rows>797</rows>
		<timespan>33053184</timespan>
		<cf_items>1|3</cf_items>
	</hash_150013e36f3adb9f152adfa5dc50fd2b23337f>
</cacti>
