agentAddress udp:161,udp6:[::1]:161
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1
{% if snmpd_authorized_networks is defined and snmpd_enable %}
{%   for item in snmpd_authorized_networks %}
rocommunity {{ item.community }} {{ item.network }}
{%     if snmpd_trap %}
trapcommunity {{ item.community }} {{ item.network }}
{%     endif %}
{%   endfor %}
{% endif %}
rocommunity public  default    -V systemonly
rouser   authOnlyUser
{% if snmpd_sysLocation is defined %}
sysLocation    {{ snmpd_sysLocation }}
{% endif %}
{% if snmpd_sysContact is defined %}
sysContact    {{ snmpd_sysContact }}
{% endif %}
{% if snmpd_sysName is defined %}
sysName     {{ snmpd_sysName }}
{% endif %}
sysServices    72
proc  mountd
proc  ntalkd    4
proc  sendmail 10 1
disk       /     10000
disk       /var  5%
includeAllDisks  10%
load   12 10 5
trapsink     localhost public
iquerySecName   internalUser
rouser          internalUser
defaultMonitors          yes
linkUpDownNotifications  yes
extend    test1   /bin/echo  Hello, world!
extend-sh test2   echo Hello, world! ; echo Hi there ; exit 35
master          agentx
