---
# tasks file for ansible-telegraf

- include: debian.yml
  when: ansible_os_family == "Debian"

- include: redhat.yml
  when: ansible_os_family == "RedHat"

- include: config.yml
  when: telagraf_config
