{% if consul_services is defined %}
{% set services = {} %}
{% set _services = [] %}
{%   for item in consul_services %}
{%   set _= _services.append(item) %}
{%   endfor %}
{% set __services = services.update({"services": _services}) %}
{{ services|to_nice_json }}
{% endif %}
