{% if pdns_recursor_enable_fwd_zones is defined and pdns_recursor_enable_fwd_zones %}
{%   if pdns_recursor_fwd_zones is defined %}
forward-zones={% for item in pdns_recursor_fwd_zones %}{{ item.name }}={% for server in item.servers %}{{ server }}{% if not loop.last %};{% endif %}{% endfor %}{% if not loop.last %}, {% endif %}{% endfor %}

{%   endif %}
{% endif %}
local-address={{ pdns_recursor_local_address }}
local-port={{ pdns_recursor_port }}
{% if pdns_recursor_source_ip is defined and pdns_recursor_source_ip %}
query-local-address={{ ansible_default_ipv4.address }}
{% endif %}
quiet=yes
setgid=pdns
setuid=pdns
