# {{ ansible_managed }}
# Allow Quagga ports
table filter{
    chain QUAGGA-Allowed;
    chain INPUT {
        proto ospf jump QUAGGA-Allowed;
    }
    chain QUAGGA-Allowed {
        proto ospf mod state state NEW jump LOGGING-Allowed;
    }
}
