# {{ ansible_managed }}
#
# Sample configuration file for ISC dhcpd for Debian
#
# Attention: If /etc/ltsp/dhcpd.conf exists, that will be used as
# configuration file instead of this file.
#
#

# The ddns-updates-style parameter controls whether or not the server will
# attempt to do a DNS update when a lease is confirmed. We default to the
# behavior of the version 2 packages ('none', since DHCP v2 didn't
# have support for DDNS.)
ddns-update-style none;

# option definitions common to all supported networks...
option domain-name "{{ dhcp_domain_name }}";
option domain-name-servers {{ dhcp_name_servers }};

default-lease-time 600;
max-lease-time 7200;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
#authoritative;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;

{% for item in dhcp_scopes %}
subnet {{ item.dhcp_subnet }} netmask {{ item.dhcp_netmask }} {
	range {{ item.dhcp_range }};
	option routers			{{ item.dhcp_routers }};
	option subnet-mask		{{ item.dhcp_subnet_mask }};
	option broadcast-address	{{ item.dhcp_broadcast_address }};
	option domain-name-servers	{{ item.dhcp_domain_name_servers }};

{% if enable_pxe_boot %}
        option bootfile-name "{{ pxe_boot_file }}";
        next-server {{ pxe_boot_server }};
{% endif %}

	default-lease-time {{ item.dhcp_default_lease_time }};
	max-lease-time {{ item.dhcp_max_lease_time }};
}
{% endfor %}
