# {{ ansible_managed }}

# ACLS
{% if squid_acl is defined and squid_acl != [] %}
{%   for item in squid_acl %}
acl {{ item['name'] }} {{ item['type'] }} {{ item['arg'] }}
{%   endfor %}
{% endif %}

# Local Networks
{% if squid_acl_localnet is defined and squid_acl_localnet != [] %}
{%   for item in squid_acl_localnet %}
acl localnet src {{ item }}
{%   endfor %}
{% endif %}

{% if squid_acl_safeports is defined and squid_acl_safeports != [] %}
{%   for item in squid_acl_safeports %}
acl Safe_ports port {{ item['port'] }}{% if item['comment'] is defined %} #{{ item['comment'] }} {% endif %}

{%   endfor %}
{% endif %}

{% if squid_http_access is defined and squid_http_access != [] %}
{%   for item in squid_http_access %}
http_access {{ item['action'] }} {{ item['acl']|join(' ') }}
{%   endfor %}
{% endif %}

{% if squid_refresh_patterns is defined and squid_refresh_patterns != [] %}
{%   for item in squid_refresh_patterns %}
refresh_pattern {{ item['regex'] }} {{ item['min'] }} {{ item['percent'] }} {{ item['max'] }}
{%   endfor %}
{% endif %}

{% if squid_cache_peering %}
icp_access allow {{ squid_icp_access }}
icp_port {{ squid_icp_port }}
{% endif %}
{% if (squid_transparent_proxy is defined and not squid_transparent_proxy) or squid_transparent_proxy is not defined %}
http_port {{ squid_http_port }}
{% elif squid_transparent_proxy is defined and squid_transparent_proxy %}
http_port {{ squid_http_port }} transparent
{% endif %}
{% if squid_cache_peering %}
{%   for item in squid_cache_peer %}
{%     if item.host != ansible_hostname and item.domain is defined %}
cache_peer {{ item.host }}.{{ item.domain}} {{ item.type }} {{ item.proxy_port}} {{ item.icp_port }} {{ item.options }}
{%     elif item.host != ansible_hostname and item.domain is not defined %}
cache_peer {{ item.host }} {{ item.type }} {{ item.proxy_port}} {{ item.icp_port }} {{ item.options }}
{%     endif %}
{%   endfor %}
{% endif %}
