# {{ ansible_managed }}
{% if apt_mirror_dir is defined %}
set base_path    {{ apt_mirror_dir }}
{% elif apt_mirror_dir is not defined %}
set base_path    /var/spool/apt-mirror
{% endif %}

{% if apt_mirror_nthreads is defined %}
set nthreads     {{ apt_mirror_nthreads }}
{% elif apt_mirror_nthreads is not defined %}
set nthreads     20
{% endif %}
set _tilde 0
{% if enable_apt_mirror_limit_rate is defined and enable_apt_mirror_limit_rate %}
{%   if apt_mirror_limit_rate is defined %}
set limit_rate {{ apt_mirror_limit_rate }}k
{%   endif %}
{% endif %}
#

{% if apt_mirror_repos is defined and apt_mirror_repos != [] %}
{%   for item in apt_mirror_repos %}
{{ item }}
{%   endfor %}
{% endif %}

clean http://{{ apt_mirror_ubuntu_mirror }}
