<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_admin_email }}</adminAddress>
  <jenkinsUrl>{{ jenkins_fqdn }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
