---
- name: features | Installing RSAT AD Admin Center
  win_feature:
    name: RSAT-AD-AdminCenter
    state: present
  register: _windows_domain_rsat_ad_admincenter
  when: >
    reboot_required is defined and
    reboot_required