{% if inventory_hostname == consul_master and inventory_hostname in groups[consul_servers_group] %}
{
    "bind_addr": "{{ consul_bind_address }}",
    "bootstrap": true,
    "client_addr": "{{ consul_client_address }}",
    "data_dir": "{{ consul_data_dir }}",
    "datacenter": "{{ consul_datacenter }}",
    "enable_syslog": true,
    "encrypt": "{{ consul_encryption_key }}",
    "log_level": "INFO",
    "server": true
}
{% endif %}
{% if inventory_hostname != consul_master and inventory_hostname in groups[consul_servers_group] %}
{
    "bind_addr": "{{ consul_bind_address }}",
    "bootstrap_expect": {{ ( groups[consul_servers_group]|count ) | round (0, 'ceil') | int }},
    "client_addr": "{{ consul_client_address }}",
    "data_dir": "{{ consul_data_dir }}",
    "datacenter": "{{ consul_datacenter }}",
    "enable_syslog": true,
    "encrypt": "{{ consul_encryption_key }}",
    "log_level": "INFO",
    "node_name": "{{ ansible_hostname }}",
{%   set _temp_retry_join = [] %}
{%     for host in groups[consul_servers_group] %}
{%       if inventory_hostname != host %}
{%       set _temp_ip = hostvars[host]['consul_bind_address'] %}
{%       set _temp_retry_join = _temp_retry_join.append(_temp_ip) %}
{%       endif %}
{%     endfor %}
    "retry_join": {{ _temp_retry_join|to_nice_json }},
    "server": true
}
{% endif %}
{% if inventory_hostname in groups[consul_clients_group] %}
{
    "bind_addr": "{{ consul_bind_address }}",
    "client_addr": "{{ consul_client_address }}",
    "data_dir": "{{ consul_data_dir }}",
    "datacenter": "{{ consul_datacenter }}",
    "enable_syslog": true,
    "encrypt": "{{ consul_encryption_key }}",
    "log_level": "INFO",
    "node_name": "{{ ansible_hostname }}",
{%   set _temp_retry_join = [] %}
{%     for host in groups[consul_servers_group] %}
{%       if inventory_hostname != host %}
{%       set _temp_ip = hostvars[host]['consul_bind_address'] %}
{%       set _temp_retry_join = _temp_retry_join.append(_temp_ip) %}
{%       endif %}
{%     endfor %}
    "retry_join": {{ _temp_retry_join|to_nice_json }},
    "server": false,
    "ui_dir": "{{ consul_home }}"
}
{% endif %}
