{{ ansible_managed|comment }}
search {{ pdns_dnsdist_pri_domain_name }}
{% if pdns_dnsdist_resolv_conf_nameservers is defined %}
{%   for nameserver in pdns_dnsdist_resolv_conf_nameservers %}
nameserver {{ nameserver }}
{%   endfor %}
{% else %}
nameserver 8.8.8.8
nameserver 8.8.4.4
{% endif %}