{{ ansible_managed|comment }}

config reference_file:      /etc/snort/reference.config
config classification_file: /etc/snort/classification.config
config gen_file:            /etc/snort/gen-msg.map
config sid_file:            /etc/snort/sid-msg.map
config logdir: {{ snort_barnyard2_logdir }}
config hostname: {{ ansible_hostname }}
config interface: {{ ansible_default_ipv4.interface }}
config daemon
config waldo_file: {{ snort_barnyard2_waldo_file }}

input unified2

output alert_fast: stdout

output database: log, mysql, user={{ snort_barnyard2_db_info.user }} password={{ snort_barnyard2_db_info.pass }} dbname={{ snort_barnyard2_db_info.name }} host={{ snort_barnyard2_db_info.host }}
