<?php

define('DB_NAME', '{{ wordpress_db }}');

define('DB_USER', '{{ wordpress_db_user }}');

define('DB_PASSWORD', '{{ wordpress_db_password }}');

define('DB_HOST', '{{ wordpress_db_host }}');

define('DB_CHARSET', 'utf8');

define('DB_COLLATE', '');


{{ wordpress_salt['stdout'] }}

$table_prefix  = '{{ wordpress_db_table_prefix }}';

define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

require_once(ABSPATH . 'wp-settings.php');
