output {
  if "metric" in [tags] {
    stdout {
      codec => line {
        format => "1m rate: %{documents.rate_1m} ( %{documents.count} )"
      }
    }
  }
}
{% if logstash_base_outputs is defined %}
{%   for item in logstash_base_outputs %}
output {
  {{ item.output }} {
  {%     if item.output == "elasticsearch" %}
    hosts => ["{{ item.output_host }}"]
{%     endif %}
{%     if item.output == "redis" %}
  host => "{{ item.output_host }}"
  data_type => "list"
  key => "logstash"
{%     endif %}
  }
}
{%   endfor %}
{% endif %}
