PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"

# Addresses this issue http://www.brianlinkletter.com/quagga-vtysh-shell-end-problem/
VTYSH_PAGER=more
