{
  "name":"{{ item }}",
  "kind":"{{ pdns_zone_types }}",
  "masters": [],
{% if pdns_config_soa_edit_api %}
  "soa_edit_api": "{{ pdns_soa_edit_api }}",
{% endif %}
  "nameservers": ["{{ pdns_nameservers|join (', ') }}"]
}
