{% if item.name == "ping" %}
{
  "checks": {
    "check_redis_{{ item.name }}": {
      "command": "{{ sensu_plugins_dir }}/check-redis-ping.rb",
{% if enable_handlers %}
{% if not multiple_handlers %}
      "handler": "{{ default_handler }}",
{% endif %}
{% if multiple_handlers %}
      "handlers": [
{% for item in default_handlers %}
        "{{ item }}",
{% endfor %}
        "{{ default_handler }}"
      ],
{% endif %}
{% endif %}
      "occurences": 3,
      "interval": {{ item.interval }},
      "subscribers": [ "{{ item.sub }}" ]
    }
  }
}
{% endif %}
