{
  "client":{
    "name": "{{ ansible_hostname }}",
    "address": "{{ sensu_server }}",
    "subscriptions": [
{% if client_subs is defined %}
{% for item in client_subs %}
      "{{ item }}",
{% endfor %}
{% endif %}
      "ALL"
    ]
  }
}
