$vCenterHost = "{{ vsphere_vcsa_network_fqdn }}"
Connect-VIServer $vCenterHost
$vCenter = Get-VC $vCenterHost
$vmTemplates = Get-Template -Server $vCenter
$vmTemplate = "{{ vsphere_linux_vapp_template_name }}"
if ($vmTemplates.Name -notcontains $vmTemplate) {
  $vms = Get-VM -Server $vCenter
  if ($vms.Name -notcontains $vmTemplate) {
    $vmServer = "{{ hostvars[vsphere_bootstrap_host]['ansible_host'] }}"
    Connect-VIServer $vmServer
    $vmServer = Get-VMHost $vmServer
    $DataStore = "{{ vsphere_vm_services_datastore }}"
    $vAppSourcePath = "{{ vsphere_linux_vapp_ovf }}"
    $templateName = "{{ vsphere_linux_vapp_template_name }}"
    $vmServer | Import-VApp -Datastore $DataStore -Source $vAppSourcePath -Name $templateName -DiskStorageFormat Thin -Confirm:$false | Out-File -Append {{ vsphere_management_log }}
    Get-VM -Server $vCenter -Name $vmTemplate | Set-VM -ToTemplate -Confirm:$false | Out-File -Append {{ vsphere_management_log }}
  }
  else {
    Get-VM -Server $vCenter -Name $vmTemplate | Set-VM -ToTemplate -Confirm:$false | Out-File -Append {{ vsphere_management_log }}
  }
}

Disconnect-VIServer * -Confirm:$false
