[mysqld]
{% if mysql_allow_remote_connections is not defined %}
bind-address = 127.0.0.1
{% endif %}
{% if mysql_allow_remote_connections is defined and not mysql_allow_remote_connections %}
bind-address = 127.0.0.1
{% endif %}
datadir = /var/lib/mysql
key_buffer_size = {{ mysql_settings.key_buffer_size }}
max_allowed_packet = {{ mysql_settings.max_allowed_packet }}
max_connections = {{ mysql_settings.max_connections }}
port = {{ mysql_port }}
query_cache_limit	= {{ mysql_settings.query_cache_limit }}
query_cache_size = {{ mysql_settings.query_cache_size }}
socket=/var/lib/mysql/mysql.sock
thread_stack = {{ mysql_settings.thread_stack }}
thread_cache_size = {{ mysql_settings.thread_cache_size }}
symbolic-links = 0
{% if config_mysql_replication %}
# Replication
{%   for item in mysql_replication_nodes %}
{%     if inventory_hostname == item.name %}
server_id = {{ item.server_id }}
{%     endif %}
{%   endfor %}
{%   for item in mysql_replication_dbs %}
binlog-do-db = {{ item }}
{%   endfor %}
log-bin = /var/log/mariadb/mysql-bin.log
{% endif %}

[mysqld_safe]
log-error = /var/log/mariadb/mariadb.log
pid-file = /var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d
