---
- name: opensuse | installing haproxy and socat
  zypper:
    name: "{{ item }}"
    state: present
  with_items:
    - haproxy
    - hatop
    - socat

- name: opensuse | ensuring haproxy is enabled
  service:
    name: haproxy
    enabled: yes
