{
  "name":"{{ item }}",
  "kind":"{{ pdns_zone_types }}",
  "masters": [],
{% if config_soa_edit_api %}
  "soa_edit_api": "{{ soa_edit_api }}",
{% endif %}
  "nameservers": ["{{ pdns_nameservers|join (', ') }}"]
}
