[actionrunner]
logging = {{ stackstorm_actionrunner.logging }}
virtualenv_opts = {{ stackstorm_actionrunner.virtualenv_opts }}

[api]
host = {{ stackstorm_api.host }}
logging = {{ stackstorm_api.logging }}
mask_secrets = {{ stackstorm_api.mask_secrets }}
port = {{ stackstorm_api.port }}

[auth]
api_url = {{ stackstorm_auth.api_url }}
{% if stackstorm_auth.mode|lower == "standalone" %}
backend = flat_file
backend_kwargs = {"file_path": "/etc/st2/htpasswd"}
{% endif %}
debug = {{ stackstorm_auth.debug }}
enable = {{ stackstorm_auth.enable }}
host = {{ stackstorm_auth.host }}
logging = {{ stackstorm_auth.logging }}
mode = {{ stackstorm_auth.mode }}
port = {{ stackstorm_auth.port }}
use_ssl = {{ stackstorm_auth.use_ssl }}

[database]
db_name = {{ stackstorm_database.db }}
host = {{ stackstorm_database.host }}
{% if stackstorm_database.password is defined and stackstorm_database.password != '' %}
password = {{ stackstorm_database.password }}
{% endif %}
port = {{ stackstorm_database.port }}
{% if stackstorm_database.username is defined and stackstorm_database.username != '' %}
username = {{ stackstorm_database.username }}
{% endif %}

[exporter]
logging = {{ stackstorm_exporter.logging }}

[garbagecollector]
logging = {{ stackstorm_garbagecollector.logging }}

[log]
excludes = {{ stackstorm_log.excludes|join (',') }}
mask_secrets = {{ stackstorm_log.mask_secrets }}
redirect_stderr = {{ stackstorm_log.redirect_stderr }}

[messaging]
{% if stackstorm_messaging.cluster %}
cluster_urls =
{% elif not stackstorm_messaging.cluster %}
url = amqp://{{ stackstorm_messaging.username }}:{{ stackstorm_messaging.password }}@{{ stackstorm_messaging.host }}:{{ stackstorm_messaging.port }}/
{% endif %}

[notifier]
logging = {{ stackstorm_notifier.logging }}

[resultstracker]
logging = {{ stackstorm_resultstracker.logging }}

[rulesengine]
logging = {{ stackstorm_rulesengine.logging }}

[sensorcontainer]
logging = {{ stackstorm_sensor_container.logging }}

[ssh_runner]
remote_dir = /tmp

[stream]
logging = {{ stackstorm_stream.logging }}

[syslog]
facility = {{ stackstorm_syslog.facility }}
host = {{ stackstorm_syslog.host }}
port = {{ stackstorm_syslog.port }}
protocol = {{ stackstorm_syslog.protocol }}

[system]
base_path = {{ stackstorm_system.base_path }}

[system_user]
ssh_key_file = {{ stackstorm_ssh_info.key_file }}
user = {{ stackstorm_ssh_info.user }}

[webui]
