# CIS Debian Section 02 Level2
{% for item in cis_debian_section_02_level2_CIS_conf %}
install {{ item }} /bin/true
{% endfor %}

# CIS Debian Section 07 Level1
{% for item in cis_debian_section_07_level1_CIS_conf %}
install {{ item }} /bin/true
{% endfor %}
