---
# handlers file for ansible-prometheus
- name: reload systemd
  systemd:
    daemon_reload: true
    name: "prometheus"
  become: true

- name: restart prometheus
  service:
    name: "prometheus"
    state: "restarted"
  become: true
