<?php
  // Add common configurations across all pages
  require("common_base.php");
  session_start();
  $username = $_SESSION['UserName'];
  $uid = $_SESSION['UserId'];
?>
<html>
  <body>
    <br><br><br><br>
    <h4>Setup Jenkins API Token</h4>
    <h4>(** - Required)</h4>
    <form action="members.php?action=configurejenkinsapi" method="post">
      Jenkins URL: (**) <input type="text" name="JenkinsURL"><br><br>
      Jenkins API Token UserId: (**) <input type="text" name="JenkinsAPITokenUserId"><br><br>
      Jenkins API Token: (**) <input type="password" name="JenkinsUserAPIToken"><br><br>
      <input type="submit" name="Submit">
      <input type="reset" value="Reset">
    </form>
  </body>
</html>
