<?php
  // Add common configurations across all pages
  require("common_base.php");
  session_start();
  $username = $_SESSION['UserName'];
  $uid = $_SESSION['UserId'];
?>
<?php
  echo "<html>";
  echo "<body>";
    session_start();
    $gid = $_SESSION['sessiongid'];
    $db = new SQLite3('{{ cmdb_sqlite_db_file }}');
    $db->exec( 'PRAGMA foreign_keys = ON;' );
    $sql = "SELECT * FROM Groups WHERE GroupId=$gid";
    $results = $db->query($sql);
    while ($row = $results->fetchArray()) {
      echo "<br><br><br><br>";
      echo "<pre>";
      echo "GroupId: ";
      echo "<tr><td>" . $row['GroupId']. "</td></tr>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupName: ";
      echo "<tr><td>" . $row['GroupName']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupDescription: ";
      echo "<tr><td>" . $row['GroupDescription']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupDTAP: ";
      echo "<tr><td>" . $row['GroupDTAP']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupCreatedOn: ";
      echo "<tr><td>" . $row['GroupCreatedOn']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "LastUpdateTime: ";
      echo "<tr><td>" . $row['LastUpdateTime']. "</td></tr><br>";
      echo "</pre><br><br>";
    }
  echo "</body>";
  echo "</html>";
?>
<?php
  if (isset($_POST['Submit'])) {
    session_start();
    $hid = $_POST['hostid'];
    $db = new SQLite3('{{ cmdb_sqlite_db_file }}');
    $db->exec( 'PRAGMA foreign_keys = ON;' );
    $sql = "DELETE FROM Hosts
            WHERE HostId=$hid";
    $db->exec($sql);
    echo "Host has been deleted.";
  }
?>
<!DOCTYPE html>
<html>
  <body>
    <h3>Select host to delete:</h3>
		<form action="delete_group_host.php" method="post">
			<select name="hostid" class="hostid">
				<option selected="selected">--Select Host--</option>
					<?php
            session_start();
            $gid = $_SESSION['sessiongid'];
						$db = new SQLite3('{{ cmdb_sqlite_db_file }}');
						$db->exec( 'PRAGMA foreign_keys = ON;' );
						$sql = "SELECT GroupId,HostId,HostName FROM HostGroups WHERE GroupId=$gid";
						$results = $db->query($sql);
						while ($row = $results->fetchArray()) {
							echo '<option value="'.$row['HostId'].'">'.$row['HostName'].'</option>';
						}
					?>
			</select>
			<input type="submit" name="Submit" value="Delete Host">
			<input type="reset" value="Reset">
		</form>
  </body>
</html>
