<?php
  // Add common configurations across all pages
  require("common_base.php");
  session_start();
  $username = $_SESSION['UserName'];
  $uid = $_SESSION['UserId'];
?>
<?php
  echo "<html>";
  echo "<body>";
    session_start();
    $cid = $_SESSION['sessioncid'];
    $gid = $_SESSION['sessiongid'];
    $db = new SQLite3('{{ cmdb_sqlite_db_file }}');
    $db->exec( 'PRAGMA foreign_keys = ON;' );
    $sql = "SELECT * FROM GroupContact
            WHERE ContactId=$cid";
    $results = $db->query($sql);
    while ($row = $results->fetchArray()) {
      echo "<pre>";
      echo "ContactId: ";
      echo "<tr><td>" . $row['ContactId']. "</td></tr>";
      echo "</pre>";
      echo "<pre>";
      echo "ContactName: ";
      echo "<tr><td>" . $row['ContactName']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "ContactEmail: ";
      echo "<tr><td>" . $row['ContactEmail']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "ContactPhone: ";
      echo "<tr><td>" . $row['ContactPhone']. "</td></tr><br>";
      echo "</pre>";
    }
  echo "</body>";
  echo "</html><br><br>";
?>
<?php
  if (isset($_POST['Submit'])) {
    session_start();
    $gid = $_SESSION['sessiongid'];
    $ce = $_POST["ContactEmail"];
    $cn = $_POST["ContactName"];
    $cp = $_POST["ContactPhone"];
    $db = new SQLite3('{{ cmdb_sqlite_db_file }}');
    $db->exec( 'PRAGMA foreign_keys = ON;' );
    $sql = "UPDATE GroupContact
            SET ContactName='$cn', ContactEmail='$ce', ContactPhone='$cp', LastUpdateTime=datetime('now')
            WHERE GroupId='$gid'";
    $db->exec($sql);
    echo "Group contact has been updated.";
  }
?>
<!DOCTYPE html>
<html>
  <body>
    <h4>(** - Denotes required field)</h4>
    <form action="edit_group_contact.php" method="post"</form>
      Contact name: (**)<br><input type="text" name="ContactName"><br>
      Contact email: (**)<br><input type="text" name="ContactEmail"><br>
      Contact phone: (**)<br><input type="text" name="ContactPhone"><br>
      <input type="submit" name="Submit" value="Update Contact">
      <input type="reset" value="Reset">
    </form>
  </body>
  </body>
</html>
