<?php
  // Add common configurations across all pages
  require("common.php");
  session_start();
  $username = $_SESSION['UserName'];
  $uid = $_SESSION['UserId'];
?>
<?php
  $db = new SQLite3('{{ cmdb_sqlite_db_file }}') or die('Create db failed');
  $db->exec( 'PRAGMA foreign_keys = ON;' );
  $sql = "SELECT *
          FROM Users
          WHERE UserName='$username'
          LIMIT 1";
  $results = $db->query($sql) or die('Query failed');
  // Credentials match so we create session variables
  while ($row = $results->fetchArray()) {
    echo "<br><br><br><br>";
    echo "<h4>My Info</h4>";
    echo "<pre>";
    echo "Username: ";
    echo "<tr><td>" . $row['UserName']. "</td></tr><br>";
    echo "</pre>";
    echo "<pre>";
    echo "First name: ";
    echo "<tr><td>" . $row['FirstName']. "</td></tr><br>";
    echo "</pre>";
    echo "<pre>";
    echo "Last name: ";
    echo "<tr><td>" . $row['LastName']. "</td></tr><br>";
    echo "</pre>";
    echo "<pre>";
    echo "E-Mail: ";
    echo "<tr><td>" . $row['Email']. "</td></tr><br>";
    echo "</pre>";
    echo "<pre>";
    echo "Phone: ";
    echo "<tr><td>" . $row['Phone']. "</td></tr><br>";
    echo "</pre>";
    echo "<pre>";
    echo "Site role: ";
    echo "<tr><td>" . $row['Role']. "</td></tr><br>";
    echo "</pre>";
  }
?>
<!DOCTYPE html>
<html>
  <body>
    <h4>Update Field(s) To Change</h4>
    <form action="members.php?action=edituserinfo" method="post">
      First name: <input type="text" name="FirstName"><br><br>
      Last name: <input type="text" name="LastName"><br><br>
      Email: <input type="text" name="Email"><br><br>
      Phone: <input type="text" name="Phone"><br><br>
      <input type="submit" name="Submit" value="Update">
      <input type="reset" value="Reset">
    </form>
  </body>
</html>
