<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta name="description" content="{{ cmdb_web_description }}" />
    <meta name="keywords" content="{{ cmdb_web_keywords }}" />
    <meta name="author" content="{{ cmdb_web_author }}" />
    <title>{{ cmdb_web_title }}</title>
		<style>
			a:link {
				color:orange;
			}
			a:visited {
				color:lime;
			}
			html {
				background: url(background.jpg) no-repeat center center fixed;
				background-size: cover;
			}
			body {
				color: orange;
			}
		</style>
	</head>
  	<body>
			<?php
				echo "<html>";
				echo "<body>";
					session_start();
					$cid = $_SESSION['sessioncid'];
					$gid = $_SESSION['sessiongid'];
					$db = new SQLite3('{{ cmdb_sqlite_db_file }}');
					$db->exec( 'PRAGMA foreign_keys = ON;' );
					$sql = "SELECT * FROM GroupContact WHERE ContactId=$cid";
					$results = $db->query($sql);
					while ($row = $results->fetchArray()) {
						echo "<pre>";
						echo "ContactId: ";
						echo "<tr><td>" . $row['ContactId']. "</td></tr>";
						echo "</pre>";
						echo "<pre>";
						echo "ContactName: ";
						echo "<tr><td>" . $row['ContactName']. "</td></tr><br>";
						echo "</pre>";
						echo "<pre>";
						echo "ContactEmail: ";
						echo "<tr><td>" . $row['ContactEmail']. "</td></tr><br>";
						echo "</pre>";
						echo "<pre>";
						echo "ContactPhone: ";
						echo "<tr><td>" . $row['ContactPhone']. "</td></tr><br>";
						echo "</pre>";
					}
				echo "</body>";
				echo "</html><br><br>";
			?>
			<?php
				session_start();
				$_SESSION['sessioncid'] = $cid;
				$_SESSION['sessiongid'] = $gid;
			?>
  	  <h4>(** - Denotes required field)</h4>
      <form action="edit_group_contact.php" method="post"</form>
        Contact name: (**)<br><input type="text" name="ContactName"><br>
        Contact email: (**)<br><input type="text" name="ContactEmail"><br>
        Contact phone: (**)<br><input type="text" name="ContactPhone"><br>
        <input type="submit" value="Update Contact">
        <input type="reset" value="Reset">
      </form>
    </body>
  </head>
</html>
