<?php
  // Add common configurations across all pages
  require("common.php");
  session_start();
  $username = $_SESSION['UserName'];
  $uid = $_SESSION['UserId'];
?>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ cmdb_web_description }}" />
    <meta name="keywords" content="{{ cmdb_web_keywords }}" />
    <meta name="author" content="{{ cmdb_web_author }}" />
    <title>{{ cmdb_web_title }}</title>
    <style>
      a:link {
        color:orange;
      }
      a:visited {
        color:lime;
      }
      html {
        background: url(background.jpg) no-repeat center center fixed;
        background-size: cover;
      }
      body {
        color: orange;
      }
    </style>
  </head>
  <body><?php phpinfo(); ?>
  </body>
</html>
