<?php
  // Add common configurations across all pages
  require("common_base.php");
  session_start();
  $username = $_SESSION['UserName'];
  $uid = $_SESSION['UserId'];
?>
<?php
  echo "<html>";
    echo "<body>";
    session_start ();
    $gid = $_SESSION['sessiongid'];
    $db = new SQLite3('{{ cmdb_sqlite_db_file }}');
    $db->exec( 'PRAGMA foreign_keys = ON;' );
    $sql = "SELECT * FROM Groups WHERE GroupId=$gid";
    $results = $db->query($sql);
    $gn = $db->query("SELECT GroupName FROM Groups WHERE GroupId=$gid");
    while ($row = $results->fetchArray()) {
      echo "<br><br><br><br>";
      echo "<h4>Group Info</h4>";
      echo "<pre>";
      echo "GroupId: ";
      echo "<tr><td>" . $row['GroupId']. "</td></tr>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupName: ";
      echo "<tr><td>" . $row['GroupName']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupDescription: ";
      echo "<tr><td>" . $row['GroupDescription']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupDTAP: ";
      echo "<tr><td>" . $row['GroupDTAP']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "GroupCreatedOn: ";
      echo "<tr><td>" . $row['GroupCreatedOn']. "</td></tr><br>";
      echo "</pre>";
      echo "<pre>";
      echo "LastUpdateTime: ";
      echo "<tr><td>" . $row['LastUpdateTime']. "</td></tr><br>";
      echo "</pre><br><br>";
    }
?>
<!DOCTYPE html>
<html>
  <body>
    <h3>Ansible Playbooks:</h3>
    <form action="" id="form" name="form" method="post">
      <select name="Id" class="Id">
        <option selected="selected">--Select Playbook--</option>
          <?php
            session_start();
            $gid = $_SESSION['sessiongid'];
            $db = new SQLite3('{{ cmdb_sqlite_db_file }}');
            $db->exec( 'PRAGMA foreign_keys = ON;' );
            $sql = "SELECT * FROM AnsiblePlaybooks ORDER BY Name";
            $results = $db->query($sql);
            while ($row = $results->fetchArray()) {
              echo '<option value="'.$row['Id'].'">'.$row['Name'].'</option>';
            }
          ?>
      </select>
    <button type="submit" id="submit">Run Playbook</button>
    </form>
  </body>
</html>
