{% if ansible_distribution == "RedHat" %}
[Service]
TimeoutSec=300
ExecStart=/usr/bin/docker daemon {% for item in docker_opts %}{{ item }}{% if not loop.last %} {% endif %}{% endfor %}

{% endif %}
{% if ansible_distribution == "Ubuntu" %}
[Service]
ExecStart=
ExecStart=/usr/bin/dockerd {% for item in docker_opts %}{{ item }}{% if not loop.last %} {% endif %}{% endfor %}

{% endif %}
