# {{ ansible_managed }}
[mysqld]
#mysql settings
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_size=0
query_cache_type=0
bind-address=0.0.0.0
#galera settings
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="{{ galera_cluster_name }}"
wsrep_cluster_address="gcomm://{{ galera_cluster_nodes }}"
wsrep_sst_method=rsync
