---
# handlers file for ansible-sensu
- name: restart sensu-api
  service:
    name: "sensu-api"
    state: restarted
  become: true

- name: restart sensu-client
  service:
    name: "sensu-client"
    state: restarted
  become: true

- name: restart sensu-server
  service:
    name: "sensu-server"
    state: restarted
  become: true

- name: restart uchiwa
  service:
    name: "uchiwa"
    state: restarted
  become: true
