### Localization
d-i debian-installer/locale string en_US
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string {{ tftpserver_domain_name }}
d-i netcfg/wireless_wep string

### Mirror settings
# If you select ftp, the mirror/country string does not need to be set.
{% if tftpserver_enable_apt_mirror is defined and tftpserver_enable_apt_mirror %}
d-i mirror/http/hostname string {{ tftpserver_apt_mirror_server }}
d-i mirror/http/directory string {{ tftpserver_apt_mirror_dir }}
d-i mirror/http/mirror select {{ tftpserver_apt_mirror_server }}
{% elif (tftpserver_enable_apt_mirror is defined and not tftpserver_enable_apt_mirror) or tftpserver_enable_apt_mirror is not defined %}
d-i mirror/country string manual
d-i mirror/http/hostname string {{ tftpserver_bind_address }}
{%   if item.distro is defined %}
{%     if item.distro|lower == "ubuntu" %}
d-i mirror/http/directory string /images/Ubuntu/{{ item.version }}
{%     endif %}
{%   elif item.distro is not defined %}
d-i mirror/http/directory string /images/Ubuntu
{%   endif %}
{% endif %}
{% if (tftpserver_enable_apt_caching is defined and tftpserver_enable_apt_caching) and tftpserver_apt_cacher_server is defined %}
{%   if tftpserver_domain_name is defined %}
d-i mirror/http/proxy string http://{{ tftpserver_apt_cacher_server }}.{{ tftpserver_domain_name }}:{{ tftpserver_apt_cacher_ng_port|default(3142) }}
{%   elif tftpserver_domain_name is not defined %}
d-i mirror/http/proxy string http://{{ tftpserver_apt_cacher_server }}:{{ tftpserver_apt_cacher_ng_port|default(3142) }}
{%   endif %}
{% endif %}
{% if (tftpserver_enable_apt_caching is defined and not tftpserver_enable_apt_caching) or tftpserver_enable_apt_caching is not defined %}
d-i mirror/http/proxy string
{% endif %}

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean {{ tftpserver_preseed_ntp_sync|lower }}

### Partitioning
d-i partman-auto/disk string {{ tftpserver_preseed_partition_disk|join (' ') }}
d-i partman-auto/method string {{ tftpserver_preseed_partitioning_method }}
{% if tftpserver_preseed_partitioning_method|lower == "lvm" %}
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean false
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
{% endif %}
{% if tftpserver_preseed_raid %}
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true
d-i partman-md/confirm_nooverwrite boolean true
{% endif %}
d-i partman-auto/choose_recipe select atomic
{% if tftpserver_preseed_expert_recipe_partitioning is defined and tftpserver_preseed_expert_recipe_partitioning %}
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
{%   for item in tftpserver_preseed_expert_recipe_partitions %}
              {{ item.min_size }} {{ item.priority }} {{ item.max_size }} {{ item.filesystem }}                                  \
{%     if item.bootable is defined and item.bootable %}
                      $primary{ } $bootable{ }                \
{%     endif %}
{%     if tftpserver_preseed_partitioning_method|lower == "lvm" and item.lv_name is defined %}
                      lv_name{ {{ item.lv_name }} }           \
                      $lvmok{ }                               \
{%     endif %}
{%     if item.method is defined %}
                      method{ {{ item.method }} } format{ }              \
{%     endif %}
{%     if item.use_filesystem is defined and item.use_filesystem %}
                      use_filesystem{ } filesystem{ {{ item.filesystem }} }    \
{%     endif %}
{%     if item.mountpoint is defined and item.mountpoint != None %}
                      mountpoint{ {{ item.mountpoint }} }                     \
{%     endif %}
{%     if not loop.last %}
              .                                               \
{%     endif %}
{%   endfor %}
              .
{% endif %}
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Account setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string {{ tftpserver_preseed_user_info.full_username }}
d-i passwd/username string {{ tftpserver_preseed_user_info.username }}
{% if not tftpserver_preseed_user_info.encrypted_password %}
d-i passwd/user-password password {{ tftpserver_preseed_user_info.password }}
d-i passwd/user-password-again password {{ tftpserver_preseed_user_info.password }}
{% elif tftpserver_preseed_user_info.encrypted_password %}
d-i passwd/user-password-crypted password {{ tftpserver_preseed_user_info.password }}
{% endif %}
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Apt setup

### Package selection
tasksel tasksel/first multiselect
# Individual additional packages to install
d-i pkgsel/include string {% if tftpserver_preseed_packages is defined %}{{ tftpserver_preseed_packages|join(' ') }}{% endif %}

d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Finishing up the installation
d-i finish-install/reboot_in_progress note
{% if tftpserver_preseed_poweroff_after_install is defined and tftpserver_preseed_poweroff_after_install %}
d-i debian-installer/exit/poweroff boolean true
{% elif (tftpserver_preseed_poweroff_after_install is defined and not tftpserver_preseed_poweroff_after_install) or tftpserver_preseed_poweroff_after_install is not defined %}
#d-i debian-installer/exit/poweroff boolean true
{% endif %}

### Preseeding other packages

#### Advanced options
d-i preseed/late_command string \
{% if not tftpserver_preseed_user_info.sudo_password %}
echo "tftpserver_preseed_user_info.username    ALL=(ALL) NOPASSWD:ALL" >> /target/etc/sudoers; \
{% endif %}
{% if item.distro is defined %}
{%   if item.distro|lower == 'ubuntu' and item.version >= '16.04' %}
in-target ln -s /lib/systemd/system/serial-getty@.service /etc/systemd/system/getty.target.wants/serial-getty@ttyS0.service; \
{%   endif %}
{% endif %}
# regenerate SSH keys..Good for creating templates
rm -f /target/etc/ssh/ssh_host_*; \
in-target sed -i -e 's|exit 0||' /etc/rc.local; \
in-target sed -i -e 's|.*test -f /etc/ssh/ssh_host_dsa_key.*||' /etc/rc.local; \
in-target bash -c 'echo "test -f /etc/ssh/ssh_host_dsa_key || dpkg-reconfigure openssh-server" >> /etc/rc.local'; \
in-target bash -c 'echo "exit 0" >> /etc/rc.local'; \
