#
# Shorewall version 4.0 - Sample Masq file for two-interface configuration.
# Copyright (C) 2006 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------
# For information about entries in this file, type "man shorewall-masq"
################################################################################################################
#INTERFACE:DEST		SOURCE		ADDRESS		PROTO	PORT(S)	IPSEC	MARK	USER/	SWITCH	ORIGINAL
#											GROUP		DEST
{% if shorewall_masquerade_info.enabled %}
{%  if shorewall_masquerade_info.rules is defined %}
{%    for rule in shorewall_masquerade_info.rules %}
{{ rule.interface }}  {{ rule.sources|join (',') }}{% if rule.address is defined %}  {{ rule.address }}{% endif %}

{%    endfor %}
{%  else %}
{{ shorewall_masquerade_info.interface }}   {{ shorewall_masquerade_info.sources|join (',') }} {% if shorewall_masquerade_info.address is defined %} {{ shorewall_masquerade_info.address }}{% endif %}
{%  endif %}
{% endif %}
