---
rancher_api_key: {{ _rancher_default_id_apikey_created['json']['publicValue'] }}
rancher_api_secret: {{ _rancher_default_id_apikey_created['json']['secretValue'] }}
rancher_api_url: {{ rancher_server_host_api_url }}
rancher_default_id: {{ _rancher_default_id }}
