pdns_api_key = "{{ pdns_webserver_password }}"
vsphere_host_license_key = ""
vsphere_password = "{{ vsphere_vcsa_sso_user_info['password'] }}"
vsphere_username = "{{ vsphere_vcsa_sso_user_info['username'] }}"
vsphere_vcenter_license_key = ""
