<?php

$db_host		= '{{ pdns_db_host }}';
$db_user		= '{{ poweradmin_user }}';
$db_pass		= '{{ poweradmin_pass }}';
$db_name		= '{{ pdns_db_name }}';
$db_type		= 'mysql';
$db_layer		= 'PDO';

$session_key		= 't!T2ED@oE=3gO$&!$HD]yEvnCEi5mVEjX!n$u%89{JUOXj';

$iface_lang		= 'en_EN';

$dns_hostmaster		= '{{ dns_hostmaster }}';
$dns_ns1		= '{{ pri_dns }}';
$dns_ns2		= '{{ sec_dns }}';
