MailTo = {{ bro_ids_broctl_mailto }}
MailConnectionSummary = {{ bro_ids_broctl_mail_connection_summary }}
MinDiskSpace = {{ bro_ids_broctl_min_disk_space }}
MailHostUpDown = {{ bro_ids_broctl_mail_host_up_down }}
LogRotationInterval = {{ bro_ids_broctl_log_rotation_interval }}
LogExpireInterval = {{ bro_ids_broctl_log_expire_interval }}
StatsLogEnable = {{ bro_ids_broctl_stats_log_enable }}
StatsLogExpireInterval = {{ bro_ids_broctl_stats_log_expire_interval }}
StatusCmdShowAll = {{ bro_ids_broctl_status_cmd_show_all }}
SitePolicyStandalone = {{ bro_ids_broctl_site_policy_standalone }}
LogDir = {{ bro_ids_broctl_log_dir }}
SpoolDir = {{ bro_ids_broctl_spool_dir }}
CfgDir = {{ bro_ids_broctl_cfg_dir }}
