[logstash-{{ logstash_major_ver }}]
name=Elastic repository for {{ logstash_major_ver }} packages
baseurl={{ logstash_redhat_repo_url }}
gpgcheck=1
gpgkey={{ logstash_repo_key }}
enabled=1
autorefresh=1
type=rpm-md
