[logstash-{{ logstash_version }}]
name=logstash repository for {{ logstash_version }}.x packages
baseurl={{ logstash_repo_url }}/{{ logstash_version }}/centos
gpgcheck=1
gpgkey={{ logstash_repo_key }}
enabled=1
