# MySQL Configuration
#
# Launch gmysql backend
launch=gmysql

# gmysql parameters
gmysql-host={{ pdns_auth_db_host }}
gmysql-dbname={{ pdns_auth_db_name }}
gmysql-user={{ pdns_auth_db_user }}
gmysql-password={{ pdns_auth_db_pass }}
