#!/bin/bash
{% if pdns_auth_fwd_zones is defined %}
{%   for item in pdns_auth_fwd_zones %}
{%     if pdns_auth_zone_types == "Native" or pdns_auth_zone_types == "Master" %}
curl -X POST -d '{"name": "{{ item }}", "kind": "{{ pdns_auth_zone_types }}"{% if pdns_auth_config_soa_edit_api %}, "soa_edit_api": "{{ pdns_auth_soa_edit_api }}"{% endif %}, "masters": [], "nameservers": ["{{ pdns_auth_nameservers|join ('\", \"') }}"]}' {{ pdns_auth_curl_header }} {{ pdns_auth_api_url }}
{%     elif pdns_auth_zone_types == "Slave" %}
curl -X POST -d '{"name": "{{ item }}", "kind": "{{ pdns_auth_zone_types }}", "masters": ["{{ pdns_auth_nameservers|join ('\", \"') }}"], "nameservers": []}' {{ pdns_auth_curl_header }} {{ pdns_auth_api_url }}
{%     endif %}
{%   endfor %}
{% endif %}
{% if pdns_auth_rev_zones is defined %}
{%   for item in pdns_auth_rev_zones %}
{%     if pdns_auth_zone_types == "Native" or pdns_auth_zone_types == "Master" %}
curl -X POST -d '{"name": "{{ item }}", "kind": "{{ pdns_auth_zone_types }}"{% if pdns_auth_config_soa_edit_api %}, "soa_edit_api": "{{ pdns_auth_soa_edit_api }}"{% endif %}, "masters": [], "nameservers": ["{{ pdns_auth_nameservers|join ('\", \"') }}"]}' {{ pdns_auth_curl_header }} {{ pdns_auth_api_url }}
{%     elif pdns_auth_zone_types == "Slave" %}
curl -X POST -d '{"name": "{{ item }}", "kind": "{{ pdns_auth_zone_types }}", "masters": ["{{ pdns_auth_nameservers|join ('\", \"') }}"], "nameservers": []}' {{ pdns_auth_curl_header }} {{ pdns_auth_api_url }}
{%     endif %}
{%   endfor %}
{% endif %}
