[Service]
EnvironmentFile=-/etc/sysconfig/docker
#EnvironmentFile=-/etc/sysconfig/docker-storage
#EnvironmentFile=-/etc/sysconfig/docker-network
TimeoutSec=300
ExecStart=
ExecStart=/usr/bin/docker daemon -H fd:// $DOCKER_OPTS
{% if enable_zenoss_docker_filesystems %}
         --storage-driver devicemapper \
         --exec-opt native.cgroupdriver=cgroupfs \
         --storage-opt dm.datadev=/dev/mapper/{{ zenoss_docker_storage_info.vg }}-{{ zenoss_docker_storage_info.data }} \
         --storage-opt dm.metadatadev=/dev/mapper/{{ zenoss_docker_storage_info.vg }}-{{ zenoss_docker_storage_info.metadata }} \
         --storage-opt dm.fs=xfs
{% endif %}
