# Default config for Suricata

# set to yes to start the server in the init.d script
RUN={{ suricata_run_initd|lower }}

# set to user that will run suricata in the init.d script (used for dropping privileges only)
RUN_AS_USER=

# Configuration file to load
SURCONF={{ suricata_config_file }}

# Listen mode: pcap, nfqueue or af-packet
# depending on this value, only one of the two following options
# will be used (af-packet uses neither).
# Please note that IPS mode is only available when using nfqueue
LISTENMODE={{ suricata_listen_mode }}

# Interface to listen on (for pcap mode)
IFACE={{ suricata_iface }}

# Queue number to listen on (for nfqueue mode)
NFQUEUE={{ suricata_nfqueue }}

# Load Google TCMALLOC if libtcmalloc-minimal0 is installed
# This _might_ give you very very small performance gain....
TCMALLOC="YES"

# Pid file
PIDFILE=/var/run/suricata.pid
