{% if keepalived_router_info is defined %}
{%   for item in keepalived_router_info %}
{%     if item.check_script is defined %}
{%       for chk in item.check_script %}
vrrp_script {{ chk.name }} {
  script "{{ chk.script }}"
  interval {{ chk.interval }}
  weight {{ chk.weight }}
}
{%       endfor %}
{%     endif %}
vrrp_instance {{ item.name }} {
  interface {{ item.vip_int }}
{%     if inventory_hostname == item.master_node %}
  state MASTER
  priority {{ item.router_pri_master }}
{%     elif inventory_hostname != item.master_node %}
  state BACKUP
  priority {{ item.router_pri_backup }}
{%     endif %}
  virtual_router_id {{ item.router_id }}
  virtual_ipaddress {
{%     for ip in item.vip_addresses %}
    {{ ip }}
{%     endfor %}
  }
{%     if item.check_script is defined %}
{%       for chk in item.check_script %}
  track_script {
    {{ chk.name }}
  }
{%       endfor %}
{%     endif %}
}
{%   endfor %}
{% endif %}
