<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '{{ zabbix_db_info['host'] }}';
$DB['PORT']     = '{{ zabbix_db_info['port'] }}';
$DB['DATABASE'] = '{{ zabbix_db_info['name']}}';
$DB['USER']     = '{{ zabbix_db_info['user'] }}';
$DB['PASSWORD'] = '{{ zabbix_db_info['password'] }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = 'localhost';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
