# /etc/systemd/system/node_exporter.service
[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User={{ prometheus_node_exporter_user_info['user'] }}
Restart=on-failure
ExecStart={{ prometheus_node_exporter_install_dir }}/node_exporter/node_exporter \
  {% for collector in prometheus_node_exporter_enabled_collectors %}
    --collector.{{ collector }} \
  {% endfor %}
  {% for collector in prometheus_node_exporter_disabled_collectors %}
    --no-collector.{{ collector }} \
  {% endfor %}
  {% if prometheus_node_exporter_collector_textfile_directory is defined and prometheus_node_exporter_collector_textfile_directory != None %}
    --collector.textfile.directory "{{ prometheus_node_exporter_collector_textfile_directory }}" \
  {% endif %}
    --web.listen-address ":{{ prometheus_node_exporter_listen_port }}"

[Install]
WantedBy=multi-user.target
