---
# defaults file for ansible-rsyslog

# defines if rsyslog should be reconfigured
rsyslog_config: false

# defines primary domain name
rsyslog_pri_domain_name: example.org

# defines if rsyslog should be configured to listen on tcp/514
rsyslog_allow_tcp: false

# defines if rsyslog should be configured to listen on udp/514
rsyslog_allow_udp: false

# defines remote syslog servers
rsyslog_servers: []
#  - name: 'graylog.{{ rsyslog_pri_domain_name }}'
#    proto: udp
#    port: 514
#  - name: 'logstash.{{ rsyslog_pri_domain_name }}'
#    proto: tcp
#    port: 514
#  - name: localhost  #good for redirecting back itself..ex. logstash running on tcp/udp 10514...to get around logstash running on ports < 1024
#    proto: tcp
#    port: 10514
