# {{ ansible_managed }}
<VirtualHost *:80>
{% if phpipam_url is defined %}
  ServerName {{ phpipam_url }}
{% endif %}
	ServerAdmin webmaster@localhost
{% if phpipam_root is defined %}
	DocumentRoot {{ phpipam_root }}
{% endif %}

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
