{% if logstash_drop_grokparsefailures is defined and logstash_drop_grokparsefailures %}
# Drop all _grokparsefailure messages
filter {
	if "_grokparsefailure" in [tags] {
		mutate {
			add_tag => [ "drop" ]
		}
	}
}
{% endif %}
filter {
  if [type] == "collectd" {
    if [host] == "" {
      mutate {
        add_tag => [ "drop" ]
      }
    }
  }
}
