127.0.0.1 localhost

{% if not etc_hosts_add_all_hosts %}
{%   if (ansible_domain == etc_hosts_pri_dns_name) or ansible_domain == '' %}
{%     if not etc_hosts_static_ip %}
{%       if inventory_hostname == inventory_hostname_short %}
{%         if ansible_fqdn != (ansible_hostname + '.' + etc_hosts_pri_dns_name) %}
127.0.1.1 {{ ansible_hostname }}.{{ etc_hosts_pri_dns_name }} {{ ansible_hostname }}
{%         elif ansible_fqdn == (ansible_hostname + '.' + etc_hosts_pri_dns_name) %}
127.0.1.1 {{ ansible_fqdn }} {{ ansible_hostname }}
{%         endif %}
{%       endif %}
{%       if inventory_hostname != inventory_hostname_short %}
{%         if ansible_fqdn != inventory_hostname %}
127.0.1.1 {{ inventory_hostname }} {{ ansible_hostname }}
{%         elif ansible_fqdn == inventory_hostname %}
127.0.1.1 {{ ansible_fqdn }} {{ ansible_hostname }}
{%         endif %}
{%       endif %}
{%     elif etc_hosts_static_ip %}
{%       if ansible_ssh_host is defined %}
{{ ansible_ssh_host }} {{ ansible_fqdn }} {{ ansible_hostname }}
{%       elif ansible_host is defined %}
{{ ansible_host }} {{ ansible_fqdn }} {{ ansible_hostname }}
{%       endif %}
{%     endif %}
{%   elif (ansible_domain != etc_hosts_pri_dns_name) and ansible_domain != '' %}
{%     if (ansible_fqdn == inventory_hostname) and (inventory_hostname != inventory_hostname_short) %}
{%       if not etc_hosts_static_ip %}
127.0.1.1 {{ inventory_hostname }} {{ ansible_hostname }}
{%       elif etc_hosts_static_ip %}
{%         if ansible_ssh_host is defined %}
{{ ansible_ssh_host }} {{ inventory_hostname }} {{ ansible_hostname }}
{%         elif ansible_host is defined %}
{{ ansible_host }} {{ inventory_hostname }} {{ ansible_hostname }}
{%         endif %}
{%       endif %}
{%     endif %}
{%   endif %}
{% elif etc_hosts_add_all_hosts %}
{%   for host in play_hosts %}
{%     if (hostvars[host]['ansible_domain'] == etc_hosts_pri_dns_name) or hostvars[host]['ansible_domain'] == '' %}
{%       if etc_hosts_use_default_ip_address and not etc_hosts_use_ansible_ssh_host %}
{{ hostvars[host]['ansible_default_ipv4']['address'] }} {{ hostvars[host]['ansible_fqdn'] }}.{{ etc_hosts_pri_dns_name }} {{ hostvars[host]['ansible_hostname'] }}
{%       elif not etc_hosts_use_default_ip_address and etc_hosts_use_ansible_ssh_host %}
{%         if hostvars[host]['ansible_fqdn'] != (hostvars[host]['ansible_hostname']+ '.' + etc_hosts_pri_dns_name) %}
{%           if hostvars[host]['ansible_ssh_host'] is defined %}
{{ hostvars[host]['ansible_ssh_host'] }} {{ hostvars[host]['ansible_hostname'] }}.{{ etc_hosts_pri_dns_name }} {{ hostvars[host]['ansible_hostname'] }}
{%           elif hostvars[host]['ansible_host'] is defined %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['ansible_hostname'] }}.{{ etc_hosts_pri_dns_name }} {{ hostvars[host]['ansible_hostname'] }}
{%           endif %}
{%         elif hostvars[host]['ansible_fqdn'] == (hostvars[host]['ansible_hostname']+ '.' + etc_hosts_pri_dns_name) %}
{%           if hostvars[host]['ansible_ssh_host'] is defined %}
{{ hostvars[host]['ansible_ssh_host'] }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{%           elif hostvars[host]['ansible_host'] is defined %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{%           endif %}
{%         endif %}
{%       endif %}
{%     elif (hostvars[host]['ansible_domain'] != etc_hosts_pri_dns_name) and ansible_domain != '' %}
{%       if (hostvars[host]['ansible_fqdn'] == inventory_hostname) and (inventory_hostname != inventory_hostname_short) %}
{%         if etc_hosts_use_default_ip_address and not etc_hosts_use_ansible_ssh_host %}
{{ hostvars[host]['ansible_default_ipv4']['address'] }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{%         elif not etc_hosts_use_default_ip_address and etc_hosts_use_ansible_ssh_host %}
{%           if hostvars[host]['ansible_ssh_host'] is defined %}
{{ hostvars[host]['ansible_ssh_host'] }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{%           elif hostvars[host]['ansible_host'] is defined %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{%           endif %}
{%         endif %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

{% if etc_hosts_enable_ipv6 %}
# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
{% endif %}
