{
  "mailer": {
    "admin_gui": "http://{{ sensu_host }}:{{ sensu_host_port }}/",
    "mail_from": "{{ notification_email_from }}",
    "mail_to": "{{ notification_email_to }}",
    "smtp_address": "{{ smtp_server }}",
    "smtp_port": "{{ smtp_server_port }}",
    "smtp_domain": "{{ smtp_domain_name }}"
  }
}
