{{ ansible_managed | comment }}
auth-provider: {{ guacamole_auth_provider }}
# basic-user-mapping: /etc/guacamole/user-mapping.xml
# guacd-hostname: {{ ansible_hostname }}
# guacd-port: {{ guacamole_server_port }}
user-mapping: /etc/guacamole/user-mapping.xml
{% if guacamole_mysql_auth %}
mysql-hostname: {{ guacamole_mysql_db['host'] }}
mysql-port: {{ guacamole_mysql_db['port'] }}
mysql-database: {{ guacamole_mysql_db['name'] }}
mysql-username: {{ guacamole_mysql_db['username'] }}
mysql-password: {{ guacamole_mysql_db['password'] }}
{% endif %}