{% if item.name == "cluster-status" %}
{
  "checks": {
    "check_es_{{ item.name }}": {
      "command": "{{ sensu_plugins_dir }}/check-es-cluster-status.rb",
{% if sensu_enable_handlers %}
{% if not sensu_multiple_handlers %}
      "handler": "{{ sensu_default_handler }}",
{% endif %}
{% if sensu_multiple_handlers %}
      "handlers": [
{% for item in sensu_default_handlers %}
        "{{ item }}",
{% endfor %}
        "{{ sensu_default_handler }}"
      ],
{% endif %}
{% endif %}
      "occurences": 3,
      "interval": {{ item.interval }},
      "subscribers": [ "{{ item.sub }}" ]
    }
  }
}
{% endif %}
{% if item.name == "file-descriptors" %}
{
  "checks": {
    "check_es_{{ item.name }}": {
      "command": "{{ sensu_plugins_dir }}/check-es-file-descriptors.rb",
{% if sensu_enable_handlers %}
{% if not sensu_multiple_handlers %}
      "handler": "{{ sensu_default_handler }}",
{% endif %}
{% if sensu_multiple_handlers %}
      "handlers": [
{% for item in sensu_default_handlers %}
        "{{ item }}",
{% endfor %}
        "{{ sensu_default_handler }}"
      ],
{% endif %}
{% endif %}
      "occurences": 3,
      "interval": {{ item.interval }},
      "subscribers": [ "{{ item.sub }}" ]
    }
  }
}
{% endif %}
{% if item.name == "heap" %}
{
  "checks": {
    "check_es_{{ item.name }}": {
      "command": "{{ sensu_plugins_dir }}/check-es-heap.rb",
{% if sensu_enable_handlers %}
{% if not sensu_multiple_handlers %}
      "handler": "{{ sensu_default_handler }}",
{% endif %}
{% if sensu_multiple_handlers %}
      "handlers": [
{% for item in sensu_default_handlers %}
        "{{ item }}",
{% endfor %}
        "{{ sensu_default_handler }}"
      ],
{% endif %}
{% endif %}
      "occurences": 3,
      "interval": {{ item.interval }},
      "subscribers": [ "{{ item.sub }}" ]
    }
  }
}
{% endif %}
