{
  "client":{
    "name": "{{ ansible_hostname }}",
    "address": "{{ sensu_client_address }}",
    "subscriptions": [
{% if sensu_client_subscriptions is defined %}
    "{{ sensu_client_subscriptions|join ('", "')}}"
{% endif %}
    ]
  }
}
