{
  "mailer": {
    "admin_gui": "http://{{ sensu_host }}:{{ sensu_host_port }}/",
    "mail_from": "{{ sensu_notification_email_from }}",
    "mail_to": "{{ sensu_notification_email_to }}",
    "smtp_address": "{{ sensu_smtp_server }}",
    "smtp_port": "{{ sensu_smtp_server_port }}",
    "smtp_domain": "{{ sensu_smtp_domain_name }}"
  }
}
