[logstash-{{ logstash_version }}]
name=logstash repository for {{ logstash_version }}.x packages
baseurl=http://packages.elasticsearch.org/logstash/{{ logstash_version }}/centos
gpgcheck=1
gpgkey=http://packages.elasticsearch.org/GPG-KEY-elasticsearch
enabled=1
