# {{ ansible_managed }}

{% for item in quagga_interfaces_lo %}
auto {{ item.int }}
iface {{ item.int }} inet {{ item.method }}

{% endfor %}
auto {{ quagga_mgmt_int }}
iface {{ quagga_mgmt_int }} inet dhcp

{% for item in quagga_interfaces_config %}
#auto {{ item.int }}
#iface {{ item.int }} inet {{ item.method }}

#{% endfor %}
#{% for item in vlan_config %}
#auto {{ item.vlan }}
#iface {{ item.vlan }} inet {{ item.method }}
#vlan_raw_device {{ item.raw_device }}
#up ip link set $IFACE up

#{% endfor %}

# Allowing for interfaces to be created by file and written to GlusterFS mountpoint for /etc/network/interfaces.d
#### NOTE !!!!!!!!! #######
# If creating new VLAN interfaces create them in individual .cfg files in the below folder...Only non VLAN interfaces should be contained within this $
# Meaning....only interfaces that should not be shared (IP interfaces) on both nodes should be in this file...

source /etc/network/interfaces.d/*

