[Definition]
dbfile = {{ fail2ban_dbfile }}
dbpurgeage = {{ fail2ban_dbpurge_age }}
loglevel = {{ fail2ban_log_level|upper }}
logtarget = {{ fail2ban_log_target }}
pidfile = {{ fail2ban_pid_file }}
socket = {{ fail2ban_socket }}
syslogsocket = auto
