---
- name: debian | Installing DRBD packages
  apt:
    name: "{{ item }}"
    state: present
  become: true
  with_items: "{{ drbd_deb_packages }}"

- name: debian | Installing Heartbeat Package
  apt:
    name: heartbeat
    state: present
  become: true
  when: drbd_use_heartbeat
